#encoding UTF-8
##
## Template Email pour SABnzbd
## Ceci est un template Cheetah
## Documentation: http://sabnzbd.wikidot.com/email-templates
##
## Les retours à la ligne et les espaces sont importants !
##
## Entêtes de l'email
to: $to
from: $from
date: $date
subject: SABnzbd <!--#if $status#-->Succès<!--#else#-->Echec<!--#end if#--> du téléchargement $name
X-priority: 5
X-MS-priority: 5
## Le contenu du message, la ligne vide est obligatoire !

Bonjour,
<!--#if $status #-->
SABnzbd a téléchargé avec succès "$name" <!--#if $msgid=="" then "" else "(newzbin #" + $msgid + ")"#-->
<!--#else#-->
SABnzbd a téléchargé sans succès "$name" <!--#if $msgid=="" then "" else "(newzbin #" + $msgid + ")"#-->
<!--#end if#-->
Terminé à $end_time
Téléchargé $size

Résultat du téléchargement :
<!--#for $stage in $stages #-->
Etape $stage <!--#slurp#-->
<!--#for $result in $stages[$stage]#-->
    $result <!--#slurp#-->
<!--#end for#-->
<!--#end for#-->
<!--#if $script!="" #-->
Sortie du script utilisateur "$script" (Code Retour = $script_ret):
$script_output
<!--#end if#-->
<!--#if $status #-->
A bientôt !
<!--#else#-->
Désolé !
<!--#end if#-->
