<!--#set global $topmenu="queue"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="GUI+Queue"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

	<script type='text/javascript'>
    function submit_marked(nzo_id, action_key)
    {
    	extra = 'action_key='+action_key
        var s;
        var i=0;
        while(s = document.getElementsByTagName("input")[i++])
        {
            if(s.type=='checkbox' && s.checked == true)
            {
                extra = extra + '&' + s.name + '=on'
            }
        }
    	//submitconfig(extra, '', '', 1)
    	url = 'nzb/'+nzo_id+'/bulk_operation'
    	lr(url, extra)
    }

	function mark_all()
	{
		var s;
		var i=0;
		while(s = document.getElementsByTagName("input")[i++])
		{
			if(s.type=='checkbox')
			{
				s.checked=true;
			}
		}
	}
	</script>

	<script type='text/javascript'>
	function unmark_all()
	{
		var s;
		var i=0;
		while(s = document.getElementsByTagName("input")[i++])
		{
			if(s.type=='checkbox')
			{
				s.checked=false;
			}
		}
	}
	</script>

	<script type='text/javascript'>
	function invert()
	{
		var s;
		var i=0;
		while(s = document.getElementsByTagName("input")[i++])
		{
			if(s.type=='checkbox')
			{
				s.checked=!s.checked;
			}
		}
	}
	</script>

	<span class="SubMenu">
	&nbsp;
	</span>

<!--#if $varExists('slot')#-->
	<h3>$T('nzoDetails')</h3>
	<form action="save" method="post">
		<label class="label">$T('nzoName'):</label><br />
		<input type="text" name="name" style="width:400px" size="80" value="$slot.filename">
		<br />
		<label class="label">$T('pp'):</label><br />
		<select name="pp">
			<option value="0" <!--#if $slot.unpackopts == "0" then "selected" else ""#-->>$T('pp-n')</option>
			<option value="1" <!--#if $slot.unpackopts == "1" then "selected" else ""#-->>$T('pp-r')</option>
			<option value="2" <!--#if $slot.unpackopts == "2" then "selected" else ""#-->>$T('pp-u')</option>
			<option value="3" <!--#if $slot.unpackopts == "3" then "selected" else ""#-->>$T('pp-d')</option>
		</select>

		<!--#if $slot.priority != '2'#-->
			<br />
			<label class="label">$T('priority'):</label><br />
			<select name="priority">
                <option value="-100" <!--#if $slot.priority == "-100" then "selected" else ""#-->>$T('default')</option>
				<option value="1" <!--#if $slot.priority == "1" then "selected" else ""#-->>$T('pr-high')</option>
				<option value="0" <!--#if $slot.priority == "0" then "selected" else ""#-->>$T('pr-normal')</option>
				<option value="-1" <!--#if $slot.priority == "-1" then "selected" else ""#-->>$T('pr-low')</option>
			</select>
		<!--#end if#-->

		<!--#if $script_list#-->
			<br />
			<label class="label">$T('script'):</label><br />
			<select name="script">
				<!--#for $sc in $script_list#-->
				<option value="$sc" <!--#if $slot.script.lower() == $sc.lower() then "selected" else ""#-->>$Tspec($sc)</option>
				<!--#end for#-->
			</select>
		<!--#end if#-->
		<!--#if $cat_list#-->
			<br />
			<label class="label">$T('category'):</label><br />
			<select name="cat">
				<!--#for $ct in $cat_list#-->
				<option value="$ct" <!--#if $slot.cat.lower() == $ct.lower() then "selected" else ""#-->>$ct</option>
				<!--#end for#-->
			</select>
		<!--#end if#-->
		<br /><br />
		<input type="submit" size="40" value="$T('button-saveChanges')">
	</form>
	<br />

	<br /><br /><br />
<!--#end if#-->

<!--#if $varExists('active_files')#-->
	<form action="bulk_operation">
      <input type="hidden" name="session" value="$session">
	  <input type="submit" name="action_key" value="Delete">
	  <input type="submit" name="action_key" value="Top">
	  <input type="submit" name="action_key" value="Up">
	  <input type="submit" name="action_key" value="Down">
	  <input type="submit" name="action_key" value="Bottom">
	  <br>
	  $T('nzo-selection'):<a href='#' onclick='mark_all();' target='_self'>$T('nzo-all')</a>
				<a href='#' onclick='unmark_all();' target='_self'>$T('nzo-none')</a>
				<a href='#' onclick='invert();' target='_self'>$T('nzo-invert')</a>
	  <table id="historyTable">
		  <tr><th></th><th>$T('nzo-filename')/$T('nzo-subject')</th><th>$T('size')</th><th>$T('nzo-age')</th></tr>
		  <!--#set $oddLine = False#-->
		  <!--#for $file in $active_files#-->
			  <!--#set $oddLine = not $oddLine#-->
			  <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
				  <td><input type="checkbox" name="$file.nzf_id" <!--#if $file.checked then "checked" else ""#-->></td>
				  <td>$file.filename</td>
				  <td>$file.size</td>
				  <td>$file.age</td>
			  </tr>
		  <!--#end for#-->
	  </table>
	</form>
<!--#end if#-->
<!--#include $webdir + "/inc_bottom.tmpl"#-->
