<!DOCTYPE HTML>
<html lang="$active_lang">
<head>
    <title>
        SABnzbd $T('menu-config')
        #if $pane != "Config" then "-" else ""#
        #if $pane == "General" then $T('cmenu-general') else ""#
        #if $pane == "Folders" then $T('cmenu-folders') else ""#
        #if $pane == "Switches" then $T('cmenu-switches') else ""#
        #if $pane == "Servers" then $T('cmenu-servers') else ""#
        #if $pane == "Scheduling" then $T('Plush-cmenu-scheduling') else ""#
        #if $pane == "Email" then $T('cmenu-notif') else ""#
        #if $pane == "Categories" then $T('cmenu-cat') else ""#
        #if $pane == "Sorting" then $T('cmenu-sorting') else ""#
        #if $pane == "Special" then $T('cmenu-special') else ""#
        #if $pane == "RSS" then $T('cmenu-rss') else ""#
    </title>
    #if $pane == "Config"#
        #set global $root = '../'#
    #else#
        #set global $root = '../../'#
    #end if#
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-title" content="SABnzbd" />
    
    <script src="${root}staticcfg/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="${root}staticcfg/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $.noConflict()
        var browseText = "$T('browse-folder')";
    </script>
    <link rel="stylesheet" type="text/css" href="${root}staticcfg/bootstrap/css/bootstrap.min.css" /> 
    <link rel="stylesheet" type="text/css" href="${root}staticcfg/css/style.css?p=$pid" />
    <link rel="shortcut icon" href="${root}staticcfg/ico/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="${root}staticcfg/ico/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="${root}staticcfg/ico/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="${root}staticcfg/ico/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="${root}staticcfg/ico/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="${root}staticcfg/ico/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="${root}staticcfg/ico/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="${root}staticcfg/ico/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="${root}staticcfg/ico/apple-touch-icon-152x152.png" />

    <script src="${root}staticcfg/js/script.js"></script>
    <script type="text/javascript">
        \$.Browser = {
            defaults: {
                title:             'Choose Directory',
                url:               '${root}api?mode=browse&output=json&apikey=$session',
                autocompleteURL:   '${root}api?mode=browse&output=json&compact=1&apikey=$session'
            }
        };
        var config_pane = "$pane";
        var help_uri = "$help_uri";
        var apikey = "$session";
        var confirmWithoutSavingPrompt = "$T('Plush-confirmWithoutSavingPrompt')";
        
        function config_success() {
            \$('.saveButton').each(function () {
                \$(this).removeAttr("disabled").html('<span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')');
            });
        }
        function config_failure() {
            \$('.saveButton').each(function () {
                \$(this).removeAttr("disabled").html('<span class="glyphicon glyphicon-remove"></span> $T('smpl-failed')');
            });
        }

        \$(document).ready(function () {

            #if $pane != "Servers"#
                \$('.col2 H3').click(function () { \$(this).parent().next().toggle() });
            #end if#

            \$('.sabnzbd_restart').click(function () {
                \$('.sabnzbd_restart').each(function () {
                    \$(this).attr("disabled", "disabled");
                });
                var msg = "$T('explain-Restart')";
                if (confirm(msg.replace(/\<br(\s*\/|)\>/g, '\n'))) {
                    \$(this).attr("value", "$T('wizard-restarting')");
                    // Show overlay
                    \$('.main-restarting').show()
                    
                    // Keep counter of failures
                    var failureCounter = 0;
                    
                    // Initiate restart
                    \$.ajax({ url: '${root}config/restart?session=$session', 
                        complete: function() {
                            // Now we try untill we can connect
                            var refreshInterval = setInterval(function() {
                                $.ajax({ url: '${root}', 
                                    success: function() {
                                        // Back to base
                                        location.href = '${root}'
                                    },
                                    error: function() {
                                        failureCounter = failureCounter+1;
                                        // Too many failuers and we give up
                                        if(failureCounter >= 7) {
                                            // Unfortunatly we have no proper way of informing the user..
                                            \$('.main-restarting strong').html('<span class="glyphicon glyphicon-exclamation-sign"></span> $T('Glitter-lostConnection')').css('color', 'red')
                                            if(location.origin) \$('.main-restarting small').text(location.origin)
                                            // Stop trying
                                            clearInterval(refreshInterval)
                                        }
                                    }
                                })
                            }, 5000)
                        }
                    });
                    return;
                }
                \$('.sabnzbd_restart').each(function () {
                    \$(this).removeAttr("disabled");
                });
                return false;
            });

            \$('#fullform').ajaxForm({
                datatype: 'json',
                beforeSubmit: function () {
                    \$('.saveButton').each(function () {
                        \$(this).attr("disabled", "disabled").attr("value", "$T('smpl-saving')");
                        \$(this).attr("disabled", "disabled").html('<span class="glyphicon glyphicon-transfer"></span> $T('smpl-saving')');
                    });
                },
                success: function (json) {
                    if (json.error) {
                       \$('#config_err_msg').text(json.error);
                       setTimeout(config_failure, 1000);
                       }
                    else {
                       \$('#config_err_msg').text(" ");
                       setTimeout(config_success, 1000);
                       }
                },
                error: function () {
                    setTimeout(config_failure, 1000);
                },
                timeout: 3000
            });
        });
    
    /*
     * takes the inputs-elements found in the current selector
     * and extracts the values into the provided data-object.
     */
    \$.fn.extractFormDataTo = function(target)
    {
    	var inputs = \$("input[type != 'submit'][type != 'button']", this);
    
    	// could use .serializeArray() but that omits unchecked items
    	inputs.each(function (i,elem) {
    	    target[elem.name] = elem.value;
    	});
    
    	return this;
    }
    </script>
</head>

<body class="$pane">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${root}"><img src="${root}staticcfg/images/logo.png" width="120" height="45" id="logo" alt="[home]" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="${root}config/" #if $pane == "Config" then 'class="active"' else ""#>$T('menu-config')</a></li>-->
                <li>
                    <a href="${root}config/general/" #if $pane == "General" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-cog"></span>
                        <strong>$T('cmenu-general')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/folders/" #if $pane == "Folders" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <strong>$T('cmenu-folders')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/switches/" #if $pane == "Switches" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-check"></span>
                        <strong>$T('cmenu-switches')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/server/" #if $pane == "Servers" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-sort"></span>
                        <strong>$T('cmenu-servers')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/scheduling/" #if $pane == "Scheduling" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-time"></span>
                        <strong>$T('Plush-cmenu-scheduling')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/notify/" #if $pane == "Email" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-comment"></span>
                        <strong>$T('cmenu-notif')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/categories/" #if $pane == "Categories" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-tag"></span>
                        <strong>$T('cmenu-cat')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/sorting/" #if $pane == "Sorting" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
                        <strong>$T('cmenu-sorting')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/special/" #if $pane == "Special" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-education"></span>
                        <strong>$T('cmenu-special')</strong>
                    </a>
                </li>
                <li>
                    <a href="${root}config/rss/" #if $pane == "RSS" then 'class="active"' else ""#>
                        <span class="glyphicon glyphicon-cloud-download"></span>
                        <strong>$T('cmenu-rss')</strong>
                    </a>
                </li>
                <li>
                    <a href="$helpuri$help_uri" target="_blank">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        <strong>$T('menu-help')</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="content" class="container">
<!-- Content start -->
