    <!-- Content end -->
    <div class="clearfix"></div>
    </div>
    <div class="main-restarting modal-backdrop fade in" style="display: none;">
        <div>
            <strong><span class="glyphicon glyphicon-retweet"></span> $T('wizard-restarting')</strong><br />
            <small><span class="restarting-url"></span><span class="dotOne">.</span><span class="dotTwo">.</span><span class="dotThree">.</span></small>
        </div>
    </div>
    
    <script type="text/javascript">
        // Fix for touch devices needing double click on the menu
        \$('.navbar-nav li a').on('touchstart', function(e) {
            \$(this).click()
        })
        
        /*
         * Notifies the user if he tries to leave without saving
         * Has to be in footer, otherwise the filebrowser over-writes the change-event
         */
        \$(document).ready(function () {
            \$(document).on('change', 'form input[type!="submit"][type!="button"], form select, form textarea', function (e) {
                formHasChanged = true;
                formWasSubmitted = false;
            });
            window.onbeforeunload = function (e) {
                if (formHasChanged && !formWasSubmitted) {
                    var message = "$T('confirmWithoutSavingPrompt')", e = e || window.event;
                    if (e) {
                        e.returnValue = message;
                    }
                    return message;
                }
            }
            // Form Submit
            \$(document).on("submit", "form", function(event){
                // Let us leave!
                formWasSubmitted = true;
                formHasChanged = false;
            });
        });
    </script>
</body>
</html>