<!--#set global $pane="Sorting"#-->
<!--#set global $help_uri="configuration/4.0/sorting"#-->
<!--#include $webdir + "/_inc_header_uc.tmpl"#-->

<div class="colmask section padTable">
    <p>$T('explain-sorting')</p>
    <!--#for $cur, $slot in enumerate($slotinfo)#-->
        <!-- SORTER $cur -->
        <!--#set $cansort = $slot.name != ''#-->
        <form action="save_sorter" method="get" autocomplete="off" <!--#if $cansort#-->class="sorting-row"<!--#end if#-->>
            <input type="hidden" name="apikey" value="$apikey" />
            <!--#if $cur != 0#-->
            <div class="col2" style="padding:1px; width:100%;"> <!-- onclick="jQuery('#sorter_$cur').toggle()"> -->
                <h3>$slot.name</h3>
            </div>
            <!--#end if#-->
            <div style="border:1px solid #ccc; margin-bottom:10px; width:100%;" id="sorter_$cur">
                <table class="sortTable">
                    <tr>
                        <th width="50px">
                            <!--#if $cur != 0#-->
                            <input type="checkbox" class="toggleSorterCheckbox" rel="$slot.name" name="is_active" value="$slot.is_active" <!--#if $slot.is_active != 0 then 'checked="checked"' else ""#--> />
                            <!--#else#-->
                            <a class="main-helplink" style="position: relative; left: -29px;" href="$helpuri$help_uri" title="$T('readwiki')" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a>
                            <input type="hidden" rel="$slot.name" name="is_active" value="$slot.is_active" <!--#if $slot.is_active != 0 then 'checked="checked"' else ""#--> />
                            <!--#end if#-->
                        </th>
                        <th>$T('name')</th>
                        <th>$T('sort-minimum-size')</th>
                        <th>$T('affectedCat')</th>
                        <th>$T('guessit-type')</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <input type="hidden" name="order" value="$slot.order" />
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </td>
                        <td>
                            <input type="hidden" value="$slot.name" name="name" />
                            <input type="text" name="newname" value="$slot.name" size="35" required="required" />
                        </td>
                        <td>
                            <input type="text" name="min_size" value="$slot.min_size" size="10" required="required" />
                        </td>
                        <td rowspan="3">
                            <select name="sort_cats" multiple="multiple" class="multiple_cats" required="required">
                                <!--#for $cat in $categories#-->
                                <option value="$cat" <!--#if $cat.lower() in $slot.sort_cats then 'selected="selected"' else ""#-->>$Tspec($cat)</option>
                                <!--#end for#-->
                            </select>
                        </td>
                        <td rowspan="3">
                            <select name="sort_type" multiple="multiple" class="multiple_cats" <!--#if $cur == 0#-->id="field_sort_type"<!--#end if#--> >
                                <option value="0" <!--#if "0" in $slot.sort_type then 'selected="selected"' else ""#-->>$T('guessit-type-all')</option>
                                <option value="1" <!--#if "1" in $slot.sort_type then 'selected="selected"' else ""#-->>$T('guessit-type-tv')</option>
                                <option value="2" <!--#if "2" in $slot.sort_type then 'selected="selected"' else ""#-->>$T('guessit-type-date')</option>
                                <option value="3" <!--#if "3" in $slot.sort_type then 'selected="selected"' else ""#-->>$T('guessit-type-movie')</option>
                                <option value="4" <!--#if "4" in $slot.sort_type then 'selected="selected"' else ""#-->>$T('guessit-type-other')</option>
                            </select>
                        </td>
                        <td class="nowrap align-right">
                            <button class="btn btn-default">
                                <!--#if $cur == 0#-->
                                    <span class="glyphicon glyphicon-plus"></span> $T('button-add')
                                <!--#else#-->
                                    <span class="glyphicon glyphicon-ok"></span> $T('button-save')
                                <!--#end if#-->
                            </button>
                            <!--#if $cansort#-->
                            <button class="btn btn-default delSorter" type="button"><span class="glyphicon glyphicon-trash"></span></button>
                            <!--#end if#-->
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">$T('sortString')</th>
                        <th>$T('multiPartLabel')</th>
                    </tr>
                    <tr>
                        <td>
                            <!--#if $cur == 0#-->
                            <button type="button" title="$T('sort-legenda')" class="btn btn-default patternKey" onclick="jQuery('#pattern_explainer').toggle()"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
                            <!--#end if#-->
                        </td>
                        <td class="nowrap" colspan="2">
                            <input style="display:block; width:100%;" type="text" name="sort_string" id="field_sort_string" value="$slot.sort_string" required="required" />
                        </td>
                        <td>
                            <input type="text" name="multipart_label" id="multipart_label" value="$slot.multipart_label" size="10" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <!--#if $cur == 0#-->
        <!-- PREVIEW -->
        <div id="preview_buttons" class="preview">
            <label class="config">$T('presetSort')</label>
            <div class="presets">
                <input type="button" class="btn btn-default" onclick="set_preset('%title (%y)/%title (%y).%ext',' CD%1');" value="$T('button-inFolders')" />
                <input type="button" class="btn btn-default" onclick="set_preset('%title (%y).%ext',' CD%1');" value="$T('button-noFolders')" />
                <input type="button" class="btn btn-default" onclick="set_preset('%sn season %s/episode %0e %r.%ext','');" value="$T('button-Series')" />
                <input type="button" class="btn btn-default" onclick="set_preset('%0decade/%title (%y).%ext',' CD%1');" value="$T('decade')" />
                <input type="button" class="btn btn-default" onclick="set_preset('%dn.%ext')" value="$T('button-FileLikeFolder')" />
            </div>
        </div>
        <div id="preview" class="preview">
            <div style="display:flex; flex-direction:row">
                <label class="config" for="preview_name">Test Data</label>
                <input type="text" style="flex: 2 1 auto;" id="preview_name" autocomplete="off" name="preview_name" placeholder="$T('orgJobname')" /><button class="btn btn-default clearBtn" type="button"><span class="glyphicon glyphicon-remove"></span> $T('button-clear')</button>
            </div>
            <div>
                <label class="config">$T('sortResult')</label> <span class="config desc path" id="preview_result">&nbsp;</span>
            </div>
        </div>
        <hr>
        <!-- PATTERN EXPLAINER -->
        <div class="Key" style="border:none; width:100%;" id="pattern_explainer">
            <div class="field-pair no-field-pair-bg">
                <table style="border:1px solid #ccc;">
                    <thead>
                        <tr>
                            <th class="align-right">$T('sort-meaning')</th>
                            <th>$T('sort-pattern')</th>
                            <th>$T('sort-result')<div class="glyphicon glyphicon-remove" onclick="jQuery('#pattern_explainer').hide();" style="float:right;"></div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-right"><b>$T('sort-title'):</b></td>
                            <td>%sn</td>
                            <td>$T('movie-sp-name') / $T('show-sp-name') ($T('case-adjusted'))</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%s.n</td>
                            <td>$T('movie-dot-name') / $T('show-dot-name') ($T('case-adjusted'))</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%s_n</td>
                            <td>$T('movie-us-name') / $T('show-us-name') ($T('case-adjusted'))</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('sort-title'):</b></td>
                            <td>%title &nbsp; %t &nbsp; %sN &nbsp;</td>
                            <td>$T('movie-sp-name') / $T('show-sp-name')</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%.title &nbsp; %.t &nbsp; %s.N &nbsp;</td>
                            <td>$T('movie-dot-name') / $T('show-dot-name')</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%_title &nbsp; %_t &nbsp; %s_N &nbsp;</td>
                            <td>$T('movie-us-name') / $T('show-us-name')</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('Resolution'):</b></td>
                            <td>%r</td>
                            <td>1080p</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('year'):</b></td>
                            <td>%y</td>
                            <td>2021</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('decade'):</b></td>
                            <td>%decade</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%0decade</td>
                            <td>2020</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('month'):</b></td>
                            <td>%m</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%0m</td>
                            <td>01</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('day-of-month'):</b></td>
                            <td>%d</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%0d</td>
                            <td>02</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('show-seasonNum'):</b></td>
                            <td>%s</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%0s</td>
                            <td>01</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('show-epNum'):</b></td>
                            <td>%e</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%0e</td>
                            <td>05</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('ep-name'):</b></td>
                            <td>%en</td>
                            <td>$T('ep-sp-name')</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%e.n</td>
                            <td>$T('ep-dot-name')</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>%e_n</td>
                            <td>$T('ep-us-name')</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('extension'):</b></td>
                            <td>%ext</td>
                            <td>avi</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('orgFilename'):</b></td>
                            <td>%fn</td>
                            <td>$T('sort-File')</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('orgJobname'):</b></td>
                            <td>%dn</td>
                            <td>$T('orgJobname')</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('lowercase'):</b></td>
                            <td>{$T('TEXT')}</td>
                            <td>$T('text')</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="align-right"><b>$T('multiPartLabel')</b></th>
                            <th>$T('sort-pattern')</th>
                            <th>$T('sort-result')</th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="align-right"><b>$T('partNumber'):</b></td>
                            <td>%1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th class="align-right"><b>GuessIt</b></th>
                            <th>$T('sort-pattern')</th>
                            <th>$T('sort-result')</th>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="align-right"><b>$T('sort-guessitMeaning'):</b></td>
                            <td>%GI&lt;$T('sort-guessitProperty')&gt;</td>
                            <td>$T('guessit-sp-property')</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b></b></td>
                            <td>%G.I&lt;$T('sort-guessitProperty')&gt;</td>
                            <td>$T('guessit-dot-property')</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b></b></td>
                            <td>%G_I&lt;$T('sort-guessitProperty')&gt;</td>
                            <td>$T('guessit-us-property')</td>
                        </tr>
                        <tr>
                            <td class="align-right"><b>$T('Example')</b></td>
                            <td>%GI&lt;audio_codec&gt;</td>
                            <td>DTS</td>
                        </tr>
                        <tr>
                            <td class="align-right" style="vertical-align:top;"><b>$T('Valid properties')</b></td>
                            <td colspan=2>
                                <!--#for $prop in $guessit_properties#-->
                                $prop<br>
                                <!--#end for#-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--#end if#-->
    <!--#end for#-->
</div>
<script type="text/javascript" src="${root}staticcfg/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    // http://stackoverflow.com/questions/2219924/
    var typewatch = (function(){
        var timer = 0;
        return function(callback, ms){
            clearTimeout (timer);
            timer = setTimeout(callback, ms);
        }
    })();

    // Put preset values into form fields
    function set_preset(val, val2) {
        \$('#field_sort_string').val(val);
        \$('#multipart_label').val(val2);
        new_preview();
    }

    // Handle preview
    function new_preview() {
        var \$preview_sort_string = \$('#field_sort_string').val();
        if(\$preview_sort_string.length > 2) {
            typewatch(function () {
                \$('#preview').show();
                \$('#preview_result').addClass("loading");
                \$.ajax({
                    type: "GET",
                    url: "../../api",
                    data: {
                        mode:'eval_sort',
                        job_name: \$('#preview_name').val(),
                        sort_string: \$preview_sort_string,
                        multipart_label: \$('#multipart_label').val(),
                        apikey: '$apikey',
                        output: 'json'
                    },
                    success: function(data) {
                        \$('#preview_result').removeClass("loading failure").html(data.result);
                    },
                    error: function(data) {
                        \$('#preview_result').removeClass("loading").addClass("failure").html('need more information to process');
                    }
                });
            }, 500);
        }
        else
            \$('#preview').hide();
    }

    \$(document).ready(function() {
        \$('.delSorter').click(function() {
            var theForm = \$(this).closest("form");
            theForm.attr("action", "delete").submit();
        });

        // Make configured sorters sortable
        \$('.padTable').sortable({
            items: '.sorting-row',
            containment: '.colmask',
            axis: 'y',
            update: function(event, ui) {
                \$('.Sorting form.sorting-row').each(function(index, elm) {
                    // Update order of all elements
                    if(index != elm.order.value) {
                        elm.order.value = index
                        // Submit changed order
                        var data = {}
                        \$(elm).extractFormDataTo(data);
                        \$.ajax({
                            type: "GET",
                            url: window.location.pathname + 'save_sorter',
                            data: data,
                            async: false // To prevent race-conditions when updating sorters
                        })
                    }
                })
            }
        })

        // On|Off switch for a configured sorter
        \$('.toggleSorterCheckbox').click(function(){
            var whichSorter = \$(this).attr("rel");
            \$.ajax({
                type: "POST",
                url: "toggle_sorter",
                data: {sorter: whichSorter, apikey: "$apikey" }
            }).done(function() {
                formWasSubmitted = true;
                formHasChanged = false;
                location.reload();
            });
        });

        // Preview the result of the sort string against a sample jobname
        new_preview();
        \$('#field_sort_string, #field_sort_type, #multipart_label, #preview_name').bind("keyup focus", new_preview);
        \$('.clearBtn').click(function(){
            \$(this).prev().val('').focus();
        });
    });
</script>

<!--#include $webdir + "/_inc_footer_uc.tmpl"#-->
