<!--#set global $pane="Email"#-->
<!--#set global $help_uri="configure-notifications-0-7"#-->
<!--#include $webdir + "/_inc_header_uc.tmpl"#-->

<div class="colmask">
    <form action="saveEmail" method="post" name="fullform" class="fullform" autocomplete="off" novalidate>
    <input type="hidden" id="session" name="session" value="$session" />
    <input type="hidden" id="ajax" name="ajax" value=1 />
    <div class="section" id="email">
        <div class="col2">
            <h3>$T('cmenu-email')</h3>
        </div><!-- /col2 -->
        <div class="col1">
            <fieldset>
                <div class="field-pair alt">
                    <label class="config" for="email_endjob">$T('opt-email_endjob')</label>
                    <select name="email_endjob" id="email_endjob">
                        <option value="0" <!--#if int($email_endjob) == 0 then 'selected="selected"' else ""#--> >$T('email-never')</option>
                        <option value="1" <!--#if int($email_endjob) == 1 then 'selected="selected"' else ""#--> >$T('email-always')</option>
                        <option value="2" <!--#if int($email_endjob) == 2 then 'selected="selected"' else ""#--> >$T('email-errorOnly')</option>
                    </select>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_full">$T('opt-email_full')</label>
                    <input type="checkbox" name="email_full" id="email_full" value="1" <!--#if int($email_full) > 0 then 'checked="checked"' else ""#--> />
                    <span class="desc">$T('explain-email_full')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="email_rss">$T('opt-email_rss')</label>
                    <input type="checkbox" name="email_rss" id="email_rss" value="1" <!--#if int($email_rss) > 0 then 'checked="checked"' else ""#--> />
                    <span class="desc">$T('explain-email_rss')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_dir">$T('opt-email_dir')</label>
                    <input type="text" name="email_dir" id="email_dir" value="$email_dir" />
                    <span class="desc">$T('explain-email_dir')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="email_server">$T('opt-email_server')</label>
                    <input type="text" name="email_server" id="email_server" value="$email_server" />
                    <span class="desc">$T('explain-email_server') ($T('host').lower():$T('srv-port').lower())</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_to">$T('opt-email_to')</label>
                    <input type="text" name="email_to" id="email_to" value="$email_to" />
                    <span class="desc">$T('explain-email_to')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="email_from">$T('opt-email_from')</label>
                    <input type="text" name="email_from" id="email_from" value="$email_from" />
                    <span class="desc">$T('explain-email_from')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_account">$T('opt-email_account')</label>
                    <input type="text" name="email_account" id="email_account" value="$email_account" />
                    <span class="desc">$T('explain-email_account')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="email_pwd">$T('opt-email_pwd')</label>
                    <input type="text" name="email_pwd" id="email_pwd" value="$email_pwd" />
                    <span class="desc">$T('explain-email_pwd')</span>
                </div>
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_email" rel="$T('askTestEmail')"><span class="glyphicon glyphicon-envelope"></span> $T('link-testEmail')</button>
                    <span id="testmail-result" class="icon path darkred">&nbsp;</span>
                    <span id="config_err_msg" class="icon path darkred">&nbsp;</span>
                </div>
            </fieldset>
        </div><!-- /col1 -->
    </div><!-- /section -->
    <div class="section" id="growl">
        <div class="col2">
            <h3>$T('growlSettings')</h3>
        </div><!-- /col2 -->
        <div class="col1">
            <fieldset>
                <div class="field-pair" >
                    <label class="config" for="growl_enable">$T('opt-growl_enable')</label>
                    <input type="checkbox" name="growl_enable" id="growl_enable" value="1" <!--#if int($growl_enable) > 0 then 'checked="checked"' else ""#--> />
                    <span class="desc">$T('explain-growl_enable')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="growl_server">$T('opt-growl_server')</label>
                    <input type="text" name="growl_server" id="growl_server" value="$growl_server" />
                    <span class="desc">$T('explain-growl_server')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="growl_password">$T('opt-growl_password')</label>
                    <input type="text" name="growl_password" id="growl_password" value="$growl_password" />
                    <span class="desc">$T('explain-growl_password')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="growl_prio_startup">$T($notify_texts['startup'])</label>
                    <input type="checkbox" name="growl_prio_startup" id="growl_prio_startup" value="1" <!--#if int($growl_prio_startup) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="growl_prio_download">$T($notify_texts['download'])</label>
                    <input type="checkbox" name="growl_prio_download" id="growl_prio_download" value="1" <!--#if int($growl_prio_download) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="growl_prio_pp">$T($notify_texts['pp'])</label>
                    <input type="checkbox" name="growl_prio_pp" id="growl_prio_pp" value="1" <!--#if int($growl_prio_pp) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="growl_prio_complete">$T($notify_texts['complete'])</label>
                    <input type="checkbox" name="growl_prio_complete" id="growl_prio_complete" value="1" <!--#if int($growl_prio_complete) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="growl_prio_failed">$T($notify_texts['failed'])</label>
                    <input type="checkbox" name="growl_prio_failed" id="growl_prio_failed" value="1" <!--#if int($growl_prio_failed) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="growl_prio_queue_done">$T($notify_texts['queue_done'])</label>
                    <input type="checkbox" name="growl_prio_queue_done" id="growl_prio_queue_done" value="1" <!--#if int($growl_prio_queue_done) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="growl_prio_disk_full">$T($notify_texts['disk_full'])</label>
                    <input type="checkbox" name="growl_prio_disk_full" id="growl_prio_disk_full" value="1" <!--#if int($growl_prio_disk_full) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="growl_prio_warning">$T($notify_texts['warning'])</label>
                    <input type="checkbox" name="growl_prio_warning" id="growl_prio_warning" value="1" <!--#if int($growl_prio_warning) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="growl_prio_error">$T($notify_texts['error'])</label>
                    <input type="checkbox" name="growl_prio_error" id="growl_prio_error" value="1" <!--#if int($growl_prio_error) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="growl_prio_other">$T($notify_texts['other'])</label>
                    <input type="checkbox" name="growl_prio_other" id="growl_prio_other" value="1" <!--#if int($growl_prio_other) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                   <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                   <button class="btn btn-default" type="button" id="test_growl"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                   <span id="testgrowl-result" class="icon path darkred">&nbsp;</span>
               </div>
           </fieldset>
       </div><!-- /col1 -->
    </div><!-- /section -->
    <!--#if $have_ncenter#-->
    <div class="section">
        <div class="col2">
            <h3>$T('section-NC')</h3>
        </div><!-- /col2 -->
        <div class="col1">
            <fieldset>
                <div class="field-pair">
                    <label class="config" for="ncenter_enable">$T('opt-ncenter_enable')</label>
                    <input type="checkbox" name="ncenter_enable" id="ncenter_enable" value="1" <!--#if int($ncenter_enable) > 0 then 'checked="checked"' else ""#--> <!--#if not $have_ncenter then 'readonly="readonly" disabled="disabled"' else "" #--> />
                    <span class="desc">$T('explain-ncenter_enable')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ncenter_prio_startup">$T($notify_texts['startup'])</label>
                    <input type="checkbox" name="ncenter_prio_startup" id="ncenter_prio_startup" value="1" <!--#if int($ncenter_prio_startup) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ncenter_prio_download">$T($notify_texts['download'])</label>
                    <input type="checkbox" name="ncenter_prio_download" id="ncenter_prio_download" value="1" <!--#if int($ncenter_prio_download) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ncenter_prio_pp">$T($notify_texts['pp'])</label>
                    <input type="checkbox" name="ncenter_prio_pp" id="ncenter_prio_pp" value="1" <!--#if int($ncenter_prio_pp) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ncenter_prio_complete">$T($notify_texts['complete'])</label>
                    <input type="checkbox" name="ncenter_prio_complete" id="ncenter_prio_complete" value="1" <!--#if int($ncenter_prio_complete) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ncenter_prio_failed">$T($notify_texts['failed'])</label>
                    <input type="checkbox" name="ncenter_prio_failed" id="ncenter_prio_failed" value="1" <!--#if int($ncenter_prio_failed) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ncenter_prio_queue_done">$T($notify_texts['queue_done'])</label>
                    <input type="checkbox" name="ncenter_prio_queue_done" id="ncenter_prio_queue_done" value="1" <!--#if int($ncenter_prio_queue_done) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ncenter_prio_disk_full">$T($notify_texts['disk_full'])</label>
                    <input type="checkbox" name="ncenter_prio_disk_full" id="ncenter_prio_disk_full" value="1" <!--#if int($ncenter_prio_disk_full) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ncenter_prio_warning">$T($notify_texts['warning'])</label>
                    <input type="checkbox" name="ncenter_prio_warning" id="ncenter_prio_warning" value="1" <!--#if int($ncenter_prio_warning) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ncenter_prio_error">$T($notify_texts['error'])</label>
                    <input type="checkbox" name="ncenter_prio_error" id="ncenter_prio_error" value="1" <!--#if int($ncenter_prio_error) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ncenter_prio_other">$T($notify_texts['other'])</label>
                    <input type="checkbox" name="ncenter_prio_other" id="ncenter_prio_other" value="1" <!--#if int($ncenter_prio_other) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                   <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                   <button class="btn btn-default" type="button" id="test_notification"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                   <span id="testnotice-result" class="icon path darkred">&nbsp;</span>
               </div>
           </fieldset>
       </div><!-- /col1 -->
    </div><!-- /section -->
    <!--#end if#-->
    <!--#if $have_ntfosd#-->
    <div class="section">
        <div class="col2">
            <h3>$T('section-OSD')</h3>
        </div><!-- /col2 -->
        <div class="col1">
            <fieldset>
                <div class="field-pair alt">
                    <label class="config" for="ntfosd_enable">$T('opt-ntfosd_enable')</label>
                    <input type="checkbox" name="ntfosd_enable" id="ntfosd_enable" value="1" <!--#if int($ntfosd_enable) > 0 then 'checked="checked"' else ""#--> <!--#if not $have_ntfosd then 'readonly="readonly" disabled="disabled"' else "" #--> />
                    <span class="desc">$T('explain-ntfosd_enable')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ntfosd_prio_startup">$T($notify_texts['startup'])</label>
                    <input type="checkbox" name="ntfosd_prio_startup" id="ntfosd_prio_startup" value="1" <!--#if int($ntfosd_prio_startup) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ntfosd_prio_download">$T($notify_texts['download'])</label>
                    <input type="checkbox" name="ntfosd_prio_download" id="ntfosd_prio_download" value="1" <!--#if int($ntfosd_prio_download) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ntfosd_prio_pp">$T($notify_texts['pp'])</label>
                    <input type="checkbox" name="ntfosd_prio_pp" id="ntfosd_prio_pp" value="1" <!--#if int($ntfosd_prio_pp) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ntfosd_prio_complete">$T($notify_texts['complete'])</label>
                    <input type="checkbox" name="ntfosd_prio_complete" id="ntfosd_prio_complete" value="1" <!--#if int($ntfosd_prio_complete) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ntfosd_prio_failed">$T($notify_texts['failed'])</label>
                    <input type="checkbox" name="ntfosd_prio_failed" id="ntfosd_prio_failed" value="1" <!--#if int($ntfosd_prio_failed) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ntfosd_prio_queue_done">$T($notify_texts['queue_done'])</label>
                    <input type="checkbox" name="ntfosd_prio_queue_done" id="ntfosd_prio_queue_done" value="1" <!--#if int($ntfosd_prio_queue_done) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ntfosd_prio_disk_full">$T($notify_texts['disk_full'])</label>
                    <input type="checkbox" name="ntfosd_prio_disk_full" id="ntfosd_prio_disk_full" value="1" <!--#if int($ntfosd_prio_disk_full) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ntfosd_prio_warning">$T($notify_texts['warning'])</label>
                    <input type="checkbox" name="ntfosd_prio_warning" id="ntfosd_prio_warning" value="1" <!--#if int($ntfosd_prio_warning) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair alt">
                    <label class="config" for="ntfosd_prio_error">$T($notify_texts['error'])</label>
                    <input type="checkbox" name="ntfosd_prio_error" id="ntfosd_prio_error" value="1" <!--#if int($ntfosd_prio_error) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                    <label class="config" for="ntfosd_prio_other">$T($notify_texts['other'])</label>
                    <input type="checkbox" name="ntfosd_prio_other" id="ntfosd_prio_other" value="1" <!--#if int($ntfosd_prio_other) > 0 then 'checked="checked"' else ""#--> />
                </div>
                <div class="field-pair">
                   <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                   <button class="btn btn-default" type="button" id="test_osd"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                   <span id="testosd-result" class="icon path darkred">&nbsp;</span>
               </div>
           </fieldset>
       </div><!-- /col1 -->
    </div><!-- /section -->
    <!--#end if#-->
    <div class="section" id="prowl">
        <div class="col2">
            <h3>$T('section-Prowl')</h3>
        </div><!-- /col2 -->
        <div class="col1">
            <fieldset>
                <div class="field-pair alt" >
                    <label class="config" for="prowl_enable">$T('opt-prowl_enable')</label>
                    <input type="checkbox" name="prowl_enable" id="prowl_enable" value="1" <!--#if int($prowl_enable) > 0 then 'checked="checked"' else ""#--> />
                    <span class="desc">$T('explain-prowl_enable')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="prowl_apikey">$T('opt-prowl_apikey')</label>
                    <input type="text" name="prowl_apikey" id="prowl_apikey" value="$prowl_apikey" />
                    <span class="desc">$T('explain-prowl_apikey')</span>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="prowl_prio_startup">$T($notify_texts['startup'])</label>
                    <select name="prowl_prio_startup" id="prowl_prio_startup">
                        <option value="-3" <!--#if $prowl_prio_startup == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_startup == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_startup == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_startup == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_startup == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_startup == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
               </div>
                <div class="field-pair">
                    <label class="config" for="prowl_prio_download">$T($notify_texts['download'])</label>
                    <select name="prowl_prio_download" id="prowl_prio_download">
                        <option value="-3" <!--#if $prowl_prio_download == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_download == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_download == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_download == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_download == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_download == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
               </div>
                <div class="field-pair alt">
                    <label class="config" for="prowl_prio_pp">$T($notify_texts['pp'])</label>
                    <select name="prowl_prio_pp" id="prowl_prio_pp">
                        <option value="-3" <!--#if $prowl_prio_pp == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_pp == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_pp == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_pp == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_pp == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_pp == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
               </div>
                <div class="field-pair">
                    <label class="config" for="prowl_prio_complete">$T($notify_texts['complete'])</label>
                    <select name="prowl_prio_complete" id="prowl_prio_complete">
                        <option value="-3" <!--#if $prowl_prio_complete == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_complete == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_complete == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_complete == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_complete == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_complete == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
               </div>
                <div class="field-pair alt">
                    <label class="config" for="prowl_prio_failed">$T($notify_texts['failed'])</label>
                    <select name="prowl_prio_failed" id="prowl_prio_failed">
                        <option value="-3" <!--#if $prowl_prio_failed == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_failed == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_failed == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_failed == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_failed == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_failed == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
                </div>
                <div class="field-pair">
                    <label class="config" for="prowl_prio_queue_done">$T($notify_texts['queue_done'])</label>
                    <select name="prowl_prio_queue_done" id="prowl_prio_queue_done">
                        <option value="-3" <!--#if $prowl_prio_queue_done == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_queue_done == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_queue_done == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_queue_done == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_queue_done == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_queue_done == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="prowl_prio_disk_full">$T($notify_texts['disk_full'])</label>
                    <select name="prowl_prio_disk_full" id="prowl_prio_disk_full">
                        <option value="-3" <!--#if $prowl_prio_disk_full == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_disk_full == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_disk_full == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_disk_full == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_disk_full == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_disk_full == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
               </div>
                <div class="field-pair">
                    <label class="config" for="prowl_prio_warning">$T($notify_texts['warning'])</label>
                    <select name="prowl_prio_warning" id="prowl_prio_warning">
                        <option value="-3" <!--#if $prowl_prio_warning == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_warning == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_warning == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_warning == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_warning == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_warning == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
                </div>
                <div class="field-pair alt">
                    <label class="config" for="prowl_prio_error">$T($notify_texts['error'])</label>
                    <select name="prowl_prio_error" id="prowl_prio_error">
                        <option value="-3" <!--#if $prowl_prio_error == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_error == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_error == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_error == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_error == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_error == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
                </div>
                <div class="field-pair">
                    <label class="config" for="prowl_prio_other">$T($notify_texts['other'])</label>
                    <select name="prowl_prio_other" id="prowl_prio_other">
                        <option value="-3" <!--#if $prowl_prio_other == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                        <option value="-2" <!--#if $prowl_prio_other == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                        <option value="-1" <!--#if $prowl_prio_other == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                        <option value="0"  <!--#if $prowl_prio_other == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                        <option value="1"  <!--#if $prowl_prio_other == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                        <option value="2"  <!--#if $prowl_prio_other == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                    </select>
               </div>
                 <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_prowl"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                    <span id="testprowl-result" class="icon path darkred">&nbsp;</span>
                </div>
            </fieldset>
        </div><!-- /col1 -->
    </div><!-- /section -->

	<div class="section" id="pushover">
		<div class="col2">
			<h3>$T('section-Pushover')</h3>
		</div><!-- /col2 -->
		<div class="col1">
			<fieldset>
				<div class="field-pair alt" >
					<label class="config" for="pushover_enable">$T('opt-pushover_enable')</label>
					<input type="checkbox" name="pushover_enable" id="pushover_enable" value="1" <!--#if int($pushover_enable) > 0 then 'checked="checked"' else ""#--> />
					<span class="desc">$T('explain-pushover_enable')</span>
				</div>
				<div class="field-pair">
					<label class="config" for="pushover_token">$T('opt-pushover_token')</label>
					<input type="text" name="pushover_token" id="pushover_token" value="$pushover_token" />
					<span class="desc">$T('explain-pushover_token')</span>
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushover_userkey">$T('opt-pushover_userkey')</label>
					<input type="text" name="pushover_userkey" id="pushover_userkey" value="$pushover_userkey" />
					<span class="desc">$T('explain-pushover_userkey')</span>
				</div>
				<div class="field-pair">
					<label class="config" for="pushover_device">$T('opt-pushover_device')</label>
					<input type="text" name="pushover_device" id="pushover_device" value="$pushover_device" />
					<span class="desc">$T('explain-pushover_device')</span>
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushover_prio_startup">$T($notify_texts['startup'])</label>
					<select name="pushover_prio_startup" id="pushover_prio_startup">
						<option value="-2" <!--#if $pushover_prio_startup == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_startup == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_startup == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_startup == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
			   </div>
				<div class="field-pair">
					<label class="config" for="pushover_prio_download">$T($notify_texts['download'])</label>
					<select name="pushover_prio_download" id="pushover_prio_download">
						<option value="-2" <!--#if $pushover_prio_download == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_download == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_download == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_download == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
			   </div>
				<div class="field-pair alt">
					<label class="config" for="pushover_prio_pp">$T($notify_texts['pp'])</label>
					<select name="pushover_prio_pp" id="pushover_prio_pp">
						<option value="-2" <!--#if $pushover_prio_pp == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_pp == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_pp == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_pp == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
			   </div>
				<div class="field-pair">
					<label class="config" for="pushover_prio_complete">$T($notify_texts['complete'])</label>
					<select name="pushover_prio_complete" id="pushover_prio_complete">
						<option value="-2" <!--#if $pushover_prio_complete == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_complete == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_complete == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_complete == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
			   </div>
				<div class="field-pair alt">
					<label class="config" for="pushover_prio_failed">$T($notify_texts['failed'])</label>
					<select name="pushover_prio_failed" id="pushover_prio_failed">
						<option value="-2" <!--#if $pushover_prio_failed == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_failed == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_failed == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_failed == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
				</div>
				<div class="field-pair">
					<label class="config" for="pushover_prio_queue_done">$T($notify_texts['queue_done'])</label>
					<select name="pushover_prio_queue_done" id="pushover_prio_queue_done">
						<option value="-2" <!--#if $pushover_prio_queue_done == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_queue_done == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_queue_done == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_queue_done == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushover_prio_disk_full">$T($notify_texts['disk_full'])</label>
					<select name="pushover_prio_disk_full" id="pushover_prio_disk_full">
						<option value="-2" <!--#if $pushover_prio_disk_full == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_disk_full == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_disk_full == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_disk_full == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
			   </div>
				<div class="field-pair">
					<label class="config" for="pushover_prio_warning">$T($notify_texts['warning'])</label>
					<select name="pushover_prio_warning" id="pushover_prio_warning">
						<option value="-2" <!--#if $pushover_prio_warning == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_warning == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_warning == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_warning == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushover_prio_error">$T($notify_texts['error'])</label>
					<select name="pushover_prio_error" id="pushover_prio_error">
						<option value="-2" <!--#if $pushover_prio_error == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_error == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_error == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_error == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
				</div>
				<div class="field-pair">
					<label class="config" for="pushover_prio_other">$T($notify_texts['other'])</label>
					<select name="pushover_prio_other" id="pushover_prio_other">
						<option value="-2" <!--#if $pushover_prio_other == -2 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
						<option value="-1" <!--#if $pushover_prio_other == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
						<option value="1"  <!--#if $pushover_prio_other == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
						<option value="2"  <!--#if $pushover_prio_other == 2  then 'selected="selected"' else ""#--> >$T('pushover-confirm')</option>
					</select>
			   </div>

                 <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_pushover"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                    <span id="testpushover-result" class="icon path darkred">&nbsp;</span>
                </div>
            </fieldset>
        </div><!-- /col1 -->
    </div><!-- /section -->
	<div class="section" id="pushbullet">
		<div class="col2">
			<h3>$T('section-Pushbullet')</h3>
		</div><!-- /col2 -->
		<div class="col1">
			<fieldset>
				<div class="field-pair">
					<label class="config" for="pushbullet_enable">$T('opt-pushbullet_enable')</label>
					<input type="checkbox" name="pushbullet_enable" id="pushbullet_enable" value="1" <!--#if int($pushbullet_enable) > 0 then 'checked="checked"' else ""#--> />
					<span class="desc">$T('explain-pushbullet_enable')</span>
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushbullet_apikey">$T('opt-pushbullet_apikey')</label>
					<input type="text" name="pushbullet_apikey" id="pushbullet_apikey" value="$pushbullet_apikey" />
					<span class="desc">$T('explain-pushbullet_apikey')</span>
				</div>
				<!--#if 0#-->
				<div class="field-pair">
					<label class="config" for="pushbullet_device">$T('opt-pushbullet_device')</label>
					<input type="text" name="pushbullet_device" id="pushbullet_device" value="$pushbullet_device" />
					<span class="desc">$T('explain-pushbullet_device')</span>
				</div>
				<!--#end if#-->
				<div class="field-pair alt">
					<label class="config" for="pushbullet_prio_startup">$T($notify_texts['startup'])</label>
					<input type="checkbox" name="pushbullet_prio_startup" id="pushbullet_prio_startup" value="1" <!--#if int($pushbullet_prio_startup) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair">
					<label class="config" for="pushbullet_prio_download">$T($notify_texts['download'])</label>
					<input type="checkbox" name="pushbullet_prio_download" id="pushbullet_prio_download" value="1" <!--#if int($pushbullet_prio_download) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushbullet_prio_pp">$T($notify_texts['pp'])</label>
					<input type="checkbox" name="pushbullet_prio_pp" id="pushbullet_prio_pp" value="1" <!--#if int($pushbullet_prio_pp) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair">
					<label class="config" for="pushbullet_prio_complete">$T($notify_texts['complete'])</label>
					<input type="checkbox" name="pushbullet_prio_complete" id="pushbullet_prio_complete" value="1" <!--#if int($pushbullet_prio_complete) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushbullet_prio_failed">$T($notify_texts['failed'])</label>
					<input type="checkbox" name="pushbullet_prio_failed" id="pushbullet_prio_failed" value="1" <!--#if int($pushbullet_prio_failed) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair">
					<label class="config" for="pushbullet_prio_queue_done">$T($notify_texts['queue_done'])</label>
					<input type="checkbox" name="pushbullet_prio_queue_done" id="pushbullet_prio_queue_done" value="1" <!--#if int($pushbullet_prio_queue_done) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushbullet_prio_disk_full">$T($notify_texts['disk_full'])</label>
					<input type="checkbox" name="pushbullet_prio_disk_full" id="pushbullet_prio_disk_full" value="1" <!--#if int($pushbullet_prio_disk_full) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair">
					<label class="config" for="pushbullet_prio_warning">$T($notify_texts['warning'])</label>
					<input type="checkbox" name="pushbullet_prio_warning" id="pushbullet_prio_warning" value="1" <!--#if int($pushbullet_prio_warning) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair alt">
					<label class="config" for="pushbullet_prio_error">$T($notify_texts['error'])</label>
					<input type="checkbox" name="pushbullet_prio_error" id="pushbullet_prio_error" value="1" <!--#if int($pushbullet_prio_error) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair">
					<label class="config" for="pushbullet_prio_other">$T($notify_texts['other'])</label>
					<input type="checkbox" name="pushbullet_prio_other" id="pushbullet_prio_other" value="1" <!--#if int($pushbullet_prio_other) > 0 then 'checked="checked"' else ""#--> />
				</div>
				<div class="field-pair">
				   <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                   <button class="btn btn-default" type="button" id="test_pushbullet"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
				   <span id="testpushbullet-result" class="icon path darkred">&nbsp;</span>
			   </div>
		   </fieldset>
	   </div><!-- /col1 -->
	</div><!-- /section -->
    </form>
</div><!-- /colmask -->

<script>
\$(document).ready(function(){
    \$('#email_dir').fileBrowser({ title: 'Select $T('opt-email_dir')' });
    \$('#test_email').click(function () {
        if (confirm(\$('#test_email').attr('rel'))) {
	    var data = { mode: 'test_email', apikey: '$session', output: 'json' };
	    \$("#email").extractFormDataTo(data);
            \$.ajax({
                type: "GET",
                url: "../../tapi",
                data: data,
                beforeSend: function () {
                    \$('#test_email').attr("disabled", "disabled");
                    \$('#testmail-result').removeClass("success failure").addClass("loading").html('$T('post-Verifying')');
                },
                complete: function () {
                    \$('#test_email').removeAttr("disabled");
                    \$('#testmail-result').removeClass("loading");
                },
                success: function (data) {
                    if (data.status == true) {
                      \$('#testmail-result').addClass("success").html('$T('smpl-emailsent')');
                    } else {
                      \$('#testmail-result').addClass("failure").html(data.error);
                    }
                }
            });
        }
    });
    \$('#test_notification').click(function () {
        \$.ajax({
            type: "GET",
            url: "../../tapi",
            data: {mode: 'test_notif', apikey: '$session', output: 'json' },
            beforeSend: function () {
                \$('#test_notification').attr("disabled", "disabled");
                \$('#testnotice-result').removeClass("success failure").addClass("loading").html('$T('post-Verifying')');
            },
            complete: function () {
                \$('#test_notification').removeAttr("disabled");
                \$('#testnotice-result').removeClass("loading");
            },
            success: function (data) {
                if (data.status == true) {
                  \$('#testnotice-result').addClass("success").html('$T('smpl-notesent')');
                } else {
                  \$('#testnotice-result').addClass("failure").html(data.error);
                }
            }
        });
    });
    \$('#test_pushbullet').click(function () {
        var data = { mode: 'test_pushbullet', apikey: '$session', output: 'json' };
	    \$("#pushbullet").extractFormDataTo(data);
        \$.ajax({
            type: "GET",
            url: "../../tapi",
            data: data,
            beforeSend: function () {
                \$('#test_pushbullet').attr("disabled", "disabled");
                \$('#testpushbullet-result').removeClass("success failure").addClass("loading").html('$T('post-Verifying')');
            },
            complete: function () {
                \$('#test_pushbullet').removeAttr("disabled");
                \$('#testpushbullet-result').removeClass("loading");
            },
            success: function (data) {
                if (data.status == true) {
                  \$('#testpushbullet-result').addClass("success").html('$T('smpl-notesent')');
                } else {
                  \$('#testpushbullet-result').addClass("failure").html(data.error);
                }
            }
        });
    });
    \$('#test_pushover').click(function () {
        var data = { mode: 'test_pushover', apikey: '$session', output: 'json' };
	    \$("#pushover").extractFormDataTo(data);
        \$.ajax({
            type: "GET",
            url: "../../tapi",
            data: data,
            beforeSend: function () {
                \$('#test_pushover').attr("disabled", "disabled");
                \$('#testpushover-result').removeClass("success failure").addClass("loading").html('$T('post-Verifying')');
            },
            complete: function () {
                \$('#test_pushover').removeAttr("disabled");
                \$('#testpushover-result').removeClass("loading");
            },
            success: function (data) {
                if (data.status == true) {
                  \$('#testpushover-result').addClass("success").html('$T('smpl-notesent')');
                } else {
                  \$('#testpushover-result').addClass("failure").html(data.error);
                }
            }
        });
    });
    \$('#test_prowl').click(function () {
        var data = { mode: 'test_prowl', apikey: '$session', output: 'json' };
	    \$("#prowl").extractFormDataTo(data);
        \$.ajax({
            type: "GET",
            url: "../../tapi",
            data: data,
            beforeSend: function () {
                \$('#test_prowl').attr("disabled", "disabled");
                \$('#testprowl-result').removeClass("success failure").addClass("loading").html('$T('post-Verifying')');
            },
            complete: function () {
                \$('#test_prowl').removeAttr("disabled");
                \$('#testprowl-result').removeClass("loading");
            },
            success: function (data) {
                if (data.status == true) {
                  \$('#testprowl-result').addClass("success").html('$T('smpl-notesent')');
                } else {
                  \$('#testprowl-result').addClass("failure").html(data.error);
                }
            }
        });
    });
    \$('#test_growl').click(function () {
        var data = { mode: 'test_growl', apikey: '$session', output: 'json' };
	    \$("#growl").extractFormDataTo(data);
        \$.ajax({
            type: "GET",
            url: "../../tapi",
            data: data,
            beforeSend: function () {
                \$('#test_growl').attr("disabled", "disabled");
                \$('#testgrowl-result').removeClass("success failure").addClass("loading").html('$T('post-Verifying')');
            },
            complete: function () {
                \$('#test_growl').removeAttr("disabled");
                \$('#testgrowl-result').removeClass("loading");
            },
            success: function (data) {
                if (data.status == true) {
                  \$('#testgrowl-result').addClass("success").html('$T('smpl-notesent')');
                } else {
                  \$('#testgrowl-result').addClass("failure").html(data.error);
                }
            }
        });
    });
    \$('#test_osd').click(function () {
        \$.ajax({
            type: "GET",
            url: "../../tapi",
            data: {mode: 'test_osd', apikey: '$session', output: 'json' },
            beforeSend: function () {
                \$('#test_osd').attr("disabled", "disabled");
                \$('#testosd-result').removeClass("success failure").addClass("loading").html('$T('post-Verifying')');
            },
            complete: function () {
                \$('#test_osdl').removeAttr("disabled");
                \$('#testosd-result').removeClass("loading");
            },
            success: function (data) {
                if (data.status == true) {
                  \$('#testosd-result').addClass("success").html('$T('smpl-notesent')');
                } else {
                  \$('#testosd-result').addClass("failure").html(data.error);
                }
            }
        });
    });
});
</script>

<!--#include $webdir + "/_inc_footer_uc.tmpl"#-->
