<!--#set global $pane="Email"#-->
<!--#set global $help_uri="configuration/1.1/notifications"#-->
<!--#include $webdir + "/_inc_header_uc.tmpl"#-->

<!--#def show_notify_checkboxes($section_label)#-->
    <!--#for $type in $notify_keys#-->
        <div class="field-pair">
            <label class="config wide" for="${section_label}_prio_$type">
                $T($notify_texts[$type]).replace('/', ' / ')  <!--#if $type == 'download'#--> / $T('link-pause') / $T('link-resume')<!--#end if#-->
            </label>
            <input type="checkbox" name="${section_label}_prio_$type" id="${section_label}_prio_$type" value="1" <!--#if int($getVar($section_label + '_prio_' + $type)) > 0 then 'checked="checked"' else ""#--> />
        </div>
    <!--#end for#-->
<!--#end def#-->

<div class="colmask">
    <form action="saveEmail" method="post" name="fullform" class="fullform" autocomplete="off" novalidate>
    <input type="hidden" id="session" name="session" value="$session" />
    <input type="hidden" id="ajax" name="ajax" value="1" />
    <div class="section" id="email">
        <div class="col2">
            <h3>$T('cmenu-email') <a href="$helpuri$help_uri#toc0" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a></h3>
        </div><!-- /col2 -->
        <div class="col1">
            <fieldset>
                <div class="field-pair">
                    <label class="config" for="email_endjob">$T('opt-email_endjob')</label>
                    <select name="email_endjob" id="email_endjob">
                        <option value="0" <!--#if int($email_endjob) == 0 then 'selected="selected"' else ""#--> >$T('email-never')</option>
                        <option value="1" <!--#if int($email_endjob) == 1 then 'selected="selected"' else ""#--> >$T('email-always')</option>
                        <option value="2" <!--#if int($email_endjob) == 2 then 'selected="selected"' else ""#--> >$T('email-errorOnly')</option>
                    </select>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_full">$T('opt-email_full')</label>
                    <input type="checkbox" name="email_full" id="email_full" value="1" <!--#if int($email_full) > 0 then 'checked="checked"' else ""#--> />
                    <span class="desc">$T('explain-email_full')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_rss">$T('opt-email_rss')</label>
                    <input type="checkbox" name="email_rss" id="email_rss" value="1" <!--#if int($email_rss) > 0 then 'checked="checked"' else ""#--> />
                    <span class="desc">$T('explain-email_rss')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_dir">$T('opt-email_dir')</label>
                    <input type="text" name="email_dir" id="email_dir" value="$email_dir" data-initialdir="$my_home" />
                    <span class="desc">$T('explain-email_dir')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_server">$T('opt-email_server')</label>
                    <input type="text" name="email_server" id="email_server" value="$email_server" />
                    <span class="desc">$T('explain-email_server') ($T('host').lower():$T('srv-port').lower())</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_to">$T('opt-email_to')</label>
                    <input type="text" name="email_to" id="email_to" value="$email_to" />
                    <span class="desc">$T('explain-email_to')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_from">$T('opt-email_from')</label>
                    <input type="text" name="email_from" id="email_from" value="$email_from" />
                    <span class="desc">$T('explain-email_from')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_account">$T('opt-email_account')</label>
                    <input type="text" name="email_account" id="email_account" value="$email_account" />
                    <span class="desc">$T('explain-email_account')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="email_pwd">$T('opt-email_pwd')</label>
                    <input type="text" name="email_pwd" id="email_pwd" value="$email_pwd" />
                    <span class="desc">$T('explain-email_pwd')</span>
                </div>
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_email" rel="$T('askTestEmail')"><span class="glyphicon glyphicon-envelope"></span> $T('link-testEmail')</button>
                </div>
                <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
            </fieldset>
        </div><!-- /col1 -->
    </div><!-- /section -->
    <!--#if $have_ncenter#-->
    <div class="section">
        <div class="col2">
            <h3>$T('section-NC')</h3>
            <table>
                <tr>
                    <td><input type="checkbox" name="ncenter_enable" id="ncenter_enable" value="1" <!--#if int($ncenter_enable) > 0 then 'checked="checked"' else ""#--> /></td>
                    <td><label for="ncenter_enable"> $T('opt-ncenter_enable')</label></td>
                </tr>
            </table>
        </div><!-- /col2 -->
        <div class="col1" <!--#if int($ncenter_enable) > 0 then '' else 'style="display:none"'#-->>
            <fieldset>
                $show_notify_checkboxes('ncenter')
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_notif"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
               </div>
               <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
           </fieldset>
       </div><!-- /col1 -->
    </div><!-- /section -->
    <!--#end if#-->
    <!--#if $nt#-->
    <div class="section">
        <div class="col2">
            <h3>$T('section-AC')</h3>
            <table>
                <tr>
                    <td><input type="checkbox" name="acenter_enable" id="acenter_enable" value="1" <!--#if int($acenter_enable) > 0 then 'checked="checked"' else ""#--> /></td>
                    <td><label for="acenter_enable"> $T('opt-acenter_enable')</label></td>
                </tr>
            </table>
        </div><!-- /col2 -->
        <div class="col1" <!--#if int($acenter_enable) > 0 then '' else 'style="display:none"'#-->>
            <fieldset>
                $show_notify_checkboxes('acenter')
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_windows"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
               </div>
               <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
           </fieldset>
       </div><!-- /col1 -->
    </div><!-- /section -->
    <!--#end if#-->
    <!--#if $have_ntfosd#-->
    <div class="section">
        <div class="col2">
            <h3>$T('section-OSD') <a href="$helpuri$help_uri#toc4" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a></h3>
            <table>
                <tr>
                    <td><input type="checkbox" name="ntfosd_enable" id="ntfosd_enable" value="1" <!--#if int($ntfosd_enable) > 0 then 'checked="checked"' else ""#--> /></td>
                    <td><label for="ntfosd_enable"> $T('opt-ntfosd_enable')</label></td>
                </tr>
            </table>
        </div><!-- /col2 -->
        <div class="col1" <!--#if int($ntfosd_enable) > 0 then '' else 'style="display:none"'#-->>
            <fieldset>
                $show_notify_checkboxes('ntfosd')
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_osd"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
               </div>
               <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
           </fieldset>
       </div><!-- /col1 -->
    </div><!-- /section -->
    <!--#end if#-->
    <div class="section" id="growl">
        <div class="col2">
            <h3>$T('growlSettings') <a href="$helpuri$help_uri#toc3" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a></h3>
            <table>
                <tr>
                    <td><input type="checkbox" name="growl_enable" id="growl_enable" value="1" <!--#if int($growl_enable) > 0 then 'checked="checked"' else ""#--> /></td>
                    <td><label for="growl_enable"> $T('opt-growl_enable')</label></td>
                </tr>
            </table>
        </div><!-- /col2 -->
        <div class="col1" <!--#if int($growl_enable) > 0 then '' else 'style="display:none"'#-->>
            <fieldset>
                <div class="field-pair">
                    <label class="config" for="growl_server">$T('opt-growl_server')</label>
                    <input type="text" name="growl_server" id="growl_server" value="$growl_server" />
                    <span class="desc">$T('explain-growl_server')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="growl_password">$T('opt-growl_password')</label>
                    <input type="text" name="growl_password" id="growl_password" value="$growl_password" />
                    <span class="desc">$T('explain-growl_password')</span>
                </div>
                $show_notify_checkboxes('growl')
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_growl"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                </div>
                <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
           </fieldset>
       </div><!-- /col1 -->
    </div><!-- /section -->
    <div class="section" id="prowl">
        <div class="col2">
            <h3>$T('section-Prowl')</h3>
            <table>
                <tr>
                    <td><input type="checkbox" name="prowl_enable" id="prowl_enable" value="1" <!--#if int($prowl_enable) > 0 then 'checked="checked"' else ""#--> /></td>
                    <td><label for="prowl_enable"> $T('opt-prowl_enable')</label></td>
                </tr>
            </table>
            <em>$T('explain-prowl_enable')</em>
        </div><!-- /col2 -->
        <div class="col1" <!--#if int($prowl_enable) > 0 then '' else 'style="display:none"'#-->>
            <fieldset>
                <div class="field-pair">
                    <label class="config" for="prowl_apikey">$T('opt-prowl_apikey')</label>
                    <input type="text" name="prowl_apikey" id="prowl_apikey" value="$prowl_apikey" />
                    <span class="desc">$T('explain-prowl_apikey')</span>
                </div>
                <!--#set $section_label = 'prowl'#-->
                <!--#for $type in $notify_keys#-->
                    <div class="field-pair">
                        <label class="config" for="${section_label}_prio_$type">
                            $T($notify_texts[$type]).replace('/', ' / ') <!--#if $type == 'download'#--> / $T('link-pause') / $T('link-resume')<!--#end if#-->
                        </label>
                        <select name="${section_label}_prio_$type" id="${section_label}_prio_$type">
                            <option value="-3" <!--#if $getVar($section_label + '_prio_' + $type) == -3 then 'selected="selected"' else ""#--> >$T('prowl-off')</option>
                            <option value="-2" <!--#if $getVar($section_label + '_prio_' + $type) == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                            <option value="-1" <!--#if $getVar($section_label + '_prio_' + $type) == -1 then 'selected="selected"' else ""#--> >$T('prowl-moderate')</option>
                            <option value="0"  <!--#if $getVar($section_label + '_prio_' + $type) == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                            <option value="1"  <!--#if $getVar($section_label + '_prio_' + $type) == 1  then 'selected="selected"' else ""#--> >$T('prowl-high')</option>
                            <option value="2"  <!--#if $getVar($section_label + '_prio_' + $type) == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                        </select>
                    </div>
                <!--#end for#-->
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_prowl"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                </div>
                <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
            </fieldset>
        </div><!-- /col1 -->
    </div><!-- /section -->

    <div class="section" id="pushover">
        <div class="col2">
            <h3>$T('section-Pushover')</h3>
            <table>
                <tr>
                    <td><input type="checkbox" name="pushover_enable" id="pushover_enable" value="1" <!--#if int($pushover_enable) > 0 then 'checked="checked"' else ""#--> /></td>
                    <td><label for="pushover_enable"> $T('opt-pushover_enable')</label></td>
                </tr>
            </table>
            <em>$T('explain-pushover_enable')</em>
        </div><!-- /col2 -->
        <div class="col1" <!--#if int($pushover_enable) > 0 then '' else 'style="display:none"'#-->>
            <fieldset>
                <div class="field-pair">
                    <label class="config" for="pushover_token">$T('opt-pushover_token')</label>
                    <input type="text" name="pushover_token" id="pushover_token" value="$pushover_token" />
                    <span class="desc">$T('explain-pushover_token')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="pushover_userkey">$T('opt-pushover_userkey')</label>
                    <input type="text" name="pushover_userkey" id="pushover_userkey" value="$pushover_userkey" />
                    <span class="desc">$T('explain-pushover_userkey')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="pushover_device">$T('opt-pushover_device')</label>
                    <input type="text" name="pushover_device" id="pushover_device" value="$pushover_device" />
                    <span class="desc">$T('explain-pushover_device')</span>
                </div>
                <!--#set $section_label = 'pushover'#-->
                <!--#for $type in $notify_keys#-->
                    <div class="field-pair">
                        <label class="config" for="${section_label}_prio_$type">
                            $T($notify_texts[$type]).replace('/', ' / ') <!--#if $type == 'download'#--> / $T('link-pause') / $T('link-resume')<!--#end if#-->
                        </label>
                        <select name="${section_label}_prio_$type" id="${section_label}_prio_$type">
                            <option value="-3" <!--#if $getVar($section_label + '_prio_' + $type) == -3 then 'selected="selected"' else ""#--> >$T('pushover-off')</option>
                            <option value="-2" <!--#if $getVar($section_label + '_prio_' + $type) == -2 then 'selected="selected"' else ""#--> >$T('prowl-very-low')</option>
                            <option value="-1" <!--#if $getVar($section_label + '_prio_' + $type) == -1 then 'selected="selected"' else ""#--> >$T('pushover-low')</option>
                            <option value="0"  <!--#if $getVar($section_label + '_prio_' + $type) == 0  then 'selected="selected"' else ""#--> >$T('prowl-normal')</option>
                            <option value="1"  <!--#if $getVar($section_label + '_prio_' + $type) == 1  then 'selected="selected"' else ""#--> >$T('pushover-high')</option>
                            <option value="2"  <!--#if $getVar($section_label + '_prio_' + $type) == 2  then 'selected="selected"' else ""#--> >$T('prowl-emergency')</option>
                        </select>
                    </div>
                <!--#end for#-->
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_pushover"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                </div>
                <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
            </fieldset>
        </div><!-- /col1 -->
    </div><!-- /section -->
    <div class="section" id="pushbullet">
        <div class="col2">
            <h3>$T('section-Pushbullet')</h3>
            <table>
                <tr>
                    <td><input type="checkbox" name="pushbullet_enable" id="pushbullet_enable" value="1" <!--#if int($pushbullet_enable) > 0 then 'checked="checked"' else ""#--> /></td>
                    <td><label for="pushbullet_enable"> $T('opt-pushbullet_enable')</label></td>
                </tr>
            </table>
            <em>$T('explain-pushbullet_enable')</em>
        </div><!-- /col2 -->
        <div class="col1" <!--#if int($pushbullet_enable) > 0 then '' else 'style="display:none"'#-->>
            <fieldset>
                <div class="field-pair">
                    <label class="config" for="pushbullet_apikey">$T('opt-pushbullet_apikey')</label>
                    <input type="text" name="pushbullet_apikey" id="pushbullet_apikey" value="$pushbullet_apikey" />
                    <span class="desc">$T('explain-pushbullet_apikey')</span>
                </div>
                <!--#if 0#-->
                <div class="field-pair">
                    <label class="config" for="pushbullet_device">$T('opt-pushbullet_device')</label>
                    <input type="text" name="pushbullet_device" id="pushbullet_device" value="$pushbullet_device" />
                    <span class="desc">$T('explain-pushbullet_device')</span>
                </div>
                <!--#end if#-->
                $show_notify_checkboxes('pushbullet')
                <div class="field-pair">
                   <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                   <button class="btn btn-default" type="button" id="test_pushbullet"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                </div>
                <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
           </fieldset>
       </div><!-- /col1 -->
    </div><!-- /section -->
    <div class="section" id="nscript">
        <div class="col2">
        <h3>$T('section-NScript')</h3>
        <table>
            <tr>
                <td><input type="checkbox" name="nscript_enable" id="nscript_enable" value="1" <!--#if int($nscript_enable) > 0 then 'checked="checked"' else ""#--> /></td>
                <td><label for="nscript_enable"> $T('opt-nscript_enable')</label></td>
            </tr>
        </table>
        <em>$T('explain-nscript_enable')</em>
        </div><!-- /col2 -->
        <div class="col1" <!--#if int($nscript_enable) > 0 then '' else 'style="display:none"'#-->>
            <fieldset>
                <div class="field-pair">
                    <label class="config" for="nscript_script">$T('opt-nscript_script')</label>
                    <select name="nscript_script">
                        <!--#for $sc in $script_list#-->
                        <option value="$sc" <!--#if $nscript_script.lower()==$sc.lower() then 'selected="selected"' else ""#-->>$Tspec($sc)</option>
                        <!--#end for#-->
                    </select>
                    <span class="desc">$T('explain-nscript_script')</span>
                </div>
                <div class="field-pair">
                    <label class="config" for="nscript_parameters">$T('opt-nscript_parameters')</label>
                    <input type="text" name="nscript_parameters" id="nscript_parameters" value="$nscript_parameters" />
                    <span class="desc">$T('Optional') - $T('explain-nscript_parameters')</span>
                </div>
                $show_notify_checkboxes('nscript')
                <div class="field-pair">
                    <button class="btn btn-default saveButton"><span class="glyphicon glyphicon-ok"></span> $T('button-saveChanges')</button>
                    <button class="btn btn-default" type="button" id="test_nscript"><span class="glyphicon glyphicon-comment"></span> $T('testNotify')</button>
                </div>
                <div class="field-pair result-box">
                    <div class="alert"></div>
                </div>
            </fieldset>
        </div><!-- /col1 -->
    </div><!-- /section -->
    </form>
</div><!-- /colmask -->

<script type="text/javascript">
\$(document).ready(function(){
    // Autocomplete and filebrowser
    \$('#email_dir').typeahead().fileBrowser();

    // Expand on enable
    \$('.col2 input[name$="enable"]').change(function() {
        if(this.checked) {
            \$(this).parents('.section').find('.col1').show()
        } else {
            \$(this).parents('.section').find('.col1').hide()
        }
        \$('form').submit()
    })

    /**
        Testing functions
    **/
    function testNotification(buttonObj) {
        // Confirm?
        if(\$(buttonObj).attr('rel')) {
            if(!confirm(\$(buttonObj).attr('rel'))) return false;
        }
        // Disable button and get the data
        \$(buttonObj).attr("disabled", "disabled")
        \$(buttonObj).find('span').toggleClass('glyphicon-comment glyphicon-refresh spin-glyphicon')
        var data = { mode: buttonObj.id, apikey: '$session', output: 'json' };
        \$(buttonObj).parents('.section').extractFormDataTo(data);

        // Clear up the box
        resultBox = \$(buttonObj).parents('.section').find('.result-box .alert');

        // Get the request
        \$.ajax({
            type: "GET",
            url: "../../tapi",
            data: data
        }).then(function(data) {
            // Remove disabled and make the box
            \$(buttonObj).removeAttr("disabled")
            \$(buttonObj).find('span').toggleClass('glyphicon-comment glyphicon-refresh spin-glyphicon')
            resultBox.removeClass('alert-success alert-danger').show()
            if(data.status) {
                resultBox.addClass('alert-success')
                resultBox.text('$T('smpl-notesent')')
                resultBox.prepend('<span class="glyphicon glyphicon-ok-sign"></span> ')
            } else {
                resultBox.addClass('alert-danger')
                resultBox.text(data.error)
                resultBox.prepend('<span class="glyphicon glyphicon-exclamation-sign"></span> ')
            }
        })
    }
    \$('#test_email, #test_notif, #test_windows, #test_pushbullet, #test_pushover, #test_prowl, #test_growl, #test_osd, #test_nscript').click(function () {
        testNotification(this)
    })
});
</script>

<!--#include $webdir + "/_inc_footer_uc.tmpl"#-->
