<!DOCTYPE html>
<html lang="$active_lang">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>$T('wizard-quickstart')</title>
        <link rel="stylesheet" type="text/css" href="${url_base}/staticcfg/bootstrap/css/bootstrap.min.css?v=$cache_buster"/>
        <link rel="stylesheet" type="text/css" href="${url_base}/wizard/static/style.css?v=$cache_buster"/>
        <!--#if $color_scheme not in ('Light', '') #-->
        <link rel="stylesheet" type="text/css" href="${url_base}/staticcfg/css/${color_scheme}.css?v=$cache_buster"/>
        <!--#end if#-->
        <link rel="shortcut icon" href="${url_base}/staticcfg/ico/favicon.ico?v=$cache_buster" />
        <script type="text/javascript" src="${url_base}/staticcfg/js/jquery-3.5.1.min.js?v=$cache_buster"></script>
        <script type="text/javascript" src="${url_base}/staticcfg/bootstrap/js/bootstrap.min.js?v=$cache_buster"></script>
    </head>
    <body>
        <div id="logo">
            #include $webdir + "/../Config/templates/staticcfg/images/logo-full.svg"#
        </div>