<!DOCTYPE html>
<html lang="$active_lang">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>$T('wizard-quickstart')</title>
        <link rel="stylesheet" type="text/css" href="../staticcfg/bootstrap/css/bootstrap.min.css?pid=$version"/>
        <link rel="stylesheet" type="text/css" href="static/style.css?pid=$version"/>
        <link rel="shortcut icon" href="../staticcfg/ico/favicon.ico?v=1.1.0" />
        <script type="text/javascript" src="../staticcfg/js/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="../staticcfg/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="logo">
            #include $webdir + "/../Config/templates/staticcfg/images/logo-full.svg"#
        </div>