* {
	margin: 0;
	padding: 0;
}

a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    overflow-x: hidden;
    -webkit-user-select: none;
	-webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
	font-family: Helvetica;
	-webkit-perspective: 1000;
	-webkit-transform-style: preserve-3d;
}

body > * {
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-transform: translate3d(0,0,0) rotate(0) scale(1);
    min-height: 420px !important;
}

body.fullscreen > * {
    min-height: 460px !important;
}

body.fullscreen.black-translucent > * {
    min-height: 480px !important;
}

body.landscape > * {
    min-height: 320px;
}

body > .current {
    display: block !important;
}