##
## RSS Email template for SABnzbd
## This a Cheetah template
## Documentation: https://sabnzbd.org/wiki/extra/email-templates
##
## Newlines and whitespace are significant!
##
## These are the email headers
To: $to
From: $from
Date: $date
Subject: SABnzbd has added $amount jobs to the queue
X-priority: 5
X-MS-priority: 5
## After this comes the body, the empty line is required!

Hi,

SABnzbd has added $amount job(s) to the queue.
They are from RSS feed "$feed".
<!--#for $job in $jobs#-->
    $job <!--#slurp#-->
<!--#end for#-->

Bye
