#Compiled python
*.py[cod]

# Working folders for Win build
build/
dist/
locale/
srcdist/

# Generated email templates
email/*.tmpl

# Build results
SABnzbd*.zip
SABnzbd*.exe
SABnzbd*.gz
SABnzbd*.dmg

# WingIDE project files
*.wp[ru]

# General junk
*.keep
*.bak
*.log

# Some people use Emacs as an editor
\#*
.\#*
