# Compiled python and venv
*.py[cod]
__pycache__
/venv

# Snapcraft
parts/
prime/
stage/
snap/.snapcraft/
*.snap

# Generated email templates
email/*.tmpl

# Working folders for build
build/
dist/
locale/
srcdist/

# Build results
SABnzbd*.zip
SABnzbd*.exe
SABnzbd*.gz
SABnzbd*.dmg
SABnzbd*.pkg
SABnzbd-*/

# WingIDE/PyCharm project files
*.wp[ru]

# Testing folders
tests/cache
tests/cache_gw*

# General junk
*.keep
*.bak
*.log

# Ignore all hidden directories at repo root, except used ones
.*/
!.github/
!.tx/

# Apple
.DS_Store
