matrix:
  include:
  # On Linux we test all supported Python versions
  # On macOS we only test the semi-recent version that is included
  - os: linux
    language: python
    python: "3.5"
  - os: linux
    language: python
    python: "3.6"
  - os: linux
    language: python
    python: "3.7"
  - os: linux
    language: python
    python: "3.8"
  - os: linux
    language: python
    python: "3.9-dev"
  - os: osx
    addons:
      chrome: stable
    env:
      - HOMEBREW_NO_AUTO_UPDATE=1

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      LATEST_CHROMEDRIVER=$(curl -s https://chromedriver.storage.googleapis.com/LATEST_RELEASE) &&
      wget --no-verbose -O /tmp/chromedriver.zip https://chromedriver.storage.googleapis.com/$LATEST_CHROMEDRIVER/chromedriver_mac64.zip &&
      sudo unzip /tmp/chromedriver.zip chromedriver -d /usr/local/bin/;
    else
      sudo add-apt-repository ppa:jcfp -y;
      sudo apt-get update -q;
      sudo apt-get install unrar p7zip-full par2 chromium-chromedriver -y;
      ln -s /usr/lib/chromium-browser/chromedriver ~/bin/chromedriver;
    fi;
  - python3 --version
  - python3 -m pip install --upgrade pip wheel
  - python3 -m pip install --upgrade -r requirements.txt
  - python3 -m pip install --upgrade -r tests/requirements.txt

script:
  - python3 -m pytest -s

notifications:
  email:
    on_success: never
    on_failure: change
