

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



	<title>SABnzbd $version "Nova" - Config - Uptime: $uptime</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="" />
	<meta name="Copyright" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="robots" content="index,follow,noarchive,nosnippet" />
	<meta name="googlebot" content="index,follow,noarchive,nosnippet" />
	<meta name="description" content="SABnzbd Nova Theme by Orgnaix Design" />
	<meta name="keywords" content="SABnzbd theme, nova, orgnaix design" />
	
	
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/html.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/classes.css" />
	
	<link rel="shortcut icon" type="image/ico" href="../static/images/favicon.ico" />
	
	
</head>
<body>



<div id="page">


	<div id="container">

	
		<div id="header">
			
			<div id="logo">
				
			</div>
	
			
			<div id="menu">
				<ul>
					<li id="first"><a href="../" title="Downloads">Downloads</a></li>
					<li class="on"><a href="../config" title="Config">Config</a></li>
					<li><a href="../connections" title="Connections">Connections</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<!-- End Header -->


		<div class="clear"></div>
		<div id="content">
<!-- ****************************************** BEGIN CONTENT ****************************************** -->
			
			
			<!-- Begin Sub Menu -->
			<span class="subMenu">
				<a href="../config/general">General</a><a href="../config/directories">Directories</a><a href="../config/switches">Switches</a><a href="../config/server">Servers</a><a href="../config/scheduling">Scheduling</a><a href="../config/rss">RSS</a>
			</span>
			<!-- End Sub Menu -->






			<h2>Configuration</h2>
			<p>
				<a href="http://sourceforge.net/projects/sabnzbd/" title="Visit SABnzbd Home Page">SABnzbd</a> Ver. $version
			<p>
			<p>
				<a href="http://www.sabnzbd.organixdesign.com/" title="Visit Nova Theme Home Page">Nova Theme</a>
				Ver. 0.3 Preview
			<p>
			<b>Configfile:</b> $configfn
			</p>



<!-- ****************************************** END CONTENT ****************************************** -->
		<div class="clear"></div>
		</div>
		<!-- End Content -->
	
	</div>
	<!-- End Container -->


</div>
<!-- End Page -->





</body>
</html>