<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



	<title>SABnzbd $version "Nova" - RSS - Queued: $mbleft MB</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="" />
	<meta name="Copyright" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="robots" content="index,follow,noarchive,nosnippet" />
	<meta name="googlebot" content="index,follow,noarchive,nosnippet" />
	<meta name="description" content="SABnzbd Nova Theme by Orgnaix Design" />
	<meta name="keywords" content="SABnzbd theme, nova, orgnaix design" />
	
	
	<link rel="stylesheet" type="text/css" href="../../static/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/html.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/classes.css" />
	
	<link rel="shortcut icon" type="image/ico" href="../../static/images/favicon.ico" />
	
	
</head>
<body>



<div id="page">


	<div id="container">

	
		<div id="header">
			
			<div id="logo">
				
			</div>
	
			
			<div id="menu">
				<ul>
					<li id="first"><a href="../../" title="Downloads">Downloads</a></li>
					<li class="on"><a href="../../config" title="Config">Config</a></li>
					<li><a href="../../connections" title="Connections">Connections</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<!-- End Header -->


		<div class="clear"></div>
		<div id="content">
<!-- ****************************************** BEGIN CONTENT ****************************************** -->
			<span class="subMenu">
				<a href="../../config/general">General</a><a href="../../config/directories">Directories</a><a href="../../config/switches">Switches</a><a href="../../config/server">Servers</a><a href="../../config/scheduling">Scheduling</a><a href="../../config/rss" class="current">RSS</a><a href="../../config/email">Email</a>
			</span>




<h2>EXPERIMENTAL RSS Configuration</h2>
<!--#if $have_feedparser#-->
<div class="EntryBlock">
  <form action="add_rss_feed" method="get">
    <fieldset class="EntryFieldSet">
    <legend>RSS feed settings</legend>
      <b>RSS-Feed URI:</b><br>
      <input type="text" name="uri" value="http://www."><br><br>
      
      <b>Text Filter:</b><br>
      (Basic) text based filter. A single '*' matches everything.
      <br>
      <input type="text" name="text_filter" value="*">
      <br>
      <br>
      
      <b>Regex Filter:</b><br>
      Regular Expression filter. Overwrites text filter.
      <br>
      <input type="text" name="re_filter">
      <br>
      <br>
      
      <b>Match Multiple:</b><br>
      Match this filter more than once?
      <br>
      <input type="radio" name="match_multiple" value="0"> No
      <input type="radio" name="match_multiple" value="1" checked=1> Yes
      <br>
      <br>
      
      <b>Unpack Opts:</b><br>
      <input type="radio" name="unpack_opts" value="0"> None
      <input type="radio" name="unpack_opts" value="1" checked=1> +Repair
      <input type="radio" name="unpack_opts" value="2"> +Unpack
      <input type="radio" name="unpack_opts" value="3"> +Delete
      <input type="radio" name="unpack_opts" value="4"> Repair+Script
      <input type="radio" name="unpack_opts" value="5"> Unpack+Script
      <input type="radio" name="unpack_opts" value="6"> Delete+Script
      <br>
      <br>
      
      <input type="submit" value="Add">
    </fieldset>
  </form>
    <!--#if $varExists('uris') and $uris#-->
        <table>
		
		
            <tr><th></th><th>URL/Match Name</th></tr>
			
			
            <!--#set $odd = False#-->
            <!--#for $uri in $uris#-->
                <!--#set $odd = not $odd#-->
				
				
                <tr class="<!--#if $odd then "odd" else "even"#-->">
                    <td><a href=../../config/rss/del_rss_feed?uri_id=$str($id($uri))>Remove</a></td>
                    <td>$uri</td>
                </tr>
				
				
                <!--#set $oddLine = False#-->
                <!--#for $filter in $uri_table[$uri][0]#-->
                    <!--#set $oddLine = not $oddLine#-->
					
					
                    <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
                        <td><a href=../../config/rss/del_rss_filter?uri_id=$str($id($uri))&filter_id=$str($id($filter))>Remove</a></td>
                        <td>Filter: $filter[0]</td>
                    </tr>
					
					
                    <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
                        <td></td>
                        <td>Unpack-opts: $filter[1]</td>
                    </tr>
					
					
                    <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
                        <td></td>
                        <td>Match Multiple: $filter[2]</td>
                    </tr>
					
					
                <!--#end for#-->
            <!--#end for#-->
			
        </table>
		
    <!--#end if#-->
	
<!--#end if#-->

<!--#if not $have_feedparser#-->
    <p>
        <b>feedparser module missing<b>
    </p>
<!--#end if#-->


</div>


<!-- ****************************************** END CONTENT ****************************************** -->
		<div class="clear"></div>
		</div>
		<!-- End Content -->
	
	</div>
	<!-- End Container -->


</div>
<!-- End Page -->





</body>
</html>