<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



	<title>SABnzbd-$version "Nova" - Directories - Queued: $mbleft MB</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="" />
	<meta name="Copyright" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="robots" content="index,follow,noarchive,nosnippet" />
	<meta name="googlebot" content="index,follow,noarchive,nosnippet" />
	<meta name="description" content="SABnzbd Nova Theme by Orgnaix Design" />
	<meta name="keywords" content="SABnzbd theme, nova, orgnaix design" />
	
	
	<link rel="stylesheet" type="text/css" href="../../static/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/html.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/classes.css" />
	
	<link rel="shortcut icon" type="image/ico" href="../../static/images/favicon.ico" />
	
</head>
<body>



<div id="page">


	<div id="container">

	
		<div id="header">
			
			<div id="logo">
				
			</div>
	
			
			<div id="menu">
				<ul>
					<li id="first"><a href="../../" title="Downloads">Downloads</a></li>
					<li class="on"><a href="../../config" title="Config">Config</a></li>
					<li><a href="../../connections" title="Connections">Connections</a></li>
					<li><a href="http://sabnzbdplus.wiki.sourceforge.net/Configure+Email" target="_blank">Help</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<!-- End Header -->


		<div class="clear"></div>
		<div id="content">
<!-- ****************************************** BEGIN CONTENT ****************************************** -->
			
			
			<!-- Begin Sub Menu -->
			<span class="subMenu">
				<a href="../../config/general">General</a><a href="../../config/directories">Directories</a><a href="../../config/switches">Switches</a><a href="../../config/server">Servers</a><a href="../../config/scheduling">Scheduling</a><a href="../../config/rss">RSS</a><a href="../../config/email class="current"">Email</a>
			</span>



<h2>Email Notification</h2>
<form action="saveEmail" method="post">
<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>Email Options</legend>
<strong>End-of-job notifications:</strong><br>
Send email when job is completed.<br>
<input type="radio" name="email_endjob" value="0" <!--#if $email_endjob == 0 then "checked=1" else ""#--> /> No
<input type="radio" name="email_endjob" value="1" <!--#if $email_endjob > 0 then "checked=1" else ""#--> /> Yes
<br>
<br>
<strong>Disk full notifications:</strong><br>
Send email when disk is full and SABnzbd is paused.<br>
<input type="radio" name="email_full" value="0" <!--#if $email_full == 0 then "checked=1" else ""#--> /> No
<input type="radio" name="email_full" value="1" <!--#if $email_full > 0 then "checked=1" else ""#--> /> Yes
<br>
<br>
</fieldset>
</div>
<fieldset class="EntryFieldSet">
<legend>Email Account Settings</legend>
<strong>SMTP server:</strong><br>
Set your ISP's server for outgoing email.<br>
<input type="text" name="email_server" value=$email_server>
<br>
<br>
<strong>Email recipient:</strong><br>
Email address to send the email to.<br>
<input type="text" name="email_to" value=$email_to>
<br>
<br>
<strong>Email sender:</strong><br>
Who should we say sent the email?<br>
<input type="text" name="email_from" value=$email_from>
<br>
<br>
<strong>OPTIONAL: Account name:</strong><br>
For authenticated email, account name.<br>
<input type="text" name="email_account" value=$email_account>
<br>
<br>
<strong>OPTIONAL: Account password:</strong><br>
For authenticated email, password.<br>
<input type="password" name="email_pwd" value=$email_pwd>
</fieldset>
</div>
<p><input type="submit" value="Save Changes"></p>
</form>
<div class="footer">
<!-- ****************************************** END CONTENT ****************************************** -->
		<div class="clear"></div>
		</div>
		<!-- End Content -->
	
	</div>
	<!-- End Container -->


</div>
<!-- End Page -->





</body>
</html>