<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



	<title>SABnzbd-$version "Nova" - Connections - Queued: $mbleft MB</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="" />
	<meta name="Copyright" content="" />
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta name="robots" content="index,follow,noarchive,nosnippet" />
	<meta name="googlebot" content="index,follow,noarchive,nosnippet" />
	<meta name="description" content="SABnzbd Nova Theme by Orgnaix Design" />
	<meta name="keywords" content="SABnzbd theme, nova, orgnaix design" />
	
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/html.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/classes.css" />
	
	<link rel="shortcut icon" type="image/ico" href="../static/images/favicon.ico" />
	
</head>
<body>



<div id="page">


	<div id="container">

	
		<div id="header">
			
			<div id="logo">
				
			</div>
	
			
			<div id="menu">
				<ul>
					<li id="first"><a href="../" title="Downloads">Downloads</a></li>
					<li><a href="../config" title="Config">Config</a></li>
					<li class="on"><a href="../connections" title="Connections">Connections</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<!-- End Header -->


		<div class="clear"></div>
		<div id="content">
<!-- ****************************************** BEGIN CONTENT ****************************************** -->
			
			
			<span class="subMenu">
				<a href="../connections/disconnect" onclick="javascript:return confirm('Disconnect? \n\n This will temporarily disable SABnzbd downloading.')">Force Disconnect</a><a href="../shutdown" title="Terminates Session" onclick="javascript:return confirm('Shutdown Sabnzbd?\n\n This will shut down SABnzbd. You will have to restart SABnzbd to continue downloading.')">Shutdown SABnzbd</a>
                                <a href="./testmail" onclick="javascript:return confirm('This will send a test email to your account.')">Test Email</a>

			</span>
			
			## Makes mbleft and mb into usable variables
			<!--#set $mbleft2 = float($mbleft) #-->
			<!--#set $mb2 = float($mb) #-->
			<!--#set $diskspace1b = float($diskspace1) #-->
			<!--#set $diskspace1b = $diskspace1b * 1024 #-->
			
			##Turns space left to red if there is not much room left
			<!--#if $diskspace1b < $mbleft2 #-->
			<!--#set $spaceleftcss = "style='color:red;'" #-->
			<!--#else if $diskspace1b >= $mbleft2 #-->
			<!--#set $spaceleftcss = "" #-->
			<!--#end if#-->
			<!--#if $diskspace1b < $mbleft2 #-->
			<!--#set $spaceleftcss2 = "style='color: red;'" #-->
			<!--#else if $diskspace1b >= $mbleft2 #-->
			<!--#set $spaceleftcss2 = "" #-->
			<!--#end if#-->
			

			<!--#if $shutdown then "<div class=\"notice\">SHUTDOWN</div>" else ""#-->
			<!--#if $paused then "<div class=\"notice\">PAUSED</div>" else ""#-->
			
			<!--#if $diskspace1==$diskspace2 #-->
			<p>
				<strong>Free Space </strong> <span $spaceleftcss >$diskspace1 <small>GB</small></span>
			</p>
			<!--#else#-->
			<p>
				<strong>Download Dir. </strong> <span $spaceleftcss > <b>$diskspace1</b> <small>GB free</small></span>
			</p>
			<p>
				<strong>Complete Dir. </strong> <span $spaceleftcss2 > <b>$diskspace2</b> <small>GB free</small></span>
			</p>
			<!--#end if#-->
			
			<p>
				<strong>Download Speed </strong> $kbpersec kB/s<br />
			</p>
			<p>
				<strong>Remaining </strong> $mbleft / <small>$mb MB</small><br />
			</p>




			<!--#if $servers#-->
				<h2>Connections</h2>
				<ul>
				<!--#for $server in $servers#-->
					<li>$server[0]:$server[1]: $server[2]</li>
				<!--#end for#-->
				</ul>
			<!--#end if#-->
                        <!--#if $lastmail#-->
                            <h2>Email test result</h2>
                                $lastmail
                        <!--#endif#-->






<!-- ****************************************** END CONTENT ****************************************** -->
		<div class="clear"></div>
		</div>
		<!-- End Content -->
	
	</div>
	<!-- End Container -->


</div>
<!-- End Page -->





</body>
</html>