<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


	<title>SABnzbd-$version "Nova" - NZO - Queued: $mbleft MB</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	
	
	<link rel="stylesheet" type="text/css" href="../../static/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/html.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/classes.css" />
	


<script type='text/javascript'>
function mark_all()
{
    var s;
    var i=0;
    while(s = document.getElementsByTagName("input")[i++])
    {
        if(s.type=='checkbox')
        {
            s.checked=true;
        }
    }
}
</script>

<script type='text/javascript'>
function unmark_all()
{
    var s;
    var i=0;
    while(s = document.getElementsByTagName("input")[i++])
    {
        if(s.type=='checkbox')
        {
            s.checked=false;
        }
    }
}
</script>

<script type='text/javascript'>
function invert()
{
    var s;
    var i=0;
    while(s = document.getElementsByTagName("input")[i++])
    {
        if(s.type=='checkbox')
        {
            s.checked=!s.checked;
        }
    }
}
</script>

</head>
<body>









<form action="bulk_operation">



  
  
  <div class="barMenu">
  <b><a href="#" target="_blank" title="View Queue Page">Selection</a></b><a href='#' onclick='mark_all();' target='_self'>All</a><a href='#' onclick='unmark_all();' target='_self'>None</a><a href='#' onclick='invert();' target='_self'>Invert</a>
	</div>		
	<br /><br />
  <input type="submit" name="action_key" value="Delete" class="buttons">
  <input type="submit" name="action_key" value="Top" class="buttons">
  <input type="submit" name="action_key" value="Up" class="buttons">
  <input type="submit" name="action_key" value="Down" class="buttons">
  <input type="submit" name="action_key" value="Bottom" class="buttons">
  
  
  
	
  <table cellspacing="0" style="margin-top: 5px;">
  
      <thead><tr><th></th><th>Name</th><th>Size</th><th>Age</th></tr></thead>
	  
	  <tbody>
      <!--#set $oddLine = False#-->
      <!--#for $file in $active_files#-->
          <!--#set $oddLine = not $oddLine#-->
          <tr class="finished">
              <td><input type="checkbox" name="$file.nzf_id" <!--#if $file.checked then "checked" else ""#-->></td>
              <td><b>$file.filename</b></td>
              <td>$file.mb MB</td>
              <td>$file.age</td>
          </tr>
      <!--#end for#-->
	  </tbody>
	  
  </table>
  
  <br />
  <input type="submit" name="action_key" value="Delete" class="buttons">
  <input type="submit" name="action_key" value="Top" class="buttons">
  <input type="submit" name="action_key" value="Up" class="buttons">
  <input type="submit" name="action_key" value="Down" class="buttons">
  <input type="submit" name="action_key" value="Bottom" class="buttons">
  <br /><br />
  
</form>





</body>
</html>
