<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<title>SABnzbd-$version "Nova" - Queue - Queued: $mbleft MB</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="pragma" content="no-cache" />
	
	
	<link rel="stylesheet" type="text/css" href="../static/css/layout.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/html.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/classes.css" />

	<script type="text/javascript" src="../static/js/queue.js"></script>


</head>
<body onload="doit();">


<div class="barMenu"><b><a href="/sabnzbd/queue" target="_blank" title="View Queue Page">Queue</a></b><!--#if $paused then '<a href="../queue/resume">Resume</a>' else '<a href="../queue/pause">Pause</a>'#--><a href="../queue/sort_by_avg_age">Sort</a><a href="../queue/tog_verbose">Toggle verbosity</a><!--#if $nt#--><a href="../queue/tog_shutdown">Toggle Shutdown</a><!--#end if#--></div>

<!-- <span class="MainMenu">
<!--#if $shutdown then "<b>SHUTDOWN</b> - " else ""#--><b>Download Dir:</b> <span id="freedown">$diskspace1</span> GB - <b>Complete Dir:</b> <span id="freecomp">$diskspace2</span> GB - <b>Download speed:</b> <span id="speed">$kbpersec</span> KB/s - <b>Queued:</b> <span id="left">$mbleft</span>/<span id="total">$mb</span> MB <!--#if $paused then "- <b>PAUSED</b>" else ""#--></span>-->
	

	<!--#if $varExists('slotinfo')#-->
	
	<table cellspacing="0" id="queueTable">
	
	<colgroup>
		<col id="order" />
		<col id="name" />
		<col id="remaining" />
		<col id="postid" />
		<col id="mode" />
		<col id="delete" />
	</colgroup>
	
	<thead>
		<tr>
			<th>Order</th>
			<th>Name</th>
			<th>Remaining</th>
			<th>Time&nbsp;Left</th>
			<th>Hop</th>
			<th>Mode</th>
			<th>Drop</th>
		</tr>
	</thead>
	
	<tbody>
	
	
		<!--#set $odd = False#-->
		<!--#for $slot in $slotinfo#-->
		<!--#set $odd = not $odd#-->
		
		
		<tr class="<!--#if $odd then "odd" else "even"#-->">
			
			
			
			
			
		
			## CHANGE ORDER
			<td class="textCenter">
				<form>
					<select onchange="location = this.options[this.selectedIndex].value;">
					<!--#for $i in xrange($noofslots)#-->
						<option value="switch?uid1=$slot.nzo_id&uid2=$slotinfo[i].nzo_id" <!--#if $i == $slot.index then "selected" else ""#-->>$i</option>
					<!--#end for#-->
					</select>
				</form>
			</td>
			
			
			
			
			
			
			## FILE NAME w/ AGE (hover)
			<td>
				<a href="../queue/$slot.nzo_id/" title="View File Set for $slot.filename">
				<span id="name_$slot.nzo_id">
					<script type="text/javascript">
					var nzbpidchk = ("$slot.filename".substr(0,5));
						if (nzbpidchk=="msgid")
						{
							var strpinsfna="$slot.filename"
							var strpinsfna = strpinsfna.replace(/_/g," ");
							var strpinsfna = strpinsfna.replace(/.nzb/g,"");
							document.write(strpinsfna.substr(14))
						}
						else
						{
							var strpinsfnc="$slot.filename"
							var strpinsfnc = strpinsfnc.replace(/_/g," ");
							var strpinsfnc = strpinsfnc.replace(/.nzb/g,"");
							document.write(strpinsfnc)
						}
					</script>
				</span>
				</a>
			</td>
			
			
			
			
			
			
			
			## PROGRESS BAR AND MB LEFT
			<!--#set $mbleft2 = float($slot.mbleft) #-->
			<!--#set $mb2 = float($slot.mb) #-->
			<!--#if $mb2 > 0 #-->
			<!--#set $percentwidth = ($mb2 - $mbleft2) / $mb2 * 100 #-->
			<!--#set $percentwidth = int($percentwidth)#-->
			<!--#else if $mb2 == 0 #-->
			<!--#set $percentwidth = 0 #-->
			<!--#end if#-->
			
			<td class="textCenter">
				
				<!--#if float($slot.mb) > 0#-->
				<!--#set $pct = int((float($slot.mb)-float($slot.mbleft))/float($slot.mb)*100.0)#-->
				<!--#else#-->
				<!--#set $pct = 0#-->
				<!--#end if#-->
				
				<a href="#">
					<span class="tooltip">
						<b>ETA:</b> <span id="eta_$slot.nzo_id">$slot.eta</span><br />
						<b>Age:</b> <span id="age_$slot.nzo_id">$slot.avg_age</span>
					</span>
					<div class="queueBarOuter">
						<div class="queueBarInner" style="width: $pct%;" id="progress_$slot.nzo_id"></div>
					</div>
				</a>
				<div class="remainTotal">
				<b><span id="left_$slot.nzo_id">$slot.mbleft</span></b> mb 
				<small>of <span id="total_$slot.nzo_id">$slot.mb</span> mb</small>
				</div>
							
			</td>
			
			
			
			
			
			## TIME LEFT			
			<td class="textCenter">
            	<span id="timeleft_$slot.nzo_id"><img src="../static/images/hourglass.gif" /></span>
			</td>



			## "HOP" - POST ID
			<td class="textCenter">
				<span id="hop_$slot.nzo_id"><img src="../static/images/hourglass.gif" /></span>
			</td>
			
			
			
			
			
			
			
			## MODE
			<td class="textCenter">
				<form>
					<select onchange="location = this.options[this.selectedIndex].value;">
						<option value="change_opts?nzo_id=$slot.nzo_id&pp=0" <!--#if $slot.unpackopts == "0" then "selected" else ""#-->></option>
						<option value="change_opts?nzo_id=$slot.nzo_id&pp=1" <!--#if $slot.unpackopts == "1" then "selected" else ""#-->>R</option>
						<option value="change_opts?nzo_id=$slot.nzo_id&pp=2" <!--#if $slot.unpackopts == "2" then "selected" else ""#-->>U</option>
						<option value="change_opts?nzo_id=$slot.nzo_id&pp=3" <!--#if $slot.unpackopts == "3" then "selected" else ""#-->>D</option>
						<option value="change_opts?nzo_id=$slot.nzo_id&pp=4" <!--#if $slot.unpackopts == "4" then "selected" else ""#-->>RS</option>
						<option value="change_opts?nzo_id=$slot.nzo_id&pp=5" <!--#if $slot.unpackopts == "5" then "selected" else ""#-->>US</option>
						<option value="change_opts?nzo_id=$slot.nzo_id&pp=6" <!--#if $slot.unpackopts == "6" then "selected" else ""#-->>DS</option>
					</select>
				</form>
			</td>
			
			
			
			
			
			
			## DELETE
			<td class="textCenter">
				<form action="delete" method="get">
					<input type="hidden" value="$slot.nzo_id" name="uid" />
					<!-- <input type="image" src="../static/images/icon_drop.gif" value="X" onclick="javascript:return confirm('Remove from Queue?')" /> -->
					<input type="submit" value="X" />
				</form>
			</td>
			
			
			
		</tr>
			
			
			
			
			
			
			<!-- FOR VERBOCITY -->
			
			<!-- ********************** FINISHED ********************** -->
			
			<!--#set $oddLine = False#-->
			<!--#for $line in $slot.finished#--> 
				<!--#set $oddLine = not $oddLine#-->
				<tr class="finished">
					<td>Finished</td><td>$line.filename</td>
					<td>$line.mbleft/$line.mb MB</td>
					<td>$line.age</td>
					<td colspan="3">&nbsp;</td>
				</tr>
			<!--#end for#-->
			
			
			<!-- ********************** ACTIVE ********************** -->
			
			<!--#set $oddLine = False#-->
			<!--#for $line in $slot.active#--> 
				<!--#set $oddLine = not $oddLine#-->
				<tr class="active">
					<td><a href="../queue/removeNzf?nzo_id=$slot.nzo_id&nzf_id=$line.nzf_id">Remove</a></td>
					<td>$line.filename</td>
					<td>$line.mbleft/$line.mb MB</td>
					<td>$line.age</td>
					<td colspan="3">&nbsp;</td>
				</tr>
			<!--#end for#-->
			
			
			<!-- ********************** WAITING ********************** -->
			
			<!--#set $oddLine = False#-->
			<!--#for $line in $slot.queued#--> 
				<!--#set $oddLine = not $oddLine#-->
				<tr class="waiting">
					<td>Waiting</td>
					<td>$line.filename (set: $line.set)</td>
					<td>$line.mbleft/$line.mb MB<td>$line.age</td>
					<td colspan="3">&nbsp;</td>
				</tr>
			<!--#end for#-->
			<!--#end for#-->
		
		
		
			<!-- END FOR VERBOCITY -->
			
			
		

		</tbody>
	</table>
	<!--#end if#-->
	



<!-- 
SABNZBDJSON
{
	"uptime": "$uptime",
	"freedown": $diskspace1,
	"freecomp": $diskspace2,
	"speed": $kbpersec,
	"left": $mbleft,
	"total": $mb,
	"paused": "$paused",
	"shutdown": "$shutdown",
	
	"jobs": [
	<!--#if $varExists('slotinfo')#-->
	<!--#for $slot in $slotinfo#-->
	{"id": "$slot.nzo_id", "name": "$slot.filename", "left": $slot.mbleft, "total": $slot.mb, "eta": "$slot.eta", "age": "$slot.avg_age"},
	
	<!--#end for#-->
	<!--#end if#-->]
}
-->


</body>
</html>