body {
	font-size:13px;
	font-family: sans-serif;
	background:#DEDEAF;
	padding-left:5%;
    padding-right:5%;
    padding-bottom:10px;
	text-align:center;
}

#page {
	/*background-color: #ccc;*/
	/*margin:30px;*/
	border: 1px solid #000;
	text-align:left;
    padding:8px;
    background-color: #fff;
}

#inner {
	background-color: #fff;
	padding:4px 32px 20px 32px;
	/*margin:5px;*/
	border: 1px dotted #999966;
}
#content {
    min-height:520px;
}

#logo {
	float:center;
	/*margin-top:30px;*/
	z-index:40;
    margin-bottom:-40px;
}

hr {
    color:#fff;
    background-color:#fff;
	border: 1px dotted #ccc;
    border-style:none none dotted;
}

.container { 
	width:700px;
	margin: 0px auto;
}

.language {
	width:175px;
	text-align: center;
	float: left;
}

.float {
	float:left;
}

.clear {
	clear: left;
}

.inline{display:inline;}


.quoteBlock {
    padding:5px;
    border: 1px dotted #000;
    background-color:#f5f5f5;
}

.success {
    color:green;
}

.failed {
    color:red;
}

#serverBlock {
    width:300px;
    float:right;
}

#rightGreyText {
    color:#ccc;
    width:100%;
    text-align:right;
    padding-top:3px;
    font-style:italic;
}

.indented {
    padding-left:10px;
}


.label {
	text-align: left;
	width: 100px;
	padding-right: 20px;
    padding-left:10px;
}

#serverDetails .label{
	display: block;
	width: 100px;
	float: left;
	margin-bottom: 15px;
}
#serverDetails input {
    /*width: 150px;*/
}

.sup {
    vertical-align: sup !important;

}

h2 {
    /*display:inline;*/
}

h1,h2 {
    display:inline;
}

.align-right {
    text-align:right;
}

.align-center {
    text-align:center;
}
.float-center {
    float:center;
}

.unselected {
    padding:1px 5px 1px 5px;
    border: 1px solid red;
    margin-left:8px;
    margin-right:8px;
    color:red;
}

.selected {
    padding:1px 5px 1px 5px;
    color: white;
    background-color:red;
    border: 1px solid red;
    margin-left:8px;
    margin-right:8px;
}

.bigger {
    font-size:14px;
}

.padded {
    padding:12px;
}

.bigger input {
    font-size:16px;
}

.required-star {
    color:red;
}

.full-width {
    width:100%;
}

.bigbutton {
    font-size:18px !important;
}

.bold {
    font-weight:bold;
}

.correct {
    border: 2px solid #00cc22;
}

.incorrect {
    border: 2px solid red;
}

.hidden {
    display:none !important;
}

.text-input{
    width:130px;
}
.text-input-wide{
    width:230px;
}
.text-input-thin{
    width:50px;
}
/*Fix for inputs messing up when adding a class in chrome */
.clearinput
{
    margin-bottom:6px;
}

.disabled-text {
    text-decoration: line-through;
    color:#ccc;
}

#serverQuote{
    width:100%;
    height:16px;
    display:inline;
}

.skin-select {
    height:190px;
}

.skin-select img{
    cursor: pointer;
}

.skin-select-plush img{
    margin-top:30px;
}

.tips {
    display:inline;
    font-style:italic;
    color:#888;
}

.error-text {
    display:inline;
    color:red;
}
