<script type="text/javascript" src="../../static/MochiKit/MochiKit.js"></script>
<script type="text/javascript">
MochiKit.DOM.addLoadEvent(location = "../../#config-rss");
</script>
<h2>RSS Configuration</h2>
<!--#if $have_feedparser#-->

<div class="EntryBlock" id="add_rss_feed">
<fieldset class="EntryFieldSet">
<legend>New feed URI</legend>

    <input type="text" size="120" name="uri" value=""/><br/><br/>
    <input type="submit" value="Save" onclick="javascript:submitconfig('config/rss/add_rss_feed', '','add_rss_feed', '1')"   />
</fieldset>
</form>
</div>

<!--#for $uri in $rss#-->
<fieldset class="EntryFieldSet">
    <legend>Feed Definition</legend>
    <hr />
    <div class="EntryBlock" id="update_$uri">

        <fieldset class="EntryFieldSet">
            <legend>Feed URI</legend>

            <input type="text" size="120" name="uri" value="$uri"/><br/><br/>

            <!--#if $rss[$uri]['pick_cat']#-->
                <select name="cat">
                <!--#for $ct in $cat_list#-->
                    <option value="$ct" <!--#if $ct == $rss[$uri]['cat'] then "selected" else ""#-->>$ct</option>
                <!--#end for#-->
                </select>
            <!--#end if#-->
            <!--#if $rss[$uri]['pick_pp']#-->
                <select name="pp">
                    <option value="0" <!--#if $rss[$uri]['pp'] == "0" then 'selected' else ''#-->>None</option>
                    <option value="1" <!--#if $rss[$uri]['pp'] == "1" then 'selected' else ''#-->>+Repair</option>
                    <option value="2" <!--#if $rss[$uri]['pp'] == "2" then 'selected' else ''#-->>+Unpack</option>
                    <option value="3" <!--#if $rss[$uri]['pp'] == "3" then 'selected' else ''#-->>+Delete</option>
                </select>
            <!--#end if#-->

            <input type="hidden" name="this_uri" value="$uri">
            <input type="submit" value="Save" onclick="javascript:submitconfig('config/rss/upd_rss_feed', '','update_$uri','1' )"/>
            <input type="submit" onclick="javascript:submitconfig('config/rss/del_rss_feed', '','update_$uri','1' )" value="Delete"/>
            <input type="submit" onClick="rssUrlEncode('./config/rss/query_rss_feed', '$uri','$rss[$uri]['cat']')" value="Query"/>
            <input type="submit" onClick="rssUrlEncode('./config/rss/rematch_rss_feed', '$uri','$rss[$uri]['cat']')" value="Rematch/Show"/>
            <!--#if $rss[$uri]['enable']#-->
                <input type="submit" onclick="javascript:submitconfig('config/rss/disable_rss_feed', '','update_$uri','1' )" value="Stop"/>
            <!--#else#-->
                <input type="submit" onclick="javascript:submitconfig('config/rss/enable_rss_feed', '','update_$uri','1' )" value="Start/Download"/>
            <!--#end if#-->
        </fieldset>

    </div>
    <br/>

    <table id="rssTable">
        <tr>
            <th></th>
            <th>Order</th>
            <th>Type</th>
            <th>Filter</th>
            <!--#if $rss[$uri]['pick_cat'] then "<th>Category</th>" else ""#-->
            <!--#if $rss[$uri]['pick_pp'] then "<th>Mode</th>" else ""#-->
            <th></th>
        </tr>

        <tr class="odd" id="new_filter">
        <td></td>
        <td></td>
        <td>
            <select name="filter_type">
                <option value="A" selected /> Accept</option>
                <option value="R" /> Reject</option>
            </select>
        </td>
        <td><input type="text" size="40" name="filter_text" value=""></td>
        <!--#if $rss[$uri]['pick_cat']#-->
          <td>
            <select name="cat">
            <!--#for $ct in $cat_list#-->
                <option value="$ct" <!--#if $ct == $rss[$uri]['cat'] then "selected" else ""#-->>$ct</option>
            <!--#end for#-->
            </select>
          </td>
        <!--#end if#-->
        <!--#if $rss[$uri]['pick_pp']#-->
          <td>
            <select name="pp">
                <option value="0" <!--#if $rss[$uri]['pp'] == "0" then 'selected' else ''#-->>None</option>
                <option value="1" <!--#if $rss[$uri]['pp'] == "1" then 'selected' else ''#-->>+Repair</option>
                <option value="2" <!--#if $rss[$uri]['pp'] == "2" then 'selected' else ''#-->>+Unpack</option>
                <option value="3" <!--#if $rss[$uri]['pp'] == "3" then 'selected' else ''#-->>+Delete</option>
            </select>
          </td>
        <!--#end if#-->
        <input type="hidden" value="$rss[$uri]['filtercount']" name="index">
        <input type="hidden" value="$uri" name="uri">
        <td><input type="submit" value="Save"  onclick="javascript:submitconfig('config/rss/upd_rss_filter', '','new_filter','1' )"></td>
        </tr>


    <!--#for $filter in $rss[$uri].filters#-->
        <tr class="odd" id="slot_$filter[3]">
        <td>
            <input type="submit" value="X" onclick="javascript:lr('config/rss/del_rss_filter','index=$filter[3]&uri=$uri'" />
        </td>

        <td>
        <select onChange="javascript:changequeuedetails('config/rss/'+this.options[this.selectedIndex].value);">
        <!--#for $i in xrange($rss[$uri]['filtercount'])#-->
            <option value="pos_rss_filter?uri=$uri&current=$filter[3]&new=$i" <!--#if $i == $filter[3] then "selected" else ""#-->>$i</option>
        <!--#end for#-->
        </select>
        </td>


        <td>
        <select name="filter_type">
            <option value="A" <!--#if $filter[1] == "A" then "selected" else ""#--> /> Accept</option>
            <option value="R" <!--#if $filter[1] == "R" then "selected" else ""#--> /> Reject</option>
        </select>
        </td>

        <td><input type="text" size="40" name="filter_text" value="$filter[2]"/></td>
        <!--#if $rss[$uri]['pick_cat']#-->
          <td>
            <select name="cat">
            <!--#for $ct in $cat_list#-->
                <option value="$ct" <!--#if $ct == $filter[0] then "selected" else ""#-->>$ct</option>
            <!--#end for#-->
            </select>
          </td>
        <!--#end if#-->
        <!--#if $rss[$uri]['pick_pp']#-->
          <td>
            <select name="pp">
                <option value="0" <!--#if $filter[0] == "0" then 'selected' else ''#-->>None</option>
                <option value="1" <!--#if $filter[0] == "1" then 'selected' else ''#-->>+Repair</option>
                <option value="2" <!--#if $filter[0] == "2" then 'selected' else ''#-->>+Unpack</option>
                <option value="3" <!--#if $filter[0] == "3" then 'selected' else ''#-->>+Delete</option>
            </select>
          </td>
        <!--#end if#-->
        <td>
        <input type="hidden" name="index" value="$filter[3]"/>
        <input type="hidden" name="uri" value="$uri"/>
        <input type="submit" value="Save" onclick="javascript:submitconfig('config/rss/upd_rss_filter', '','slot_$filter[3]','1' )"/>
        </td>

        </tr>
    <!--#end for#-->

    </table>
    </fieldset>
    <br class="clear" /> <br class="clear" />
<!--#end for#-->

<!--#else#-->
    <p>
        <b>feedparser module missing<b>
    </p>
<!--#end if#-->


