
<a href="http://sabnzbdplus.wiki.sourceforge.net/Configure+RSS" id="help">Help</a><h3>EXPERIMENTAL RSS Configuration</h3>
<!--#if $have_feedparser#-->
<div class="EntryBlock">
  <form class="cmxform" >
    <fieldset class="EntryFieldSet">
    <legend>RSS feed settings</legend>
<hr />
	
			
      <label>RSS-Feed URI:</label>
      <input type="text" size="100" name="uri">
 		<br class="clear" />
		     
      <label>Text Filter:</label>  
      <input type="text" size="100" name="text_filter">
      <span class="tips">(Basic) text based filter. A single '*' matches everything.</span>
      
 		<br class="clear" />
		     
      <label>Regex Filter:</label>

      
      <input type="text" size="100" name="re_filter">
       <span class="tips">Regular Expression filter. Overwrites text filter.</span>     
      
 		<br class="clear" />
		     
      <label>Match Multiple:</label>

      
      <input class="radio" type="radio" name="match_multiple" value="0"> No
      <input class="radio" type="radio" name="match_multiple" value="1" checked=1> Yes
       <span class="tips">Match this filter more than once?</span>
      
 		<br class="clear" />
		     
      <label>Unpack Opts:</label>
      <input class="radio" type="radio" name="unpack_opts" value="0"> None
      <input class="radio" type="radio" name="unpack_opts" value="1" checked=1> +Repair
      <input class="radio" type="radio" name="unpack_opts" value="2"> +Unpack
      <input class="radio" type="radio" name="unpack_opts" value="3"> +Delete
      <input class="radio" type="radio" name="unpack_opts" value="4"> Repair+Script
      <input class="radio" type="radio" name="unpack_opts" value="5"> Unpack+Script
      <input class="radio" type="radio" name="unpack_opts" value="6"> Delete+Script
      
   

    </fieldset><br class="clear" />
      <input type="button" size="40" value="Add" onclick="javascript:submitconfig('config/rss/add_rss_feed', 'submitstatus')">
<span class="submitstatus" id="submitstatus"></span>
  </form>
</div>
<br class="clear" />

    <!--#if $varExists('uris') and $uris#-->
        <table>
            <tr><th></th><th>URL/Match Name</th></tr>
            <!--#set $odd = False#-->
            <!--#for $uri in $uris#-->
                <!--#set $odd = not $odd#-->
                <tr class="<!--#if $odd then "odd" else "even"#-->">
                    <td><a onClick="lrdual('config/rss/del_rss_feed?uri_id=$str($id($uri))', 'config/rss','0');">Remove</a></td>
                    <td>$uri</td>
                </tr>
                <!--#set $oddLine = False#-->
                <!--#for $filter in $uri_table[$uri][0]#-->
                    <!--#set $oddLine = not $oddLine#-->
                    <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
                        <td><a onClick="lrdual('config/rss/del_rss_filter?uri_id=$str($id($uri))&filter_id=$str($id($filter))', 'config/rss','0');">Remove</a></td>
                        <td>Filter: $filter[0]</td>
                    </tr>
                    <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
                        <td></td>
                        <td>Unpack-opts: $filter[1]</td>
                    </tr>
                    <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
                        <td></td>
                        <td>Match Multiple: $filter[2]</td>
                    </tr>
                <!--#end for#-->
            <!--#end for#-->
        </table>
    <!--#end if#-->
<!--#end if#-->
<!--#if not $have_feedparser#-->
    <p>
        <label>feedparser module missing<label>
    </p>
<!--#end if#-->