
<a href="$helpuri/Configure+General" id="help">Help</a><h3>General configuration</h3>
<form class="cmxform">

<fieldset class="EntryFieldSet">
<legend>Web server</legend>
<hr />


			<label for "host">Host:</label>
			<input type="text" name="host" value=$host>
			<span class="tips">Host SABnzbd should listen on.</span>
		<br class="clear" />

			<label for "port">Port:</label>
			<input type="text" name="port" value=$port>
			<span class="tips">Post SABnzbd should listen on.</span>
		<br class="clear" />

			<label for "webuser">Web username:</label>
			<input type="text" name="web_username" value=$username>
			<span class="tips">Authentication Username.</span>
		<br class="clear" />

			<label for "webpass">Web password:</label>
			<input type="password" name="web_password" value=$password>
			<span class="tips">Authentication Password.</span>
		<br class="clear" />

			<label for "userinterface">Main Skin:</label>

			<select name="web_dir" id="webdir" class="select">
			    <!--#for $webline in $web_list#-->
			        <!--#if $webline.lower() == $web_dir.lower()#-->
			            <option value="$webline" selected>$webline</option>
			        <!--#else#-->
			            <option value="$webline">$webline</option>
			        <!--#end if#-->
			    <!--#end for#-->
			</select>
			<span class="tips">Choose a user interface (restart required!).</span>
		<br class="clear" />
        
            <!--#if $web_colors#-->
            <label for "colorscheme">Color schema:</label>
            <select name="web_color" class="select">
                <!--#for $webline in $web_colors#-->
                    <!--#if $webline.lower() == $web_color.lower()#-->
                        <option value="$webline" selected>$webline</option>
                    <!--#else if not $web_color.lower() and $webline.lower() == 'white'#-->
                        <option value="$webline" selected>$webline</option>
                    <!--#else#-->
                        <option value="$webline">$webline</option>
                    <!--#end if#-->
                <!--#end for#-->
            </select>
            <span class="tips">Choose a color scheme for the current interface.</span>
            <!--#end if#-->
            <br class="clear" />
            
			<label for "userinterface">Secondary Skin:</label>

			<select name="web_dir2" id="webdir2" class="select">
			    <!--#for $webline in $web_list2#-->
			        <!--#if $webline.lower() == $web_dir2.lower()#-->
			            <option value="$webline" selected>$webline</option>
			        <!--#else#-->
			            <option value="$webline">$webline</option>
			        <!--#end if#-->
			    <!--#end for#-->
			</select>
			<span class="tips">Choose a secondary user interface (restart required!). Located at /sabnzbd/m/</span>
		<br class="clear" />

</fieldset>

<fieldset class="EntryFieldSet">
<legend>Tuning</legend>
<hr />


			<label for "qrefresh">Queue auto refresh interval:</label>

			<input type="text" name="refresh_rate" value="$refresh_rate">
			<span class="tips">Refresh interval of the queue web-interface page(sec, 0= none)</span>
		<br class="clear" />

			<label for "rsscheck">RSS checking interval:</label>

			<input type="text" name="rss_rate" value="$rss_rate">
			<span class="tips">Checking interval (minutes, at least 15))</span>
		<br class="clear" />

			<label for "bandwidth limit">Download Speed Limit:</label>
			<input type="text" name="bandwith_limit" value="$bandwith_limit">
			<span class="tips">Download speed limit in kilobytes per second(kB/s).</span>
		<br class="clear" />

			<label for "cachelimit">Article Cache Limit:</label>
			<input type="text" name="cache_limitstr" value="$cache_limitstr">
			<span class="tips">Cache articles in memory (reduce disk access).</span>
		<br class="clear" />

			<label for "cleanuplist">Cleanup List:</label>

			<input type="text" name="cleanup_list" value="$cleanup_list">
			<span class="tips">List of file (extensions) that should be deleted after download.
			For example: ".nfo," or ".nfo, .sfv"</span>
		<br class="clear" />


</fieldset>


<p>

<input type="button" size="40" value="Save Changes" onclick="javascript:submitconfig('config/general/saveGeneral', 'submitstatus')">
<span class="submitstatus" id="submitstatus"></span>
</p>
</form>
