<a href="$helpuri/Configure+Newzbin" id="help">Help</a><h3>Newzbin settings</h3>
<form class="cmxform" >

If you have an account at v3.newzbin.com, you can enter your account info here.<br/>
This will unlock extra functionality.<br/>
<br/>
<div class="EntryBlock">


<fieldset class="EntryFieldSet">
<legend>Account info</legend>
 <hr />
            <label>Username:</label>
            <input type="text" name="username_newzbin" value="$username_newzbin">
            <span class="tips">Set your username here.</span>
        <br class="clear" />


            <label>Password:</label>
            <input type="password" name="password_newzbin" value="$password_newzbin">
            <span class="tips">Set your password here.</span>
        <br class="clear" />
</fieldset>


<fieldset class="EntryFieldSet">
<legend>Bookmark processing</legend>
 <hr />
            <label>Auto fetch bookmarks:</label>
            <input class="radio" type="radio" name="newzbin_bookmarks" value="0" <!--#if $newzbin_bookmarks == 0 then "checked=1" else ""#--> /> No
            <input class="radio" type="radio" name="newzbin_bookmarks" value="1" <!--#if $newzbin_bookmarks > 0 then "checked=1" else ""#--> /> Yes
            <span class="tips">Automatically get jobs from your bookmarks?</span>
        <br class="clear" />

            <label>Un-bookmark if download complete:</label>
            <input class="radio" type="radio" name="newzbin_unbookmark" value="0" <!--#if $newzbin_unbookmark == 0 then "checked=1" else ""#--> /> No
            <input class="radio" type="radio" name="newzbin_unbookmark" value="1" <!--#if $newzbin_unbookmark > 0 then "checked=1" else ""#--> /> Yes
            <span class="tips">Remove from bookmark list, when download is complete.</span>
        <br class="clear" />

            <label>Checking interval:</label>
            <input type="text" name="bookmark_rate" value="$bookmark_rate">
            <span class="tips">In minutes (at least 15 min).</span>
        <br class="clear" />
</fieldset>


<!--#if $bookmarks_list#-->
<fieldset class="EntryFieldSet">
<legend>Processed bookmarks</legend>
 <hr />
             <!--#for $msgid in $bookmarks_list#-->
                <a href="https://v3.newzbin.com/browse/post/$msgid/" target="_blank">$msgid</a>&nbsp;
            <!--#end for#-->
        <br class="clear" />
</fieldset>
<!--#end if#-->


</div>
<p><input type="button" size="40" value="Save Changes" onclick="javascript:submitconfig('config/newzbin/saveNewzbin', 'submitstatus')">
<span class="submitstatus" id="submitstatus"></span></p><br class="clear" />
<a class="config" onClick="getBookmarks();">Get bookmarks now</a>
<!--#if $bookmarks_list#-->
    <a class="config" onClick="lr('config/newzbin/hideBookmarks');">Hide processed bookmarks</a>
<!--#else#-->
    <a class="config" onClick="lr('config/newzbin/showBookmarks');">Show processed bookmarks</a>
<!--#end if#-->
</form>
