
<a href="${helpuri}Configure+Switches" id="help">Help</a>
<h3>$T('switchesConfig')</h3>
<div class="EntryBlock">
    <form id="configSwitches" class="cmxform">
  <fieldset class="EntryFieldSet">
  <legend>$T('processingSwitches')</legend>
 <hr />
			<label><span class="label">$T('opt-quick_check'):</span>
		    <input class="radio" type="checkbox" name="quick_check" value="1" <!--#if $quick_check > 0 then 'checked="1"' else ""#--> /></label>
		    <span class="tips">$T('explain-quick_check')</span>
 		<br class="clear" />

		    <label><span class="label">$T('opt-enable_unrar'):</span>
		    <input class="radio" type="checkbox" name="enable_unrar" value="1" <!--#if $enable_unrar == 1 then 'checked="1"' else ""#--> />
			<span class="tips">$T('explain-enable_unrar')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-enable_unzip'):</span>
		    <input class="radio" type="checkbox" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-enable_unzip')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-enable_filejoin'):</span>
		    <input class="radio" type="checkbox" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-enable_filejoin')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-enable_tsjoin'):</span>
		    <input class="radio" type="checkbox" name="enable_tsjoin" value="1" <!--#if $enable_tsjoin > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-ts_join')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-enable_par_cleanup'):</span>
		    <input class="radio" type="checkbox" name="enable_par_cleanup" value="1" <!--#if $enable_par_cleanup > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-enable_par_cleanup')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-fail_on_crc'):</span>
		    <input class="radio" type="checkbox" name="fail_on_crc" value="1" <!--#if $fail_on_crc > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-fail_on_crc')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-top_only'):</span>
		    <input class="radio" type="checkbox" name="top_only" value="1" <!--#if $top_only > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-top_only')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-safe_postproc'):</span>
		    <input class="radio" type="checkbox" name="safe_postproc" value="1" <!--#if $safe_postproc > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-safe_postproc')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-no_dupes'):</span>
		    <input class="radio" type="checkbox" name="no_dupes" value="1" <!--#if $no_dupes > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-no_dupes')</span></label>
		<br class="clear" />

		    <span class="label">$T('opt-dirscan_opts'):</span>
		    <input class="radio" type="radio" name="dirscan_opts" value="0" <!--#if $dirscan_opts == 0 then 'checked="1"' else ""#--> /> $T('none')
		    <input class="radio" type="radio" name="dirscan_opts" value="1" <!--#if $dirscan_opts == 1 then 'checked="1"' else ""#--> /> $T('pp-repair')
		    <input class="radio" type="radio" name="dirscan_opts" value="2" <!--#if $dirscan_opts == 2 then 'checked="1"' else ""#--> /> $T('pp-unpack')
		    <input class="radio" type="radio" name="dirscan_opts" value="3" <!--#if $dirscan_opts == 3 then 'checked="1"' else ""#--> /> $T('pp-delete')
		    <span class="tips">$T('explain-dirscan_opts')</span>
		<br class="clear" />

		    <span class="label">$T('opt-dirscan_script'):</span>
            <select name="dirscan_script" id="dirscan_script" class="select">
            <!--#for $sc in $script_list#-->
                <!--#if $sc.lower() == $dirscan_script.lower()#-->
                    <option value="$sc" selected>$sc</option>
                <!--#else#-->
                    <option value="$sc">$sc</option>
                <!--#end if#-->
            <!--#end for#-->
            </select>
		    <span class="tips">$T('explain-dirscan_script')</span>
		<br class="clear" />

		    <span class="label">$T('opt-dirscan_priority'):</span>
            <select name="dirscan_priority" id="dirscan_priority" class="select">
                <option value="2" <!--#if $dirscan_priority == 2 then 'selected' else ''#--> >$T('pr-force')</option>
                <option value="1" <!--#if $dirscan_priority == 1 then 'selected' else ''#--> >$T('pr-high')</option>
                <option value="0" <!--#if $dirscan_priority == 0 then 'selected' else ''#--> >$T('pr-normal')</option>
                <option value="-1" <!--#if $dirscan_priority == -1 then 'selected' else ''#--> >$T('pr-low')</option>
        </select>
		    <span class="tips">$T('explain-dirscan_priority')</span>
		<br class="clear" />

		    <span class="label">$T('opt-par_option'):</span>
		    <input type="text" name="par_option" value="$par_option"/>
		    <span class="tips">$T('explain-par_option')</span></label>
		<br class="clear" />

    <!--#if $have_nice#-->
		    <span class="label">$T('opt-nice'):</span>
		    <input type="text" name="nice" value="$nice"/>
		    <span class="tips">$T('explain-nice')</span></label>
		<br class="clear" />
    <!--#end if#-->

    <!--#if $have_ionice#-->
		    <span class="label">$T('opt-ionice'):</span>
		    <input type="text" name="ionice" value="$ionice"/>
		    <span class="tips">$T('explain-ionice')</span></label>
		<br class="clear" />
    <!--#end if#-->

</fieldset>
<fieldset class="EntryFieldSet">
	<legend>$T('otherSwitches')</legend>
<hr />


		    <label><span class="label">$T('opt-auto_disconnect'):</span>
		    <input class="radio" type="checkbox" name="auto_disconnect" value="1" <!--#if $auto_disconnect > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-auto_disconnect')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-send_group'):</span>
		    <input class="radio" type="checkbox" name="send_group" value="1" <!--#if $send_group > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-send_group')</span></label>
		<br class="clear" />

		    <label><span class="label">$T('opt-auto_sort'):</span>
		    <input class="radio" type="checkbox" name="auto_sort" value="1" <!--#if $auto_sort > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-auto_sort')</span></label>
 		<br class="clear" />

			<label><span class="label">$T('opt-check_new_rel'):</span>
		    <input class="radio" type="checkbox" name="check_new_rel" value="1" <!--#if $check_new_rel > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-check_new_rel')</span></label>
 		<br class="clear" />

			<label><span class="label">$T('opt-replace_spaces'):</span>
		    <input class="radio" type="checkbox" name="replace_spaces" value="1" <!--#if $replace_spaces > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-replace_spaces')</span></label>
 		<br class="clear" />

			<label><span class="label">$T('opt-replace_illegal'):</span>
		    <input class="radio" type="checkbox" name="replace_illegal" value="1" <!--#if $replace_illegal > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-replace_illegal')</span></label>
 		<br class="clear" />

			<label><span class="label">$T('opt-auto_browser'):</span>
		    <input class="radio" type="checkbox" name="auto_browser" value="1" <!--#if $auto_browser > 0 then 'checked="1"' else ""#--> />
		    <span class="tips">$T('explain-auto_browser')</span></label>
 		<br class="clear" />

			<label><span class="label">$T('opt-pause_on_post_processing'):</span>
		    <input class="radio" type="checkbox" name="pause_on_post_processing" value="1" <!--#if $pause_on_post_processing > 0 then 'checked="1"' else ""#--> /></label>
		    <span class="tips">$T('explain-pause_on_post_processing')</span>
 		<br class="clear" />

			<span class="label">$T('opt-ignore_samples'):</span>
		    <input class="radio" type="radio" name="ignore_samples" value="0" <!--#if $ignore_samples == 0 then 'checked="1"' else ""#--> /> $T('igsam-off')
		    <input class="radio" type="radio" name="ignore_samples" value="1" <!--#if $ignore_samples == 1 then 'checked="1"' else ""#--> /> $T('igsam-del')
		    <input class="radio" type="radio" name="ignore_samples" value="2" <!--#if $ignore_samples == 2 then 'checked="1"' else ""#--> /> $T('igsam-not')
            <span class="tips">$T('explain-ignore_samples')</span>
 		<br class="clear" />

		    <span class="label">$T('opt-ssl_type'):</span>
            <select name="ssl_type" id="ssl_type" class="select">
                <option value="v23" <!--#if $ssl_type == "v23" then 'selected' else ''#--> >V23</option>
                <option value="v2"  <!--#if $ssl_type == "v2"  then 'selected' else ''#--> >V2</option>
                <option value="v3"  <!--#if $ssl_type == "v3"  then 'selected' else ''#--> >V3</option>
            </select>
    		    <span class="tips">$T('explain-ssl_type')</span>
		<br class="clear" />

 </fieldset>


<p>
	<input type="button" size="40" value="$T('button-saveChanges')" onclick="javascript:submitconfig('config/switches/saveSwitches', this, 'configSwitches')">
</p>
</form>
</div>
