<a href="${helpuri}Configure+Scheduling+V2" id="help">Help</a>
<h3>$T('configSchedule')</h3>
<div class="EntryBlock">
<form class="cmxform" id="schedule">
<fieldset class="EntryFieldSet">
<legend>$T('addSchedule')</legend>
 <hr />
 <br class="clear" />
 <%import time
t = time.localtime()
hour = t[3]
if hour != 23:
    hour += 1
else:
    hour = 0 %>
<label class="label">Hour:Minute:</label>
<select name="hour">
<!--#for $i in range(24)#-->
<option value="$i" <!--#if hour == i then "selected=1" else ""#-->> $i</option>
<!--#end for#-->
</select>
:
<select name="minute">
<!--#for $i in range(60)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<br class="clear" />
<label class="label">$T('sch-frequency'):</label>
<select name="dayofweek">
<option value="*" selected>$T('daily')
<option value="1">$T('monday')
<option value="2">$T('tuesday')
<option value="3">$T('wednesday')
<option value="4">$T('thursday')
<option value="5">$T('friday')
<option value="6">$T('saturday')
<option value="7">$T('sunday')
</select>
<br class="clear" />
<label class="label">$T('sch-action'):</label>
<select name="action">
<!--#for $action in $actions#-->
    <option value="$action">$actions_lng[$action]
<!--#end for#-->
</select>
<br class="clear" />
<label class="label">$T('sch-arguments'):</label>
<input class="schedulesubmit" type="text" size="20" name="arguments" value="">
<br class="clear" />
<p>
	<input type="button" size="40" value="$T('button-addSchedule')" onclick="javascript:submitconfig('config/scheduling/addSchedule', this,'schedule', 'config/scheduling','0')">
</p>
</fieldset>
</form>
</div>
<h3>$T('currentSchedules'):</h3><br />
<div class="EntryBlock">
<!--#set $schednum = 0#-->
<!--#for $line in $schedlines#-->
<form id="$line">
<input class="schedulesubmit" type="button" size="5" value="$T('button-x')" onclick="javascript:submitconfig('config/scheduling/delSchedule', '', '$line', 'config/scheduling','0')">
$T('sch-task') $taskinfo[$schednum][0]: <strong>$taskinfo[$schednum][1]:$taskinfo[$schednum][2]</strong> - $taskinfo[$schednum][3] - $taskinfo[$schednum][4]
<input type="hidden" name="line" value="$line">
<!--#set $schednum = $schednum+1#-->

</form>
<!--#end for#-->
</div>
