
<a href="$helpuri/Configure+Switches" id="help">Help</a><h3>Configuration switches</h3>
<div class="EntryBlock">
    <form id="configSwitches" class="cmxform">
  <fieldset class="EntryFieldSet">
  <legend>Processing</legend>
 <hr />
			<label><span class="label">Enable Quick Check:</span>
		    <input class="radio" type="checkbox" name="quick_check" value="1" <!--#if $quick_check > 0 then "checked=1" else ""#--> /></label>
		    <span class="tips">Skip par2 checking when files are 100% valid.</span>
 		<br class="clear" />

		    <label><span class="label">Enable Unrar:</span>
		    <input class="radio" type="checkbox" name="enable_unrar" value="1" <!--#if $enable_unrar == 1 then "checked=1" else ""#--> />
			<span class="tips">Enable built-in unrar functionality.</span></label>
		<br class="clear" />

		    <label><span class="label">Enable Unzip:</span>
		    <input class="radio" type="checkbox" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then "checked=1" else ""#--> /> 
		    <span class="tips">Enable built-in unzip functionality.</span></label>
		<br class="clear" />

		    <label><span class="label">Enable Filejoin:</span>
		    <input class="radio" type="checkbox" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then "checked=1" else ""#--> />
		    <span class="tips">Join files ending in .001 .002 ect into one file.</span></label>
		<br class="clear" />
        
		    <label><span class="label">Enable TS Joining:</span>
		    <input class="radio" type="checkbox" name="enable_tsjoin" value="1" <!--#if $enable_tsjoin > 0 then "checked=1" else ""#--> />
		    <span class="tips">Join files ending in .001.ts .002.ts ect into one file.</span></label>
		<br class="clear" />

		    <label><span class="label">Enable Par Cleanup:</span>
		    <input class="radio" type="checkbox" name="enable_par_cleanup" value="1" <!--#if $enable_par_cleanup > 0 then "checked=1" else ""#--> />
		    <span class="tips">Cleanup par files (if verifiying/repairing succeded).</span></label>
		<br class="clear" />

		    <label><span class="label">Fail on yEnc crc Errors:</span>
		    <input class="radio" type="checkbox" name="fail_on_crc" value="1" <!--#if $fail_on_crc > 0 then "checked=1" else ""#--> />
		    <span class="tips">Use backup servers on yEnc crc errors.</span></label>
		<br class="clear" />

		    <label><span class="label">Only fetch the top-most article:</span>
		    <input class="radio" type="checkbox" name="top_only" value="1" <!--#if $top_only > 0 then "checked=1" else ""#--> />
		    <span class="tips">Enable for less memory usage. Disable to prevent some jobs from blocking the queue.</span></label>
		<br class="clear" />

		    <label><span class="label">Safe Post-process:</span>
		    <input class="radio" type="checkbox" name="safe_postproc" value="1" <!--#if $safe_postproc > 0 then "checked=1" else ""#--> />
		    <span class="tips">Only perform post-processing on jobs that passed all PAR2 checks.</span></label>
		<br class="clear" />

		    <label><span class="label">Do not download same job twice:</span>
		    <input class="radio" type="checkbox" name="no_dupes" value="1" <!--#if $no_dupes > 0 then "checked=1" else ""#--> />
		    <span class="tips">Skip job if a backed-up NZB with the same name exists.</span></label>
		<br class="clear" />

		    <span class="label">Default Post-Processing:</span>
		    <input class="radio" type="radio" name="dirscan_opts" value="0" <!--#if $dirscan_opts == 0 then "checked=1" else ""#--> /> None
		    <input class="radio" type="radio" name="dirscan_opts" value="1" <!--#if $dirscan_opts == 1 then "checked=1" else ""#--> /> +Repair
		    <input class="radio" type="radio" name="dirscan_opts" value="2" <!--#if $dirscan_opts == 2 then "checked=1" else ""#--> /> +Unpack
		    <input class="radio" type="radio" name="dirscan_opts" value="3" <!--#if $dirscan_opts == 3 then "checked=1" else ""#--> /> +Delete
		    <span class="tips">Use the following post-processing if not defined by a category.</span>
		<br class="clear" />

		    <span class="label">Default User Script:</span>
            <select name="dirscan_script" id="dirscan_script" class="select">
            <!--#for $sc in $script_list#-->
                <!--#if $sc.lower() == $dirscan_script.lower()#-->
                    <option value="$sc" selected>$sc</option>
                <!--#else#-->
                    <option value="$sc">$sc</option>
                <!--#end if#-->
            <!--#end for#-->
            </select>
		    <span class="tips">Use the following script if not defined by a category.</span>
		<br class="clear" />
		

		    <span class="label">Extra PAR2 parameters:</span>
		    <input type="text" name="par_option" value="$par_option"/>
		    <span class="tips">See the wiki for usage.</span></label>
		<br class="clear" />
		
    <!--#if not $nt#-->
		    <span class="label">IONice parameters:</span>
		    <input type="text" name="ionice" value="$ionice"/>
		    <span class="tips">See the wiki for usage.</span></label>
		<br class="clear" />
    <!--#end if#-->

</fieldset>
<fieldset class="EntryFieldSet">
	<legend>Other</legend>
<hr />


		    <label><span class="label">Disconnect on empty queue</span>
		    <input class="radio" type="checkbox" name="auto_disconnect" value="1" <!--#if $auto_disconnect > 0 then "checked=1" else ""#--> />
		    <span class="tips">Disconnect from Usenet server(s) when queue is empty or paused.</span></label>
		<br class="clear" />

		    <label><span class="label">Send Group</span>
		    <input class="radio" type="checkbox" name="send_group" value="1" <!--#if $send_group > 0 then "checked=1" else ""#--> />
		    <span class="tips">Send group command before requesting articles.</span></label>
		<br class="clear" />

		    <label><span class="label">Sort by age:</span>
		    <input class="radio" type="checkbox" name="auto_sort" value="1" <!--#if $auto_sort > 0 then "checked=1" else ""#--> />
		    <span class="tips">Automatically sort items by (average) age.</span></label>
 		<br class="clear" />

			<label><span class="label">Check for new release:</span>
		    <input class="radio" type="checkbox" name="check_new_rel" value="1" <!--#if $check_new_rel > 0 then "checked=1" else ""#--> />
		    <span class="tips">Weekly check for new SABnzbd release.</span></label>
 		<br class="clear" />

			<label><span class="label">Replace spaces in foldername:</span>
		    <input class="radio" type="checkbox" name="replace_spaces" value="1" <!--#if $replace_spaces > 0 then "checked=1" else ""#--> />
		    <span class="tips">Replaces spaces in foldernames with underscores.</span></label>
 		<br class="clear" />

			<label><span class="label">Replace illegal characters in foldernames:</span>
		    <input class="radio" type="checkbox" name="replace_illegal" value="1" <!--#if $replace_illegal > 0 then "checked=1" else ""#--> />
		    <span class="tips">Replace illegal characters in foldernames by equivalents (otherwise remove).</span></label>
 		<br class="clear" />

			<label><span class="label">Launch browser on startup:</span>
		    <input class="radio" type="checkbox" name="auto_browser" value="1" <!--#if $auto_browser > 0 then "checked=1" else ""#--> />
		    <span class="tips">Set whether SABnzbd launches your browser on startup.</span></label>
 		<br class="clear" />
        
			<label><span class="label">Pause downloading during post processing:</span>
		    <input class="radio" type="checkbox" name="pause_on_post_processing" value="1" <!--#if $pause_on_post_processing > 0 then "checked=1" else ""#--> /></label>
		    <span class="tips">Pauses downloading at the start of post processing and resumes when finished.</span>
 		<br class="clear" />
        
			<span class="label">Ignore sample files:</span>
		    <input class="radio" type="radio" name="ignore_samples" value="0" <!--#if $ignore_samples == 0 then 'checked="1"' else ""#--> /> Off 
		    <input class="radio" type="radio" name="ignore_samples" value="1" <!--#if $ignore_samples == 1 then 'checked="1"' else ""#--> /> Delete after download 
		    <input class="radio" type="radio" name="ignore_samples" value="2" <!--#if $ignore_samples == 2 then 'checked="1"' else ""#--> /> Do not download 
            <span class="tips">Filters out sample files from the queue.</span>
 		<br class="clear" />

 </fieldset>


<p>
	<input type="button" size="40" value="Save Changes" onclick="javascript:submitconfig('config/switches/saveSwitches', this, 'configSwitches')">
</p>
</form>
</div>
