
<a href="http://sabnzbdplus.wiki.sourceforge.net/Configure+General" id="help">Help</a><h3>General configuration</h3>
<form class="cmxform">

<fieldset class="EntryFieldSet">
<legend>Web server</legend>
<hr />


			<label for "host">Host:</label>
			<input type="text" name="host" value=$host>
			<span class="tips">Host SABnzbd should listen on.</span>
		<br class="clear" />

			<label for "port">Port:</label>
			<input type="text" name="port" value=$port>
			<span class="tips">Post SABnzbd should listen on.</span>
		<br class="clear" />

			<label for "webuser">Web username:</label>
			<input type="text" name="username" value=$username>
			<span class="tips">Authentication Username.</span>
		<br class="clear" />

			<label for "webpass">Web password:</label>
			<input type="password" name="password" value=$password>
			<span class="tips">Authentication Password.</span>
		<br class="clear" />

			<label for "userinterface">User interface:</label>

			<select name="web_dir" id="webdir">
			    <!--#for $webline in $web_list#-->
			        <!--#if $webline.lower() == $web_dir.lower()#-->
			            <option value="$webline" selected>$webline</option>
			        <!--#else#-->
			            <option value="$webline">$webline</option>
			        <!--#end if#-->
			    <!--#end for#-->
			</select>
			<span class="tips">Choose a user interface (restart required!).</span>
		<br class="clear" />

			<label for "userinterface">Secondary User interface:</label>

			<select name="web_dir2" id="webdir2">
			    <!--#for $webline in $web_list2#-->
			        <!--#if $webline.lower() == $web_dir2.lower()#-->
			            <option value="$webline" selected>$webline</option>
			        <!--#else#-->
			            <option value="$webline">$webline</option>
			        <!--#end if#-->
			    <!--#end for#-->
			</select>
			<span class="tips">Choose a secondary user interface (restart required!).</span>
		<br class="clear" />

</fieldset>

<fieldset class="EntryFieldSet">
<legend>Tuning</legend>
<hr />


			<label for "qrefresh">Queue auto refresh interval:</label>

			<input type="text" name="refresh_rate" value="$refresh_rate">
			<span class="tips">Refresh interval of the queue web-interface page(sec, 0= none)</span>
		<br class="clear" />

			<label for "rsscheck">RSS checking rate:</label>

			<input type="text" name="rss_rate" value="$rss_rate">
			<span class="tips">Checking rate  (times per hour 1, 2, 3, 4)</span>
		<br class="clear" />

			<label for "bandwidth limit">Bandwith Limit:</label>
			<input type="text" name="bandwith_limit" value="$bandwith_limit">
			<span class="tips">Download speed limit in kilobytes per second(kB/s).</span>
		<br class="clear" />

			<label for "cachelimit">Article Cache Limit:</label>
			<input type="text" name="cache_limitstr" value="$cache_limitstr">
			<span class="tips">Cache articles in memory.</span>
		<br class="clear" />

			<label for "cleanuplist">Cleanup List:</label>

			<input type="text" name="cleanup_list" value="$cleanup_list">
			<span class="tips">List of file (extensions) that should be deleted at the cleanup stage.
			For example: ".nfo," or ".nfo, .sfv"</span>
		<br class="clear" />


</fieldset>


<p>

<input type="button" size="40" value="Save Changes" onclick="javascript:submitconfig('config/general/saveGeneral', 'submitstatus')">
<span class="submitstatus" id="submitstatus"></span>
</p>
</form>