
<a href="http://sabnzbdplus.wiki.sourceforge.net/Configure+Directories" id="help">Help</a><h3>Directory configuration</h3>
<!--action="config/directories/saveDirectories" method="post"-->
<form class="cmxform" action="">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>User directories</legend>
<hr />
<emp>In "$my_home"</emp>
<br class="clear" /><br class="clear" />			
		    <label>Download Directory:</label>
		    <input type="text" size="40" name="download_dir" value="$download_dir">
			<span class="tips">Location to put unprocessed downloads in.</span>		    
		<br class="clear" />
				    
		    <label>Minimum free space for Download Directory:</label>
			<input type="text" size="10" name="download_free" value="$download_free">
		    <span class="tips">Auto-pause when free space is beneath this value. Follow with K,M,G,T,P E.g 500M 2G</span>  
		<br class="clear" />
			    
		    <label>Complete Directory:</label>
		    <input type="text" size="40" name="complete_dir" value="$complete_dir">
		    <span class="tips">Location to put completed downloads in.</span>			
		<br class="clear" />

        <!--#if not $nt#-->
		    <label>Permissions:</label>
		    <input type="text" size="10" name="permissions" value="$permissions">
		    <span class="tips">Set permissions pattern for completed files, octal notation only!</span>
		<br class="clear" />
        <!--#end if#-->
			    
		    <label>OPTIONAL: Dirscan Directory:</label>
		    <input type="text" size="40" name="dirscan_dir" value="$dirscan_dir">
			<span class="tips">Directory to scan for .nzb files.</span>
		<br class="clear" />
			    
		    <label>OPTIONAL: Dirscan Speed:</label>
		    <input type="text" size="10" name="dirscan_speed" value="$dirscan_speed">
			<span class="tips">Number of seconds between scans for .nzb files.</span>
		<br class="clear" />
		  
		    <label>Directory for user scripts:</label>
		    <input type="text" size="40" name="script_dir" value="$script_dir">
			<span class="tips">Directory containing user scripts for post-processing.</span>
		<br class="clear" />
				
</fieldset>
<fieldset class="EntryFieldSet">
<legend>System directories</legend>
<hr />
<emp>In "$my_lcldata"</emp>
	<br class="clear" /><br class="clear" />
		
		    <label>Cache Directory:</label>
			<input type="text" size="40" name="cache_dir" value="$cache_dir">
			<span class="tips">Location for temporary storage.</span>
		<br class="clear" />
		   
		    <label>Log Directory:</label>
			<input type="text" size="40" name="log_dir" value="$log_dir">
			<span class="tips">Location of log files for SABnzbd.</span>
		<br class="clear" />
		 
		    <label>OPTIONAL: .nzb Backup Directory:</label>
			<input type="text" size="40" name="nzb_backup_dir" value="$nzb_backup_dir">
			<span class="tips">Specify a directory to backup .nzb files to.</span>
		<br class="clear" />


</fieldset>

<fieldset class="EntryFieldSet">
<legend>Sorting directories</legend>
<hr />


		    <label>Enable TV Sorting:</label>
		    <input class="radio" type="radio" name="enable_tv_sorting" value="0" <!--#if $enable_tv_sorting == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="enable_tv_sorting" value="1" <!--#if $enable_tv_sorting > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Enable folder sorting.</span>
		<br class="clear" />
        
		    <label>Enable season folders:</label>
		    <input class="radio" type="radio" name="tv_sort_seasons" value="0" <!--#if $tv_sort_seasons == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="tv_sort_seasons" value="1" <!--#if $tv_sort_seasons > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Enable sorting into season folders.</span>
		<br class="clear" />
        
            <label>Folder Naming:</label>
			<select name="tv_sort" id="tvsort"><!--#set $i = 0 #-->
			    <!--#for $tvline in $tvsort_list#-->
			        <!--#if int($tv_sort) == $i #-->
			            <option value="$i" selected>$tvline</option>
			        <!--#else#-->
			            <option value="$i">$tvline</option>
			        <!--#end if#-->
                    <!--#set $i = $i+1 #-->
			    <!--#end for#-->
			</select>
			<span class="tips">Choose a foldernaming option</span>
		<br class="clear" />

</fieldset>
</div><br class="clear" />
<input type="button" size="40" value="Save Changes" onclick="javascript:submitconfig('config/directories/saveDirectories', 'submitstatus')">
<span class="submitstatus" id="submitstatus"></span>
</form>


