
<a href="$helpuri/Configure+Switches" id="help">Help</a><h3>Configuration switches</h3>
<div class="EntryBlock">
    <form class="cmxform">
  <fieldset class="EntryFieldSet">
  <legend>Processing switches</legend>
 <hr />


		    <label>Enable Unrar:</label>
		    <input class="radio" type="radio" name="enable_unrar" value="0" <!--#if $enable_unrar == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="enable_unrar" value="1" <!--#if $enable_unrar > 0 then "checked=1" else ""#--> /> Yes
			<span class="tips">Enable built-in unrar functionality.</span>
		<br class="clear" />

		    <label>Enable Unzip:</label>
		    <input class="radio" type="radio" name="enable_unzip" value="0" <!--#if $enable_unzip == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Enable built-in unzip functionality.</span>
		<br class="clear" />

		    <label>Enable Filejoin:</label>
		    <input class="radio" type="radio" name="enable_filejoin" value="0" <!--#if $enable_filejoin == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Enable built-in filejoin functionality.</span>
		<br class="clear" />

		    <label>Enable Par Cleanup:</label>
		    <input class="radio" type="radio" name="enable_par_cleanup" value="0" <!--#if $enable_par_cleanup == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="enable_par_cleanup" value="1" <!--#if $enable_par_cleanup > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Cleanup par files (if verifiying/repairing succeded).</span>
		<br class="clear" />

		    <label>Fail on yenc crc Errors:</label>
		    <input class="radio" type="radio" name="fail_on_crc" value="0" <!--#if $fail_on_crc == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="fail_on_crc" value="1" <!--#if $fail_on_crc > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Use fill servers on yenc crc errors.</span>
		<br class="clear" />

		    <label>Top Only:</label>
		    <input class="radio" type="radio" name="top_only" value="0" <!--#if $top_only == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="top_only" value="1" <!--#if $top_only > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Only fetch Articles from topmost collection. Enable for less memory usage.</span>
		<br class="clear" />

		    <label>Safe Post-process:</label>
		    <input class="radio" type="radio" name="safe_postproc" value="0" <!--#if $safe_postproc == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="safe_postproc" value="1" <!--#if $safe_postproc > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Only perform post-processing on jobs that passed all PAR2 checks.</span>
		<br class="clear" />

		    <label>Dirscan Options:</label>
		    <input class="radio" type="radio" name="dirscan_opts" value="0" <!--#if $dirscan_opts == 0 then "checked=1" else ""#--> /> None
		    <input class="radio" type="radio" name="dirscan_opts" value="1" <!--#if $dirscan_opts == 1 then "checked=1" else ""#--> /> +Repair
		    <input class="radio" type="radio" name="dirscan_opts" value="2" <!--#if $dirscan_opts == 2 then "checked=1" else ""#--> /> +Unpack
		    <input class="radio" type="radio" name="dirscan_opts" value="3" <!--#if $dirscan_opts == 3 then "checked=1" else ""#--> /> +Delete
		    <span class="tips">Use following post process option on .nzb files imported by the dirscanner.</span>
		<br class="clear" />

		    <label>User Script:</label>
            <select name="script" id="script" class="select">
            <!--#for $sc in $script_list#-->
                <!--#if $sc.lower() == $script.lower()#-->
                    <option value="$sc" selected>$sc</option>
                <!--#else#-->
                    <option value="$sc">$sc</option>
                <!--#end if#-->
            <!--#end for#-->
            </select>
		    <span class="tips">Use following user script as default for all jobs.</span>
		<br class="clear" />

</fieldset>
<fieldset class="EntryFieldSet">
	<legend>Other switches</legend>
<hr />


		    <label>Enable periodic Save:</label>
		    <input class="radio" type="radio" name="enable_save" value="0" <!--#if $enable_save == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="enable_save" value="1" <!--#if $enable_save > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Enabling will make the queue save it's state after every completed file.</span>
		<br class="clear" />

		    <label>Disconnect on empty queue:</label>
		    <input class="radio" type="radio" name="auto_disconnect" value="0" <!--#if $auto_disconnect == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="auto_disconnect" value="1" <!--#if $auto_disconnect > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Disconnect from Usenet server(s) when queue is empty.</span>
		<br class="clear" />

		    <label>Create group Folders:</label>
		    <input class="radio" type="radio" name="create_group_folders" value="0" <!--#if $create_group_folders == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="create_group_folders" value="1" <!--#if $create_group_folders > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Place downloads into group folders.</span>
		<br class="clear" />

		    <label>Send Group</label>
		    <input class="radio" type="radio" name="send_group" value="0" <!--#if $send_group == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="send_group" value="1" <!--#if $send_group > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Send group command before requesting articles.</span>
		<br class="clear" />

		    <label>Auto Sort:</label>
		    <input class="radio" type="radio" name="auto_sort" value="0" <!--#if $auto_sort == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="auto_sort" value="1" <!--#if $auto_sort > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Automatically sort items by (average) age.</span>
 		<br class="clear" />

			<label>Check for new release:</label>
		    <input class="radio" type="radio" name="check_rel" value="0" <!--#if $check_rel == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="check_rel" value="1" <!--#if $check_rel > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Weekly check for new SABnzbd release.</span>
 		<br class="clear" />

			<label>Replace spaces in foldername:</label>
		    <input class="radio" type="radio" name="replace_spaces" value="0" <!--#if $replace_spaces == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="replace_spaces" value="1" <!--#if $replace_spaces > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Replaces spaces in foldernames with underscores.</span>
 		<br class="clear" />

			<label>Launch browser on startup:</label>
		    <input class="radio" type="radio" name="auto_browser" value="0" <!--#if $auto_browser == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="auto_browser" value="1" <!--#if $auto_browser > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Set whether SABnzbd launches your browser on startup.</span>
 		<br class="clear" />

			<label>Ignore sample files:</label>
		    <input class="radio" type="radio" name="ignore_samples" value="0" <!--#if $ignore_samples == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="ignore_samples" value="1" <!--#if $ignore_samples > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Filters out sample files from the queue.</span>
 		<br class="clear" />
        
			<label>Pause downloading during post processing:</label>
		    <input class="radio" type="radio" name="pause_on_post_processing" value="0" <!--#if $pause_on_post_processing == 0 then "checked=1" else ""#--> /> No
		    <input class="radio" type="radio" name="pause_on_post_processing" value="1" <!--#if $pause_on_post_processing > 0 then "checked=1" else ""#--> /> Yes
		    <span class="tips">Pauses downloading at the start of post processing and resumes when finished.</span>
 		<br class="clear" />

 </fieldset>


<p><input type="button" size="40" value="Save Changes" onclick="javascript:submitconfig('config/switches/saveSwitches', 'submitstatus')">
<span class="submitstatus" id="submitstatus"></span></p>
</form>
</div>
