
<h3>Connections</h3>
<a class="config" onClick="lr('connections/disconnect', '', '-1', this.parentNode.id);">Force Disconnect</a> |
<a class="config" onClick="testemail();">Test E-Mail</a> |
<a class="config" href="connections/showlog">Download Log File</a> |
<a class="config" href="connections/showweb">Download Web Log File</a>
<!--#if $servers#-->
    <ul>
    <!--#for $server in $servers#-->
        <li>
            $server[0]:$server[1]: $server[2] <!--#if int($server[4])#--><img src="static/images/nuvola/kgpg.png" /><!--#end if#-->
            <ul>
            <!--#for $thrd in $server[3]#-->
                <li>Thread #$thrd[0] -> $thrd[1] -> $thrd[2] -> $thrd[3]</li>
            <!--#end for#-->
            </ul>
        </li>
    <!--#end for#-->
    </ul>
<!--#end if#-->
<!--#if $lastmail#-->
    <h2>Email test result</h2>
    $lastmail
<!--#end if#-->
<!--#if $warnings#-->
    <h2>Last warnings (<a class="config" onClick="lr('connections/clearwarnings','', '-1', this.parentNode.id);">Clear</a>)</h2>
    <!--#for $warn in $warnings#-->
        $warn<br/>
    <!--#end for#-->
<!--#end if#-->
