<h3>History <a id="feed" href="rss?mode=history"><img id="rss" src="static/feed-icon-14x14.png" alt="rss"/></a></h3>
<div id="centerLinks">
<a onClick="lr('history/purge', '', '-1',this.parentNode.parentNode.id);">Purge history</a> | <a onClick="lr('history/tog_verbose', '', -1,-1,this.parentNode.parentNode.id);">Toggle verbosity</a></span>
</div>
<center>
<strong>Bytes Downloaded:</strong> $bytes_beginning GB <strong>- Bytes in History:</strong> $total_bytes GB</strong>
</center>


<!--#if $lines#-->
<table id="sortable_table" class="datagrid">
	<thead>
    <tr>
		<th mochi:format="isodate">Finished</th>
		<th mochi:format="str">Name</th>
        <th mochi:format="str">Status</th>
        <th mochi:format="str"></th>
	</tr>
	</thead>
	<tfoot class="invisible">

		<tr>
			<td colspan="0"></td>
		</tr>
	</tfoot>
	<tbody>

    <!--#set $odd = False#-->
    <!--#for $line in $lines #-->
        <!--#set $odd = not $odd#-->
        <tr id="$line.nzo" class="<!--#if $odd then "odd" else "even"#-->">
			<td>$line.added</td>
			<td>$line.filename</td>
            <td>$line.status</td>
            <td><a onClick="deletehistoryitem('$line.nzo', this.parentNode.parentNode.parentNode.parentNode.parentNode.id);"><img id="delicon" src="static/images/32px-Crystal_Clear_action_stop.png" /></a></td>
		</tr>
        <!--#set $oddLine = not False#-->
        <!--#for $stage in $line.stages#-->
            <!--#set $oddLine = not $oddLine#-->
            <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#-->">
				<td></td>
				<td>
					<dl>
			            <dt>Stage $stage.name</dt>
			            <!--#for $action in $stage.actions#-->
			                 <dd>$action.name: $action.value</dd>
			            <!--#end for#-->
		            </dl>
				</td>
				<td></td>
                <td></td>
			</tr>
        <!--#end for#-->
    <!--#end for#-->
	</tbody>
</table>
<!--#end if#-->


