<!--#if $varExists('slot')#-->
    <fieldset class="EntryFieldSet">
	<h3>Edit NZB Details</h3>
	<form id="nzbEditForm" class="cmxform">
		<label class="label">Name:</label>
		<input type="text" name="name" style="width:400px" size="80" value="$slot.filename">
		<br class="clear" />
		<label class="label">PP:</label>
		<select name="pp">
			<option value="0" <!--#if $slot.unpackopts == "0" then "selected" else ""#-->></option>
			<option value="1" <!--#if $slot.unpackopts == "1" then "selected" else ""#-->>R</option>
			<option value="2" <!--#if $slot.unpackopts == "2" then "selected" else ""#-->>U</option>
			<option value="3" <!--#if $slot.unpackopts == "3" then "selected" else ""#-->>D</option>
		</select>
		
		<!--#if $slot.priority != '2'#-->
			<br class="clear" />
			<label class="label">Priority:</label>
			<select  name="priority">
				<option value="1" <!--#if $slot.priority == "1" then "selected" else ""#-->>High</option>
				<option value="0" <!--#if $slot.priority == "0" then "selected" else ""#-->>Normal</option>
				<option value="-1" <!--#if $slot.priority == "-1" then "selected" else ""#-->>Low</option>
			</select>
		<!--#end if#-->

		<!--#if $script_list#-->
			<br class="clear" />
			<label class="label">Script:</label>
			<select name="script">
				<!--#for $sc in $script_list#-->
				<option value="$sc" <!--#if $slot.script.lower() == $sc.lower() then "selected" else ""#-->>$sc</option>
				<!--#end for#-->
			</select>
		<!--#end if#-->
		<!--#if $cat_list#-->
			<br class="clear" />
			<label class="label">Category:</label>
			<select name="cat">
				<!--#for $ct in $cat_list#-->
				<option value="$ct" <!--#if $slot.cat.lower() == $ct.lower() then "selected" else ""#-->>$ct</option>
				<!--#end for#-->
			</select>
		<!--#end if#-->
	</form>
    </fieldset>
	<input type="button" size="40" value="Save Changes" onclick="javascript:submitconfig('nzb/$slot.nzo_id/save', this, 'nzbEditForm')">
<!--#end if#-->
<br/><br/>
<!--#if $varExists('active_files')#-->
<form id="nzoForm" action="bulk_operation">
	<a onclick="javascript:submit_marked('$nzo_id', 'Delete')">Del</a>
	<a onclick="javascript:submit_marked('$nzo_id', 'Top')">Top</a>
	<a onclick="javascript:submit_marked('$nzo_id', 'Up')">Up</a>
	<a onclick="javascript:submit_marked('$nzo_id', 'Down')">Down</a>
	<a onclick="javascript:submit_marked('$nzo_id', 'Bottom')">Bottom</a>
	<br />
  
  selection:<a href='#' onclick='mark_all();' target='_self'>all</a>
            <a href='#' onclick='unmark_all();' target='_self'>none</a>
            <a href='#' onclick='invert();' target='_self'>invert</a>
			
			
  <table id="historyTable">
      <tr><th></th><th>Filename/Subject</th><th>Size</th><th>Age</th></tr>
      <!--#set $oddLine = False#-->
      <!--#for $file in $active_files#-->
          <!--#set $oddLine = not $oddLine#-->
          <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
              <td><input type="checkbox" name="$file.nzf_id" <!--#if $file.checked then "checked" else ""#-->></td>
              <td>$file.filename</td>
              <td>$file.mb MB</td>
              <td>$file.age</td>
          </tr>
      <!--#end for#-->
  </table>
</form>
<!--#end if#-->