<!--#if $paused #-->
<!--#set $kbpersec = "0"#-->
<!--#end if#-->

<h3>Queue</h3>
<div class="centerLinks">
<a onClick="if(confirm('Delete the all items from the queue?')){lr('queue/purge','', '-1', this.parentNode.parentNode.id);}" >Delete All</a> |
On queue finish:
<select onChange="javascript:changequeuedetails('queue/change_queue_complete_action?action='+this.options[this.selectedIndex].value)">
<option value=""></option>
    <optgroup label="Actions">
        <!--#if $nt or $darwin#-->
        <option value="shutdown_pc" <!--#if $finishaction == 'shutdown_pc' then 'selected' else ''#-->>Shutdown PC</option>
        <option value="standby_pc" <!--#if $finishaction == 'standby_pc' then 'selected' else ''#-->>Standby PC</option>
        <!--#end if#-->
        <!--#if $nt#-->
        <option value="hibernate_pc" <!--#if $finishaction == 'hibernate_pc' then 'selected' else ''#-->>Hibernate PC</option>
        <!--#end if#-->
        <option value="shutdown_program" <!--#if $finishaction == 'shutdown_program' then 'selected' else ''#-->>Shutdown SABnzbd</option>
    </optgroup>
<!--#if $script_list#-->
    <optgroup label="Scripts">
    <!--#for $sc in $script_list#-->
        <!--#if $sc != 'None'#-->
        <option value="script_$sc" <!--#if $finishaction == 'script_'+$sc then 'selected' else ''#-->>$sc</option>
        <!--#end if#-->
    <!--#end for#-->
    </optgroup>
<!--#end if#-->
</select>

</div>

<!--#if int($cache_limit)#-->
<center><b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br></center>
<!--#end if#-->

<!--#if float($mb)>0 #-->
<!--#set $perc = round( (1-(float($mbleft) / float($mb))) * 100, 2)#-->
<!--#if $varExists('slotinfo')#-->
<center><strong>$perc%</strong> - <span id="left">$mbleft</span>/<span id="total">$mb</span> MB -
Timeleft: <strong>$timeleft</strong> ETA: <strong>$eta</strong>
 <!--#end if#--><br /> </center>
 <!--#end if#-->
 <table id="queueTable" class="datagrid">

	<thead>
    <tr>
		<th class="expandColumn center"></th>
        <th class="orderColumn center"></th>
		<th><a class="columnLinks" onClick="javascript:lr('queue/sort_by_name','', '-1', this.parentNode.parentNode.id);">Name</a></th>
		<th class="center">Progress</th>
        <th class="timeleftColumn center">Timeleft</th>
		<th class="ageColumn center"><a class="columnLinks" onClick="javascript:lr('queue/sort_by_avg_age','', '-1', this.parentNode.parentNode.id);">Age</a></th>
        <th class="sizeColumn center"><a class="columnLinks" onClick="javascript:lr('queue/sort_by_size','', '-1', this.parentNode.parentNode.id);">Size</a></th>
        <th class="editColumn center">Edit</th>
        <th class="actionsColumn center"></th>
	</tr>
	</thead>
  <!--#if $varExists('slotinfo')#-->
    <!--#set $odd = False#-->
    <!--#for $slot in $slotinfo#-->
        <!--#set $odd = not $odd#-->
<tbody id="$slot.nzo_id">
<tr class="$slot.priority">
    <td class="expand">
        <a class="expander" onClick="javascript:toggle_verbosity('$slot.nzo_id')"><span id="name_$slot.nzo_id"><!--#if $slot.verbosity then '-' else '+'#--></span></a>
    </td>
    <td>
        <select onclick="restartTimer(5)" onchange="javascript:changequeuedetails('queue/'+this.options[this.selectedIndex].value)">
        <!--#for $i in xrange($noofslots)#-->
            <option value="switch?uid1=$slot.nzo_id&uid2=$slotinfo[i].nzo_id" <!--#if $i == $slot.index then "selected" else ""#-->>$i</option>
        <!--#end for#-->
        </select>
    </td>
    <td>
        <span class="filename">$slot.filename</span>
    </td>
    <td title="$slot.mbleft/${slot.mb}MB">
        <!--#if float($slot.mb)>0 #-->
        <!--#set $perc = round( (1-(float($slot.mbleft) / float($slot.mb))) * 100, 2)#-->
        <div class="progressBar"><div id="progress_$slot.nzo_id" style="width: $perc%;   position: relative;   background-color: #9bf;   height: 6px;"><!-- --></div></div>
        <!--#end if#-->
    </td>
    <td class="center" title="$slot.eta">$slot.timeleft</td>
    <td class="center">$slot.avg_age</td>
    <td class="center">$slot.size</td>
    <td class="center"><a href="#nzb/$slot.nzo_id/" onclick="javascript:lr('nzb/$slot.nzo_id/');">Edit</a></td>
    <td class="right_align">
        <!--#if $slot.status == 'Paused'#-->
            <a onClick="resumequeueitem('$slot.nzo_id');"><img class="resumeicon" src="static/images/control_play.png" /></a>
        <!--#else#-->
            <a onClick="pausequeueitem('$slot.nzo_id');"><img class="pauseicon" src="static/images/control_pause.png" /></a>
        <!--#end if#-->
        <a onClick="deletequeueitem('$slot.nzo_id');"><img class="delicon" src="static/images/messagebox_critical.png" /></a>
    </td>
</tr>
        <!--#set $oddLine = False#-->
        <!--#for $line in $slot.finished#-->
            <!--#set $oddLine = not $oddLine#-->
            <tr class="finished <!--#if $oddLine then "oddLine" else "evenLine"#--> finished"><td></td><td>Finished</td><td>$line.filename</td><td class="pre">$line.mbleft/$line.mb MB<td></td><td class="center">$line.age</td><td class="center">$line.size</td><td></td><td></td></tr>
        <!--#end for#-->
        <!--#set $oddLine = False#-->
        <!--#for $line in $slot.active#-->
            <!--#set $oddLine = not $oddLine#-->
            <tr id="$line.nzf_id" class="active <!--#if $oddLine then "oddLine" else "evenLine"#--> active"><td></td><td>Active</td><td>$line.filename</td><td class="pre">$line.mbleft/$line.mb MB</td><td></td><td class="center">$line.age</td><td class="center">$line.size</td><td></td><td class="right_align"><a onClick="deletenzf('$slot.nzo_id','$line.nzf_id')"><img class="delicon" src="static/images/messagebox_critical.png" /></a></td></tr>
        <!--#end for#-->
        <!--#set $oddLine = False#-->
        <!--#for $line in $slot.queued#-->
            <!--#set $oddLine = not $oddLine#-->
            <tr class="waiting <!--#if $oddLine then "oddLine" else "evenLine"#--> waiting"><td></td><td>Waiting</td><td>$line.filename (set: $line.set)</td><td class="pre">$line.mbleft/$line.mb MB<td></td><td class="center">$line.age</td><td class="center">$line.size</td><td></td><td></td></tr>
        <!--#end for#-->
</tbody>
    <!--#end for#--><!--#end if#-->
    </table>

<br />
