<html lang="$active_lang">
<head>
    <title>SABnzbd - $T('login')</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1" />
    <meta name="apple-mobile-web-app-title" content="SABnzbd" />

    <link rel="apple-touch-icon" sizes="76x76" href="../staticcfg/ico/apple-touch-icon-76x76-precomposed.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="../staticcfg/ico/apple-touch-icon-120x120-precomposed.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="../staticcfg/ico/apple-touch-icon-152x152-precomposed.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="../staticcfg/ico/apple-touch-icon-180x180-precomposed.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="../staticcfg/ico/android-192x192.png" />
    <link rel="shortcut icon" href="../staticcfg/ico/favicon.ico?v=$version" />

    <link rel="stylesheet" type="text/css" href="../staticcfg/bootstrap/css/bootstrap.min.css?v=$version" />
    <link rel="stylesheet" type="text/css" href="../staticcfg/css/login.css?v=$version" />

    <script type="text/javascript" src="../staticcfg/js/jquery-3.2.1.min.js?v=$version"></script>
    <script type="text/javascript" src="../staticcfg/bootstrap/js/bootstrap.min.js?v=$version"></script>
</head>
<html>
    <body>
        <div class="account-wall">
            <div class="text-center logo-header">
                <!--#include $webdir + "/staticcfg/images/logo-full.svg"#-->
                <a href="https://sabnzbd.org/wiki/faq#why-login" target="_blank">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </div>
            <form class="form-signin" action="./" method="post">
                <!--#if $error#-->
                <div class="alert alert-danger" role="alert">$error</div>
                <!--#end if#-->

                <input type="text" class="form-control" name="username" placeholder="$T('srv-username')" required autofocus>
                <input type="password" class="form-control" name="password" placeholder="$T('srv-password')" required>

                <button class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-right"></span> $T('login') </button>

                <div class="checkbox text-center" data-toggle="tooltip" data-placement="bottom" title="$T('explain-sessionExpire')">
                    <label>
                        <input type="checkbox" name="remember_me" value="1"> $T('rememberme')
                    </label>
                  </div>
            </form>
        </div>
        <script type="text/javascript">
            // Tooltip
            \$('[data-toggle="tooltip"]').tooltip()
            // Try-catch in case somebody disabled localstorage
            try {
                // Set what was done previously
                \$('input[type="checkbox"]').prop('checked', localStorage.getItem("remember_me") === 'true')
                // Store if we change something
                \$('input[type="checkbox"]').on('change', function() {
                    localStorage.setItem("remember_me", \$(this).is(':checked'));
                })
            } catch(err) { }
        </script>
    </body>
 </html>