.SubMenu, .blockWithBorder , a.current, tr.even, tr.odd{
	background-color: #44577c;
    color:white;
}

th  {
background-color: #333;
color:white;
}
#first, #third {
color: #44577c;
}
.SubMenu a.current {
    color:#ccc;
}
a.current:hover, a:hover {
	background-color: black;
    color:white
}

td > a, td > a {
color:white;
}

a.remove {
color:black;
}

