<div class="history" id="history-tab" data-bind="visible: hasHistory() || displayTabbed()" style="display: none">
    <div class="history-header">
        <h2>$T('menu-history')</h2>
        <a href="#" data-bind="click: history.showMultiEdit">
            <span class="glyphicon glyphicon-tasks" data-tooltip="true" data-placement="left" title="$T('Glitter-multiOperations')"></span>
        </a>
    </div>
    <table class="table table-hover history-table paginated">
        <thead>
            <tr>
                <th style="width: 25px;"></th>
                <th></th>
                <th class="table-status-header" data-bind="css: { 'table-header-status-smaller' : extraHistoryColumns().length }"></th>
                <!-- ko foreach: extraHistoryColumns -->
                <th class="table-header-extra"></th>
                <!-- /ko -->
                <th style="width: 130px;"></th>
                <th style="width: 60px;"></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: history.historyItems">
            <tr class="history-item" data-bind="css: {'history-failed-download':failed()}">
                <td>
                    <div data-bind="visible: processingWaiting()">
                        <span class="glyphicon glyphicon-time"></span>
                    </div>
                    <div data-bind="visible: processingDownload()">
                        <div class="processing-download">
                            <div class="loader-bar-one"></div>
                            <div class="loader-bar-two"></div>
                            <div class="loader-bar-three"></div>
                            <div class="loader-bar-four"></div>
                        </div>
                    </div>
                    <div data-bind="visible: (!failed() && !processingDownload() && !processingWaiting())">
                        <span class="glyphicon glyphicon-ok"></span>
                    </div>
                    <div data-bind="visible: failed() && canRetry()">
                        <a class="retry-button" href="#" data-bind="click: retry">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                        </a>
                    </div>
                    <div data-bind="visible: failed() && !canRetry()">
                        <span class="retry-button-inactive">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                        </span>
                    </div>
                </td>
                <td class="name">
                    <div class="row-wrap-text">
                        <a class="retry-buttontext" href="#" data-bind="visible: (failed() && canRetry()), click: retry">$T('button-retry')</a>
                        <span data-bind="text: historyStatus.name, attr: { 'title': historyStatus.name() }"></span>
                    </div>
                </td>
                <td class="status row-wrap-text" data-bind="text: statusText()" onclick="showDetails(this)"></td>
                <!-- ko foreach: parent.parent.extraHistoryColumns -->
                <td class="row-extra-text" onclick="showDetails(this)">
                    <div class="row-wrap-text" data-bind="text: \$parent.showColumn(\$data)"></div>
                </td>
                <!-- /ko -->
                <td class="history-completedon row-wrap-text" data-bind="text: completedOn(), attr: { 'data-timestamp': completed }" onclick="showDetails(this)"></td>
                <td class="delete">
                    <label data-bind="visible: parent.isMultiEditing()">
                        <input type="checkbox" name="multiedit" title="$T('Glitter-multiSelect')" data-bind="click: parent.addMultiEdit, attr: { 'id': 'multiedit_' + id } " />
                    </label>
                    <div class="dropdown" data-bind="visible: !parent.isMultiEditing()">
                        <a href="#" data-toggle="dropdown" data-bind="click: updateAllHistoryInfo">
                            <span class="caret"></span>
                        </a>
                        <!-- ko if: hasDropdown() -->
                        <div class="dropdown-menu">
                            <div class="history-status-table">
                                <div class="row">
                                    <div class="col-sm-2">$T('name')</div>
                                    <div class="col-sm-10" data-bind="text: historyStatus.name"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">$T('post-Completed')</div>
                                    <div class="col-sm-10" data-bind="text: completedOn, attr: { 'data-timestamp': completed }"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">$T('status')</div>
                                    <div class="col-sm-10" data-bind="text: glitterTranslate.status[historyStatus.status()] ? glitterTranslate.status[historyStatus.status()] : statusText()"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">$T('size')</div>
                                    <div class="col-sm-10" data-bind="text: historyStatus.size"></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">$T('category')</div>
                                    <div class="col-sm-10" data-bind="text: historyStatus.category() == '*' ? glitterTranslate.defaultText : historyStatus.category"></div>
                                </div>
                                <div class="row" data-bind="visible: historyStatus.password">
                                    <div class="col-sm-2">$T('srv-password')</div>
                                    <div class="col-sm-10" data-bind="text: historyStatus.password"></div>
                                </div>
                                <div class="row" data-bind="visible: historyStatus.storage() || historyStatus.path()">
                                    <div class="col-sm-2">$T('msg-path')</div>
                                    <div class="col-sm-10" data-bind="text: historyStatus.storage() == '' ? historyStatus.path : historyStatus.storage"></div>
                                </div>
                                <!-- ko foreach: { data: historyStatus.stage_log, afterRender: addHistoryStatusStuff } -->
                                <div class="row">
                                    <div class="col-sm-2" data-bind="text: glitterTranslate.status[name()]"></div>
                                    <div class="col-sm-10 history-status-modallink" data-bind="longText: actions, longTextType: name()"></div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <a href="#" data-bind="click: deleteSlot">
                        <span class="hover-button glyphicon glyphicon-trash" data-bind="css: { 'glyphicon-stop' : processingDownload() == 2, disabled : processingDownload() == 1 }, attr: { title: processingDownload() == 2 ? '$T('abort')' : '$T('nzo-delete')' }"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="input-group search-box">
        <input type="text" class="form-control" placeholder="$T('Glitter-search')" required data-bind="textInput: history.searchTerm, event: { keydown: history.clearSearchTerm }" />
        <a data-bind="event: { mousedown: history.clearSearchTerm }">
            <span class="glyphicon" data-bind="css: { 'glyphicon-search' : !history.searchTerm(), 'glyphicon-remove' : history.searchTerm() }"></span>
        </a>
    </div>

    <ul class="pagination" data-bind="foreach: history.pagination.allpages(), visible: history.pagination.hasPagination" style="display: none;">
        <li data-bind="css: { active: isCurrent, disabled: isDots }, click: onclick">
            <span data-bind="text: page"></span>
        </li>
    </ul>

    <div class="multioperations-selector" id="history-options">
        <a href="#" class="hover-button" title="$T('link-retryAll')" data-tooltip="true" data-placement="left" data-bind="click: history.retryAllFailed"><span class="glyphicon glyphicon-repeat"></span></a>
        <a href="#" class="hover-button" title="$T('showAllHis') / $T('showFailedHis')" data-tooltip="true" data-placement="left" data-bind="click: history.toggleShowFailed, css: { 'history-options-show-failed': history.showFailed }"><span class="glyphicon glyphicon-exclamation-sign"></span></a>

        <div data-bind="visible: history.isMultiEditing()">
            <span class="label label-default" data-bind="text: history.multiEditItems().length">0</span>
            <label for="multiedit-checkall-history">
                <input type="checkbox" name="multieditCheckAll" id="multiedit-checkall-history" title="$T('Glitter-checkAll')" data-bind="click: history.checkAllJobs" data-tooltip="true" data-placement="top" />
            </label>
        </div>

        <a href="#" class="hover-button" title="$T('nzo-delete')" data-bind="visible: history.isMultiEditing(), click: history.doMultiDelete">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
        <a href="#modal-purge-history" class="hover-button" title="$T('purgeHist')" data-bind="visible: !history.isMultiEditing()" data-toggle="modal" data-tooltip="true" data-placement="left">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>

    <div class="info-container history-info">
        <span class="glyphicon glyphicon-save"></span>
        <span data-bind="text: history.downloadedToday"></span>B $T('Glitter-today')
        <span data-bind="text: history.downloadedMonth"></span>B $T('Glitter-thisMonth')
        <span data-bind="text: history.downloadedTotal"></span>B $T('Glitter-total')
    </div>
</div>
<div class="info-container history-info" data-bind="visible: !hasHistory() && !displayTabbed()" style="display: none">
    <span class="glyphicon glyphicon-save"></span>
    <span data-bind="text: history.downloadedToday"></span>B $T('Glitter-today')
    <span data-bind="text: history.downloadedMonth"></span>B $T('Glitter-thisMonth')
    <span data-bind="text: history.downloadedTotal"></span>B $T('Glitter-total')
</div>