<!DOCTYPE html>
<html lang="$active_lang" id="sabnzbd" data-bind="filedrop: { overlaySelector: '.main-filedrop', onFileDrop: addNZBFromFile }">
    <head>
        <!--
                Glitter V1
                By Safihre (2015) - safihre@sabnzbd.org
                
                Code extended from Shiny-template
                Code examples used from Knockstrap-template
        -->
        <title data-bind="text: title">SABnzbd</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="SABnzbd" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="apple-touch-icon" sizes="57x57" href="./staticcfg/ico/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="60x60" href="./staticcfg/ico/apple-touch-icon-60x60.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="./staticcfg/ico/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="./staticcfg/ico/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="./staticcfg/ico/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="./staticcfg/ico/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="./staticcfg/ico/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="./staticcfg/ico/apple-touch-icon-152x152.png" />
        <link rel="shortcut icon" type="image/ico" href="./staticcfg/ico/favicon.ico" data-bind="attr: { 'href': SABIcon }" />

        <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/bootstrap.min.css?p=$pid" />
        <link rel="stylesheet" type="text/css" href="./static/stylesheets/glitter.css?p=$pid" />
        <link rel="stylesheet" type="text/css" href="./static/stylesheets/glitter.mobile.css?p=$pid" media="all and (max-width: 768px)" />
        <!--#if $color_scheme not in ('Default', '') #-->
        <link rel="stylesheet" type="text/css" href="./static/stylesheets/colorschemes/${color_scheme}.css?p=$pid"/>
        <!--#end if#-->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="./static/javascripts/html5shiv.min.js"></script>
            <script src="./static/javascripts/respond.min.js"></script>
            <link href="./static/stylesheets/glitter.ie8.css" rel="stylesheet">
        <![endif]-->
    </head>
    <body>
        <div class="container main-navbar">
            <nav class="navbar navbar-inverse main-navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="./">
                        <img src="./static/images/logo.png" width="120" height="45" alt="" id="navbar-logo-big" />
                        <img src="./static/images/logo-small.png" width="45" height="45" alt="" id="navbar-logo-small" />
                    </a>

                    <div class="btn-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default navbar-btn" data-bind="click: pauseToggle, attr: { 'title': downloadsPaused() ? '$T('link-resume')' : '$T('link-pause')' }">
                                <span class="glyphicon" data-bind="css: { 'glyphicon-play' : downloadsPaused(), 'glyphicon-pause' : !downloadsPaused() }"></span>
                            </button>
                            <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-time="5" data-bind="click: pauseTime">$T('Glitter-pause5m')</a></li>
                                <li><a href="#" data-time="15" data-bind="click: pauseTime">$T('Glitter-pause15m')</a></li>
                                <li><a href="#" data-time="30" data-bind="click: pauseTime">$T('Glitter-pause30m')</a></li>
                                <li><a href="#" data-time="60" data-bind="click: pauseTime">$T('Glitter-pause1h')</a></li>
                                <li><a href="#" data-time="180" data-bind="click: pauseTime">$T('Glitter-pause3h')</a></li>
                                <li><a href="#" data-time="360" data-bind="click: pauseTime">$T('Glitter-pause6h')</a></li>
                                <li class="divider"></li>
                                <li><a href="#" data-bind="click: customPauseTime">$T('Glitter-custom')</a></li>
                            </ul>
                            <span class="btn btn-default navbar-btn navbar-timeleft" data-bind="text: timeLeft"  data-toggle="dropdown">0:00</span>
                        </div>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="sparkline-container"><span class="sparkline"></span></li>
                        <li class="speedlimit-dropdown dropdown">
                            <div class="btn-group">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default navbar-btn navbar-speed" data-toggle="dropdown">
                                        <span data-bind="text: speedText">0 KB/s</span>
                                    </button>
                                    <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" onclick="keepOpen(this)">
                                        <span class="caret"></span>
                                    </button>
                                    <a href="#" class="max-speed-input-clear hoverbutton" data-bind="click: clearSpeedLimit, visible:(speedLimit() != 100)" style="display: none;">
                                        <span class="glyphicon glyphicon-link"></span>
                                    </a>
                                    <div class="dropdown-menu max-speed-input">
                                        <div data-bind="visible: !bandwithLimit()">
                                            <a href="config/general/#bandwidth_max">
                                                <span class="glyphicon glyphicon-cog"></span> $T('Glitter-setMaxLinespeed')
                                            </a>
                                        </div>
                                        <div data-bind="visible: bandwithLimit()">
                                            <div class="max-speed-slider" data-bind="slider: speedLimit, sliderOptions: {min: 1, max: 100, range: 'min', step: 1}"></div>
                                            <span data-bind="text: speedLimit() + '%'"></span> (<span data-bind="text: speedLimitText"></span>)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li data-toggle="tooltip" data-placement="bottom" title="$T('Glitter-addNZB')">
                            <a href="#modal_add_nzb" data-toggle="modal"><span class="glyphicon glyphicon-plus-sign"></span></a>
                        </li>
                        <li data-toggle="tooltip" data-placement="bottom" title="$T('Glitter-statusInterfaceOptions')" data-bind="click: loadStatusInfo">
                            <a href="#modal_options" data-toggle="modal"><span class="glyphicon glyphicon-wrench"></span></a>
                        </li>
                        <li data-toggle="tooltip" data-placement="bottom" title="SABnzbd $T('menu-config')">
                            <a href="config"><span class="glyphicon glyphicon-cog"></span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" data-bind="css: { 'active-on-queue-finish-menu': onQueueFinish()}" onclick="keepOpen(this)"><span class="glyphicon glyphicon-off"></span></a>
                            <ul class="dropdown-menu menu-options">
                                <li><a href="#modal_help" data-toggle="modal"><span class="glyphicon glyphicon-question-sign"></span> $T('menu-help')</a></li>
                                <!--#if $have_quota or $have_rss_defined or $have_watched_dir or $pp_pause_event#--><li class="divider"></li><!--#end if#-->
                                <!--#if $have_quota#--><li><a href="#" data-bind="click: doQueueAction" data-mode="reset_quota">$T('link-resetQuota')</a></li><!--#end if#-->
                                <!--#if $have_rss_defined#--><li><a href="#" data-bind="click: doQueueAction" data-mode="rss_now">$T('button-rssNow')</a></li><!--#end if#-->
                                <!--#if $have_watched_dir#--><li><a href="#" data-bind="click: doQueueAction" data-mode="watched_now">$T('sch-scan_folder')</a></li><!--#end if#-->
                                <!--#if $pp_pause_event#--><li><a href="#" data-bind="click: doQueueAction" data-mode="resume_pp">$T('sch-resume_post')</a></li><!--#end if#-->
                                <li class="divider"></li>
                                <li><a href="shutdown?session=$session" data-bind="click: shutdownSAB">$T('shutdownSab')</a></li>
                                <li><a href="#" data-bind="click: restartSAB">$T('Glitter-restartSab')</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header"><span class="glyphicon glyphicon-off"></span> $T('Glitter-onFinish'):</li>
                                <li>
                                    <select data-bind="value: onQueueFinish" class="form-control">
                                        <option value=""></option>
                                        <optgroup label="$T('eoq-actions')">
                                            <option value="shutdown_program">$T('shutdownSab')</option>
                                            <!--#if $power_options#-->
                                            <option value="shutdown_pc">$T('shutdownPc')</option>
                                            <option value="standby_pc">$T('standbyPc')</option>
                                            <option value="hibernate_pc">$T('hibernatePc')</option>
                                            <!--#end if#-->
                                        </optgroup>
                                        <optgroup label="$T('eoq-scripts')">
                                            <!-- ko foreach: queue.scriptsList -->
                                                <option data-bind="text: \$data, attr: { value: 'script_'+\$data } " ></option>
                                            <!-- /ko -->
                                        </optgroup>
                                    </select>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container main-content">
            <div class="queue">
                <h2>$T('menu-queue')</h2>

                <div class="info-container" data-bind="visible: diskSpaceLeft1()" style="display: none;">
                    <div class="info-container-box" id="localstorage-error">
                        <span class="queue-error-info"></span>
                    </div>
                    <!-- ko if: hasWarnings()  -->
                    <div class="info-container-box">
                        <a href="#queue-messages" class="queue-error-info">
                            <span class="glyphicon glyphicon-exclamation-sign"></span> <strong data-bind="text: allWarnings().length"></strong>
                        </a>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: (queueDataLeft() != '')  -->
                    <div class="info-container-box">
                        <span class="glyphicon glyphicon-save"></span>
                        <span data-bind="text: queueDataLeft"></span> $T('Glitter-left')
                    </div>
                    <!-- /ko -->
                    <!-- ko if: (quotaLimit() != 0)  -->
                    <div class="info-container-box">
                        <span data-bind="css: { 'queue-error-info' : (parseInt(quotaLimitLeft())<=0) }">
                            <span class="glyphicon glyphicon-log-in"></span> <span data-bind="text: quotaLimitLeft"></span>B / <span data-bind="text: quotaLimit"></span>B $T('quota-left')
                        </span>
                    </div>
                    <!-- /ko -->
                    <div class="info-container-box" data-bind="css: { 'queue-error-info' : ((queueDataLeftMB()/1024) > diskSpaceLeft1()) }">
                        <span class="glyphicon glyphicon-hdd"></span> <span data-bind="text: diskSpaceLeft1"></span> GB $T('Glitter-free')
                        <!-- ko if: (diskSpaceLeft2() > 0)  -->
                        <em>($T('Glitter-freeTemp'))</em>
                        <!-- /ko -->
                    </div>
                    <!-- ko if: (diskSpaceLeft2() > 0)  -->
                    <div class="info-container-box"  data-bind="css: { 'queue-error-info' : ((queueDataLeftMB()/1024) > diskSpaceLeft2()) }">
                        <span class="glyphicon glyphicon-hdd"></span> <span data-bind="text: diskSpaceLeft2"></span> GB $T('Glitter-free')
                    </div>
                    <!-- /ko -->
                    <div class="info-container-box-sorting dropdown" data-bind="visible: hasQueue()">
                        <a href="#" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-sort-by-alphabet" data-toggle="tooltip" data-placement="left" title="$T('cmenu-sorting')"></span>
                        </a>
                        <a href="#" data-bind="click: queue.showMultiEdit">
                            <span class="glyphicon glyphicon-tasks" data-toggle="tooltip" data-placement="left" title="$T('Glitter-multiOperations')"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-action="sortAgeAsc" data-bind="click: queue.queueSorting">$T('Glitter-sortAgeAsc')</a></li>
                            <li><a href="#" data-action="sortAgeDesc" data-bind="click: queue.queueSorting">$T('Glitter-sortAgeDesc')</a></li>
                            <li><a href="#" data-action="sortNameAsc" data-bind="click: queue.queueSorting">$T('Glitter-sortNameAsc')</a></li>
                            <li><a href="#" data-action="sortNameDesc" data-bind="click: queue.queueSorting">$T('Glitter-sortNameDesc')</a></li>
                            <li><a href="#" data-action="sortSizeAsc" data-bind="click: queue.queueSorting">$T('Glitter-sortSizeAsc')</a></li>
                            <li><a href="#" data-action="sortSizeDesc" data-bind="click: queue.queueSorting">$T('Glitter-sortSizeDesc')</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <table class="table table-striped table-hover queue-table">
                    <thead>
                        <tr>
                            <th style="width: 33px;"></th>
                            <th></th>
                            <th class="table-header-extra" data-bind="css: { 'table-extra-header-visible' : extraColumn }"></th>
                            <th class="table-header-progress" data-bind="css: { 'table-header-progress-smaller' : extraColumn }"></th>
                            <th style="width: 85px;"></th>
                            <th style="width: 60px;"></th>
                        </tr>
                    </thead>
                    
                    <!-- ko if: !hasQueue() -->
                    <tbody class="nodownloads">
                        <tr>
                            <td colspan="6">
                                <a href="#modal_add_nzb" class="hoverbutton" data-toggle="modal">
                                    <span title="$T('Glitter-dragAndDrop')" data-toggle="tooltip"><span class="glyphicon glyphicon-plus-sign"></span> $T('Glitter-addNZB')</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <!-- /ko -->
                    <tbody data-bind="visible: hasQueue(), sortable: { data: queue.queueItems, afterMove: queue.move, options: { start: queue.dragStart, stop: queue.dragStop, containment: '.queue' } }" style="display: none;">
                        <tr class="queueitem">
                            <td>
                                <a href="#" data-bind="click: pauseToggle, attr: { 'title': pausedStatus() ? '$T('link-resume')' : '$T('link-pause')' }">
                                    <span class="hoverbutton glyphicon" data-bind="css: { 'glyphicon-play': pausedStatus(), 'glyphicon-pause': !pausedStatus() }"></span>
                                </a>
                            </td>
                            <td class="name">
                                <div class="row-wrap-text" data-bind="visible: !editingName()">
                                    <span data-bind="text: name, attr: { 'title': name() }"></span>
                                    <!-- ko if: (rating_avg_video() !== false)  -->
                                    <div class="name-ratings hoverbutton">
                                        <span class="glyphicon glyphicon-facetime-video"></span> <span data-bind="text: rating_avg_video"></span>
                                        <span class="glyphicon glyphicon-volume-up"></span> <span data-bind="text: rating_avg_audio"></span>
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <form data-bind="submit: editingNameSubmit">
                                    <input type="text" data-bind="value: nameForEdit, visible: editingName(), hasfocus: editingName" />
                                </form>
                                <div class="name-options" data-bind="visible: !editingName()">
                                    <a href="#" data-bind="click: editName" class="hoverbutton"><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#" data-bind="click: showFiles" class="hoverbutton"><span class="glyphicon glyphicon-folder-open"></span></a>
                                    <small data-bind="text: avg_age"></small>
                                </div>
                            </td>
                            <td class="queue-extra-text">
                                <div class="row-wrap-text" data-bind="text: extraText">
                                </div>
                            </td>
                            <td class="progress-indicator">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" data-bind="attr: { 'style': 'width: ' + percentageRounded() + '; background-color: ' + progressColor() + ';' }, c">
                                        <strong data-bind="text: percentageRounded"></strong>
                                        <i data-bind="text: missingText"></i>
                                    </div>
                                    <span data-bind="text: progressText"></span>
                                </div>
                            </td>
                            <td class="timeleft row-wrap-text" data-bind="text: timeLeft"></td>
                            <td class="delete">
                                <label data-bind="visible: !isGrabbing() && parent.isMultiEditing()">
                                    <input type="checkbox" name="multiedit" title="$T('Glitter-multiSelect')" data-bind="click: parent.addMultiEdit, attr: { 'id': 'multiedit_' + id } " />
                                </label>
                                <div class="dropdown" data-bind="visible: !isGrabbing() && !parent.isMultiEditing()">
                                    <a href="#" data-toggle="dropdown" onclick="keepOpen(this)">
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu queueitem-settings">
                                        <li title="$T('category')" data-toggle="tooltip" data-placement="left">
                                            <span class="glyphicon glyphicon-tag"></span>
                                            <select name="Category" class="form-control" data-bind="options: parent.categoriesList, optionsValue: 'catValue', optionsText: 'catText',  value: category, event: { change: changeCat }"></select>
                                        </li>
                                        <!-- ko if: (status() != 'Fetching')  -->
                                        <li title="$T('priority')" data-bind="visible: (status() != 'Fetching')" data-toggle="tooltip" data-placement="left">
                                            <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                            <select name="Priority" class="form-control" data-bind="options: parent.priorityOptions, optionsValue: 'value', optionsText: 'name', value: priority, event: { change: changePriority }"></select>
                                        </li>
                                        <!-- /ko -->
                                        <li title="$T('swtag-pp')" data-toggle="tooltip" data-placement="left">
                                            <span class="glyphicon glyphicon-check"></span>
                                            <select name="Processing" class="form-control" data-bind="options: parent.processingOptions, optionsValue: 'value', optionsText: 'name', value: unpackopts, event: { change: changeProcessing }"></select>
                                        </li>

                                        <li title="$T('eoq-scripts')" data-toggle="tooltip" data-placement="left">
                                            <span class="glyphicon glyphicon-flash"></span>
                                            <select name="Post-processing" class="form-control" data-bind="options: parent.scriptsList, value: script, event: { change: changeScript }, enable: (parent.scriptsList().length > 0)"></select>
                                        </li>
                                    </ul>
                                </div>
                                <a href="#" class="hoverbutton" title="$T('removeNZB-Files')" data-bind="click: removeDownload"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <form class="multioperations-selector" data-bind="visible: (hasQueue() && queue.isMultiEditing())" style="display: none;">
                    <div class="add-nzb-inputbox add-nzb-inputbox-small add-nzb-inputbox-options">
                        <label for="multiedit-checkall">
                            <input type="checkbox" name="multieditCheckAll" id="multiedit-checkall" onclick="checkAllFiles(this)" title="$T('Glitter-checkAll')" data-toggle="tooltip" data-placement="top" />
                        </label>
                        <a href="#" class="hoverbutton" data-bind="click: queue.doMultiDelete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                    <div class="add-nzb-inputbox add-nzb-inputbox-small">
                        <label for="multiedit-play">
                            <input type="radio" name="multiedit-status" value="resume" id="multiedit-play" data-bind="event: { change: queue.doMultiEditUpdate }" />
                            <span class="glyphicon glyphicon-play" title="$T('link-resume')" data-toggle="tooltip" data-placement="top"></span>
                        </label>
                        <label for="multiedit-pause">
                            <input type="radio" name="multiedit-status" value="pause" id="multiedit-pause" data-bind="event: { change: queue.doMultiEditUpdate }" />
                            <span class="glyphicon glyphicon-pause" title="$T('link-pause')" data-toggle="tooltip" data-placement="top"></span>
                        </label>
                    </div>
                    <div class="add-nzb-inputbox-clear"></div>
                    <div class="add-nzb-inputbox" data-toggle="tooltip" data-placement="top" title="$T('category')">
                        <span class="glyphicon glyphicon-tag"></span>
                        <select name="Category" class="form-control" data-bind="options: queue.categoriesList, optionsValue: 'catValue', optionsText: 'catText', optionsCaption: '', event: { change: queue.doMultiEditUpdate }"></select>
                    </div>
                    <div class="add-nzb-inputbox" data-toggle="tooltip" data-placement="top" title="$T('priority')">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                        <select name="Priority" class="form-control" data-bind="options: queue.priorityOptions, optionsValue: 'value', optionsText: 'name', optionsCaption: '', event: { change: queue.doMultiEditUpdate }"></select>
                    </div>
                    <div class="add-nzb-inputbox" data-toggle="tooltip" data-placement="top" title="$T('swtag-pp')">
                        <span class="glyphicon glyphicon-check"></span>
                        <select name="Processing" class="form-control" data-bind="options: queue.processingOptions, optionsValue: 'value', optionsText: 'name', optionsCaption: '', event: { change: queue.doMultiEditUpdate }"></select>
                    </div>
                    <div class="add-nzb-inputbox" data-toggle="tooltip" data-placement="top" title="$T('eoq-scripts')">
                        <span class="glyphicon glyphicon-flash"></span>
                        <select name="Post-processing" class="form-control" data-bind="options: queue.scriptsList, optionsCaption: '', event: { change: queue.doMultiEditUpdate }"></select>
                    </div>
                    <div class="clearfix"></div>
                </form>
                
                <div class="input-group search-box" data-bind="visible: queue.hasQueueSearch" style="display: none;">
                    <input type="text" class="form-control" placeholder="$T('Glitter-search')" required data-bind="textInput: queue.searchTerm, event: { keydown: queue.clearSearchTerm }" />
                    <a data-bind="event: { mousedown: queue.clearSearchTerm }">
                        <span class="glyphicon" data-bind="css: { 'glyphicon-search' : !queue.searchTerm(), 'glyphicon-remove' : queue.searchTerm() }"></span>
                    </a>
                </div>
                
                <ul class="pagination" data-bind="foreach: queue.pagination.allpages, visible: queue.pagination.hasPagination" style="display: none;">
                    <li data-bind="css: { active: isCurrent, disabled: isDots }, click: onclick">
                        <span data-bind="text: page"></span>
                    </li>
                </ul>
            </div>

            <div id="queue-messages" class="queue-messages" data-bind="visible: hasMessages()" style="display: none;">
                <table class="table table-hover table-messages">
                    <thead>
                        <tr>
                            <th class="table-messages-header-label"></th>
                            <th style="width: 30px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko if: hasWarnings()-->
                            <tr>
                                <td class="table-messages-hide"></td>
                                <td data-bind="attr: { 'rowspan': parseInt(nrWarnings())+1 }, click: clearWarnings" class="table-messages-remove">
                                    <a href="#" class="hoverbutton"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                            <!-- ko foreach: allWarnings -->
                            <tr>
                                <td class="table-messages-label">
                                    <span class="label" data-bind="css: 'label-' + css, text: type"></span>
                                    <strong data-bind="text: date, attr: { 'data-timestamp': timestamp }"></strong>
                                    <span class="queue-message-text" data-bind="html: text"></span>
                                </td>
                            </tr>
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko foreach: allMessages -->
                            <tr>
                                <td class="table-messages-label">
                                    <span class="label" data-bind="css: 'label-' + css, text: type"></span>
                                    <span class="queue-message-text" data-bind="html: text"></span>
                                </td>
                                <td class="table-messages-remove">
                                    <!-- ko if: \$data.hasOwnProperty("clear") --><a href="#" data-bind="click: clear"  class="hoverbutton"><span class="glyphicon glyphicon-remove"></span></a><!-- /ko -->
                                </td>
                            </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
            
            <div class="history" data-bind="visible: hasHistory()" style="display: none;">
                <h2>$T('menu-history')</h2>
                <table class="table table-hover history-table paginated">
                    <thead>
                        <tr>
                            <th style="width: 25px;"></th>
                            <th></th>
                            <th class="status-header"></th>
                            <th style="width: 130px;"></th>
                            <th style="width: 60px;"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: history.historyItems">
                        <tr class="historyitem" data-bind="css: {'history-failed-download':failed()}">
                            <td>
                                <div data-bind="visible: processingWaiting()">
                                    <span class="glyphicon glyphicon-time"></span>
                                </div>
                                <div data-bind="visible: processingDownload()">
                                    <div class="processing-download">
                                        <div class="rect1"></div>
                                        <div class="rect2"></div>
                                        <div class="rect3"></div>
                                        <div class="rect4"></div>
                                    </div>
                                </div>
                                <div data-bind="visible: (!failed() && !processingDownload() && !processingWaiting())">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                <div data-bind="visible: failed() && canRetry()">
                                    <a class="retrybutton" href="#" data-bind="click: retry">
                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    </a>
                                </div>
                                <div data-bind="visible: failed() && !canRetry()">
                                    <span class="retrybutton-inactive">
										<span class="glyphicon glyphicon-exclamation-sign"></span>
                                    </span>
                                </div>
                            </td>
                            <td class="name" data-bind="css: { 'name-has-ratings' : historyStatus.has_rating }">
                                <div class="row-wrap-text">
                                    <a class="retrybuttontext" href="#" data-bind="visible: (failed() && canRetry()), click: retry">$T('button-retry')</a>
                                    <span data-bind="text: historyStatus.name, attr: { 'title': historyStatus.name() }"></span>
                                </div>

                                <!-- ko if: historyStatus.has_rating -->
                                <div class="dropdown history-ratings">
                                    <a href="#" class="name-ratings hoverbutton" data-toggle="dropdown" onclick="keepOpen(this)">
                                        <span class="glyphicon glyphicon-facetime-video"></span> <span data-bind="text: historyStatus.rating_avg_video"></span>
                                        <span class="glyphicon glyphicon-volume-up"></span> <span data-bind="text: historyStatus.rating_avg_audio"></span>
                                    </a>
                                    <ul class="dropdown-menu history-ratings-menu">
                                        <li>
                                            <form class="history-ratings-basic">
                                                <label>
                                                    <input type="radio" value="up" data-bind="attr: { 'name': 'ratings-status-'+nzo_id, 'checked': historyStatus.rating_user_vote() == 1 }, event: { change: setUserVote }" />
                                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                                    <span data-bind="text: historyStatus.rating_avg_vote_up"></span>
                                                </label>
                                                <label>
                                                    <input type="radio" value="down" data-bind="attr: { 'name': 'ratings-status-'+nzo_id, 'checked': historyStatus.rating_user_vote() == 2 }, event: { change: setUserVote }" />
                                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                                    <span data-bind="text: historyStatus.rating_avg_vote_down"></span>
                                                </label>
                                                <label>
                                                    <span class="glyphicon glyphicon-facetime-video"></span>
                                                    <select name="ratings-video" data-bind="value: historyStatus.rating_user_video, event: { change: setUserRating }, disable: historyStatus.rating_user_video">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </label>
                                                <label>
                                                    <span class="glyphicon glyphicon-volume-up"></span>
                                                    <select name="ratings-audio" data-bind="value: historyStatus.rating_user_audio, event: { change: setUserRating }, disable: historyStatus.rating_user_audio">
                                                        <option value="">&nbsp;</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                        <option value="7">7</option>
                                                        <option value="8">8</option>
                                                        <option value="9">9</option>
                                                        <option value="10">10</option>
                                                    </select>
                                                </label>
                                                <!-- ko if: historyStatus.url_info -->
                                                <a href="#" target="_blank" data-bind="attr: { 'href':historyStatus.url_info }" title="$T('Glitter-openInfoURL')"><span class="glyphicon glyphicon-globe"></span></a>
                                                <!-- /ko -->
                                            </form>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <form class="history-ratings-report" data-bind="submit: setUserReport">
                                                <strong>$T('report')</strong>
                                                <br />
                                                <label>
                                                    <input type="radio" name="rating_flag" value="spam" /> $T('spam')
                                                </label>
                                                <br />
                                                <label>
                                                    <input type="radio" name="rating_flag" value="encrypted" /> $T('encrypted')
                                                </label>
                                                <br />
                                                <label>
                                                    <input type="radio" name="rating_flag" value="expired" /> $T('expired')
                                                    <select name="ratings-report-expired-server" class="ratings-report-hidden form-control" data-bind="options: \$parent.servers, optionsText: 'host', optionsValue: 'host', optionsCaption: '$T('nzo-all')'"></select>
                                                </label>
                                                <br />
                                                <label>
                                                    <input type="radio" name="rating_flag" value="other" /> $T('otherProblem')
                                                    <input type="text" class="form-control ratings-report-hidden" name="ratings-report-other" />
                                                </label>
                                                <br />
                                                <label>
                                                    <input type="radio" name="rating_flag" value="comment" /> $T('comment')
                                                    <input type="text" class="form-control ratings-report-hidden" name="ratings-report-comment" />
                                                </label>
                                                <br />
                                                <button type="button" class="btn btn-default">$T('send') <span class="glyphicon glyphicon-ok"></span></button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /ko -->
                            </td>
                            <td class="status row-wrap-text" data-bind="text: statusText()"></td>
                            <td class="history-completedon row-wrap-text" data-bind="text: completedOn(), attr: { 'data-timestamp': completed }"></td>
                            <td class="delete">
                                <div class="dropdown">
                                    <a href="#" data-toggle="dropdown" data-bind="click: updateAllHistoryInfo">
                                        <span class="caret"></span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="history-status-table">
                                            <div class="row">
                                                <div class="col-sm-2">$T('name')</div>
                                                <div class="col-sm-10" data-bind="text: historyStatus.name"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">$T('post-Completed')</div>
                                                <div class="col-sm-10" data-bind="text: completedOn, attr: { 'data-timestamp': completed }"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">$T('status')</div>
                                                <div class="col-sm-10" data-bind="text: glitterTranslate.status[historyStatus.status()] ? glitterTranslate.status[historyStatus.status()] : statusText()"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">$T('size')</div>
                                                <div class="col-sm-10" data-bind="text: historyStatus.size"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">$T('category')</div>
                                                <div class="col-sm-10" data-bind="text: historyStatus.category() == '*' ? glitterTranslate.defaultText : historyStatus.category"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">$T('msg-path')</div>
                                                <div class="col-sm-10" data-bind="text: historyStatus.storage"></div>
                                            </div>
                                            <!-- ko foreach: historyStatus.stage_log -->
                                            <div class="row">
                                                <div class="col-sm-2" data-bind="text: glitterTranslate.status[name()]"></div>
                                                <div class="col-sm-10 history-status-modallink" data-bind="html: actions"></div>
                                            </div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="hoverbutton" data-bind="click: deleteSlot"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="input-group search-box">
                    <input type="text" class="form-control" placeholder="$T('Glitter-search')" required data-bind="textInput: history.searchTerm, event: { keydown: history.clearSearchTerm }" />
                    <a data-bind="event: { mousedown: history.clearSearchTerm }">
                        <span class="glyphicon" data-bind="css: { 'glyphicon-search' : !history.searchTerm(), 'glyphicon-remove' : history.searchTerm() }"></span>
                    </a>
                </div>

                <ul class="pagination" data-bind="foreach: history.pagination.allpages(), visible: history.pagination.hasPagination" style="display: none;">
                    <li data-bind="css: { active: isCurrent, disabled: isDots }, click: onclick">
                        <span data-bind="text: page"></span>
                    </li>
                </ul>
                
                <div class="multioperations-selector" id="history-options">
                    <a href="#" class="hoverbutton" title="$T('showAllHis') / $T('showFailedHis')" data-toggle="tooltip" data-placement="left" data-bind="click: history.toggleShowFailed, css: { 'history-options-show-failed': history.showFailed }"><span class="glyphicon glyphicon-exclamation-sign"></span></a>
                    <a href="#" class="hoverbutton" title="$T('purgeHist')"  data-toggle="tooltip" data-placement="left" data-bind="click: history.emptyHistory"><span class="glyphicon glyphicon-trash"></span></a>
                </div>

                <div class="info-container history-info">
                    <span class="glyphicon glyphicon-save"></span>
                    <span data-bind="text: history.downloadedToday"></span>B $T('Glitter-today')

                    <!-- <span data-bind="text: history.downloadedWeek"></span>B this week  -->
                    <span data-bind="text: history.downloadedMonth"></span>B $T('Glitter-thisMonth')
                    <span data-bind="text: history.downloadedTotal"></span>B $T('Glitter-total')
                </div>
            </div>
        </div>

        <!-- Filedrop and Restarting overlay -->
        <div class="main-filedrop modal-backdrop fade in">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </div>
        <div class="main-restarting modal-backdrop fade in" data-bind="visible: isRestarting" style="display: none;">
            <div>
                <strong><span class="glyphicon glyphicon-retweet"></span> $T('Glitter-lostConnection')</strong><br />
                <small>$T('Glitter-afterRestart')</small>
            </div>
        </div>

        <!--#include $webdir + "/include_modals.tmpl"#-->

        <!-- Make translations available in scripts -->
        <script type="text/javascript">
            var apiKey = "$session";
            var displayLang = "$active_lang";
            var sabSpeedHistory = [$bytespersec_list];
            var newRelease = "$new_release";
            var newReleaseUrl = "$new_rel_url";
        
            var glitterTranslate = new Object();
            glitterTranslate.paused = "$T('post-Paused')";
            glitterTranslate.left = "$T('Glitter-left')";
            glitterTranslate.clearWarn = "$T('Glitter-confirmClearWarnings')";
            glitterTranslate.pausePrompt = '$T('Glitter-pausePrompt')'.replace(/<br \/>/g, "\n").replace(/&quot;/g, "'");
            glitterTranslate.pausePromptFail = "$T('Glitter-pausePromptFail')".replace(/<br \/>/g, "\n");
            glitterTranslate.shutdown = "$T('shutdownOK?')";
            glitterTranslate.restart = "$T('explain-Restart')".replace(/<br \/>/g, "\n");
            glitterTranslate.repair = "$T('explain-Repair')".replace(/<br \/>/g, "\n");
            glitterTranslate.removeDown = "$T('Glitter-confirmClearDownloads')";
            glitterTranslate.removeDow1 = "$T('Glitter-confirmClear1Download')";
            glitterTranslate.grabbing = "$T('Glitter-grabbing')";
            glitterTranslate.checking = "$T('post-Checking')";
            glitterTranslate.misingArt = "$T('missingArt')";
            glitterTranslate.noSelect = "$T('Glitter-noSelect')";
            glitterTranslate.sendThanks = "$T('Glitter-sendThanks')";
            glitterTranslate.chooseFile = "$T('Glitter-chooseFile')";
            glitterTranslate.orphanedJobsMsg = "$T('explain-orphans')";
            glitterTranslate.updateAvailable = "$T('Glitter-updateAvailable')";
            glitterTranslate.defaultText = "$T('default')";
            
            glitterTranslate.status = [];
            glitterTranslate.status['Completed'] = "$T('post-Completed')";
            glitterTranslate.status['Failed'] = "$T('post-Failed')";
            glitterTranslate.status['Queued'] = "$T('post-Queued')";
            glitterTranslate.status['Repairing...'] = "$T('post-Repairing')";
            glitterTranslate.status['Extracting...'] = "$T('post-Extracting')";
            glitterTranslate.status['Moving...'] = "$T('post-Moving')";
            glitterTranslate.status['Running script...'] = "$T('post-Running')";
            glitterTranslate.status['Fetching extra blocks...'] = "$T('post-Fetching')";
            glitterTranslate.status['Quick Check...'] = "$T('post-QuickCheck')";
            glitterTranslate.status['Verifying...'] = "$T('post-Verifying')";
            glitterTranslate.status['Checking'] = "$T('post-Checking')";
            glitterTranslate.status['Download'] = "$T('stage-download')";
            glitterTranslate.status['Repair'] = "$T('stage-repair')";
            glitterTranslate.status['Join files'] = "$T('stage-filejoin')";
            glitterTranslate.status['Unpack'] = "$T('stage-unpack')";
            glitterTranslate.status['Script'] = "$T('stage-script')";
            glitterTranslate.status['Source'] = "$T('stage-source')";
            glitterTranslate.status['Servers'] = "$T('stage-servers')";
            glitterTranslate.status['WARNING'] = "$T('Glitter-warning')";
            glitterTranslate.status['ERROR'] = "$T('Glitter-error')";

            glitterTranslate.pp = [];
            glitterTranslate.pp['Download'] = "$T('pp-none')";
            glitterTranslate.pp['+Repair'] = "$T('pp-repair')";
            glitterTranslate.pp['+Unpack'] = "$T('pp-unpack')";
            glitterTranslate.pp['+Delete'] = "$T('pp-delete')";

            glitterTranslate.priority = [];
            glitterTranslate.priority['Force'] = "$T('pr-force')";
            glitterTranslate.priority['High'] = "$T('pr-high')";
            glitterTranslate.priority['Normal'] = "$T('pr-normal')";
            glitterTranslate.priority['Low'] = "$T('pr-low')";
            glitterTranslate.priority['Stop'] = "$T('pr-stop')";
            
            glitterIsBeta = ("$version".search(/Alpa|Beta|x/)) > 0;
            
            // To avoid problems when localStorage is disabled
            function localStorageSetItem(varToSet, valueToSet) { try { return localStorage.setItem(varToSet, valueToSet); } catch(e) { \$('#localstorage-error span').text('Cannot store settings locally'); return false; } }
            function localStorageGetItem(varToGet) { try { return localStorage.getItem(varToGet); } catch(e) {  \$('#localstorage-error span').text('Cannot store settings locally'); return false; } }
        </script>
  
        <!-- Feedback -->
        <div id="feedback-slider" data-bind="visible: glitterIsBeta && !localStorageGetItem('showFeedback')" style="display: none;">
    		<h4>Feedback <a href="#" onclick="localStorageSetItem('showFeedback', 'No'); \$(this).parent().parent().hide()">&times;</a></h4>
    		<div id="feedback-slider-inner">
                <p><strong>If anything is not working as expected, or could be improved, let us know!</strong></p>
                <p><strong>If you encounter an error, please include the log file (click on <span class="glyphicon glyphicon-wrench"></span> ) when contacting us.</strong></p>
                <h4>General</h4>
                <span class="glyphicon glyphicon-home"></span> <a href="http://forums.sabnzbd.org/" target="_blank">SABnzbd Forum</a><br />
                <span class="glyphicon glyphicon-plane"></span> <a href="https://github.com/sabnzbd/sabnzbd/" target="_blank">SABnzbd on Github</a><br />
                <span class="glyphicon glyphicon-globe"></span> <a href="https://translations.launchpad.net/sabnzbd" target="_blank">Translations of SABnzbd</a><br />
                <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:bugs@sabnzbd.org?body=Version:%20$version%20Skin:%20Glitter">Email bugs@sabnzbd.org</a>

                <h4>Interface (Glitter)</h4>
                <span class="glyphicon glyphicon-home"></span> <a href="http://forums.sabnzbd.org/viewtopic.php?f=5&amp;t=18880" target="_blank">Glitter at SABnzbd Forum</a><br />
                <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:safihre@sabnzbd.org?body=Version:%20$version">Email safihre@sabnzbd.org</a>
    		</div>
    	</div>
        
        <!-- Inclusion is faster than external scripts, SABNZB doesn't do caching! -->
        <script type="text/javascript">
            <!--#include raw $webdir + "/static/javascripts/jquery-1.11.2.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/jquery-ui.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/jquery.peity.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/moment.js"#-->
            <!--#include raw $webdir + "/static/javascripts/knockout-latest.js"#-->
            <!--#include raw $webdir + "/static/javascripts/knockout-extensions.js"#-->
            <!--#include raw $webdir + "/static/bootstrap/js/bootstrap.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/glitter.js"#-->
        </script>
    </body>
</html>