<!DOCTYPE html>
<!--#set $active_lang=$active_lang.replace('_', '-').lower()#-->
<html lang="$active_lang" <!--#if $rtl#-->dir="rtl"<!--#end if#--> id="sabnzbd" data-bind="filedrop: { overlaySelector: '.main-filedrop', onFileDrop: addNZBFromFile }">
    <head>
        <!--
                Glitter V2
                By Safihre (2016) - safihre@sabnzbd.org

                Code extended from Shiny-template
                Code examples used from Knockstrap-template

                Many things are inserted on-load, making the
                output hard to read. If you want to know what's
                going on, read the main.tmpl file!
        -->
        <title data-bind="text: title">SABnzbd</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="application-name" content="SABnzbd">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="SABnzbd" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="msapplication-navbutton-color" content="#000000" />
        <meta name="theme-color" content="#000000" />

        <link rel="apple-touch-icon" sizes="76x76" href="./staticcfg/ico/apple-touch-icon-76x76-precomposed.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="./staticcfg/ico/apple-touch-icon-120x120-precomposed.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="./staticcfg/ico/apple-touch-icon-152x152-precomposed.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="./staticcfg/ico/apple-touch-icon-180x180-precomposed.png" />
        <link rel="apple-touch-icon" sizes="192x192" href="./staticcfg/ico/android-192x192.png" />
        <link rel="mask-icon" href="./staticcfg/ico/safari-pinned-tab.svg" color="#383F45">
        <link rel="shortcut icon" type="image/ico" href="./staticcfg/ico/favicon.ico?v=$version" data-bind="attr: { 'href': SABIcon }" />

        <link rel="stylesheet" type="text/css" href="./static/bootstrap/css/bootstrap.min.css?v=$version" />
        <link rel="stylesheet" type="text/css" href="./static/stylesheets/glitter.css?v=$version" />
        <link rel="stylesheet" type="text/css" href="./static/stylesheets/glitter.mobile.css?v=$version" media="all and (max-width: 768px)" />
        <!--#if $color_scheme not in ('Light', '') #-->
        <link rel="stylesheet" type="text/css" href="./static/stylesheets/colorschemes/${color_scheme}.css?v=$version"/>
        <!--#end if#-->

        <!-- Make translations available in scripts -->
        <script type="text/javascript">
            var apiKey = "$apikey";
            var displayLang = "$active_lang";
            var sabSpeedHistory = [$bytespersec_list];
            var newRelease = "$new_release";
            var newReleaseUrl = "$new_rel_url";
            var glitterIsBeta = ("$version".search(/[develop|Alpha|Beta|RC]/)) > 0;

            var glitterTranslate = new Object();
            glitterTranslate.paused = "$T('post-Paused')";
            glitterTranslate.left = "$T('Glitter-left')";
            glitterTranslate.clearWarn = "$T('confirm')";
            glitterTranslate.pausePromptFail = "$T('Glitter-pausePromptFail')"
            glitterTranslate.pauseFor = "$T('pauseFor')"
            glitterTranslate.minutes = "$T('mins')"
            glitterTranslate.shutdown = "$T('shutdownOK?')";
            glitterTranslate.restart = "$T('explain-Restart') $T('explain-needNewLogin')".replace(/\<br(\s*\/|)\>/g, '\n');
            glitterTranslate.repair = "$T('explain-Repair')".replace(/<br \/>/g, "\n").replace(/&quot;/g,'"');
            glitterTranslate.deleteMsg = "$T('nzo-delete')";
            glitterTranslate.removeDown = "$T('confirm')";
            glitterTranslate.removeDow1 = "$T('confirm')";
            glitterTranslate.renameAbort = "$T('Glitter-confirmAbortDirectUnpack')\n$T('confirm')";
            glitterTranslate.retryAll = "$T('link-retryAll')?";
            glitterTranslate.fetch = "$T('Glitter-fetch')";
            glitterTranslate.encrypted = "$T('Glitter-encrypted')";
            glitterTranslate.duplicate = "$T('Glitter-duplicate')";
            glitterTranslate.tooLarge = "$T('Glitter-tooLarge')";
            glitterTranslate.unwanted = "$T('Glitter-unwanted')";
            glitterTranslate.incomplete = "$T('Glitter-incomplete')";
            glitterTranslate.waitSec = "$T('Glitter-waitSec')";
            glitterTranslate.checking = "$T('post-Checking')";
            glitterTranslate.misingArt = "$T('missingArt')";
            glitterTranslate.noSelect = "$T('Glitter-noSelect')";
            glitterTranslate.sendThanks = "$T('Glitter-sendThanks')";
            glitterTranslate.chooseFile = "$T('Glitter-chooseFile')";
            glitterTranslate.orphanedJobsMsg = "$T('explain-orphans')";
            glitterTranslate.useCache = "$T('explain-cache_limitstr').replace("64M", "256M").replace("128M", "512M")";
            glitterTranslate.noLocalStorage = "$T('Glitter-noLocalStorage')";
            glitterTranslate.glitterTips = "$T('Glitter-glitterTips')";
            glitterTranslate.updateAvailable = "$T('Glitter-updateAvailable')";
            glitterTranslate.defaultText = "$T('default')";
            glitterTranslate.noneText = "$T('None')";
            glitterTranslate.moreText = "$T('Glitter-more')";

            glitterTranslate.status = [];
            glitterTranslate.status['DirectUnpack'] = "$T('opt-direct_unpack')";
            glitterTranslate.status['Completed'] = "$T('post-Completed')";
            glitterTranslate.status['Failed'] = "$T('post-Failed')";
            glitterTranslate.status['Queued'] = "$T('post-Queued')";
            glitterTranslate.status['Repairing...'] = "$T('post-Repairing')";
            glitterTranslate.status['Extracting...'] = "$T('post-Extracting')";
            glitterTranslate.status['Moving...'] = "$T('post-Moving')";
            glitterTranslate.status['Running script...'] = "$T('post-Running')";
            glitterTranslate.status['Fetching extra blocks...'] = "$T('post-Fetching')";
            glitterTranslate.status['Quick Check...'] = "$T('post-QuickCheck')";
            glitterTranslate.status['Verifying...'] = "$T('post-Verifying')";
            glitterTranslate.status['Checking'] = "$T('post-Checking')";
            glitterTranslate.status['Download'] = "$T('stage-download')";
            glitterTranslate.status['Repair'] = "$T('stage-repair')";
            glitterTranslate.status['Filejoin'] = "$T('stage-filejoin')";
            glitterTranslate.status['Unpack'] = "$T('stage-unpack')";
            glitterTranslate.status['Deobfuscate'] = "$T('stage-deobfuscate')";
            glitterTranslate.status['Script'] = "$T('stage-script')";
            glitterTranslate.status['Source'] = "$T('stage-source')";
            glitterTranslate.status['Servers'] = "$T('stage-servers')";
            glitterTranslate.status['INFO'] = "$T('log-info')".replace('+', '').toUpperCase();
            glitterTranslate.status['WARNING'] = "$T('Glitter-warning')";
            glitterTranslate.status['ERROR'] = "$T('Glitter-error')";

            glitterTranslate.pp = [];
            glitterTranslate.pp['Download'] = "$T('pp-none')";
            glitterTranslate.pp['+Repair'] = "$T('pp-repair')";
            glitterTranslate.pp['+Unpack'] = "$T('pp-unpack')";
            glitterTranslate.pp['+Delete'] = "$T('pp-delete')";

            glitterTranslate.priority = [];
            glitterTranslate.priority['Force'] = "$T('pr-force')";
            glitterTranslate.priority['High'] = "$T('pr-high')";
            glitterTranslate.priority['Normal'] = "$T('pr-normal')";
            glitterTranslate.priority['Low'] = "$T('pr-low')";
            glitterTranslate.priority['Stop'] = "$T('pr-stop')";
        </script>

        <!-- Inclusion is faster than external scripts. We load momentJS locale seperatly so failure won't break anything -->
        <script type="text/javascript">
            <!--#include raw $webdir + "/static/javascripts/jquery-3.5.1.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/jquery-ui.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/jquery.peity.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/moment-2.26.0.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/knockout-3.5.1.min.js"#-->
            <!--#include raw $webdir + "/static/javascripts/knockout-extensions.js"#-->
            <!--#include raw $webdir + "/static/javascripts/search-query-parser.js"#-->
            <!--#include raw $webdir + "/static/bootstrap/js/bootstrap.min.js"#-->
            <!--#include $webdir + "/static/javascripts/glitter.js"#-->
        </script>
        <!--#if active_lang != 'en'#-->
        <script type="text/javascript" src="./static/javascripts/momentjs_locale/${active_lang}.js"></script>
        <!--#end if#-->
    </head>
    <body>
        <div class="container main-navbar">
            <!--#include $webdir + "/include_menu.tmpl"#-->
        </div>

        <div class="container main-content">
            <div class="history-queue-swicher">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#queue-tab" data-toggle="tab">$T('menu-queue') <span class="badge" data-bind="text: queue.totalItems"></span></a>
                    </li>
                    <li>
                        <a href="#history-tab" data-toggle="tab">$T('menu-history')<span class="badge" data-bind="text: history.totalItems"></span></a>
                    </li>
                    <li>
                        <a href="#queue-messages" data-toggle="tab">$T('warnings')<span class="badge" data-bind="text: hasMessages, css: { 'badge-warning':  hasMessages() }"></span></a>
                    </li>
                </ul>
            </div>

            <!--#include $webdir + "/include_queue.tmpl"#-->
            <!--#include $webdir + "/include_messages.tmpl"#-->
            <!--#include $webdir + "/include_history.tmpl"#-->
        </div>

        <!--#include $webdir + "/include_overlays.tmpl"#-->
    </body>
</html>
