{
    "status": {
        "cache": { 
            "cache_size": "$cache_size",
            "cache_current": "$cache_art"
        },
        "loglevel": "$loglevel",
        "servers": 
            [
            <!--#set $count=0#-->
            <!--#for $server in $servers#-->
                <!--#if $count != 0#-->,<!--#end if#-->
                {
                "servername": "$server[0]",
                "serverstatus": "<!--#if int($server[8]) != 0#-->$T('optional').capitalize()<!--#else#-->$T('enabled').capitalize()<!--#end if#-->",
                "serverpriority": "$server[7]",
                "serveractiveconn": "$server[2]",
                "serverblocked": <!--#if not $server[5]#-->"$server[6]"<!--#else#-->false<!--#end if#-->,
                "serverconnections": 
                    [
                    <!--#set $countthrd=0#-->
                    <!--#for $thrd in $server[3]#--> 
                        <!--#if $countthrd != 0#-->,<!--#end if#-->
                        {
                            "articleid":"$thrd[1]",
                            "filename":"$thrd[2]",
                            "fileset":"$thrd[3]"
                        }
                        <!--#set $countthrd=$countthrd+1#-->
                    <!--#end for#-->
                    ]
                }
                <!--#set $count=$count+1#-->
            <!--#end for#-->
            ],
        "folders": [
            <!--#if $folders#-->
                <!--#set $countfldr=0#-->
                <!--#for $folder in $folders#-->
                    <!--#if $countfldr != 0#-->,<!--#end if#-->
                    { "folder":"$folder" }
                    <!--#set $countfldr=$countfldr+1#-->
                <!--#end for#-->
            <!--#end if#-->
        ]
    }
    <!--#if $varExists('localipv4')#-->
    ,"dashboard": {
        "localipv4": "$localipv4",
        "publicipv4": "$publicipv4",
        "ipv6": "$ipv6",
        "dnslookup": "$dnslookup", 
        <!--#set $downloaddir = $downloaddir.replace('\\','\\\\')#-->
        "downloaddir": "$downloaddir",
        "downloaddirspeed": "$downloaddirspeed", 
        <!--#if not $downloaddirspeed#--><!--#set $downloaddirspeed = -1#--><!--#end if#-->
        "downloaddirspeedbad": <!--#if 0 < float($downloaddirspeed) < 5#-->true<!--#else#-->false<!--#end if#-->, 
        <!--#set $completedir = $completedir.replace('\\','\\\\')#-->
        "completedir": "$completedir",
        "completedirspeed": "$completedirspeed",
        <!--#if not $completedirspeed#--><!--#set $completedirspeed = -1#--><!--#end if#-->
        "completedirspeedbad": <!--#if 0 < float($completedirspeed) < 5#-->true<!--#else#-->false<!--#end if#-->
    }
    <!--#end if#-->
}