<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+General-0-7"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="general"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>$T('generalConfig')</h2>
<form action="saveGeneral" method="post" autocomplete="off">
<div class="EntryBlock">
<fieldset class="EntryFieldSet">

<legend>$T('webServer')</legend>
<i>$T('restartRequired')</i><br/><br/>
<strong>$T('opt-host'):</strong><br>
$T('explain-host')<br>
<input type="text" name="host" value="$host">
<br>
<br>
<strong>$T('opt-port'):</strong><br>
$T('explain-port')<br>
<input type="text" name="port" value="$port">
<br>
<br>
<strong>$T('opt-web_dir'):</strong><br>
$T('explain-web_dir')<br>
<select name="web_dir">
  <!--#for $webline in $web_list#-->
    <!--#if $webline.lower() == $web_dir.lower()#-->
      <option value="$webline" selected>$webline</option>
    <!--#else#-->
      <option value="$webline">$webline</option>
    <!--#end if#-->
  <!--#end for#-->
</select>
<br/><br/>
<strong>$T('opt-web_dir2'):</strong><br>
$T('explain-web_dir2')<br>
<select name="web_dir2">
  <!--#for $webline in $web_list2#-->
    <!--#if $webline.lower() == $web_dir2.lower()#-->
      <option value="$webline" selected>$webline</option>
    <!--#else#-->
      <option value="$webline">$webline</option>
    <!--#end if#-->
  <!--#end for#-->
</select>
<br /><br /><strong>$T('opt-apikey'):</strong><br />
$T('explain-apikey')<br />
<input type="text" style="width:250px;border:none;" onclick="this.select()" id="apikey" value="$session">
<a href="generateAPIKey?session=$session">$T('button-apikey')</a>
<br /><br /><strong>$T('opt-nzbkey'):</strong><br />
$T('explain-nzbkey')<br />
<input type="text" style="width:250px;border:none;" onclick="this.select()" id="nzbkey" value="$nzb_key">
<a href="generateNzbKey?session=$session">$T('button-apikey')</a>
<br /><br />
<label><input type="checkbox" name="disable_api_key" value="1" <!--#if $disable_api_key > 0 then "checked=1" else ""#--> /> <strong>$T('opt-disableApikey')</strong></label><br>
$T('explain-disableApikey') <a href="${helpuri}cross-site-vulnerability/" target="_blank">$T('explain-disableApikeyWarn')</a>
<!--#if $lang_list#-->
<br/><br/>
<strong>$T('opt-language'):</strong><br/>
$T('explain-language')<br/>
<select name="language">
  <!--#for $webline in $lang_list#-->
    <!--#if $webline[0].lower() == $language.lower()#-->
      <option value="$webline[0]" selected>$webline[1]</option>
    <!--#else#-->
      <option value="$webline[0]">$webline[1]</option>
    <!--#end if#-->
  <!--#end for#-->
</select>
<!--#end if#-->
</fieldset>
</div>
<fieldset class="EntryFieldSet">
<legend>$T('webAuth')</legend>
<strong>$T('opt-web_username'):</strong><br>
$T('explain-web_username')<br>
<input type="text" name="username" value="$username">
<br>
<br>
<strong>$T('opt-web_password')</strong><br>
$T('explain-web_password')<br>
<input type="password" name="password" value="$password">
</fieldset>

<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>$T('httpsSupport')</legend>
<i>$T('restartRequired')</i><br/><br/>
<label><input type="checkbox" name="enable_https" value="1" <!--#if $enable_https > 0 then 'checked="1"' else ""#--> <!--#if int($have_ssl) == 0 then "disabled" else ""#--> />
<strong>$T('opt-enable_https')<!--#if int($have_ssl) == 0 then " "+$T('opt-notInstalled') else ""#--></strong></label><br/>
$T('explain-enable_https')<br>
<br/>
<strong>$T('opt-https_port'):</strong><br>
$T('explain-https_port')<br>
<input type="text" name="https_port" value="$https_port">
<br/>
<br/>
<strong>$T('opt-https_cert'):</strong><br/>
$T('explain-https_cert')<br/>
<input type="text" name="https_cert" value="$https_cert">
<br/>
<br/>
<strong>$T('opt-https_key'):</strong><br/>
$T('explain-https_key')<br/>
<input type="text" name="https_key" value="$https_key">
</fieldset>
</div>

<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>$T('tuning')</legend>
<strong>$T('opt-refresh_rate'):</strong><br>
$T('explain-refresh_rate')<br>
<input type="text" name="refresh_rate" value="$refresh_rate">
<br>
<br>
<strong>$T('opt-bandwidth_limit'):</strong><br>
$T('explain-bandwidth_limit')<br>
<input type="text" name="bandwidth_limit" value="$bandwidth_limit">
<br>
<br>
<strong>$T('opt-cache_limitstr'):</strong><br>
$T('explain-cache_limitstr')<br>
<input type="text" name="cache_limit" value="$cache_limit">
<br>
<br>
<strong>$T('opt-cleanup_list'):</strong><br>
$T('explain-cleanup_list')<br><br>
<input type="text" name="cleanup_list" value="$cleanup_list">
<input type="hidden" name="session" value="$session">
</fieldset>
</div>
<p>
<input type="submit" value="$T('button-saveChanges')">
<!--#if $restart_req#-->
  <input type="submit" onclick="this.form.action='../restart'; this.form.submit(); return false;" value="$T('button-restart')"/>
<!--#end if#-->
</p>
</form>
</table>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
