<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+Scheduling-0-7"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="scheduling"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>$T('configSchedule')</h2>
<div class="EntryBlock">
<form action="addSchedule" method="post">
<fieldset class="EntryFieldSet">
<legend>$T('addSchedule')</legend>
  <%import time
t = time.localtime()
hour = t[3]
if hour != 23:
  hour += 1
else:
  hour = 0 %>
$T('hour'):<br>
<select name="hour">
<!--#for $i in range(24)#-->
<option value="$i" <!--#if hour == i then "selected=1" else ""#-->> $i</option>
<!--#end for#-->
</select>
:
<select name="minute">
<!--#for $i in range(60)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<br>$T('sch-frequency'): <br>
<select name="dayofweek">
<option value="*" selected>$T('daily')
<option value="1">$T('monday')
<option value="2">$T('tuesday')
<option value="3">$T('wednesday')
<option value="4">$T('thursday')
<option value="5">$T('friday')
<option value="6">$T('saturday')
<option value="7">$T('sunday')
</select>
<br>$T('sch-action'):<br>
<select name="action">
<!--#for $action in $actions#-->
  <option value="$action">$actions_lng[$action]
<!--#end for#-->
</select>
<br>$T('sch-arguments'):<br>
<input type="text" size="20" name="arguments" value="">
<input type="hidden" name="session" value="$session">
<p><input type="submit" value="$T('button-addSchedule')"></p>
</fieldset>
</form>
</div>
<h3>$T('currentSchedules'):</h3>
<div class="EntryBlock">
<!--#set $schednum = 0#-->
<!--#for $line in $schedlines#-->
<form action="delSchedule" method="post">
<fieldset class="EntryFieldSet">
$T('sch-task') $taskinfo[$schednum][0]: <strong>$taskinfo[$schednum][1]:$taskinfo[$schednum][2]</strong> - $taskinfo[$schednum][3] - $taskinfo[$schednum][4]
<!--#set $schednum += 1#-->
<input type="hidden" name="line" value="$line">
<input type="hidden" name="session" value="$session">
<input type="submit" value="$T('button-delSchedule')">
</fieldset>
</form><br />
<!--#end for#-->
</div>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
