<!--#set global $topmenu="config"#-->
<!--#set global $statpath=".."#-->
<!--#set global $helpsubject="Configure-0-7"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu=""#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>$T('configuration')</h2>
<p>
<b>$T('confgFile'):</b> $configfn
</p>

$T('explain-Restart')<br/>
<form action="saveGeneral" method="post">
<input type="submit" onclick="this.form.action='restart?session=$session'; this.form.submit(); return false;" value="$T('button-restart')"/>
</form>
<br/><br/>

<hr/>
<!--#if $folders#-->
$T('explain-orphans')<br/>
<br/>

  <table id="catTable">
    <tr>
      <th></th>
      <th></th>
      <th>$T('name')</th>
    </tr>
  <!--#set $odd = False#-->
  <!--#for $folder in $folders#-->
    <!--#set $odd = not $odd#-->
    <tr class="<!--#if $odd then "odd" else "even"#-->">

  <td>
    <form action="delete" method="get">
    <input type="hidden" value="$folder" name="name">
    <input type="hidden" value="$session" name="session">
    <input type="submit" value="$T('button-delCat')">
    </form>
  </td>

  <td>
    <form action="add" method="get">
    <input type="hidden" value="$folder" name="name">
    <input type="hidden" value="$session" name="session">
    <input type="submit" value="$T('button-add')">
    </form>
  </td>

  <td>
  $folder
  </td>

  <!--#end for#-->
  </table>
<hr/><br/>
<!--#end if#-->
$T('explain-Repair')<br/>
<form action="saveGeneral" method="post">
<input type="submit" onclick="this.form.action='repair?session=$session'; this.form.submit(); return false;" value="$T('button-repair')"/>
</form>


<!--#include $webdir + "/inc_bottom.tmpl"#-->
