<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+Switches-0-7"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="switches"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>$T('switchesConfig')</h2>
<form action="saveSwitches" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>$T('processingSwitches')</legend>
    <label><input type="checkbox" name="quick_check" value="1" <!--#if $quick_check > 0 then "checked=1" else ""#--> /> <strong>$T('opt-quick_check')</strong></label><br/>
    $T('explain-quick_check')<br>
    <br/>
    <label><input type="checkbox" name="pre_check" value="1" <!--#if $pre_check > 0 then "checked=1" else ""#--> /> <strong>$T('opt-pre_check')</strong></label><br/>
    $T('explain-pre_check')<br>
    <br/>
    <label><input type="checkbox" name="enable_unrar" value="1" <!--#if $enable_unrar > 0 then "checked=1" else ""#--> /> <strong>$T('opt-enable_unrar')</strong></label><br>
    $T('explain-enable_unrar')<br>
    <br>
    <label><input type="checkbox" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then "checked=1" else ""#--> /> <strong>$T('opt-enable_unzip')</strong></label><br>
    $T('explain-enable_unzip')<br>
    <br>
    <label><input type="checkbox" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then "checked=1" else ""#--> /> <strong>$T('opt-enable_filejoin')</strong></label><br>
    $T('explain-enable_filejoin')<br>
    <br>
    <label><input type="checkbox" name="enable_tsjoin" value="1" <!--#if $enable_tsjoin > 0 then "checked=1" else ""#--> /> <strong>$T('opt-enable_tsjoin')</strong></label><br>
    $T('explain-ts_join')<br>
    <br>
    <label><input type="checkbox" name="enable_par_cleanup" value="1" <!--#if $enable_par_cleanup > 0 then "checked=1" else ""#--> /> <strong>$T('opt-enable_par_cleanup')</strong></label><br>
    $T('explain-enable_par_cleanup')<br>
    <br>
    <label><input type="checkbox" name="fail_on_crc" value="1" <!--#if $fail_on_crc > 0 then "checked=1" else ""#--> /> <strong>$T('opt-fail_on_crc')</strong></label><br>
    $T('explain-fail_on_crc')<br>
    <br>
    <label><input type="checkbox" name="top_only" value="1" <!--#if $top_only > 0 then "checked=1" else ""#--> /> <strong>$T('opt-top_only')</strong></label><br>
    $T('explain-top_only')<br/>
    <br>
    <label><input type="checkbox" name="safe_postproc" value="1" <!--#if $safe_postproc > 0 then "checked=1" else ""#--> /> <strong>$T('opt-safe_postproc')</strong></label><br>
    $T('explain-safe_postproc')<br>
    <br>
    <label><input type="checkbox" name="pause_on_pwrar" value="1" <!--#if $pause_on_pwrar > 0 then "checked=1" else ""#--> /> <strong>$T('opt-pause_on_pwrar')</strong></label><br>
    $T('explain-pause_on_pwrar')<br>
    <br>
    <label><input type="checkbox" name="unpack_check" value="1" <!--#if $unpack_check > 0 then "checked=1" else ""#--> /> <strong>$T('opt-unpack_check')</strong></label><br>
    $T('explain-unpack_check')<br>
    <br>
    <strong>$T('opt-no_dupes'):</strong><br>
    $T('explain-no_dupes')<br>
    <input class="radio" type="radio" name="no_dupes" value="0" <!--#if $no_dupes == 0 then 'checked="1"' else ""#--> /> $T('nodupes-off')
    <input class="radio" type="radio" name="no_dupes" value="1" <!--#if $no_dupes == 1 then 'checked="1"' else ""#--> /> $T('nodupes-ignore')
    <input class="radio" type="radio" name="no_dupes" value="2" <!--#if $no_dupes == 2 then 'checked="1"' else ""#--> /> $T('nodupes-pause')
    <br/><br/>
    <label><input type="checkbox" name="sfv_check" value="1" <!--#if $sfv_check > 0 then "checked=1" else ""#--> /> <strong>$T('opt-sfv_check')</strong></label><br>
    $T('explain-sfv_check')<br>
    <br>
    <label><input type="checkbox" name="folder_rename" value="1" <!--#if $folder_rename > 0 then "checked=1" else ""#--> /> <strong>$T('opt-folder_rename')</strong></label><br>
    $T('explain-folder_rename')<br>
    <br>
    <br>
    <strong>$T('opt-pre_script'):</strong><br>
    $T('explain-pre_script')<br>
    <select name="pre_script">
    <!--#for $sc in $script_list#-->
        <!--#if $sc.lower() == $pre_script.lower()#-->
            <option value="$sc" selected>$Tspec($sc)</option>
        <!--#else#-->
            <option value="$sc">$Tspec($sc)</option>
        <!--#end if#-->
    <!--#end for#-->
    </select>
    <br>
    <br>
<!--#if $nt#-->
    <label><input type="checkbox" name="par2_multicore" value="1" <!--#if $par2_multicore > 0 then "checked=1" else ""#--> /> <strong>$T('opt-par2_multicore')</strong></label><br>
    $T('explain-par2_multicore')<br>
    <br>
<!--#end if#-->
    <strong>$T('opt-par_option'):</strong><br/>
    $T('explain-par_option')<br/>
    <input type="text" name="par_option" value="$par_option"/>
    <br>
    <br>
<!--#if $have_nice#-->
    <strong>$T('opt-nice'):</strong><br/>
    $T('explain-nice')<br/>
    <input type="text" name="nice" value="$nice"/>
    <br>
    <br>
<!--#end if#-->
<!--#if $have_ionice#-->
    <strong>$T('opt-ionice'):</strong><br/>
    $T('explain-ionice')<br/>
    <input type="text" name="ionice" value="$ionice"/>
    <br>
    <br>
<!--#end if#-->
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>$T('otherSwitches')</legend>
    <label><strong>$T('opt-max_art_tries')</strong></label><br>
    $T('explain-max_art_tries')<br>
    <input type="text" size=5" name="max_art_tries" value="$max_art_tries" />
    <br><br>
    <label><input type="checkbox" name="max_art_opt" value="1" <!--#if $max_art_opt > 0 then "checked=1" else ""#--> /> <strong>$T('opt-max_art_opt')</strong></label><br>
    $T('explain-max_art_opt')<br>
    <br>
    <label><input type="checkbox" name="auto_disconnect" value="1" <!--#if $auto_disconnect > 0 then "checked=1" else ""#--> /> <strong>$T('opt-auto_disconnect')</strong></label><br>
    $T('explain-auto_disconnect')<br>
    <br>
    <label><input type="checkbox" name="send_group" value="1" <!--#if $send_group > 0 then "checked=1" else ""#--> /> <strong>$T('opt-send_group')</strong></label><br>
    $T('explain-send_group')<br>
    <br>
    <label><input type="checkbox" name="auto_sort" value="1" <!--#if $auto_sort > 0 then "checked=1" else ""#--> /> <strong>$T('opt-auto_sort')</strong></label><br>
    $T('explain-auto_sort')<br>
    <br>
    <label><input type="checkbox" name="check_new_rel" value="1" <!--#if $check_new_rel > 0 then "checked=1" else ""#--> /> <strong>$T('opt-check_new_rel')</strong></label><br>
    $T('explain-check_new_rel')<br>
    <br>
    <label><input type="checkbox" name="replace_spaces" value="1" <!--#if $replace_spaces > 0 then "checked=1" else ""#--> /> <strong>$T('opt-replace_spaces')</strong></label><br>
    $T('explain-replace_spaces')<br>
    <br>
    <label><input type="checkbox" name="replace_dots" value="1" <!--#if $replace_dots > 0 then "checked=1" else ""#--> /> <strong>$T('opt-replace_dots')</strong></label><br>
    $T('explain-replace_dots')<br>
    <br>
    <label><input type="checkbox" name="replace_illegal" value="1" <!--#if $replace_illegal > 0 then "checked=1" else ""#--> /> <strong>$T('opt-replace_illegal')</strong></label><br>
    $T('explain-replace_illegal')<br>
    <br>
    <label><input type="checkbox" name="auto_browser" value="1" <!--#if $auto_browser > 0 then "checked=1" else ""#--> /> <strong>$T('opt-auto_browser')</strong></label><br>
    $T('explain-auto_browser')<br>
    <br>
    <label><input type="checkbox" name="pause_on_post_processing" value="1" <!--#if $pause_on_post_processing > 0 then "checked=1" else ""#--> /> <strong>$T('opt-pause_on_post_processing')</strong></label><br>
    $T('explain-pause_on_post_processing')<br>
    <br/>
    <!--#if $have_ampm#-->
        <label><input type="checkbox" name="ampm" value="1" <!--#if $ampm > 0 then "checked=1" else ""#--> /> <strong>$T('opt-ampm')</strong></label><br>
        $T('explain-ampm')<br>
        <br/>
    <!--#end if#-->
    <strong>$T('opt-ignore_samples'):</strong><br>
    $T('explain-ignore_samples')<br>
    <input class="radio" type="radio" name="ignore_samples" value="0" <!--#if $ignore_samples == 0 then 'checked="1"' else ""#--> /> $T('igsam-off')
    <input class="radio" type="radio" name="ignore_samples" value="1" <!--#if $ignore_samples == 1 then 'checked="1"' else ""#--> /> $T('igsam-del')
    <input class="radio" type="radio" name="ignore_samples" value="2" <!--#if $ignore_samples == 2 then 'checked="1"' else ""#--> /> $T('igsam-not')
    <br/>
    <br/>
    <input type="hidden" name="session" value="$session">
    <strong>$T('opt-ssl_type'):</strong><br>
    $T('explain-ssl_type')<br>
    <select name="ssl_type">
        <option value="v23" <!--#if $ssl_type == 'v23' then 'selected' else ''#--> >V23</option>
        <option value="v2" <!--#if $ssl_type == 'v2' then 'selected' else ''#--> >V2</option>
        <option value="v3" <!--#if $ssl_type == 'v3' then 'selected' else ''#--> >V3</option>
    </select>
    <br/>
  </fieldset>

  <fieldset class="EntryFieldSet">
    <strong>$T('opt-quota_size'):</strong><br/>
    $T('explain-quota_size')<br/>
    <input type="text" name="quota_size" value="$quota_size"/>
    <br>
    <br>
    <strong>$T('opt-quota_period'):</strong><br>
    $T('explain-quota_period')<br>
    <select name="ssl_type">
        <option value="m" <!--#if $quota_period == 'm' then 'selected' else ''#--> >$T('month')</option>
        <option value="w" <!--#if $quota_period == 'w' then 'selected' else ''#--> >$T('week')</option>
        <option value="d" <!--#if $quota_period == 'd' then 'selected' else ''#--> >$T('day')</option>
        <option value="x" <!--#if $quota_period == 'x' then 'selected' else ''#--> >$T('manual')</option>
    </select>
    <br/><br/>
    <strong>$T('opt-quota_day'):</strong><br/>
    $T('explain-quota_day')<br/>
    <input type="text" name="quota_day" value="$quota_day"/>
    <br>
    <br>
    <legend>$T('swtag-quota')</legend>
    <label><input type="checkbox" name="quota_resume" value="1" <!--#if $quota_resume > 0 then "checked=1" else ""#--> /> <strong>$T('opt-quota_resume')</strong></label><br>
    $T('explain-quota_resume')<br>
    <br/>
  </fieldset>
</div>
<p><input type="submit" value="$T('button-saveChanges')"></p>
</form>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
