<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+Indexers-0-7"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="newzbin"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>NzbMatrix</h2>
$T('explain-nzbmatrix')<br/><br/>

<form action="saveMatrix" method="post" autocomplete="off">
<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>$T('accountInfo')</legend>
<strong>$T('opt-username_matrix'):</strong><br>
$T('explain-username_matrix')<br>
<input type="text" name="matrix_username" value="$matrix_username">
<br>
<br>
<strong>$T('opt-apikey_matrix'):</strong><br>
$T('explain-apikey_matrix')<br>
<input type="text" name="matrix_apikey" value="$matrix_apikey">
<br/><br/>
<input type="checkbox" name="matrix_del_bookmark" value="1" <!--#if $matrix_del_bookmark > 0 then "checked=1" else ""#--> /> <strong>$T('opt-newzbin_unbookmark'):</strong><br>
$T('explain-newzbin_unbookmark')<br>

</fieldset>
</div>
<input type="hidden" name="session" value="$session">
<p><input type="submit" value="$T('button-saveChanges')"></p>
</form>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
