<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+Folders-0-7"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="directories"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>$T('folderConfig')</h2>
<p><strong>
  $T('explain-folderConfig')<br />
</strong></p>
<form action="saveDirectories" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>$T('userFolders')</legend>
    <emp>$T('in') "$my_home"</emp><br><br>
    <strong>$T('opt-download_dir'):</strong><br>
    $T('explain-download_dir')<br/>
    <input type="text" size="40" name="download_dir" value="$download_dir">
    <br>
    <br>
    <strong>$T('opt-download_free'):</strong><br>
    $T('explain-download_free')<br>
    <input type="text" size="10" name="download_free" value="$download_free">
    <br>
    <br>
    <strong>$T('opt-complete_dir'):</strong><br>
    $T('explain-complete_dir')<br>
    <input type="text" size="40" id="complete_dir" name="complete_dir" value="$complete_dir">
    <!--#if not $nt#-->
      <br>
      <br>
      <strong>$T('opt-permissions'):</strong><br>
      $T('explain-permissions')<br>
      <input type="text" size="10" name="permissions" value="$permissions">
    <!--#end if#-->
    <br>
    <br>
    <strong>$T('opt-dirscan_dir'):</strong><br>
    $T('explain-dirscan_dir')<br>
    <input type="text" size="40" name="dirscan_dir" value="$dirscan_dir">
    <br>
    <br>
    <strong>$T('opt-dirscan_speed'):</strong><br>
    $T('explain-dirscan_speed')<br>
    <input type="text" size="10" name="dirscan_speed" value="$dirscan_speed">
    <br>
    <br>
    <strong>$T('opt-script_dir'):</strong><br>
    $T('explain-script_dir')<br>
    <input type="text" size="40" name="script_dir" value="$script_dir">
    <br>
    <br>
    <strong>$T('opt-email_dir'):</strong><br>
    $T('explain-email_dir')<br>
    <input type="text" size="40" name="email_dir" value="$email_dir">
    <br>
    <br>
    <strong>$T('opt-password_file'):</strong><br>
    $T('explain-password_file')<br>
    <input type="text" size="40" name="password_file" value="$password_file">
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>$T('systemFolders')</legend>
    <emp>$T('in') "$my_lcldata"</emp><br><br>
    <strong>$T('opt-admin_dir'):</strong><br>
    $T('explain-admin_dir1')<br/>$T('explain-admin_dir2')<br/>
    <input type="text" size="40" name="admin_dir" value="$admin_dir">
    <br>
    <br>
    <strong>$T('opt-log_dir'):</strong><br>
    $T('explain-log_dir')<br/>
    <input type="text" size="40" name="log_dir" value="$log_dir">
    <br>
    <br>
    <strong>$T('opt-nzb_backup_dir'):</strong><br>
    $T('explain-nzb_backup_dir')<br>
    <input type="text" size="40" name="nzb_backup_dir" value="$nzb_backup_dir">
    <input type="hidden" name="session" value="$session">
  </fieldset>

</div><br>
<input type="submit" size="40" value="$T('button-saveChanges')">
<!--#if $restart_req#-->
  <input type="submit" onclick="this.form.action='../restart'; this.form.submit(); return false;" value="$T('button-restart')"/>
<!--#end if#-->
</form>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
