<div class="footer">
<b>$T('ft-download'):</b> $diskspace1 GB - <b>$T('ft-complete'):</b> $diskspace2 GB - <b>$T('ft-speed'):</b> ${speed}B/s - <b>$T('ft-queued'):</b> $sizeleft / $size
<!--#if $loadavg#-->
    - <b>$T('ft-sysload')</b> $loadavg
<!--#end if#-->
<!--#if $paused#-->
    - <b>$T('ft-paused')</b><!--#if $pause_int != "0"#-->($pause_int)<!--#end if#--><!--#if $paused_all#--><b>!</b><!--#end if#-->
<!--#end if#-->
<br>
<!--#if int($cache_max)#-->
<!--#set $msg=$T('ft-buffer@2')%($cache_art, $cache_size)#-->
$msg<br>
<!--#end if#-->
<!--#if $new_release#-->
    <!--#set $msg=$T('ft-newRelease@1')%($new_release)#-->
    <b>$msg <a href="$new_rel_url/" target="_blank">SF.net</a></b><br>
<!--#end if#-->
<!--#if $have_warnings != "0"#-->
    <strong><a href="$statpath/connections/">$T('ft-warning')($have_warnings)!</a></strong>
<!--#end if#-->
</div>
<!--#set $mbleftrnd = str(int(float($mbleft)))#-->
<!--#set $mbrnd = str(int(float($mb)))#-->
<div id='SABData' style='visibility: hidden'>
    <b>&nbsp;SAB:</b> <!--#if $paused then "<blink><b>$T('ft-paused')</b></blink>" else "${speed}B/s"#--> <b>Q:</b> $mbleftrnd/$mbrnd MB<b>&nbsp; Comp:</b> $diskspace2 GB
</div>
<!--#if self.varExists('warning') and $warning#-->
        <h2>$T('ft-warning')</h2>
        <b>$warning</b>
<!--#end if#-->
</body>
</html>
