<!--#if $submenu == ""#-->
  <!--#set $cpath="."#-->
<!--#else#-->
  <!--#set $cpath=".."#-->
<!--#end if#-->

<span class="SubMenu">
<!--#if $submenu=="general"#-->
  <a class="current" href="./">$T('cmenu-general')</a> |
<!--#else#-->
  <a href="$cpath/general/">$T('cmenu-general')</a> |
<!--#end if#-->

<!--#if $submenu=="folders"#-->
  <a class="current" href="./">$T('cmenu-folders')</a> |
<!--#else#-->
  <a href="$cpath/folders/">$T('cmenu-folders')</a> |
<!--#end if#-->

<!--#if $submenu=="switches"#-->
  <a class="current" href="./">$T('cmenu-switches')</a> |
<!--#else#-->
  <a href="$cpath/switches/">$T('cmenu-switches')</a> |
<!--#end if#-->

<!--#if $submenu=="servers"#-->
  <a class="current" href="./">$T('cmenu-servers')</a> |
<!--#else#-->
  <a href="$cpath/server/">$T('cmenu-servers')</a> |
<!--#end if#-->

<!--#if $submenu=="scheduling"#-->
  <a class="current" href="./">$T('cmenu-scheduling')</a> |
<!--#else#-->
  <a href="$cpath/scheduling/">$T('cmenu-scheduling')</a> |
<!--#end if#-->

<!--#if $submenu=="rss"#-->
  <a class="current" href="./">$T('cmenu-rss')</a> |
<!--#else#-->
  <a href="$cpath/rss/">$T('cmenu-rss')</a> |
<!--#end if#-->

<!--#if $submenu=="notify"#-->
  <a class="current" href="./">$T('cmenu-notif')</a> |
<!--#else#-->
  <a href="$cpath/notify/">$T('cmenu-notif')</a> |
<!--#end if#-->

<!--#if $submenu=="indexers"#-->
  <a class="current" href="./">$T('cmenu-newzbin')</a> |
<!--#else#-->
  <a href="$cpath/indexers/">$T('cmenu-newzbin')</a> |
<!--#end if#-->

<!--#if $submenu=="categories"#-->
  <a class="current" href="./">$T('cmenu-cat')</a> |
<!--#else#-->
  <a href="$cpath/categories/">$T('cmenu-cat')</a> |
<!--#end if#-->

<!--#if $submenu=="sorting"#-->
  <a class="current" href="./">$T('cmenu-sorting')</a>
<!--#else#-->
  <a href="$cpath/sorting/">$T('cmenu-sorting')</a>
<!--#end if#-->

</span>
