<!--#set global $have_refresh=5#-->
<!--#set global $topmenu="status"#-->
<!--#set global $statpath=".."#-->
<!--#set global $helpsubject="GUI+Status-0-7"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<span class="SubMenu">
<!--#set $msg=$T('askTestEmail')#-->
<!--#if $have_quota#-->
  <a href="./reset_quota?session=$session">$T('link-resetQuota')</a> |
<!--#end if#-->
<a href="./disconnect?session=$session">$T('link-forceDisc')</a> |
<a href="./showlog?session=$session">$T('link-showLog')</a>
$T('logging'):
<select onChange="location = './change_loglevel?session=$session&loglevel='+this.options[this.selectedIndex].value">
  <option value="0" <!--#if $loglevel == "0" then "selected" else ""#-->>$T('log-errWarn')</option>
  <option value="1" <!--#if $loglevel == "1" then "selected" else ""#-->>$T('log-info')</option>
  <option value="2" <!--#if $loglevel == "2" then "selected" else ""#-->>$T('log-debug')</option>
</select>
</span>

<h2>$T('connections')</h2>
<!--#if $servers#-->
  <ul>
  <!--#for $server in $servers#-->
    <li>
      $server[0]: $server[2]
        <!--#if not $server[5]#-->
          <a href="./unblock_server?server=$server[0]&session=$session">($T('server-blocked'))</a>
          &nbsp;&nbsp;$server[6]
        <!--#end if#-->
      <ul>
      <!--#for $thrd in $server[3]#-->
        <li>$T('thread') #$thrd[0] -&gt; $thrd[1] -&gt; $thrd[2] -&gt; $thrd[3]</li>
      <!--#end for#-->
      </ul>
    </li>
  <!--#end for#-->
  </ul>
<!--#end if#-->
<!--#if $warnings#-->
  <h2>$T('lastWarnings') (<a href="./clearwarnings?session=$session">$T('clearWarnings')</a>)</h2>
  <!--#for $warn in $warnings#-->
    $warn<br/>
  <!--#end for#-->
<!--#end if#-->

<!--#include $webdir + "/inc_bottom.tmpl"#-->
