<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
	
	<title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<link rel="shortcut icon" type="image/ico" href="../../static/images/plush-default/sabnzbdplus.ico"/>
	
	<script type="text/javascript" src="../../static/javascripts/jquery.js"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush-default.css"/>
	<!--#if $color_scheme#-->
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/colorschemes/$color_scheme"/>
	<!--#end if#-->
	
	<style>
	<!--
		body {background: #ddd;}
		legend {padding:2px;font-weight:bold;color:white;background-color:#333;font-size:150%;}
	-->
	</style>
	
</head>
<body>
	
	<div align="center">
		<a href="../../" style="text-decoration:none; color:black">&laquo; go back <img src="../../static/images/plush-default/sabnzbdplus_logo.png" border="0"/></a>
	</div>
	
	<div id="config_nav">
		<ul>
			<li><a class="config_menu" id="config_nav_connections" href="../../connections">Connections</a></li>
			<li><a class="config_menu" id="config_nav_general" href="../general">General</a></li>
			<li><a class="config_menu" id="config_nav_directories" href="../directories">Directories</a></li>
			<li><a class="config_menu nav_active" id="config_nav_switches" href="../switches">Switches</a></li>
			<li><a class="config_menu" id="config_nav_server" href="../server">Servers</a></li>
			<li><a class="config_menu" id="config_nav_categories" href="../categories">Categories</a></li>
			<li><a class="config_menu" id="config_nav_scheduling" href="../scheduling">Scheduling</a></li>
			<li><a class="config_menu" id="config_nav_rss" href="../rss">RSS</a></li>
			<li><a class="config_menu" id="config_nav_email" href="../email">Email</a></li>
			<li><a class="config_menu" id="config_nav_newzbin" href="../newzbin">Newzbin</a></li>
		</ul>
	</div>
	
	<form action="saveSwitches" method="post" name="fullform">
	
	<div id="config_container" class="config_margin">
		<div id="config_content">
			
<!--************************************
			PAGE CONTENT IS BELOW
	************************************ -->
			
			<div class="EntryBlock">
			<fieldset class="EntryFieldSet">
				
				<legend>&raquo;&nbsp;Processing&nbsp;Switches&nbsp;</legend>
				
				<table cellpadding=2>
					<tr>
						<td align=right><strong>Enable Unrar:</strong></td>
						<td><input type="radio" name="enable_unrar" value="0" <!--#if $enable_unrar == 0 then "checked=1" else ""#--> /> No <input type="radio" name="enable_unrar" value="1" <!--#if $enable_unrar > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Enable built-in unrar functionality.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Enable Unzip:</strong></td>
						<td><input type="radio" name="enable_unzip" value="0" <!--#if $enable_unzip == 0 then "checked=1" else ""#--> /> No <input type="radio" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Enable built-in unzip functionality.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Enable Filejoin:</strong></td>
						<td><input type="radio" name="enable_filejoin" value="0" <!--#if $enable_filejoin == 0 then "checked=1" else ""#--> /> No <input type="radio" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Join files ending in .001, .002 etc. into one file.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Enable Par Cleanup:</strong></td>
						<td><input type="radio" name="enable_par_cleanup" value="0" <!--#if $enable_par_cleanup == 0 then "checked=1" else ""#--> /> No <input type="radio" name="enable_par_cleanup" value="1" <!--#if $enable_par_cleanup > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Cleanup par files (if verifiying/repairing succeded).</small></td>
					</tr>
					<tr>
						<td align=right><strong>Fail on yEnc crc Errors:</strong></td>
						<td><input type="radio" name="fail_on_crc" value="0" <!--#if $fail_on_crc == 0 then "checked=1" else ""#--> /> No <input type="radio" name="fail_on_crc" value="1" <!--#if $fail_on_crc > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Use backup servers on yEnc crc errors.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Post-process Only Verified Jobs:</strong></td>
						<td><input type="radio" name="safe_postproc" value="0" <!--#if $safe_postproc == 0 then "checked=1" else ""#--> /> No <input type="radio" name="safe_postproc" value="1" <!--#if $safe_postproc > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Only perform post-processing on jobs that passed all PAR2 checks.</small></td>
					</tr>
					<tr>
						<td align=right valign=top><strong>Only Get Articles for Top of the Queue:</strong></td>
						<td valign=top><input type="radio" name="top_only" value="0" <!--#if $top_only == 0 then "checked=1" else ""#--> /> No <input type="radio" name="top_only" value="1" <!--#if $top_only > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Enable for less memory usage.<br/>Disable to prevent slow jobs from blocking the queue.</small></td>
					</tr>
				</table>
				
				<hr/>
				
				<table cellpadding=8>
					<tr><td>
					
						<strong>Default Post-processing:</strong><br/>
						<small>Used when no post-processing is defined by the category.</small><br/>
						<select name="dirscan_opts">
							<option value="0" <!--#if $dirscan_opts == 0 then "selected" else ""#--> >(Skip)</option>
							<option value="1" <!--#if $dirscan_opts == 1 then "selected" else ""#--> >+Repair</option>
							<option value="2" <!--#if $dirscan_opts == 2 then "selected" else ""#--> >+R+Unpack</option>
							<option value="3" <!--#if $dirscan_opts == 3 then "selected" else ""#--> >+R+U+Delete</option>
						</select>
					
					</td><td>
					
						<strong>Default User Script:</strong><br/>
						<small>Used when no user script is defined by the category.</small><br/>
						<select name="script">
						<!--#for $sc in $script_list#-->
						<!--#if $sc.lower() == $script.lower()#-->
							<option value="$sc" selected>$sc</option>
						<!--#else#-->
							<option value="$sc">$sc</option>
						<!--#end if#-->
						<!--#end for#-->
						</select>
					
					</td><td>
						
						<strong>Extra PAR2 Parameters:</strong><br/>
						<small>Read the Wiki Help on this!</small><br/>
						<input type="text" name="par_option" value="$par_option"/>
						
					</td></tr>
				</table>
				
				
			</fieldset>
			
			<fieldset class="EntryFieldSet">
				
				<legend>&raquo;&nbsp;Other&nbsp;Switches&nbsp;</legend>
				
				<table cellpadding=2>
					<tr>
						<td align=right><strong>Enable Periodic Save:</strong></td>
						<td><input type="radio" name="enable_save" value="0" <!--#if $enable_save == 0 then "checked=1" else ""#--> /> No <input type="radio" name="enable_save" value="1" <!--#if $enable_save > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Enabling will make the queue save it's state after every completed file.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Send Group</strong></td>
						<td><input type="radio" name="send_group" value="0" <!--#if $send_group == 0 then "checked=1" else ""#--> /> No <input type="radio" name="send_group" value="1" <!--#if $send_group > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Send group command before requesting articles.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Sort by Age:</strong></td>
						<td><input type="radio" name="auto_sort" value="0" <!--#if $auto_sort == 0 then "checked=1" else ""#--> /> No <input type="radio" name="auto_sort" value="1" <!--#if $auto_sort > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Automatically sort items by (average) age.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Check for New Release:</strong></td>
						<td><input type="radio" name="check_rel" value="0" <!--#if $check_rel == 0 then "checked=1" else ""#--> /> No <input type="radio" name="check_rel" value="1" <!--#if $check_rel > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Weekly check for new SABnzbd release.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Replace Spaces in Foldername:</strong></td>
						<td><input type="radio" name="replace_spaces" value="0" <!--#if $replace_spaces == 0 then "checked=1" else ""#--> /> No <input type="radio" name="replace_spaces" value="1" <!--#if $replace_spaces > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Replace spaces with underscores in foldernames.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Launch Browser on Startup:</strong></td>
						<td><input type="radio" name="auto_browser" value="0" <!--#if $auto_browser == 0 then "checked=1" else ""#--> /> No <input type="radio" name="auto_browser" value="1" <!--#if $auto_browser > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Launch the browser when starting SABnzbd.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Ignore Sample Files:</strong></td>
						<td><input type="radio" name="ignore_samples" value="0" <!--#if $ignore_samples == 0 then "checked=1" else ""#--> /> No <input type="radio" name="ignore_samples" value="1" <!--#if $ignore_samples > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Filters out sample files from the queue.</small></td>
					</tr>
					<tr>
						<td align=right><strong>Pause Downloads During Post-processing:</strong></td>
						<td><input type="radio" name="pause_on_post_processing" value="0" <!--#if $pause_on_post_processing == 0 then "checked=1" else ""#--> /> No <input type="radio" name="pause_on_post_processing" value="1" <!--#if $pause_on_post_processing > 0 then "checked=1" else ""#--> /> Yes</td>
						<td><small>Pauses downloading at the start of post processing and resumes when finished.</small></td>
					</tr>
				</table>
				
			</fieldset>
			</div>
			
<!--************************************
			PAGE CONTENT IS ABOVE
	************************************ -->
			
		</div>
	</div>
	
	<div class="left_links config_margin">
		<a id="help" target="_blank" href="$helpuri/Configure+Switches">Switches Help</a>
	</div>
	
	<div class="right_links">
		<a id="save" onclick="document.fullform.submit();">Save Changes</a>
	</div>
	
	</form>
	
	<script language="javascript">
		\$('.config_menu').corner("round tl bl");
		\$('#config_container').corner("round");
		\$('#help').corner("round");
		\$('#save').corner("round");
	</script>
	
</body>
</html>

