<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<script type="text/javascript" src="../../static/javascripts/jquery.pack.js"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush.css" media="screen"/>
</head>

<style>
<!--
	body {background: #ddd;}
-->
</style>

<body>

<div id="config_nav">
	<ul>
		<li><a class="config_menu" href="../../connections"><img src="../../static/images/icon_config_connections.png" />Connections</a></li>
		<li><a class="config_menu" href="../general"><img src="../../static/images/icon_config_general.png" />General</a></li>
		<li><a class="config_menu" href="../directories"><img src="../../static/images/icon_config_directories.png" />Directories</a></li>
		<li><a class="config_menu" href="../switches"><img src="../../static/images/icon_config_switches.png" />Switches</a></li>
		<li><a class="config_menu" href="../server"><img src="../../static/images/icon_config_servers.png" />Servers</a></li>
		<li><a class="config_menu" href="../scheduling"><img src="../../static/images/icon_config_scheduling.png" />Scheduling</a></li>
		<li><a class="config_menu" href="../rss"><img src="../../static/images/icon_config_rss.png" />RSS</a></li>
		<li><a class="config_menu" href="../email"><img src="../../static/images/icon_config_email.png" />Email</a></li>
     	<li><a class="config_menu" id="nav_active" href="../newzbin"><img src="../../static/images/icon_config_newzbin.png" />Newzbin</a></li>
	</ul>
</div>

<div id="config_container" class="config_margin">
	<div id="config_content">

<!-- ************************************
	 		PAGE CONTENT IS BELOW
     ************************************ -->

<div style="text-align:center"><small>If you have an account at v3.newzbin.com, you can enter your account info here. This will unlock extra functionality.</small></div>

<form action="saveNewzbin" method="post">
<fieldset class="EntryFieldSet">
<legend>Newzbin Account info</legend>
<strong>Username:</strong><br>
<input type="text" name="username_newzbin" value="$username_newzbin">
<br>
<br>
<strong>Password:</strong><br>
<input type="password" name="password_newzbin" value="$password_newzbin">
</fieldset>

<fieldset class="EntryFieldSet">
<legend>Options</legend>
<strong>Create Category Folders:</strong><br>
<small>Place downloads into newzbin.com category folders.</small><br>
<input type="radio" name="create_category_folders" value="0" <!--#if $create_category_folders == 0 then "checked=1" else ""#--> /> No
<input type="radio" name="create_category_folders" value="1" <!--#if $create_category_folders == 1 then "checked=1" else ""#--> /> Yes
</fieldset>

<fieldset class="EntryFieldSet">
<legend>Bookmark processing</legend>
<strong>Auto fetch bookmarks:</strong><br>
<small>Automatically get jobs from your bookmarks?</small><br>
<input type="radio" name="newzbin_bookmarks" value="0" <!--#if $newzbin_bookmarks == 0 then "checked=1" else ""#--> /> No
<input type="radio" name="newzbin_bookmarks" value="1" <!--#if $newzbin_bookmarks > 0 then "checked=1" else ""#--> /> Yes
<br>
<a href="getBookmarks">Get bookmarks now</a>
<br>
<!--#if $bookmarks_list#-->
    <a href="hideBookmarks">Hide processed bookmarks</a>
<!--#else#-->
    <a href="showBookmarks">Show processed bookmarks</a>
<!--#end if#-->
<br/>
<br/>
<strong>Un-bookmark if download complete:</strong><br>
<small>Remove from bookmark list, when download is complete.</small><br>
<input type="radio" name="newzbin_unbookmark" value="0" <!--#if $newzbin_unbookmark == 0 then "checked=1" else ""#--> /> No
<input type="radio" name="newzbin_unbookmark" value="1" <!--#if $newzbin_unbookmark > 0 then "checked=1" else ""#--> /> Yes
<br/>
<br/>
<strong>Checking interval:</strong><br>
<small>Check how often per day (max 48 = every 30 min).</small><br>
<input type="text" name="bookmark_rate" value="$bookmark_rate">
</fieldset>

<!--#if $bookmarks_list#-->
	<br/><br/>
	<small>
    <fieldset class="EntryFieldSet">
    	<legend>Processed Bookmarks</legend>
    	<!--#for $msgid in $bookmarks_list#-->
        	<a href="https://v3.newzbin.com/browse/post/$msgid/" target="_blank">$msgid</a>&nbsp;
    	<!--#end for#-->
    </fieldset>
	</small>
<!--#end if#-->


<!-- ************************************
	 		PAGE CONTENT IS ABOVE
     ************************************ -->
	</div>
</div>

<div class="left_links config_margin">
	<a id="help" target="_blank" href="https://sabnzbdplus.wiki.sourceforge.net/Configure+Newzbin"><img src="../../static/images/icon_config_help.png"> Contextual Help</a>
</div>

<input id="save_button" type="submit" value="Save Changes">
</form>

<script language="javascript">
	\$('.config_menu').corner("round tl bl");
	\$('#config_container').corner("round");
	\$('#help').corner("round");

</script>

</body>
</html>
