<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<script type="text/javascript" src="../../static/javascripts/jquery-1.2.1.pack.js"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush.css" media="screen"/>
</head>

<style>
<!--
	body {background: #ddd;}
-->
</style>

<body>

<div id="config_nav">
	<ul>
		<li><a class="config_menu" href="../../connections"><img src="../../static/images/icon_config_connections.png" />Connections</a></li>
		<li><a class="config_menu" href="../general"><img src="../../static/images/icon_config_general.png" />General</a></li>
		<li><a class="config_menu" href="../directories"><img src="../../static/images/icon_config_directories.png" />Directories</a></li>
		<li><a class="config_menu" id="nav_active" href="../switches"><img src="../../static/images/icon_config_switches.png" />Switches</a></li>
		<li><a class="config_menu" href="../server"><img src="../../static/images/icon_config_servers.png" />Servers</a></li>
		<li><a class="config_menu" href="../scheduling"><img src="../../static/images/icon_config_scheduling.png" />Scheduling</a></li>
		<li><a class="config_menu" href="../rss"><img src="../../static/images/icon_config_rss.png" />RSS</a></li>
		<li><a class="config_menu" href="../email"><img src="../../static/images/icon_config_email.png" />Email</a></li>
	</ul>
</div>

<div id="config_container" class="config_margin">
	<div id="config_content">

<!-- ************************************
	 		PAGE CONTENT IS BELOW
     ************************************ -->

<form action="saveSwitches" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>Processing switches</legend>
    <strong>Enable Unrar:</strong><br>
    <small>Enable built-in unrar functionality</small><br>
    <input type="radio" name="enable_unrar" value="0" <!--#if $enable_unrar == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_unrar" value="1" <!--#if $enable_unrar > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Enable Unzip:</strong><br>
    <small>Enable built-in unzip functionality</small><br>
    <input type="radio" name="enable_unzip" value="0" <!--#if $enable_unzip == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Enable Filejoin:</strong><br>
    <small>Enable built-in filejoin functionality</small><br>
    <input type="radio" name="enable_filejoin" value="0" <!--#if $enable_filejoin == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Enable Par Cleanup:</strong><br>
    <small>Cleanup par files (if verifiying/repairing succeded)</small><br>
    <input type="radio" name="enable_par_cleanup" value="0" <!--#if $enable_par_cleanup == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_par_cleanup" value="1" <!--#if $enable_par_cleanup > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Fail on yenc crc Errors:</strong><br>
    <small>Use fill servers on yenc crc errors</small><br>
    <input type="radio" name="fail_on_crc" value="0" <!--#if $fail_on_crc == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="fail_on_crc" value="1" <!--#if $fail_on_crc > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Top Only:</strong><br>
    <small>Only fetch Articles from topmost collection (less memory usage)</small><br>
    <input type="radio" name="top_only" value="0" <!--#if $top_only == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="top_only" value="1" <!--#if $top_only > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Dirscan Options:</strong><br>
    <small>Set the post process option on .nzbs placed in the blackhole</small><br><small>
    <input type="radio" name="dirscan_opts" value="0" <!--#if $dirscan_opts == 0 then "checked=1" else ""#--> /> None
    <input type="radio" name="dirscan_opts" value="1" <!--#if $dirscan_opts == 1 then "checked=1" else ""#--> /> +Repair
    <input type="radio" name="dirscan_opts" value="2" <!--#if $dirscan_opts == 2 then "checked=1" else ""#--> /> +Unpack
    <input type="radio" name="dirscan_opts" value="3" <!--#if $dirscan_opts == 3 then "checked=1" else ""#--> /> +Delete<br>
    <input type="radio" name="dirscan_opts" value="4" <!--#if $dirscan_opts == 4 then "checked=1" else ""#--> /> Repair+Script
    <input type="radio" name="dirscan_opts" value="5" <!--#if $dirscan_opts == 5 then "checked=1" else ""#--> /> Unpack+Script
    <input type="radio" name="dirscan_opts" value="6" <!--#if $dirscan_opts == 6 then "checked=1" else ""#--> /> Delete+Script
    <br>
    <br></small>
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>Other switches</legend>
    <strong>Enable periodic Save:</strong><br>
    <small>Saves state of the queue after every completed file</small><br>
    <input type="radio" name="enable_save" value="0" <!--#if $enable_save == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_save" value="1" <!--#if $enable_save > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Disconnect on empty queue:</strong><br>
    <small>Disconnect from Usenet server(s) when queue is empty.</small><br>
    <input type="radio" name="auto_disconnect" value="0" <!--#if $auto_disconnect == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="auto_disconnect" value="1" <!--#if $auto_disconnect > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Create group Folders:</strong><br>
    <small>Place downloads into group folders</small><br>
    <input type="radio" name="create_group_folders" value="0" <!--#if $create_group_folders == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="create_group_folders" value="1" <!--#if $create_group_folders > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Create Category Folders:</strong><br>
    <small>Place downloads into newzbin.com category folders</small><br>
    <input type="radio" name="create_category_folders" value="0" <!--#if $create_category_folders == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="create_category_folders" value="1" <!--#if $create_category_folders == 1 then "checked=1" else ""#--> /> Root
    <input type="radio" name="create_category_folders" value="2" <!--#if $create_category_folders == 2 then "checked=1" else ""#--> /> Root+Sub
    <br>
    <br>
    <strong>Send Group</strong><br>
    <small>Send group command before requesting articles</small><br>
    <input type="radio" name="send_group" value="0" <!--#if $send_group == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="send_group" value="1" <!--#if $send_group > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Auto Sort:</strong><br>
    <small>Automatically sort items by (average) age</small><br>
    <input type="radio" name="auto_sort" value="0" <!--#if $auto_sort == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="auto_sort" value="1" <!--#if $auto_sort > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Check for new release:</strong><br>
    <small>Weekly check for new SABnzbd release</small><br>
    <input type="radio" name="check_rel" value="0" <!--#if $check_rel == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="check_rel" value="1" <!--#if $check_rel > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
  </fieldset>
</div>


<!-- ************************************
	 		PAGE CONTENT IS ABOVE
     ************************************ -->

	</div>
</div>

<div class="left_links config_margin">
	<a id="help" target="_blank" href="https://sabnzbdplus.wiki.sourceforge.net/Configure+Switches"><img src="../../static/images/icon_config_help.png"> Contextual Help</a>
</div>

<input id="save_button" type="submit" value="Save Changes">
</form>

<script language="javascript">
	\$('.config_menu').corner("round tl bl");
	\$('#config_container').corner("round");
	\$('#help').corner("round");

</script>




</body>
</html>



