	<div id="config_nav">
		<ul>
			<li><a class="config_menu #if $pane=="Connections"#nav_active#end if#" id="config_nav_connections" href="$path/connections">Connections</a></li>
			<li><a class="config_menu #if $pane=="General"#nav_active#end if#" id="config_nav_general" href="$path/config/general">General</a></li>
			<li><a class="config_menu #if $pane=="Folders"#nav_active#end if#" id="config_nav_directories" href="$path/config/directories">Folders</a></li>
			<li><a class="config_menu #if $pane=="Switches"#nav_active#end if#" id="config_nav_switches" href="$path/config/switches">Switches</a></li>
			<li><a class="config_menu #if $pane=="Servers"#nav_active#end if#" id="config_nav_server" href="$path/config/server">Servers</a></li>
			<li><a class="config_menu #if $pane=="Categories"#nav_active#end if#" id="config_nav_categories" href="$path/config/categories">Categories</a></li>
			<li><a class="config_menu #if $pane=="Scheduling"#nav_active#end if#" id="config_nav_scheduling" href="$path/config/scheduling">Scheduling</a></li>
			<li><a class="config_menu #if $pane=="RSS"#nav_active#end if#" id="config_nav_rss" href="$path/config/rss">RSS</a></li>
			<li><a class="config_menu #if $pane=="Email"#nav_active#end if#" id="config_nav_email" href="$path/config/email">Email</a></li>
			<li><a class="config_menu #if $pane=="Newzbin"#nav_active#end if#" id="config_nav_newzbin" href="$path/config/newzbin">Index sites</a></li>
		</ul>
	</div>
