<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<script type="text/javascript" src="../../static/javascripts/jquery.pack.js"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush.css" media="screen"/>
</head>

<style>
<!--
	body {background: #ddd;}
-->
</style>

<body>

<div id="config_nav">
	<ul>
		<li><a class="config_menu" href="../../connections"><img src="../../static/images/icon_config_connections.png" />Connections</a></li>
		<li><a class="config_menu" id="nav_active" href="../general"><img src="../../static/images/icon_config_general.png" />General</a></li>
		<li><a class="config_menu" href="../directories"><img src="../../static/images/icon_config_directories.png" />Directories</a></li>
		<li><a class="config_menu" href="../switches"><img src="../../static/images/icon_config_switches.png" />Switches</a></li>
		<li><a class="config_menu" href="../server"><img src="../../static/images/icon_config_servers.png" />Servers</a></li>
		<li><a class="config_menu" href="../scheduling"><img src="../../static/images/icon_config_scheduling.png" />Scheduling</a></li>
		<li><a class="config_menu" href="../rss"><img src="../../static/images/icon_config_rss.png" />RSS</a></li>
		<li><a class="config_menu" href="../email"><img src="../../static/images/icon_config_email.png" />Email</a></li>
     	<li><a class="config_menu" href="../newzbin"><img src="../../static/images/icon_config_newzbin.png" />Newzbin</a></li>
	</ul>
</div>

<div id="config_container" class="config_margin">
	<div id="config_content">

<!-- ************************************
	 		PAGE CONTENT IS BELOW
     ************************************ -->

<div style="text-align:center"><small>
	Config File: <b style="color:blue">$configfn</b>
</small></div>
<form action="saveGeneral" method="post">
<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>Web Server</legend>
<strong>Manual Restart Required!</strong><br><br>
<strong>Host:</strong><br>
<small>Host SABnzbd should listen on</small><br>
<input type="text" name="host" value="$host"/>
<br>
<strong>Port:</strong> <input type="text" name="port" size="8" value="$port"/>
<br/>
<br/>
<strong>SABnzbd Web UI Access:</strong><br/>
<small>Authentication <b>Username:</b></small><br/>
<input type="text" name="username" value="$username"/>
<br/>
<small>Authentication <b>Password:</b></small><br/>
<input type="password" name="password" value="$password"/>
<br/>
<br/>
<strong>User Interface:</strong><br/>
<small>Choose a web interface</small><br/>
<select name="web_dir">
    <!--#for $webline in $web_list#-->
        <!--#if $webline == $web_dir#-->
            <option value="$webline" selected>$webline</option>
        <!--#else#-->
            <option value="$webline">$webline</option>
        <!--#end if#-->
    <!--#end for#-->
</select>
</fieldset>
<fieldset class="EntryFieldSet">
<legend>Tuning</legend>
<!-- // unused by Plush
<strong>Queue auto refresh interval:</strong><br>
<small>Refresh interval of the queue web-interface</small><br>
<input type="text" name="refresh_rate" size="6" value="$refresh_rate"/><small> (sec, 0=none)</small>
<br>
<br> -->
<strong>RSS checking rate:</strong><br>
<small>Checking rate&mdash;times per hour</small><br>
<input type="text" name="rss_rate" size="6" value="$rss_rate"/><small> ( 1, 2, 3, 4 )</small>
<br>
<br>
<strong>Bandwith Limit:</strong><br>
<small>Download speed limit in kilobytes per second(kB/s).</small><br>
<input type="text" name="bandwith_limit" size="6" value="$bandwith_limit"/>
<br>
<br>
<strong>Article Cache Limit:</strong><br>
<small>Cache articles in memory</small><br>
<input type="text" name="cache_limitstr" value="$cache_limitstr"/>
<br>
<br>
<strong>Cleanup List:</strong><br>
<small>File extensions to delete at cleanup stage.</small><br>
<input type="text" name="cleanup_list" value="$cleanup_list"/><br>
<small><i>For Example: ".nfo," or ".nfo, .sfv"</i></small>
</fieldset>
</div>


<!-- ************************************
	 		PAGE CONTENT IS ABOVE
     ************************************ -->

	</div>
</div>

<div class="left_links config_margin">
	<a id="help" target="_blank" href="https://sabnzbdplus.wiki.sourceforge.net/Configure+General"><img src="../../static/images/icon_config_help.png"> Contextual Help</a>
</div>

<input id="save_button" type="submit" value="Save Changes"/>
</form>

<script language="javascript">
	\$('.config_menu').corner("round tl bl");
	\$('#config_container').corner("round");
	\$('#help').corner("round");

</script>




</body>
</html>
