<!--#set global $pane="Scheduling"#-->
<!--#set global $help_uri="Configure+Scheduling+V2"#-->
<!--#include $webdir + "/config_inc_header.tmpl"#-->

            <form action="addSchedule" method="post">
			<input type="hidden" name="session" value="$session">

            <div class="EntryBlock">
			<fieldset class="EntryFieldSet">

                <legend id="configbox_add_schedule">$T('addSchedule')</legend>
<%import time
t = time.localtime()
hour = t[3]
if hour != 23:
    hour += 1
else:
    hour = 0 %>

                <table>
                    <tr><td align=right>
                        <div class="sucker">$T('hour'):</div>
                    </td><td>
                        <select name="hour">
                        <!--#for $i in range(24)#-->
                            <option value="$i" <!--#if hour == i then "selected=1" else ""#-->> $i</option>
                        <!--#end for#-->
                        </select>&nbsp;:&nbsp;<select name="minute">
                        <!--#for $i in range(60)#-->
                            <option value="$i">$i</option>
                        <!--#end for#-->
                        </select>
                    </td></tr>

                    <tr><td align=right>
                        <div class="sucker">$T('sch-frequency'):</div>
                    </td><td>
                        <select name="dayofweek">
                            <option value="*" selected>$T('daily')</option>
                            <option value="1">$T('monday')</option>
                            <option value="2">$T('tuesday')</option>
                            <option value="3">$T('wednesday')</option>
                            <option value="4">$T('thursday')</option>
                            <option value="5">$T('friday')</option>
                            <option value="6">$T('saturday')</option>
                            <option value="7">$T('sunday')</option>
                        </select>
                    </td></tr>

                    <tr><td align=right>
                        <div class="sucker">$T('sch-action'):</div>
                    </td><td>
                        <select name="action">
                            <!--#for $action in $actions#-->
                                <option value="$action">$actions_lng[$action]
                            <!--#end for#-->
                        </select>
                    </td></tr>

                    <tr><td align=right>
                        <div class="sucker">$T('sch-arguments'):</div>
                    </td><td>
                        <input type="text" size="20" name="arguments" value=""/>
                    </td></tr>

                    <tr><td>
                    </td><td>
                        <br/><input type="submit" value="$T('button-addSchedule')"/>
                    </td></tr>

                </table>



            </fieldset>
            </form>
            </div>

            <!--#if $schedlines#-->
            <div class="EntryBlock">
            <fieldset class="EntryFieldSet">
            <legend id="configbox_current_schedules">$T('currentSchedules')</legend>
            <table>
            <!--#set $schednum = 0#-->
            <!--#for $line in $schedlines#-->
	            <form action="delSchedule" method="post">
				<input type="hidden" name="session" value="$session">
	            <input type="hidden" name="line" value="$line"/>
                <tr>
                	<td><input type="submit" value="$T('button-delSchedule')"/></td>
                	<td align="right"><strong>$taskinfo[$schednum][1]:$taskinfo[$schednum][2]</strong></td>
                	<td>$taskinfo[$schednum][3]</td>
                	<td>$taskinfo[$schednum][4]</td>
                </tr>
				</form>
                <!--#set $schednum = $schednum+1#-->
            <!--#end for#-->
            </table>
            </fieldset>
            </div>
            <!--#end if#-->

<!--#include $webdir + "/config_inc_footer.tmpl"#-->
