<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
	
	<title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<link rel="shortcut icon" type="image/ico" href="../../static/images/plush-default/sabnzbdplus.ico"/>
	
	<script type="text/javascript" src="../../static/javascripts/jquery.js?$version"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js?$version"></script>
	
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush-default.css?$version"/>
	<!--#if $color_scheme and $color_scheme != "plush-default.css" and $color_scheme != "plush_default.css" and $color_scheme != "default.css" and $color_scheme != "modern.css" and $color_scheme != "Modern.css"#-->
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/colorschemes/$color_scheme?$version"/>
	<!--#end if#-->
	
	<style>
	<!--
		body {background: #ddd;}
	-->
	</style>
	
</head>
<body onload="previewtv()">
	
	<div id="config_go_back"><div><a href="../../">go&nbsp;back</a></div></div>
	
	<div id="config_nav">
		<ul>
			<li><a class="config_menu" id="config_nav_connections" href="../../connections">Connections</a></li>
			<li><a class="config_menu" id="config_nav_general" href="../general">General</a></li>
			<li><a class="config_menu nav_active" id="config_nav_directories" href="../directories">Folders</a></li>
			<li><a class="config_menu" id="config_nav_switches" href="../switches">Switches</a></li>
			<li><a class="config_menu" id="config_nav_server" href="../server">Servers</a></li>
			<li><a class="config_menu" id="config_nav_categories" href="../categories">Categories</a></li>
			<li><a class="config_menu" id="config_nav_scheduling" href="../scheduling">Scheduling</a></li>
			<li><a class="config_menu" id="config_nav_rss" href="../rss">RSS</a></li>
			<li><a class="config_menu" id="config_nav_email" href="../email">Email</a></li>
			<li><a class="config_menu" id="config_nav_newzbin" href="../newzbin">Newzbin</a></li>
		</ul>
	</div>
	
	<div id="config_container" class="config_margin">
		<div id="config_content">
			
<!--************************************
			PAGE CONTENT IS BELOW
	************************************ -->
			
			<div align="center"><small><em>NOTE:</em> Folders will be created automatically when Saving.</small></div>
			
			<form action="saveDirectories" method="post" name="fullform">
			<div class="EntryBlock">
			<fieldset class="EntryFieldSet">
				
				<legend id="configbox_user_folders">User&nbsp;Folders</legend>
				<strong style="color:white;background-color:blue">&nbsp;In&nbsp;"$my_home"&nbsp;</strong>
				
				<br/><br/>
				<strong>Temporary Download Folder:</strong><br/>
				<small>Location to store unprocessed downloads.</small><br/>
				<input type="text" size="40" name="download_dir" value="$download_dir">
				
				<br/><br/>
				<strong>Minimum Free Space for Temp. Download Folder:</strong><br/>
				<small>Auto-pause when free space is beneath this value.</small><br/>
				<input type="text" size="8" name="download_free" value="$download_free">&nbsp;<small>(bytes; optionally follow with K,M,G,T,P e.g. 500M 2G)</small>
				
				<br/><br/>
				<strong>Completed Download Folder:</strong><br/>
				<small>(can be overruled by user-defined categories)</small><br/>
				<input type="text" size="40" id="complete_dir" name="complete_dir" value="$complete_dir">
				
				<!--#if not $nt#-->
				<br/><br/>
				<strong>Permissions for Completed Downloads:</strong><br/>
				<small>Set permissions pattern for completed files/folders, octal notation only!</small><br/>
				<input type="text" size="10" name="permissions" value="$permissions">
				<!--#end if#-->
				
				<br/><br/>
				<strong>Watched Folder:</strong><br/>
				<small>Folder to monitor for .nzb and .zip files.</small><br/>
				<input type="text" size="40" name="dirscan_dir" value="$dirscan_dir">
				
				<br/><br/>
				<strong>Watched Folder Scan Speed:</strong><br/>
				<small>Number of seconds between scans for .nzb files.</small><br/>
				<input type="text" size="8" name="dirscan_speed" value="$dirscan_speed">&nbsp;<small>(seconds)</small>
				
				<br/><br/>
				<strong>Folder Containing the User Scripts:</strong><br/>
				<small>Folder containing user scripts for post-processing.</small><br/>
				<input type="text" size="40" name="script_dir" value="$script_dir">

				<br/><br/>
				<strong>Folder Containing Email Templates:</strong><br/>
				<small>Folder containing user defined email templates.</small><br/>
				<input type="text" size="40" name="email_dir" value="$email_dir">
			</fieldset>
			
			<fieldset class="EntryFieldSet">
				
				<legend id="configbox_system_folders">System&nbsp;Folders</legend>
				<strong style="color:white;background-color:blue;">&nbsp;In&nbsp;"$my_lcldata"&nbsp;</strong><br/><br/>
				
				<strong>Cache Folder:</strong><br/>
				<small>Location for temporary storage.</small><br/>
				<input type="text" size="40" name="cache_dir" value="$cache_dir">
				
				<br/><br/>
				<strong>Log Folder:</strong><br/>
				<small>Location of log files for SABnzbd.</small><br/>
				<input type="text" size="40" name="log_dir" value="$log_dir">
				
				<br/><br/>
				<strong>Backup Folder for .nzb:</strong><br/>
				<small>Location where .nzb will be backed up.</small><br/>
				<input type="text" size="40" name="nzb_backup_dir" value="$nzb_backup_dir">
			</fieldset>
			
			<fieldset class="EntryFieldSet">
				
				<legend id="configbox_sorting_folders">Sorting&nbsp;Folders</legend>
				
				<input type="checkbox" name="enable_tv_sorting" value="1" <!--#if $enable_tv_sorting > 0 then "checked=1" else ""#--> />
				<strong>Enable TV Sorting</strong><br/>
				<small>Enable sorting and renaming of episodes. (see below)</small><br/>
				<br class="clear" />
				
				<b>&raquo; Parsing Method:</b><br/>
				
				<input type="text" style="width:500px" size="80" id="tvfoldername" name="tv_sort_string" value="$tv_sort_string" onkeyup="javascript:previewtv()"><br class="clear" />
				<small>ex: <span id="previewtv"></span></small><br class="clear" />
				
				<br/><b>&raquo; Presets:</b><br/>
				<input type="button" onclick="tvSet('%sn/%sx%0e - %en/%sn - %sx%0e - %en.%ext')" value="1x05 Episode Folder"/>
				<input type="button" onclick="tvSet('%sn/Season %s/%sn - S%0sE%0e - %en.%ext')" value="S01E05 Season Folder"/>
				<input type="button" onclick="tvClear()" value="Clear"/>
				<br class="clear" />
				<input type="button" onclick="tvSet('%sn/Season %s/%sn - %sx%0e - %en.%ext')" value="1x05 Season Folder"/>
				<input type="button" onclick="tvSet('%sn/S%0sE%0e - %en/%sn - S%0sE%0e - %en.%ext')" value="S01E05 Episode Folder"/><br class="clear" />
				
				
				<br/><b>&raquo; Legend:</b><br/>
				
				<table>
				<tr><td>
				<u>Show Name:</u><br/>
					&nbsp;&nbsp;&nbsp;%sn <small>(ex: Show Name)</small><br/>
					&nbsp;&nbsp;&nbsp;%s.n <small>(ex: Show.Name)</small><br/>
					&nbsp;&nbsp;&nbsp;%s_n <small>(ex: Show_Name)</small><br/>
				</td><td>
				<u>Episode Name:</u><br/>
					&nbsp;&nbsp;&nbsp;%en <small>(ex: Episode Name)</small><br/>
					&nbsp;&nbsp;&nbsp;%e.n <small>(ex: Episode.Name)</small><br/>
					&nbsp;&nbsp;&nbsp;%e_n <small>(ex: Episode_Name)</small><br/>
				</td><td valign=top>
				<u>File Extension:</u><br/>
					&nbsp;&nbsp;&nbsp;%ext <small>(ex: avi)</small><br/>
				<br class="clear" />
				</td></tr><tr><td>
				<u>Season Number:</u><br/>
					&nbsp;&nbsp;&nbsp;%s <small>(ex: 1)</small><br/>
					&nbsp;&nbsp;&nbsp;%0s <small>(ex: 01)</small><br/>
				</td><td>
				<u>Episode Number:</u><br/>
					&nbsp;&nbsp;&nbsp;%e <small>(ex: 5)</small><br/>
					&nbsp;&nbsp;&nbsp;%0e <small>(ex: 05)</small><br/>
				</td><td></td></tr>
				</table>
				
			</fieldset>
			</div>
			
<!--************************************
			PAGE CONTENT IS ABOVE
	************************************ -->
			
		</div>
	</div>
	
	<div class="left_links config_margin">
		<a id="help" target="_blank" href="$helpuri/Configure+Directories">Folders Help</a>
	</div>
	
	<div class="right_links">
		<a id="save" onclick="document.fullform.submit();">Save Changes</a>
	</div>
	
	</form>
	
	<script language="javascript">
		\$('.config_menu').corner("round tl bl");
		\$('#config_container').corner("round");
		\$('#help').corner("round");
		\$('#save').corner("round");
		
		// switch's TV sort code
		function tvAdd(val){
			var tv = document.getElementById('tvfoldername'); 
			tv.value = tv.value + val;
			previewtv();
		}
		function tvSet(val){
			var tv = document.getElementById('tvfoldername'); 
			tv.value = val;
			previewtv();
		}
		function tvClear(){
			var tv = document.getElementById('tvfoldername'); 
			tv.value = '';
			previewtv();
		}
		function previewtv(){
			var input = document.getElementById('tvfoldername').value;
			var slash = "\\";
			input.toLowerCase()
			input = input.replace(/%ext/g,'avi');
			input = input.replace(/%sn/g,'Show Name');
			input = input.replace(/%s.n/g,'Show.Name');
			input = input.replace(/%s_n/g,'Show_Name');
			input = input.replace(/%0s/g,'01');
			input = input.replace(/%s/g,'1');
			input = input.replace(/%en/g,'Episode Name');
			input = input.replace(/%e\.n/g,'Episode.Name');
			input = input.replace(/%e\_n/g,'Episode_Name');
			input = input.replace(/%0e/g,'05');
			input = input.replace(/%e/g,'5');
			var com = document.getElementById('complete_dir').value;
			if (com.search("/") > 0) slash = "/"
			var outbox = document.getElementById('previewtv').innerHTML = com+slash+input;
		}
	</script>
	
</body>
</html>
