<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<script type="text/javascript" src="../../static/javascripts/jquery.pack.js"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js"></script>
    <!--#if $color_scheme == 'plush-default.css'#-->
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/colorschemes/$color_scheme"/>
	<!--#else#-->
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/colorschemes/plush-default.css"/>
    <!--#end if#-->
</head>

<style>
<!--
	body {background: #ddd;}
-->
</style>

<body>
<div align="center">
	<a href="../../" style="text-decoration:none; color:black">&laquo; go back <img src="../../static/images/plush_default/sabnzbdplus_logo.png" border="0"/></a>
</div>

<div id="config_nav">
	<ul>
		<li><a class="config_menu" id="config_nav_connections" href="../../connections">Connections</a></li>
		<li><a class="config_menu" id="config_nav_general" href="../general">General</a></li>
		<li><a class="config_menu" id="config_nav_directories" href="../directories">Directories</a></li>
		<li><a class="config_menu" id="config_nav_switches" href="../switches">Switches</a></li>
		<li><a class="config_menu" id="config_nav_server" href="../server">Servers</a></li>
		<li><a class="config_menu" id="config_nav_categories" href="../categories">Categories</a></li>
		<li><a class="config_menu" id="config_nav_scheduling" href="../scheduling">Scheduling</a></li>
		<li><a class="config_menu" id="config_nav_rss" href="../rss">RSS</a></li>
		<li><a class="config_menu" id="config_nav_email" href="../email">Email</a></li>
		<li><a class="config_menu nav_active" id="config_nav_newzbin" href="../newzbin">Newzbin</a></li>
	</ul>
</div>

<div id="config_container" class="config_margin">
	<div id="config_content">

<!-- ************************************
	 		PAGE CONTENT IS BELOW
     ************************************ -->

If you have an account at v3.newzbin.com, you can enter your account info here.<br/>
This will unlock extra functionality.<br/>
<br/>
<form action="saveNewzbin" method="post" name="fullform">
<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>Account info</legend>
<strong>Username:</strong><br>
Set your username here.<br>
<input type="text" name="username_newzbin" value="$username_newzbin">
<br>
<br>
<strong>Password:</strong><br>
Set your password here.<br>
<input type="password" name="password_newzbin" value="$password_newzbin">
</fieldset>
</div>

<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>Bookmark processing</legend>
<strong>Auto fetch bookmarks:</strong><br>
Automatically get jobs from your bookmarks?<br>
<input type="radio" name="newzbin_bookmarks" value="0" <!--#if $newzbin_bookmarks == 0 then "checked=1" else ""#--> /> No
<input type="radio" name="newzbin_bookmarks" value="1" <!--#if $newzbin_bookmarks > 0 then "checked=1" else ""#--> /> Yes
<br>
<a href="getBookmarks">Get bookmarks now</a>
<br>
<!--#if $bookmarks_list#-->
    <a href="hideBookmarks">Hide processed bookmarks</a>
<!--#else#-->
    <a href="showBookmarks">Show processed bookmarks</a>
<!--#end if#-->
<br/>
<br/>
<strong>Un-bookmark if download complete:</strong><br>
Remove from bookmark list, when download is complete.<br>
<input type="radio" name="newzbin_unbookmark" value="0" <!--#if $newzbin_unbookmark == 0 then "checked=1" else ""#--> /> No
<input type="radio" name="newzbin_unbookmark" value="1" <!--#if $newzbin_unbookmark > 0 then "checked=1" else ""#--> /> Yes
<br/>
<br/>
<strong>Checking interval:</strong><br>
Check how often per day (max 48 = every 30 min).<br>
<input type="text" name="bookmark_rate" value="$bookmark_rate">
</fieldset>
</div>
<!--#if $bookmarks_list#-->
    <fieldset class="EntryFieldSet">
    <legend>Processed bookmarks</legend>
    <!--#for $msgid in $bookmarks_list#-->
        <a href="https://v3.newzbin.com/browse/post/$msgid/" target="_blank">$msgid</a>&nbsp;
    <!--#end for#-->
    </fieldset>
<!--#end if#-->
<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>Options</legend>
<strong>Create Category Folders:</strong><br>
Place downloads into newzbin.com category folders.<br>
<input type="radio" name="create_category_folders" value="0" <!--#if $create_category_folders == 0 then "checked=1" else ""#--> /> No
<input type="radio" name="create_category_folders" value="1" <!--#if $create_category_folders == 1 then "checked=1" else ""#--> /> Yes
</fieldset>
</div>


<!-- ************************************
	 		PAGE CONTENT IS ABOVE
     ************************************ -->
	</div>
</div>

<div class="left_links config_margin">
	<a id="help" target="_blank" href="$helpuri/Configure+Newzbin">Newzbin Help</a>
</div>

<div class="right_links">
	<a id="save" onclick="document.fullform.submit();">Save Changes</a>
</div>

</form>

<script language="javascript">
	\$('.config_menu').corner("round tl bl");
	\$('#config_container').corner("round");
	\$('#help').corner("round");
	\$('#save').corner("round");
</script>

</body>
</html>
