<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<script type="text/javascript" src="../../static/javascripts/jquery-1.2.1.pack.js"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush.css" media="screen"/>
</head>

<style>
<!--
	body {background: #ddd;}
-->
</style>

<body>

<div id="config_nav">
	<ul>
		<li><a class="config_menu" href="../../connections"><img src="../../static/images/icon_config_connections.png" />Connections</a></li>
		<li><a class="config_menu" href="../general"><img src="../../static/images/icon_config_general.png" />General</a></li>
		<li><a class="config_menu" id="nav_active" href="../directories"><img src="../../static/images/icon_config_directories.png" />Directories</a></li>
		<li><a class="config_menu" href="../switches"><img src="../../static/images/icon_config_switches.png" />Switches</a></li>
		<li><a class="config_menu" href="../server"><img src="../../static/images/icon_config_servers.png" />Servers</a></li>
		<li><a class="config_menu" href="../scheduling"><img src="../../static/images/icon_config_scheduling.png" />Scheduling</a></li>
		<li><a class="config_menu" href="../rss"><img src="../../static/images/icon_config_rss.png" />RSS</a></li>
		<li><a class="config_menu" href="../email"><img src="../../static/images/icon_config_email.png" />Email</a></li>
	</ul>
</div>

<div id="config_container" class="config_margin">
	<div id="config_content">

<!-- ************************************
	 		PAGE CONTENT IS BELOW
     ************************************ -->

<div style="text-align:center"><small><strong>
    <em>NOTE:</em> Directories will be created automatically when Saving.
</strong></small></div>

<form action="saveDirectories" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>User directories</legend>
    <small><emp>In "<b style="color:blue">$my_home</b>"</emp><br><br></small>
	<table border="0" cellpadding="1" cellspacing="0">
		<tr>
		    <td><strong>Download Directory:</strong></td>
		    <td><input type="text" size="35" name="download_dir" value="$download_dir"></td>
		    <td><small>Location to put unprocessed downloads in</small></td>
    	</tr>
		<tr>
			<td>&raquo; Minimum free space:</td>
    		<td><input type="text" size="10" name="download_free" value="$download_free"><small> (GB)</small></td>
    		<td><small>Auto-pause when free space hits this value</small></td>
    	</tr>
		<tr>
    <td><strong>Complete Directory:</strong></td>
    <td><input type="text" size="35" name="complete_dir" value="$complete_dir"></td>
    <td><small>Location to put completed downloads in</small></td>
    	</tr>
		<tr>
	<td colspan="3"><strong><br/>OPTIONAL:</strong></td>
    	</tr>
		<tr>
    <td><strong>Dirscan Directory:</strong></td>
    <td><input type="text" size="35" name="dirscan_dir" value="$dirscan_dir"></td>
    <td><small>Directory to scan for .nzb files</small></td>
    	</tr>
		<tr>
    <td>&raquo; Dirscan Speed:</td>
    <td><input type="text" size="10" name="dirscan_speed" value="$dirscan_speed"></td>
    <td><small># Seconds between scans for .nzb files</small></td>
    	</tr>
		<tr>
    <td><strong>Post-processing script:</strong></td>
    <td><input type="text" size="35" name="extern_proc" value="$extern_proc"></td>
    <td><small>Specify an external post-processing script</small></td>
    	</tr>
	</table>
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>System directories</legend>
    <small><emp>In "<b style="color:blue">$my_lcldata</b>"</emp><br><br></small>
	<table border="0" cellpadding="1" cellspacing="0">
		<tr>
    <td><strong>Cache Directory:</strong></td>
    <td><input type="text" size="35" name="cache_dir" value="$cache_dir"></td>
    <td><small>Location for temporary storage</small></td>
    	</tr>
		<tr>
    <td><strong>Log Directory:</strong></td>
    <td><input type="text" size="35" name="log_dir" value="$log_dir"></td>
    <td><small>Location of log files for SABnzbd</small></td>
    	</tr>
		<tr>
	<td colspan="3"><strong><br/>OPTIONAL:</strong></td>
    	</tr>
		<tr>
    <td><strong>.nzb Backup Directory:</strong></td>
    <td><input type="text" size="35" name="nzb_backup_dir" value="$nzb_backup_dir"></td>
    <td><small>Specify a directory to backup .nzb files to</small></td>
    	</tr>
		</table>
  </fieldset>
</div>
<!-- ************************************
	 		PAGE CONTENT IS ABOVE
     ************************************ -->
	</div>
</div>

<div class="left_links config_margin">
	<a id="help" target="_blank" href="https://sabnzbdplus.wiki.sourceforge.net/Configure+Directories"><img src="../../static/images/icon_config_help.png"> Contextual Help</a>
</div>

<input id="save_button" type="submit" value="Save Changes">
</form>

<script language="javascript">
	\$('.config_menu').corner("round tl bl");
	\$('#config_container').corner("round");
	\$('#help').corner("round");
	
</script>




</body>
</html>
