#if $pane=="Connections" or $pane=="Config"#
	#set global $path = '..'#
#else#
	#set global $path = '../..'#
#end if#

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
	
	<title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<link rel="shortcut icon" type="image/ico" href="$path/static/images/plush-default/sabnzbdplus.ico"/>
	
	<script type="text/javascript" src="$path/static/javascripts/jquery.js?$version"></script>
	<script type="text/javascript" src="$path/static/javascripts/jquery.corner.js?$version"></script>
	<script type="text/javascript" src="$path/static/javascripts/plush.config.js?$version"></script>
	
	<link rel="stylesheet" type="text/css" href="$path/static/stylesheets/plush-default.css?$version"/>
	#if $color_scheme and $color_scheme != "plush-default.css" and $color_scheme != "default.css"#
	<link rel="stylesheet" type="text/css" href="$path/static/stylesheets/colorschemes/$color_scheme?$version"/>
	#end if#
	
	<script language="javascript">
		var config_pane = "$pane";
		var help_uri = "$help_uri";
	</script>
	
</head>
<body style="background: #ddd;">
	
	<div id="config_go_back"><div><a href="$path/">go&nbsp;back</a></div></div>
	
	#include $webdir + "/config_inc_menu.tmpl"#
	
	<div id="config_container" class="config_margin">
		<div id="config_content">
