<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
	
	<title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<link rel="shortcut icon" type="image/ico" href="../../static/images/plush-default/sabnzbdplus.ico"/>
	
	<script type="text/javascript" src="../../static/javascripts/jquery.js?$version"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js?$version"></script>
	
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush-default.css?$version"/>
	<!--#if $color_scheme and $color_scheme != "plush-default.css" and $color_scheme != "plush_default.css" and $color_scheme != "default.css" and $color_scheme != "modern.css" and $color_scheme != "Modern.css"#-->
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/colorschemes/$color_scheme?$version"/>
	<!--#end if#-->
	
	<style>
	<!--
		body {background: #ddd;}
	-->
	</style>
	
</head>
<body>
	
	<div id="config_go_back"><div><a href="../../">go&nbsp;back</a></div></div>
	
	<div id="config_nav">
		<ul>
			<li><a class="config_menu" id="config_nav_connections" href="../../connections">Connections</a></li>
			<li><a class="config_menu" id="config_nav_general" href="../general">General</a></li>
			<li><a class="config_menu" id="config_nav_directories" href="../directories">Folders</a></li>
			<li><a class="config_menu" id="config_nav_switches" href="../switches">Switches</a></li>
			<li><a class="config_menu nav_active" id="config_nav_server" href="../server">Servers</a></li>
			<li><a class="config_menu" id="config_nav_categories" href="../categories">Categories</a></li>
			<li><a class="config_menu" id="config_nav_scheduling" href="../scheduling">Scheduling</a></li>
			<li><a class="config_menu" id="config_nav_rss" href="../rss">RSS</a></li>
			<li><a class="config_menu" id="config_nav_email" href="../email">Email</a></li>
			<li><a class="config_menu" id="config_nav_newzbin" href="../newzbin">Newzbin</a></li>
		</ul>
	</div>
	
	<div id="config_container" class="config_margin">
		<div id="config_content">
			
<!--************************************
			PAGE CONTENT IS BELOW
	************************************ -->
			
			<div class="EntryBlock">
				
			<form action="addServer" method="post">
			<fieldset class="EntryFieldSet">
				
				<legend id="configbox_add_server">Add&nbsp;Server</legend>
				
				<table cellpadding=2>
					<tr><td align=right><div class="sucker">Host/IP:</div></td><td><input type="text" size="25" name="host"/></td></tr>
					<tr><td align=right><div class="sucker">Port:</div></td><td><input type="text" size="10" name="port"/></td></tr>
					<tr><td colspan=2>&nbsp;</td></tr>
					<tr><td align=right><div class="sucker">Username:</div></td><td><input type="text" size="25" name="username"/></td></tr>
					<tr><td align=right><div class="sucker">Password:</div></td><td><input type="password" size="25" name="password"/></td></tr>
				</table>
				
				<br/>
				
				<table>
				<tr><td align=right><div class="sucker">#&nbsp;Connections:</div></td><td><input type="text" size="5" name="connections"/></td></tr>
				<tr><td align=right><div class="sucker">Timeout:</div></td><td><input type="text" size="5" name="timeout" value="120">&nbsp;<small>(seconds)</small></td></tr>
				<tr><td align=right><div class="sucker">SSL&nbsp;Encrypted?</div><!--#if int($have_ssl) == 0 then "(disabled)" else ""#--></td><td>
					<input type="checkbox" name="ssl" value="1" <!--#if int($have_ssl) == 0 then "disabled" else ""#-->/>
				</td></tr>
				<tr><td align=right><div class="sucker">Backup&nbsp;Server?</div></td><td>
					<input type="checkbox" name="fillserver" value="1"/>
				</td></tr>
				
				<tr><td></td><td>
					<br/><input type="submit" value="&oplus; Add Server"/>
				</td></tr>
				
				</table>
				
			</fieldset>
			</form>
			
			<!--#for $server in $servers#-->
			<form action="saveServer" method="post">
			<fieldset class="EntryFieldSet">
				
				<legend id="<!--#if int($servers[$server]['ssl']) != 0 and int($have_ssl) == 1#-->configbox_server_encrypted<!--#else#-->configbox_server_decrypted<!--#end if#-->">$server</legend>
				
				<table cellpadding=2>
					<tr><td align=right><div class="sucker">Host/IP:</div></td><td><input type="text" size="25" name="host" value="$servers[$server]['host']"/></td></tr>
					<tr><td align=right><div class="sucker">Port:</div></td><td><input type="text" size="10" name="port" value="$servers[$server]['port']"/></td></tr>
					<tr><td colspan=2>&nbsp;</td></tr>
					<tr><td align=right><div class="sucker">Username:</div></td><td><input type="text" size="25" name="username" value="$servers[$server]['username']"/></td></tr>
					<tr><td align=right><div class="sucker">Password:</div></td><td><input type="password" size="25" name="password" value="$servers[$server]['password']"/></td></tr>
				</table>
				
				<br/>
				
				<table>
				<tr>
					<td align=right><div class="sucker">#&nbsp;Connections:</div></td>
					<td><input type="text" size="10" name="connections" value="$servers[$server]['connections']"/></td>
				</tr>
				<tr>
					<td align=right><div class="sucker">Timeout:</div></td>
					<td><input type="text" size="10" name="timeout" value="$servers[$server]['timeout']"/>&nbsp;<small>(seconds)</small></td>
				</tr>
				<tr>
					<td align=right><div class="sucker">SSL&nbsp;Encrypted?</div></td>
					<td>
						<!--#if int($have_ssl) == 0 then "(disabled)" else ""#-->
					<input type="checkbox" name="ssl" value="1" <!--#if int($servers[$server]['ssl']) != 0 and int($have_ssl) == 1 then "checked=1" else ""#--> <!--#if int($have_ssl) == 0 then "disabled" else ""#--> />
					</td>
				</tr>
				<tr>
					<td align=right><div class="sucker">Backup&nbsp;Server?</div></td>
					<td>
						<input type="checkbox" name="fillserver" value="1" <!--#if int($servers[$server]['fillserver']) != 0 then "checked=1" else ""#--> />
					</td>
				</tr>
				</table>
				
				<br/>
				<div align=center>
					<input type="hidden" name="server" value="$server"/>
					<input type="submit" onclick="this.form.action='delServer'; this.form.submit(); return false;" value="&otimes; Remove Server"/>
					&sdot; <input type="submit" value="&raquo; Save Changes"/>
				</div>
				
			</fieldset>
			</form>
			<!--#end for#-->
			
			</div>
			
<!--************************************
			PAGE CONTENT IS ABOVE
	************************************ -->
			
		</div>
	</div>
	
	<div class="left_links config_margin">
		<a id="help" target="_blank" href="$helpuri/Configure+Servers">Servers Help</a>
	</div>
	
	<script language="javascript">
		\$('.config_menu').corner("round tl bl");
		\$('#config_container').corner("round");
		\$('#help').corner("round");
	</script>
	
</body>
</html>
