<!--#set global $pane="Config"#-->
<!--#set global $help_uri="Configure"#-->
<!--#include $webdir + "/config_inc_header.tmpl"#-->

			<div align=center>
				<small><i>Config File:</i></small> <font color=blue>$configfn</font>
				<br/><b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br>
			</div>

<!--#include $webdir + "/config_inc_footer.tmpl"#-->
