<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<script type="text/javascript" src="../static/javascripts/jquery-1.2.1.pack.js"></script>
	<script type="text/javascript" src="../static/javascripts/jquery.corner.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/stylesheets/plush.css" media="screen"/>
</head>
<body>

<style>
<!--
	body {background: #ddd;}
-->
</style>

<body>

<div id="config_nav">
	<ul>
		<li><a class="config_menu" id="nav_active" href="../connections"><img src="../static/images/icon_config_connections.png" />Connections</a></li>
		<li><a class="config_menu" href="../config/general"><img src="../static/images/icon_config_general.png" />General</a></li>
		<li><a class="config_menu" href="../config/directories"><img src="../static/images/icon_config_directories.png" />Directories</a></li>
		<li><a class="config_menu" href="../config/switches"><img src="../static/images/icon_config_switches.png" />Switches</a></li>
		<li><a class="config_menu" href="../config/server"><img src="../static/images/icon_config_servers.png" />Servers</a></li>
		<li><a class="config_menu" href="../config/scheduling"><img src="../static/images/icon_config_scheduling.png" />Scheduling</a></li>
		<li><a class="config_menu" href="../config/rss"><img src="../static/images/icon_config_rss.png" />RSS</a></li>
		<li><a class="config_menu" href="../config/email"><img src="../static/images/icon_config_email.png" />Email</a></li>
     	<li><a class="config_menu" href="../config/newzbin"><img src="../static/images/icon_config_newzbin.png" />Newzbin</a></li>
	</ul>
</div>

<div id="config_container" class="config_margin">
	<div id="config_content">

<!-- ************************************
	 		PAGE CONTENT IS BELOW
     ************************************ -->

<div style="text-align:center"><small>
<a href="./showlog">Show Logging</a> |
<a href="./showweb">Show Weblogging</a>
</small></div>

<!--#if $servers#-->
    <!--#for $server in $servers#-->
	<fieldset class="EntryFieldSet">
		<legend><!--#if int($server[4])#--><img src="../static/images/icon_config_encrypted.png" title="Encrypted via SSL"/>&sdot;<!--#end if#-->$server[0]:$server[1]: $server[2]</legend>
            <small><ol>
            <!--#for $thrd in $server[3]#-->
                <li>&rArr; $thrd[1]<br/>&rArr; $thrd[2]<br/>&rArr; $thrd[3]</li>
            <!--#end for#-->
            </ol></small>
        </li>
	</fieldset>
    <!--#end for#-->
<!--#end if#-->
<!--#if $lastmail#-->
	<fieldset class="EntryFieldSet">
		<legend>Email test result</legend>
		<small>$lastmail</small>
	</fieldset>
<!--#end if#-->

<!--#if $warnings#-->
	<fieldset class="EntryFieldSet">
		<legend>Lastest Warnings <small>(<a href="./clearwarnings">clear</a>)</small></legend>
		<small><ul>
    	<!--#for $warn in $warnings#-->
        	<li>$warn</li>
    	<!--#end for#-->
		</ul></small>
	</fieldset>
<!--#end if#-->

<!-- ************************************
	 		PAGE CONTENT IS ABOVE
     ************************************ -->

	</div>
</div>

<div class="left_links config_margin">
	<a id="help" target="_blank" href="https://sabnzbdplus.wiki.sourceforge.net/GUI+Connections"><img src="../static/images/icon_config_help.png"> Contextual Help</a>
</div>


<div class="right_links">
	<a id="force_disconnect" href="./disconnect"><img src="../static/images/icon_config_disconnect.png"> Force Disconnect</a>
</div>

<div class="right_links">
	<a id="test_email" href="./testmail" onclick="javascript:return confirm('This will send a test email to your account.')"><img src="../static/images/icon_config_test_email.png"> Test Email</a>
</div>

<script language="javascript">
	\$('.config_menu').corner("round tl bl");
	\$('#config_container').corner("round");
	\$('#help').corner("round");

	\$('#test_email').corner("round");
	\$('#force_disconnect').corner("round");
</script>
</body>
</html>
