<!--#set global $pane="Connections"#-->
<!--#set global $help_uri="GUI+Connections"#-->
<!--#include $webdir + "/config_inc_header.tmpl"#-->

<div class="center" nowrap><small>
	$T('version'): $version &sdot; $T('uptime'): $uptime &sdot;
	<a href="showlog?session=$session">$T('link-showLog')</a> &sdot;
	<a href="showweb?session=$session">$T('link-showWeblog')</a> &sdot;
	$T('logging'): <select class="xsmall" id="logging_level">
		<option value="0" <!--#if $loglevel == "0" then "selected" else ""#-->>$T('log-errWarn')</option>
		<option value="1" <!--#if $loglevel == "1" then "selected" else ""#-->>$T('log-info')</option>
		<option value="2" <!--#if $loglevel == "2" then "selected" else ""#-->>$T('log-debug')</option>
	</select>
	<!--#if int($cache_max)#--> &sdot; <!--#set $msg=$T('ft-buffer@2')%($cache_art, $cache_size)#-->$msg<!--#end if#-->
</small></div>

<!--#if $servers#-->
	<!--#for $server in $servers#-->
	<fieldset class="EntryFieldSet">
		<legend id="<!--#if int($server[4])#-->configbox_server_encrypted<!--#else#-->configbox_server_decrypted<!--#end if#-->">$server[0]:$server[1]:$server[2]
        <!--#if not $server[5]#-->
            <a href="./unblock_server?server=$server[0]:$server[1]&session=$session">($T('server-blocked'))</a>
            &nbsp;&nbsp;$server[6]
        <!--#end if#-->
		</legend>
		<small><!--#if $server[3]#--><ol class="numbered_list">
		<!--#for $thrd in $server[3]#-->
			<li>&rArr; $thrd[1]<br/>&rArr; $thrd[2]<br/>&rArr; $thrd[3]</li>
		<!--#end for#-->
		</ol><!--#else#-->$T('none')<!--#end if#--></small>
	</fieldset>
    <!--#end for#-->
<!--#end if#-->

<!--#if $lastmail#-->
	<fieldset class="EntryFieldSet">
		<legend id="configbox_email_options" style="background-color:darkblue;">$T('emailResult')</legend>
		<small>$lastmail</small>
	</fieldset>
<!--#end if#-->

<!--#if $warnings#-->
	<fieldset class="EntryFieldSet">
		<legend id="configbox_latest_warnings" style="background-color:darkred;">$T('lastWarnings')
			<small>(<a href="clearwarnings?session=$session">$T('clearWarnings')</a>)&nbsp;</small>
		</legend>
		<small><ol class="numbered_list">
		<!--#for $warn in $warnings#-->
			<li><pre>$warn</pre></li>
		<!--#end for#-->
		</ul></small>
	</fieldset>
<!--#end if#-->

<!--#include $webdir + "/config_inc_footer.tmpl"#-->
