<!--#set global $pane="Connections"#-->
<!--#set global $help_uri="GUI+Connections"#-->
<!--#include $webdir + "/config_inc_header.tmpl"#-->

			<div class="center"><small>
				Version:&nbsp;$version&nbsp;&nbsp;|&nbsp;&nbsp;Uptime:&nbsp;$uptime&nbsp;&nbsp;|&nbsp;&nbsp;
				<a href="showlog">Show&nbsp;Logging</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="showweb">Show&nbsp;Weblogging</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				Logging:&nbsp;<select onChange="location = './change_loglevel?loglevel='+this.options[this.selectedIndex].value" class="xsmall">
					<option value="0" <!--#if $loglevel == "0" then "selected" else ""#-->>Errors/Warning</option>
					<option value="1" <!--#if $loglevel == "1" then "selected" else ""#-->>+ Info</option>
					<option value="2" <!--#if $loglevel == "2" then "selected" else ""#-->>+ Debug</option>
				</select>
				<!--#if int($cache_limit)#-->&nbsp;&nbsp;|&nbsp;&nbsp;<b>$cache_art</b>&nbsp;articles&nbsp;buffered&nbsp;in&nbsp;<b>$cache_size</b>&nbsp;bytes<!--#end if#-->
			</small></div>

			<!--#if $servers#-->
				<!--#for $server in $servers#-->
				<fieldset class="EntryFieldSet">
					<legend id="<!--#if int($server[4])#-->configbox_server_encrypted<!--#else#-->configbox_server_decrypted<!--#end if#-->">$server[0]:$server[1]:$server[2]<!--#if $server[5] then "" else " (blocked)"#-->
					</legend>
					<small><!--#if $server[3]#--><ol class="numbered_list">
					<!--#for $thrd in $server[3]#-->
						<li>&rArr; $thrd[1]<br/>&rArr; $thrd[2]<br/>&rArr; $thrd[3]</li>
					<!--#end for#-->
					</ol><!--#else#-->No connections<!--#end if#--></small>
				</fieldset>
			    <!--#end for#-->
			<!--#end if#-->

			<!--#if $lastmail#-->
				<fieldset class="EntryFieldSet">
					<legend id="configbox_email_options" style="background-color:darkblue;">Email Test Result</legend>
					<small>$lastmail</small>
				</fieldset>
			<!--#end if#-->

			<!--#if $warnings#-->
				<fieldset class="EntryFieldSet">
					<legend id="configbox_latest_warnings" style="background-color:darkred;">Latest Warnings
						<small>(<a href="clearwarnings">clear</a>)&nbsp;</small>
					</legend>
					<small><ol class="numbered_list">
					<!--#for $warn in $warnings#-->
						<li><pre>$warn</pre></li>
					<!--#end for#-->
					</ul></small>
				</fieldset>
			<!--#end if#-->

<!--#include $webdir + "/config_inc_footer.tmpl"#-->
