<% import datetime %>

<a name="HIST"></a>
<table class="queueTable" id="historyTable">
<!--#set $cur = 0#-->
<!--#set $odd = False#-->
<!--#if $lines#-->
<!--#for $line in $lines #-->
    <!--#if $limit == 0 or ($limit == -1 and ($line.status=="Failed" or $line.action_line) ) or ($limit == -2 and ($cur < 5 or $line.status=="Failed" or $line.action_line) ) or $cur < $limit#-->
    <!--#set $odd = not $odd#-->
    <tr id="$line.nzo_id" class="<!--#if $odd#-->alt<!--#end if#--> <!--#if $line.action_line #-->active<!--#end if#-->">
    
    <td class="historyTitle <!--#if $line.action_line or $line.status=="Queued"#-->Loaded<!--#else if $line.status=="Failed"#-->Cross<!--#else#-->Check<!--#end if#-->">
        $line.name
    </td>
    
    <td class="verbose">
        <!--#if $line.report #-->
            <a href="https://www.newzbin.com/browse/post/$line.report/" target="_blank">
                <div class="hv_report" title='Open NewzBin Report $line.report'>&nbsp;</div>
            </a>
        <!--#end if#-->
        <!--#if $line.url_info #-->
            <a href="$line.url_info" target="_blank">
                <div class="hv_url" title="Open URL<br/>$line.url_info">&nbsp;</div>
            </a>
        <!--#end if#-->
        <!--#if not $line.fail_message#-->
            <div class="hv_stats" title='Size: $line.size<br/><br/>Path:<br/><!--#echo $line.path.replace("'","&rsquo;") #--><br/><br/>Storage:<br/><!--#echo $line.storage.replace("'","&rsquo;") #-->'>&nbsp;</div>
        <!--#end if#-->
	    <!--#for $stage in $line.stage_log#-->
            <!--#for $action in $stage.actions#-->
                <div class="hv_$stage.name" title='<!--#echo $stage.name.replace("'","&rsquo;").title() #--> &bull; <!--#echo $action.replace("'","&rsquo;") #-->'>&nbsp;</div>
            <!--#end for#-->
        <!--#end for#-->
        <!--#if $line.script_log #-->
            <span class="hvMessage">&raquo;&nbsp;<a href="scriptlog?name=$line.nzo_id" title="<!--#echo $line.script_line.replace("'","&rsquo;") #-->">View&nbsp;Script&nbsp;Log</a>&nbsp;</span>
        <!--#end if#-->
        <!--#if $line.action_line#-->
        <span class="hvMessage">&raquo;&nbsp;$line.action_line&nbsp;</span><br/>
        <!--#end if#-->
        <!--#if $line.fail_message#-->
        <span class="hvMessage">&raquo;&nbsp;$line.fail_message&nbsp;</span><br/>
        <!--#end if#-->
    </td>
    
    <td class="options" nowrap>
        <!--#if not $line.loaded#-->
        <% d = datetime.datetime.fromtimestamp(float(line['completed'])) %>
        <small class="history_added">$d</small>
        <div class="queue_delete" title="Hide&nbsp;NZB">&nbsp;&nbsp;&nbsp;</div>
        <!--#end if#-->
    </td>
    
    </tr>
    <!--#end if#-->
    <!--#set $cur = $cur + 1#-->
<!--#end for#-->
<!--#end if#-->
</table>

<div class="box_fatbottom">
    <div class="right_stats" nowrap>
        <!--#if $lines#-->
        <strong>$total_size</strong> In History&nbsp;&nbsp;&nbsp;&nbsp;
        <!--#end if #-->
        <!--#if $month_size#-->
		<strong>$month_size</strong> This Month&nbsp;&nbsp;&nbsp;&nbsp;
        <!--#end if #-->
        <!--#if $week_size#-->
		<strong>$week_size</strong> This Week
        <!--#end if #-->
		<!--#if $loadavg#-->
		&nbsp;&nbsp;&nbsp;&nbsp;<strong>$loadavg</strong> Load
		<!--#end if#-->
    </div>
    <div class="left_stats">
        <small>Showing:</small>&nbsp;<select id="history_view_preference">
            <option value=0<!--#if $limit==0#--> selected<!--#end if#-->>Everything</option>
            <option value=-1<!--#if $limit==-1#--> selected<!--#end if#-->>Active/Failed</option>
            <option value=-2<!--#if $limit==-2#--> selected<!--#end if#-->>Latest 5 + A/F</option>
            <option value=5<!--#if $limit==5#--> selected<!--#end if#-->>Latest 5</option>
            <option value=10<!--#if $limit==10#--> selected<!--#end if#-->>Latest 10</option>
            <option value=15<!--#if $limit==15#--> selected<!--#end if#-->>Latest 15</option>
            <option value=20<!--#if $limit==20#--> selected<!--#end if#-->>Latest 20</option>
            <option value=25<!--#if $limit==25#--> selected<!--#end if#-->>Latest 25</option>
            <option value=30<!--#if $limit==30#--> selected<!--#end if#-->>Latest 30</option>
            <option value=40<!--#if $limit==40#--> selected<!--#end if#-->>Latest 40</option>
            <option value=50<!--#if $limit==50#--> selected<!--#end if#-->>Latest 50</option>
            <option value=100<!--#if $limit==100#--> selected<!--#end if#-->>Latest 100</option>
            <option value=200<!--#if $limit==200#--> selected<!--#end if#-->>Latest 200</option>
        </select>&nbsp;<small>of</small>&nbsp;<strong>$cur</strong>&nbsp;<small>NZB<!--#if $cur != 1 #-->s<!--#end if#--></small>
    </div>
    <div class="history_logo">&nbsp;</div>
</div>
