<%
def displayNotices (action, name):
	if name[1:4] == 'Tim' or name[1:4] == 'Avg':
		return ''
	notice = action[3:11]
	if notice[:-2] != "Joined" and notice != "Verified" and notice[:-1] != "Deleted" and notice != "Unpacked" and notice != "Scanning" and notice != "Repaired" and notice != "Unzipped" and notice != "No par2 " and notice != "Download":
		return '<span class="hvMessage">&raquo;&nbsp;' + action[3:] + '&nbsp;</span><br/>'
%>

<a name="HIST"></a>
<table class="queueTable">
<!--#set $cur = 0#-->
<!--#set $odd = False#-->
<!--#if $lines#-->
<!--#for $line in $lines #-->
	<!--#if $limit == 0 or ($limit == -1 and ($line.status=="Failed" or $line.loaded) ) or ($limit == -2 and ($cur < 5 or $line.status=="Failed" or $line.loaded) ) or $cur < $limit#-->
	<!--#set $odd = not $odd#-->
	<tr id="$line.nzo" class="<!--#if $odd#-->alt<!--#end if#--> <!--#if $line.loaded #-->active<!--#end if#-->">
	
	<td>
		<div class="historyTitle <!--#if $line.loaded #-->Loaded<!--#else if $line.status=="Failed"#-->Cross<!--#else#-->Check<!--#end if#-->"<!--#if not $line.stages#--> colspan="2"<!--#end if#-->></div>
		<!--#if $line.msgid #-->
		<a href="https://www.newzbin.com/browse/post/$line.msgid/" target="_blank">$line.filename</a>
		<!--#else#-->
		$line.filename
		<!--#end if#-->
	</td>
	
	<!--#if $line.stages#-->
	<td class="last">
		<!--#for $stage in $line.stages#-->
			<!--#for $action in $stage.actions#-->
				<div class="hv_<%=action['name'][1:4]%>" title='<%= action['name'].replace("'","&rsquo;") %><br><%=action['value']%>'>&thinsp;&nbsp;</div><%=displayNotices(action['value'],action['name'])%>
			<!--#end for#-->
		<!--#end for#-->
	</td>
	<!--#end if#-->
	
	<td>
		<div class="queue_delete" title="Hide&nbsp;NZB">&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<small class="history_added">$line.added</small>
	</td>
	
	</tr>
	<!--#end if#-->
	<!--#set $cur = $cur + 1#-->
<!--#end for#-->
<!--#end if#-->
</table>

<div class="box_fatbottom">
	<div class="right_stats">
		<!--#if $lines#-->
		<strong>$total_bytes&nbsp;GB</strong>&nbsp;In&nbsp;History&nbsp;&nbsp;&nbsp;&nbsp;
		<!--#end if #-->
		<strong>$bytes_beginning&nbsp;GB</strong>&nbsp;Downloaded
	</div>
	<div class="left_stats">
		<small>Showing:</small>&nbsp;<select id="history_view_preference">
			<option value="0"<!--#if $limit==0#--> selected<!--#end if#-->>Everything</option>
			<option value="-1"<!--#if $limit==-1#--> selected<!--#end if#-->>Active/Failed</option>
			<option value="-2"<!--#if $limit==-2#--> selected<!--#end if#-->>Latest 5 + A/F</option>
			<option value="5"<!--#if $limit==5#--> selected<!--#end if#-->>Latest 5</option>
			<option value="10"<!--#if $limit==10#--> selected<!--#end if#-->>Latest 10</option>
			<option value="15"<!--#if $limit==15#--> selected<!--#end if#-->>Latest 15</option>
			<option value="20"<!--#if $limit==20#--> selected<!--#end if#-->>Latest 20</option>
			<option value="25"<!--#if $limit==25#--> selected<!--#end if#-->>Latest 25</option>
			<option value="30"<!--#if $limit==30#--> selected<!--#end if#-->>Latest 30</option>
			<option value="40"<!--#if $limit==40#--> selected<!--#end if#-->>Latest 40</option>
			<option value="50"<!--#if $limit==50#--> selected<!--#end if#-->>Latest 50</option>
			<option value="100"<!--#if $limit==100#--> selected<!--#end if#-->>Latest 100</option>
			<option value="200"<!--#if $limit==200#--> selected<!--#end if#-->>Latest 200</option>
		</select>&nbsp;<small>of</small>&nbsp;<strong>$cur</strong>&nbsp;<small>NZB<!--#if $cur != 1 #-->s<!--#end if#--></small>
	</div>
	<div class="history_logo">&nbsp;</div>
</div>
