<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"/>
<html>
<head>

	<title>SABnzbd+ Plush</title>
	
	<link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico"/>
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss?mode=history"/>
	<link rel="stylesheet" type="text/css" href="static/stylesheets/plush-default.css" media="screen"/>

	<script type="text/javascript" src="static/javascripts/jquery.pack.js"></script>
	<script type="text/javascript" src="static/javascripts/greybox.js"></script>
	<script type="text/javascript" src="static/javascripts/jquery.curvycorners.packed.js"></script>
	<script type="text/javascript" src="static/javascripts/webtoolkit.aim.js"></script>
	<script type="text/javascript" src="static/javascripts/jquery.tablednd.js"></script>
	<script type="text/javascript" src="static/javascripts/JQuerySpinBtn.js"></script>
	<script type="text/javascript" src="static/javascripts/plush.js"></script>

</head>
<body>
	
	<div id="page-wrap">
		<div id="hdr-queue">
			<div id="queue-buttons">
				<ul>
					<li class="q_menu_sort"></li>
					<li class="q_menu_pause"></li>
					<li class="q_menu_verbose"></li>
					
				</ul>
			</div>
			<div id="time-left">
				<p><span>2:10</span> left</p>
			</div>
			<ul id="nav">
		<li><a class="queue_logo"></a>
			<ul>
				<li><a class="daddy">Add .NZB</a>
					<ul>
						<li><a class="daddy">by Newzbin</a>
							<ul>
								<li><a><input type="text" value="enter ID/NB32"/></a></li>
								<li><a href="#"><select><option>category</option></select><select><option>script</option></select><select><option>D</option></select></a></li>
								<li><a><input type="submit" value="Add"/></a></li>
							</ul>
						</li>
	
						<li><a class="daddy">by URL</a>
							<ul>
								<li><a><input type="text" value="enter URL"/></a></li>
								<li><a><select><option>category</option></select><select><option>script</option></select><select><option>D</option></select></a></li>
								<li><a><input type="submit" value="Add"/></a></li>
							</ul>
						</li>
						<li><a class="daddy">by Upload</a>
							<ul>
								<li><a><input type="file" name="nzbfile" title="Enqueue nzb by File Upload" size="12" /></a></li>
								<li><a><select><option>category</option></select><select><option>script</option></select><select><option>D</option></select></a></li>
								<li><a><input type="submit" value="Add"/></a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li><a><select>
							<option>1 s</option>
							<option>2 s</option>
							<option>4 s</option>
							<option>8 s</option>
							<option>16s</option>
							<option>30s</option>
							<option>1 m</option>
							<option>2 m</option>
							<option>15m</option>
							<option>30m</option>
						</select> Refresh</a></li>
				<li><a>Config</a></li>
				<li><a class="daddy">Shutdown</a>
					<ul>
						<li><a>Shutdown SABnzbd</a></li>
						<li><a>Shutdown Computer<br/><small><i>when Done Downloading</i></small></a></li>
					</ul>
				</li>
				<li><a href="https://sabnzbdplus.wiki.sourceforge.net/" target="_blank">Wiki / Help</a></li>
			</ul>
		</li>
	</ul>
			<div id="speed">
				<p><span>810</span> kbs</p>
			</div>
			
			<div class="logo">
				<h1>Queue</h1>
			</div>
			
		</div>

		<div id="queue-wrap">

			<!-- Queue -->
			<div id="queue"></div>
		
		
			<!-- History Separator -->
			<div class="box_banner_history">
				<div class="box_banner_r">
					<ul class="box_banner_menu">
						<li class="q_menu_verbose"></li>
						<li class="h_menu_purge"></li>
					</ul>
				</div>
			</div>
			<div class="box_banner_hr"></div>
		
		
			<!-- History -->
			<div id="history"></div>
		
		</div>
		
		
		<div id="btm-wrapper">
			<div class="corner-right"></div>
			<div class="corner-left"></div>
		</div>
	</div>


</body>
</html>