<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"/>
<html>
<head>

	<title>SABnzbd+ Plush</title>
	
	<link rel="shortcut icon" type="image/ico" href="static/images/plush_default/sabnzbdplus.ico"/>
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss?mode=history"/>
	<link rel="stylesheet" type="text/css" href="static/stylesheets/plush-default.css" media="screen"/>

	<script type="text/javascript" src="static/javascripts/jquery.pack.js"></script>
	<script type="text/javascript" src="static/javascripts/greybox.js"></script>
	<script type="text/javascript" src="static/javascripts/jquery.curvycorners.packed.js"></script>
	<script type="text/javascript" src="static/javascripts/webtoolkit.aim.js"></script>
	<script type="text/javascript" src="static/javascripts/jquery.tablednd.js"></script>
	<script type="text/javascript" src="static/javascripts/JQuerySpinBtn.js"></script>
	<script type="text/javascript" src="static/javascripts/plush.js"></script>

</head>
<body>
	
	<div id="page-wrap">
		<div id="hdr-queue">
			<div id="queue-buttons">
				<ul>
					<li class="q_menu_sort"></li>
					<li class="q_menu_pause"></li>
					<li class="q_menu_verbose"></li>
					
				</ul>
			</div>
			<div id="time-left">
				<p><span>2:10</span> left</p>
			</div>
			<ul id="nav">
		<li><a class="queue_logo"></a>
			<ul>
				<li><a class="daddy">Add .NZB</a>
					<ul>
						<li><a class="daddy">by URL<!--#if $varExists('newzbinDetails') then "/Newzbin " else ""#--></a>
							<ul>
								<li><a><input type="text" id="addID_input" value="enter URL/ID" size="13"  onfocus="if(value=='enter URL/ID')value=''" onblur="if(!value)value='enter URL/ID'"/></a></li>
								<li>
									<!--#if $cat_list#-->
        							<select id="addID_cat">
							        <!--#for $ct in $cat_list#-->
							        	<option value="$ct">$ct</option>
							        <!--#end for#-->
							        </select>
							        <!--#end if#-->
							        <select id="addID_pp">
							        	<option value="-1" <!--#if $cat_list then "selected" else ""#-->>(Default)</option>
							        	<option value="0">(Skip)</option>
							        	<option value="1">+Repair</option>
							        	<option value="2">+Unpack</option>
							        	<option value="3" <!--#if $cat_list then "" else "selected"#-->>+Delete</option>
							        </select>
							        <!--#if $script_list#-->
							        <select id="addID_script">
							        <!--#for $sc in $script_list#-->
							        	<option value="$sc">$sc</option>
							        <!--#end for#-->
							        </select>
							        <!--#end if#-->
								</li>
								<li><a><input type="submit" id="addID" value="Add" style="cursor:pointer"/></a></li>
							</ul>
						</li>
						<li><a class="daddy">by File Upload</a>
							<form action="addFile" method="post" enctype="multipart/form-data" onsubmit="return AIM.submit(this, {'onStart': startCallback, 'onComplete': completeCallback})">
							<ul>
								<li><a><input type="file" name="nzbfile" title="Enqueue nzb by File Upload" size="4" /></a></li>
								<li>
						        <!--#if $cat_list#-->
        				   		<select name="cat">
						        <!--#for $ct in $cat_list#-->
						        	<option value="$ct">$ct</option>
						        <!--#end for#-->
						        </select>
						        <!--#end if#-->
						        <select name="pp">
						        <option value="-1" <!--#if $cat_list then "selected" else ""#-->>(Default)</option>
						        <option value="0">(Skip)</option>
						        <option value="1">+Repair</option>
						        <option value="2">+Unpack</option>
						        <option value="3" <!--#if $cat_list then "" else "selected"#-->>+Delete</option>
						        </select>
						        <!--#if $script_list#-->
						        <select name="script">
						        <!--#for $sc in $script_list#-->
						        	<option value="$sc">$sc</option>
						        <!--#end for#-->
						        </select>
						        <!--#end if#-->
								</li>
								<li><a><input type="submit" id="addNZBbyFile" value="Add" style="cursor:pointer"/></a></li>
							</ul>
							</form>
						</li>
					</ul>
				</li>
				<li><a><select>
							<option value="1">1 s</option>
							<option value="2">2 s</option>
							<option value="4">4 s</option>
							<option value="8">8 s</option>
							<option value="16">16s</option>
							<option value="30">30s</option>
							<option value="60">1 m</option>
							<option value="120">2 m</option>
							<option value="900">15m</option>
							<option value="1800">30m</option>
						</select>&nbsp;Refresh</a></li>
				<li><a href="connections" class="greybox">Configuration</a></li>
				<li><a href="https://sabnzbdplus.wiki.sourceforge.net/" target="_blank">Help + Wiki</a></li>
				<li><a style="cursor:pointer" onclick="if(confirm('Sure you want to shut down the SABnzbd application?')){GB_show('Shutdown SABnzbd', 'shutdown', 400, 400);}"><small>Shutdown SABnzbd</small></a></li>
			</ul>
		</li>
	</ul>
			<div id="speed">
				<p><span>810</span> kbs</p>
			</div>
			
			<div class="logo">
				<h1>Queue</h1>
			</div>
			
		</div>

		<div id="queue-wrap">

			<!-- Queue -->
			<div id="queue"></div>
		
		
			<!-- History Separator -->
			<div class="box_banner_history">
				<div class="box_banner_r">
					<ul class="box_banner_menu">
						<li class="q_menu_verbose"></li>
						<li class="h_menu_purge"></li>
					</ul>
				</div>
			</div>
			<div class="box_banner_hr"></div>
		
		
			<!-- History -->
			<div id="history"></div>
		
		</div>
		
		
		<div id="btm-wrapper">
			<div class="corner-right"></div>
			<div class="corner-left"></div>
		</div>
	</div>


</body>
</html>