<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"/>
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
    <link rel="shortcut icon" type="image/ico" href="../../static/images/plush-default/sabnzbdplus.ico"/>
    
    <script type="text/javascript" src="../../static/javascripts/plush-config.js?$version"></script>
    
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush-default.css?$version"/>
    <!--#if $color_scheme and $color_scheme != "plush-default.css" and $color_scheme != "default.css"#-->
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/colorschemes/$color_scheme?$version"/>
    <!--#end if#-->
    
    <script language="javascript">
        var config_pane = "NZO"; // re-uses config's js/css
    </script>
    
</head>
<body class="nzo">
    
    <div id="config_go_back"><div><a href="../../">go&nbsp;back</a></div></div>
    
	<!--#if $varExists('slot')#-->
		<form action="save" method="post" class="nzo_save_form">

			<input type="text" name="name" size="70" value="$slot.filename" />
			
			<div>
			<select name="priority"><optgroup label="Priority">
				<option value="2" <!--#if $slot.priority == "2" then "selected" else ""#-->>Force</option>
				<option value="1" <!--#if $slot.priority == "1" then "selected" else ""#-->>High</option>
				<option value="0" <!--#if $slot.priority == "0" then "selected" else ""#-->>Normal</option>
				<option value="-1" <!--#if $slot.priority == "-1" then "selected" else ""#-->>Low</option>
			</optgroup></select>
			<!--#if $cat_list#-->
			<select name="cat"><optgroup label="Category">
				<!--#for $ct in $cat_list#-->
				<option value="$ct" <!--#if $slot.cat.lower() == $ct.lower() then "selected" else ""#-->>$ct</option>
				<!--#end for#-->
			</optgroup></select>
			<!--#end if#-->
			<select name="pp"><optgroup label="Processing">
				<option value="0" <!--#if $slot.unpackopts == "0" then "selected" else ""#-->>(Skip)</option>
				<option value="1" <!--#if $slot.unpackopts == "1" then "selected" else ""#-->>+Repair</option>
				<option value="2" <!--#if $slot.unpackopts == "2" then "selected" else ""#-->>+R+Unpack</option>
				<option value="3" <!--#if $slot.unpackopts == "3" then "selected" else ""#-->>+R+U+Delete</option>
			</optgroup></select>
			<!--#if $script_list#-->
			<select name="script"><optgroup label="Script">
				<!--#for $sc in $script_list#-->
				<option value="$sc" <!--#if $slot.script.lower() == $sc.lower() then "selected" else ""#-->>$sc</option>
				<!--#end for#-->
			</optgroup></select>
			<!--#end if#-->
			<input type="submit" value="Update" />
			</div>

		</form>
	<!--#end if#-->
		
    <form action="bulk_operation" id="bulk_operation">
    <input type="hidden" name="action_key" id="action_key" />
    
    <div id="config_nav">
        <ul>
            <li><a class="config_menu" id="config_nzo_reload">Reload</a></li>
            <br/>&nbsp;Operation:
            <li><a class="config_menu" id="config_nzo_delete">Delete</a></li>
            <li><a class="config_menu" id="config_nzo_top">Top</a></li>
            <li><a class="config_menu" id="config_nzo_up">Up</a></li>
            <li><a class="config_menu" id="config_nzo_down">Down</a></li>
            <li><a class="config_menu" id="config_nzo_bottom">Bottom</a></li>
            <br/>&nbsp;Selection:
            <li><a class="config_menu" id="config_nzo_select_all">All</a></li>
            <li><a class="config_menu" id="config_nzo_select_none">None</a></li>
            <li><a class="config_menu" id="config_nzo_select_invert">Invert</a></li>
        </ul>
    </div>
    
    <div id="config_container" class="config_margin">
        <div id="config_content">
            
    <!-- ************************************
                PAGE CONTENT IS BELOW
        ************************************ -->
		            
            <table class="nzoTable">
                <tr><th></th><th>Filename/Subject</th><th>Size (MB)</th><th>Age</th></tr>
                <!--#set $oddLine = False#-->
                <!--#for $file in $active_files#-->
                    <!--#set $oddLine = not $oddLine#-->
                    <tr id="$file.nzf_id" class="nzf_row <!--#if $oddLine then "oddLine" else "evenLine"#--> active">
                        <td><input type="checkbox" name="$file.nzf_id" id="box-$file.nzf_id" <!--#if $file.checked then "checked" else ""#-->></td>
                        <td>$file.filename</td>
                        <td>$file.mb</td>
                        <td>$file.age</td>
                    </tr>
                <!--#end for#-->
            </table>
        </form>
            <div class="footer">
                <!--#if int($cache_limit)#--><b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br><!--#end if#-->
                <!--#if $nzb_quota then "<b>NzbQuota:</b> %s<b>" %($nzb_quota) else ""#-->
            </div>
            
    <!-- ************************************
                PAGE CONTENT IS ABOVE
        ************************************ -->
            
        </div>
    </div>
    
    </form>
    
</body>
</html>
