<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
	<script type="text/javascript" src="../../static/javascripts/jquery.pack.js"></script>
	<script type="text/javascript" src="../../static/javascripts/jquery.corner.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/stylesheets/plush-default.css" media="screen"/>
<script type='text/javascript'>
function mark_all()
{
    var s;
    var i=0;
    while(s = document.getElementsByTagName("input")[i++])
    {
        if(s.type=='checkbox')
        {
            s.checked=true;
        }
    }
}
function unmark_all()
{
    var s;
    var i=0;
    while(s = document.getElementsByTagName("input")[i++])
    {
        if(s.type=='checkbox')
        {
            s.checked=false;
        }
    }
}
function invert()
{
    var s;
    var i=0;
    while(s = document.getElementsByTagName("input")[i++])
    {
        if(s.type=='checkbox')
        {
            s.checked=!s.checked;
        }
    }
}
</script>
</head>
<body>

<style>
<!--
	body {background: #ddd;}

table {
	font-size: 9pt;
	color: black;
	margin: 0px;
}
th {
	background: #b5b5b5;
	color: white;
	font-weight: bold;
}

tr.even{
	background-color: #cdf;
}

tr.evenLine {
	background-color: #eee;
}

tr.odd {
	background-color: #99bbff;
}

tr.oddLine {
	background-color: #f8f8f8;
}

tr:hover {
	background-color: #333333;
	color: #FFF;
}

.config_menu {
	cursor:default;
}
-->
</style>

<body>
<form action="bulk_operation">

<div id="config_nav">
  
	<ul>
		<li>
			<a class="config_menu" onclick="document.location.reload()">
				<img src="../../static/images/plush_default_nzo/nzo_reload.png" />Reload</a>
		</li>
		<li>
			<a class="config_menu"><img src="../../static/images/plush_default_nzo//nzo_delete.png" />
				<input type="submit" name="action_key" value="Delete" style="width:60px"/></a>
		</li>
		<li>
			<a class="config_menu"><img src="../../static/images/plush_default_nzo//nzo_top.png" />
				<input type="submit" name="action_key" value="Top" style="width:60px"/></a>
		</li>
		<li>
			<a class="config_menu"><img src="../../static/images/plush_default_nzo//nzo_up.png" />
				<input type="submit" name="action_key" value="Up" style="width:60px"/></a>
		</li>
		<li>
			<a class="config_menu"><img src="../../static/images/plush_default_nzo//nzo_down.png" />
				<input type="submit" name="action_key" value="Down" style="width:60px"/></a>
		</li>
		<li>
			<a class="config_menu"><img src="../../static/images/plush_default_nzo//nzo_bottom.png" />
				<input type="submit" name="action_key" value="Bottom" style="width:60px"/></a>
		</li>
	</ul>
</div>

<div id="config_container" class="config_margin">
	<div id="config_content">

  <table>
      <tr><th></th><th>Filename/Subject</th><th>Size (MB)</th><th>Age</th></tr>
      <!--#set $oddLine = False#-->
      <!--#for $file in $active_files#-->
          <!--#set $oddLine = not $oddLine#-->
          <tr id="$file.nzf_id" class="nzf_row <!--#if $oddLine then "oddLine" else "evenLine"#--> active">
              <td><input type="checkbox" name="$file.nzf_id" id="box-$file.nzf_id" <!--#if $file.checked then "checked" else ""#-->></td>
              <td>$file.filename</td>
              <td>$file.mb</td>
              <td>$file.age</td>
          </tr>
      <!--#end for#-->
  </table>
<div class="footer">
<!--#if int($cache_limit)#-->
<b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br>
<!--#end if#-->
<!--#if $nzb_quota then "<b>NzbQuota:</b> %s<b>" %($nzb_quota) else ""#-->
</div>


<!-- ************************************
	 		PAGE CONTENT IS ABOVE
     ************************************ -->

	</div>
</div>
<big><b>
	Selection: &nbsp;
	<a style="cursor:pointer" onclick='mark_all();' target='_self'>ALL</a> &sdot;
	<a style="cursor:pointer" onclick='unmark_all();' target='_self'>NONE</a> &sdot;
	<a style="cursor:pointer" onclick='invert();' target='_self'>INVERT</a>
</b></big>
<script language="javascript">
	\$('.config_menu').corner("round tl bl");
	\$('#config_container').corner("round");

	\$('.nzf_row').click(function(event) {
		\$('#box-'+\$(event.target).parent().attr('id')).attr('checked', !\$('#box-'+\$(event.target).parent().attr('id')).attr('checked'));
	});
</script>

</form>

</body>
</html>

