<script type="text/javascript">

	if (typeof( jQuery ) == 'undefined')
		window.location = "../"; // redirect to main on direct template hit

    // set vars within the plush object
    jQuery(function($) {
        $.plush.speedlimit      = '$speedlimit';
        $.plush.finishaction = '$finishaction';
        $.plush.paused          = <!--#if $paused#-->true<!--#else#-->false<!--#end if#-->;
        $.plush.noofslots      = $noofslots;
        $.plush.mbleft          = <!--#echo "%.0f" % float($mbleft)#-->;
        $.plush.kbpersec      = <!--#echo "%.0f" % float($kbpersec)#-->;
        $.plush.timeleft      = '$timeleft';
        $.plush.eta             = '$eta';
        $.plush.have_warnings= $have_warnings;
        $.plush.last_warning = "<!--#echo $last_warning.replace("\n"," ").replace('"',"&quot;") #-->";
    });
</script>

<div class="box_banner_hr"></div>

<span id="stats_noofslots">$noofslots</span>

<table class="queueTable" id="queueTable">
<!--#set $cur = 0#-->
<!--#set $odd = False#-->
<!--#if $varExists('slotinfo')#-->
<!--#for $slot in $slotinfo#-->
    <!--#if $limit == 0 or $cur < $limit#-->
    <!--#set $cur = $cur + 1#-->
    <!--#set $odd = not $odd#-->
    <tr id="$slot.nzo_id"<!--#if $odd#--> class="alt"<!--#end if#-->>
    
    <td class="download-grippie <!--#if $slot.status == "Paused"#-->download-paused<!--#else if $slot.status == "Downloading"#-->download-active<!--#else#-->download-queued<!--#end if#-->">
    </td>

    <td class="download-title">
        <a href="nzb/$slot.nzo_id/" title="Average File Age: $slot.avg_age">$slot.filename</a>
    </td>
    
    <td class="queueProgressBarContainer">
        <div class="queueProgressBar" style="background-position: -<!--#if $slot.mb == "0.00" then "120" else int(120 - 120.0 / 100.0 * int(100 - float($slot.mbleft) / float($slot.mb) * 100))#-->px -1px">
            <div class="totalDownload"><!--#echo int(float($slot.mbleft))#-->&nbsp;<small>left</small></div>
            <div class="currentDownload"><!--#echo int(float($slot.mb))#-->&nbsp;<small>MB</small></div>
        </div>
    </td>
    
    <td class="eta" nowrap>
        <!--#if not $paused#-->
        $slot.timeleft&nbsp;left<br/>$slot.eta
        <!--#else#-->
        &nbsp;<br/>&nbsp;
        <!--#end if#-->
    </td>
    
    <td class="options" nowrap>
    	<!--#if $queue_details == "1"#-->
        <select class="proc_priority"><optgroup label="Priority">
            <option value="2" <!--#if $slot.priority == "Force" then "selected" else ""#-->>Force</option>
            <option value="1" <!--#if $slot.priority == "High" then "selected" else ""#-->>High</option>
            <option value="0" <!--#if $slot.priority == "Normal" then "selected" else ""#-->>Normal</option>
            <option value="-1" <!--#if $slot.priority == "Low" then "selected" else ""#-->>Low</option>
        </optgroup></select>
        <!--#end if#-->
        <!--#if $cat_list#-->
        <select class="change_cat"><optgroup label="Category">
            <!--#for $ct in $cat_list#-->
            <option value="$ct" <!--#if $slot.cat.lower() == $ct.lower() then "selected" else ""#-->>$ct</option>
            <!--#end for#-->
        </optgroup></select>
        <!--#end if#-->
        <select class="change_opts"><optgroup label="Processing">
            <option value="0" <!--#if $slot.unpackopts == "0" then "selected " else ""#-->>Skip</option>
            <option value="1" <!--#if $slot.unpackopts == "1" then "selected " else ""#-->>+Repair</option>
            <option value="2" <!--#if $slot.unpackopts == "2" then "selected " else ""#-->>+R+Unpack</option>
            <option value="3" <!--#if $slot.unpackopts == "3" then "selected " else ""#-->>+R+U+Delete</option>
        </optgroup></select>
        <!--#if $script_list#-->
        <select class="change_script"><optgroup label="Script">
            <!--#for $sc in $script_list#-->
            <option value="$sc"  <!--#if $slot.script == $sc then "selected" else ""#-->>$sc</option>
            <!--#end for#-->
        </optgroup></select>
        <!--#end if#-->
        <div class="queue_delete" title="Remove&nbsp;NZB">&nbsp;&nbsp;&nbsp;</div>
    </td>
    
    </tr>
    <!--#end if#-->
<!--#end for#-->
<!--#end if#-->
</table>

<div class="box_fatbottom">
    
    <div class="right_stats">
        <!--#if $noofslots > 0#-->
        <strong>$mbleft&nbsp;of&nbsp;$mb&nbsp;MB</strong>&nbsp;Remaining&nbsp;&nbsp;&nbsp;&nbsp;
        <!--#end if#-->
        <!--#if $diskspace1 == $diskspace2#-->
        <strong class="<!--#if float($diskspace1) < float($mb)/1024 #-->stats_incomplete_freespace_needspace" title="Not enough disk space to complete downloads!<!--#else#-->stats_incomplete_freespace<!--#end if#-->">$diskspace1&nbsp;GB</strong>&nbsp;Free&nbsp;Space</small></span>
        <!--#else#-->
        <strong class="<!--#if float($diskspace1) < float($mb)/1024 #-->stats_incomplete_freespace_needspace" title="Not enough disk space to complete downloads!<!--#else#-->stats_incomplete_freespace<!--#end if#-->">$diskspace1&nbsp;GB</strong>&nbsp;Free&nbsp;(Temp)
        <strong class="<!--#if float($diskspace2) < float($mb)/1024 #-->stats_complete_freespace_needspace" title="Not enough disk space to complete downloads!<!--#else#-->stats_complete_freespace<!--#end if#-->">$diskspace2&nbsp;GB</strong>&nbsp;Free&nbsp;Space
        <!--#end if#-->
        <!--#if $loadavg#-->
            <strong>SysLoad&nbsp;$loadavg</strong>
        <!--#end if#-->
    </div>
    
    <div class="left_stats">
        <small>Showing:</small>&nbsp;<select id="queue_view_preference">
            <option value=0<!--#if $limit==0#--> selected<!--#end if#-->>Everything</option>
            <option value=1<!--#if $limit==1#--> selected<!--#end if#-->>#1 Only</option>
            <option value=2<!--#if $limit==2#--> selected<!--#end if#-->>Top 2</option>
            <option value=5<!--#if $limit==5#--> selected<!--#end if#-->>Top 5</option>
            <option value=10<!--#if $limit==10#--> selected<!--#end if#-->>Top 10</option>
            <option value=15<!--#if $limit==15#--> selected<!--#end if#-->>Top 15</option>
            <option value=20<!--#if $limit==20#--> selected<!--#end if#-->>Top 20</option>
            <option value=25<!--#if $limit==25#--> selected<!--#end if#-->>Top 25</option>
            <option value=30<!--#if $limit==30#--> selected<!--#end if#-->>Top 30</option>
            <option value=40<!--#if $limit==40#--> selected<!--#end if#-->>Top 40</option>
            <option value=50<!--#if $limit==50#--> selected<!--#end if#-->>Top 50</option>
            <option value=100<!--#if $limit==100#--> selected<!--#end if#-->>Top 100</option>
            <option value=200<!--#if $limit==200#--> selected<!--#end if#-->>Top 200</option>
        </select>&nbsp;<small>of</small>&nbsp;<strong>$noofslots</strong>&nbsp;<small>NZB<!--#if $noofslots != 1 #-->s<!--#end if#--></small>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    
</div>
