<%
def getTimeLeft (mbleft, mb, kbpersec):
	timeleft = '&infin;'
	mbleft = float(mbleft)
	mb = float(mb)
	kbpersec = float(kbpersec)
	if kbpersec >= 1 and mb > 0:
		kbleft = mbleft * 1024
		daysleft = 0
		hoursleft = 0
		minsleft = 0
		secsleft = kbleft / kbpersec
		# make calculations
		if secsleft >= 60:
			minsleft = secsleft/60
			secsleft = secsleft%60
		if minsleft >= 60:
			hoursleft = minsleft/60
			minsleft = minsleft%60
		daysleft = int(hoursleft/24)
		hoursleft= str(int(hoursleft-daysleft*24))
		daysleft = str(daysleft)
		minsleft = str(int(minsleft))
		secsleft = str(int(secsleft))
		# figure out days
		if daysleft == '0':
			daysleft=''
		else:
			daysleft += 'd&sdot;'
		# add preceding 0s
		if len(hoursleft) == 1:
			hoursleft = '0'+hoursleft
		if len(minsleft) == 1:
			minsleft = '0'+minsleft
		if len(secsleft) == 1:
			secsleft = '0'+secsleft
		timeleft = daysleft+hoursleft+':'+minsleft+':'+secsleft
	return timeleft
def drawProgressBar (mbleft, mb):
	mbleft = float(mbleft)
	mb = float(mb)
	if mb == 0: # don't divide by zero
		return
	percentage = int(100 - mbleft / mb * 100)
	postion =  int(120 - 120.0 / 100.0 * percentage)
	return '<div class="progressBarProgress" style="width: '+str(percentage)+'%;"></div>'
%> 


<!--#set $x_kbpersec = $kbpersec #-->
<!--#set $x_mbleft = $mbleft #-->
<!--#set $x_mb = $mb #-->
<div class="t"><div class="b"><div class="l"><div class="r"><div class="bl"><div class="br"><div class="tl"><div class="tr">
			

<div class="roundedTopBar">
	<strong>QUEUE&nbsp;&nbsp;</strong>
	<span><b id="stats_kbpersec"><%=int(float(x_kbpersec))%></b><small>&nbsp;KB/s</small></span>
	<span><b id="stats_eta"><%=getTimeLeft(x_mbleft,x_mb,x_kbpersec)%></b><small>&nbsp;Left</small></span>
	<span style="display:none" id="stats_noofslots">$noofslots</span>
	<div class="floatRight">
		<a id="pause_resume"<!--#if $paused#--> class="active" title="Resume the Queue"<!--#end if#--> title="Pause the Queue">Pause</a>
		&sdot;<a id="queue_sortage" title="Sort by Average File Age">Sort</a>
		<!--#if $nt and $shutdown#-->&sdot;<a id="#queue_shutdown" title="Shutting down computer after downloads finish!" class="active">SHUTDOWN</a><!--#end if#-->
		&sdot;<a id="queue_verbosity"<!--#if $isverbose#--> class="active" title="Toggle Verbosity Off"<!--#else#--> title="Toggle Verbosity On"<!--#end if#-->>+</a>
	</div>
</div>
		
<table class="listingTable" id="queueTable" cellspacing="0">
	<tbody id="queueContent">

	<!--#set $odd = False#-->
	<!--#if $varExists('slotinfo')#-->
	<!--#for $slot in $slotinfo#-->
		<!--#set $odd = not $odd#-->
		<tr id="$slot.nzo_id"<!--#if $odd#--> class="alt"<!--#end if#-->>
			<td class="first itemTTD" title="Average File Age: $slot.avg_age">
				<small>
					<!--#if $slot.index == 0 #-->
						ETA:&nbsp;<%=getTimeLeft(slot['mbleft'],slot['mb'],x_kbpersec)%>&nbsp;Left&nbsp;&nbsp;
					<!--#else#-->
						<!--#if $slot.eta == 'unknown'#-->ETA: <!--#end if#-->
						$slot.eta
					<!--#end if#-->
				</small>
			<td class="itemTitle" title="Average File Age: $slot.avg_age">
				<span><a onclick="GB_show('Files in <%= slot['filename'].replace("'","&rsquo;") %>', 'queue/$slot.nzo_id/', 1, 1);">$slot.filename</a></span>
			</td>
			<td>
				<div class="progressBar percentImage1" id="element1">
					<%=drawProgressBar(slot['mbleft'],slot['mb'])%>
				</div>
			</td>
			<td class="itemMBRemain">
				<sup><strong><%=int(float(slot['mbleft']))%></strong></sup>
				<strong>/</strong>
				<sub><%=int(float(slot['mb']))%> MB</sub>
			</td>
			<td class="last itemDelete">				
				<select class="post-proc" title="Post-Processing Options" onchange="ChangeProcessingOption('$slot.nzo_id', this.options[this.selectedIndex].value);">
					<option value="0" <!--#if $slot.unpackopts == "0" then "selected " else ""#-->title="Do not post-process the NZB file set">-</option>
					<option value="1" <!--#if $slot.unpackopts == "1" then "selected " else ""#-->title="Repair the NZB file set with PAR2 files">R</option>
					<option value="2" <!--#if $slot.unpackopts == "2" then "selected " else ""#-->title="Repair &amp; Unpack the NZB file set">U</option>
					<option value="3" <!--#if $slot.unpackopts == "3" then "selected " else ""#-->title="Repair, Unpack, &amp; Delete the unneeded remainder of the NZB file set">D</option>
					<option value="4" <!--#if $slot.unpackopts == "4" then "selected " else ""#-->title="(+Script) Repair the NZB file set with PAR2 files">R+S</option>
					<option value="5" <!--#if $slot.unpackopts == "5" then "selected " else ""#-->title="(+Script) Repair &amp; Unpack the NZB file set">U+S</option>
					<option value="6" <!--#if $slot.unpackopts == "6" then "selected " else ""#-->title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set">D+S</option>
				</select>
				<select onchange="ChangeOrder(this.options[this.selectedIndex].value);">
				<!--#for $i in xrange($noofslots)#-->
					<option value="switch?uid1=$slot.nzo_id&uid2=$slotinfo[i].nzo_id" <!--#if $i == $slot.index then "selected" else ""#-->>#$i</option>
				<!--#end for#-->
				</select>
				<span class="btnDeleteQueue" title="Delete NZB from Queue">&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</td>
		</tr>
	
	
		<!--#if $slot.finished or $slot.active or $slot.queued#-->
		<!-- Post Processing : Begin -->
		<tr class="postProcessing">
			<td class="first last" colspan="5">
				<table cellspacing="0">
					<tbody>
					
						<!--#if $slot.finished#-->
						<!--#for $line in $slot.finished#-->
						<tr class="finished">
							<td class="processItemStatus">Finished</td>
							<td class="processItemTitle" title="Age: $line.age">$line.filename</td>
							<td>$line.mbleft of $line.mb MB</td>
							<td></td>
						</tr>
						<!--#end for#-->
						<!--#end if#-->


						<!--#if $slot.active#-->
						<!--#for $line in $slot.active#--> 
						<tr class="active">
							<td class="processItemStatus">Active</td>
							<td class="processItemTitle" title="Age: $line.age">$line.filename</td>
							<td>$line.mbleft of $line.mb MB</td>
							<td class="processItemMove">
								<a onclick="ManipNZF('$slot.nzo_id', '$line.nzf_id', 'Top');" class="queue_top">&laquo;</a>
								<a onclick="ManipNZF('$slot.nzo_id', '$line.nzf_id', 'Up');" class="queue_up">&lsaquo;</a>
								<a onclick="ManipNZF('$slot.nzo_id', '$line.nzf_id', 'Down');" class="queue_down">&rsaquo;</a>
								<a onclick="ManipNZF('$slot.nzo_id', '$line.nzf_id', 'Bottom');" class="queue_bottom">&raquo;</a>
								<a onclick="ManipNZF('$slot.nzo_id', '$line.nzf_id', 'Drop');" class="queue_drop">&otimes;</a>
							</td>
						</tr>
						<!--#end for#-->
						<!--#end if#-->
						
						
						<!--#if $slot.queued#-->
						<!--#for $line in $slot.queued#--> 
						<tr class="pending">
							<td class="processItemStatus">Pending</td>
							<td class="processItemTitle" title="Age: $line.age -- Set: $line.set">$line.filename</td>
							<td>$line.mbleft of $line.mb MB</td>
							<td></td>
						</tr>
						<!--#end for#-->
						<!--#end if#-->	
						
					</tbody>
				</table>
			</td>
		</tr>
		<!-- Post Processing : End -->
		<!--#end if#-->
		
	<!--#end for#-->
	<!--#end if#-->
		
	</tbody>
</table>

<div class="roundedBotBar">
	<span class="floatLeft"><b><%=int(float(x_mbleft))%>&nbsp;of&nbsp;<%=int(float(x_mb))%></b><small>&nbsp;MB&nbsp;Remaining</small></span>
		<!--#if $diskspace1 == $diskspace2#-->
			<span class="floatRight"><b>$diskspace1</b><small>&nbsp;GB&nbsp;Free&nbsp;Space</small></span>
		<!--#else#-->
			<span class="floatRight"><small>Free&nbsp;Space:</small>&nbsp;<b>$diskspace1</b><small>&nbsp;GB&nbsp;(Temp)</small>&nbsp;<b>$diskspace2</b><small>&nbsp;GB&nbsp;(Comp)</small></span>
		<!--#end if#-->
</div>

</div></div></div></div></div></div></div></div>
