/* --------------------------------------------------------------------------------------------------------
		
		L A Y O U T
		Created by Dana Woodman, Organix Design (www.organixdesign.com)
		Email: dana [at] organixdesing [dot] com
		
-------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------
	CONTAINER
--------------------------------------------- */

#container {
	width: 100%;
	margin: 0;
	background-color: #fff;
}


/* ---------------------------------------------
	HEADER
--------------------------------------------- */

#header {
	background: #49ACFF url(../images/logo.png) no-repeat left top;
}


/* ---------------------------------------------
	LOGO
--------------------------------------------- */

#logo {
	height: 30px;
}
#logo img {}


/* ---------------------------------------------
	MENU
--------------------------------------------- */

#menu {
	float: left;
	width: 100%;
	line-height:normal;
}
* html #menu {background: #49ACFF;} /* Hack for IE. its pretty lame.... */
#menu ul {
	margin: 0 0 0 230px;
	padding: 0;
	list-style: none;
	width: 500px;
}
#menu li {
	float: left;
	margin: 0 2px;
	padding: 0 0 0 10px;
	background: #D6ECF8 url(../images/bg_tab_tl.png) no-repeat left top;
}
#menu li#first {margin-left: 60px;}
#menu a {
	float: left;
	display: block;
	padding: 10px 20px 5px 10px;
	background: #D6ECF8 url(../images/bg_tab_tr.png) no-repeat right top;
	color: #5085C0;
	text-decoration: none;
	font-weight: bold;
	font-size: 115%;
	z-index: 2000;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#menu a {float:none;}
/* End IE5-Mac hack */

#menu a:hover {color: #27476B;}

#menu li.on {
	background: #FFFFFF url(../images/bg_tab_tl.png) no-repeat left top;
}
#menu li.on a {
	background: #FFFFFF url(../images/bg_tab_tr.png) no-repeat right top;
	color: #15557B;
}
#menu li.on a:hover {
	color: #15557B;
}


/* ---------------------------------------------
	SUB MENU
--------------------------------------------- */

.subMenu {
	display: block;
	margin: 15px;
	clear: both;
	padding: 10px 0;
}
.subMenu a {
	padding: 10px 15px;
	background: #E6F3FF;
	font-size: 115%;
	font-weight: bold;
	color: #1B76A7;
	text-decoration: none;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #AAD7FF;
	border-bottom: 1px solid #AAD7FF;
	border-left: 1px solid #FFFFFF;
}
.subMenu a:hover {
	background: #C6E3FF;
}
.subMenu a.current {
	background: #2D9BFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #007BEA;
	border-bottom: 1px solid #007BEA;
	border-left: 1px solid #FFFFFF;
	color: #FFFFFF;
}
.subMenu a.current:hover {}


/* ----------------------------------------------------
	BAR MENU - Used for queue, history and nzo
---------------------------------------------------- */

.barMenu {
	position: fixed;
	display: block;
	padding: 4px 0;
	display: block;
	white-space: nowrap;
	text-transform: capitalize;
	width: 100%;
	z-index: 1200;
}
.barMenu b {
	color: #fff;
	background: #FF4900 url(../images/bg_barMenu_strong.png) repeat-x left top;
}
.barMenu b a {
	color: #fff;
	border: none;
	background: #FF4900 url(../images/bg_barMenu_strong.png) repeat-x left top;
	padding: 4px 15px;
}
.barMenu a {
	background: #FFB531 url(../images/bg_barMenu.png) repeat-x left top;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	padding: 4px 12px;
	border-left: 1px solid #FFD384;
	text-transform: capitalize;
}
.barMenu a:hover {
	background: #FF6C00 url(../images/bg_barMenu_hover.png) repeat-x left top;
}
.barMenu strong {
	color: #FF4900;
	padding-left: 10px;
}
.barMenu em {
	color: #FF4900;
	font-style: normal;
	padding-left: 10px;
}


/* - - - - - - - - - - - - - - - 
	CONTENT
- - - - - - - - - - - - - - - */

#content {
	padding: 10px;
}


/* ----------------------------------------------------
	IFRAMES
---------------------------------------------------- */

#queue, #history {
	border-style: none;
	margin: 2px;
	display: block;
}



/* ----------------------------------------------------
	TOOL BOX - Tool box and its container element
---------------------------------------------------- */

.toolBoxCont {
	float: right;
	position: relative;
	top: 0;
	right: 0;
	width: 12em;
}
.toolbox {
	text-align: right;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.toolbox a {
	width: 10em;
	padding: 10px 0;
	margin: 0 0 0 auto;
	text-align: center;
	text-decoration: none;
	background: #1B76A7 url(../images/bg_toolbox_a.png) no-repeat left top;
	font-weight: bold;
	color: #C0E3F5;
	display: block;
	float: right;
}
.toolbox a:hover {
	color: #FFFFFF;
	text-decoration: none;
}


/* ----------------------------------------------------
	ADD DOWNLOAD - Dropdown box containing add download form
---------------------------------------------------- */

.addDl {
	float: right;
	width: 38em;
	background-color: #1B76A7;
	clear: both;
	overflow: hidden;
	height: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
}
.addDl .pad {padding: 15px;}
.addDl p {
	margin: 10px 0;;
	padding: 0;
}
.addDl label {
	display: block;
	float: left;
	width: 6.5em;
	font-weight: bold;
	padding: 5px 10px 5px 0;
	color: #CAE7F7;
	text-align: right;
}
.addDl input, .addDl select {
	font-family: Arial, Helvetica, sans-serif;
	color: #213F85;
	font-size: 95%;
}
.addDl h4 {
	color: #C5EBFE; 
	font-size: 120%; 
	margin-top: 25px; 
}
.addDl a {color: #fff; text-decoration: underline; padding: 4px 10px;}
.addDl a:hover {
	color: #fff;
	text-decoration: none;
	background: #16648D;
}


/* ----------------------------------------------------
	DOWNLOAD INFO - Box containing ALL download information on main page
---------------------------------------------------- */

#downloadInfoWrapper {
	width: 900px;
	float: left;
	margin-bottom: 5px;
}
#downloadInfo {
	padding: 5px;
	padding-bottom: 0;
	float: left;
	white-space: nowrap;
	background: #FAFDFE;
	border: 1px solid #B8DDF1;
}


/* ----------------------------------------------------
	DIRECTORY INFO - Shows Queue total, as well as free space in dl and comp. directories
---------------------------------------------------- */

.directoryInfo {
	float: left;
	font-size: 100%;
	color: #1D7AAD;
	margin-right: 10px;
	white-space: nowrap;
}
.directoryInfo p {
	margin: 5px 0;
	padding: 0;
	line-height: normal;
}
.directoryInfo strong {color: #FF6600; padding-right: 15px;}
.directoryInfo b {}


/* ----------------------------------------------------
	PROGRESS BOX - Contains the percentage left, bar and speed and time
---------------------------------------------------- */

.progressBox {
	width: 420px;
	float: left;
	margin-right: 10px;
}


/* ----------------------------------------------------
	DOWNLOAD BAR - Container and % download box
---------------------------------------------------- */

#downloadbar {
	width: 320px;
	height: 20px;
	text-align: left;
	border: 1px solid #186B98;
	background: #FFFFFF;
	margin-bottom: 4px;
	float: left;
}
#downloaded {
	height: 20px;
	background: #2399D8 url(../images/bg_downloaded.png) repeat left top;
}


/* ----------------------------------------------------
	PERCENT LEFT - Large percentage of total queue reaming
---------------------------------------------------- */

.percentRemain {
	float: right;
	color: #FF6600;
	font-size: 250%;
	font-weight: bold;
}


/* ----------------------------------------------------
	DOWNLOAD TIME & SPEED BOX 
---------------------------------------------------- */

.downloadTimeSpeed {}


/* ----------------------------------------------------
	DOWNLOAD SPEED - Speed of download in kb/s
---------------------------------------------------- */

.downloadSpeed {
	width: 40%;
	float: left;
	color: #186B98;
}
.downloadSpeed b {
	font-size: 120%;
	color: #FF6600;
}


/* ----------------------------------------------------
	TIME REMAINING - Listing of the time remaining in queue
---------------------------------------------------- */

.timeRemaining {
	width: 40%;
	float: left;	color: #1B75A5;
	font-size: 90%;
	color: #0099FF;
}
.timeRemaining b {
	font-size: 130%;
	color: #0B54AE;
}


/* ----------------------------------------------------
	NEW RELEASE - Box containing new release info, could be hidden
---------------------------------------------------- */

.newRelease {
	padding: 5px;
	margin-left: 10px;
	text-align: center;
	background: #6BB7E4;
	border: 1px solid #1F77AB;
	float: left;
}
.newRelease i {
	font-size: 90%;
	color: #FFFFFF;
	font-style: normal;
	font-weight: bold;
	display: block;
}
.newRelease b {
	color: #15557B;
	font: bold 210% Georgia, "Times New Roman", Times, serif;
	display: block;
}








