.SubMenu, .blockWithBorder , a.current, tr.even, tr.odd{
	background-color: #b5b5b5;
    color:black;
}
.SubMenu{
border: 1px solid #b5b5b5;
}
.MainMenu {
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: #b5b5b5;
	background-color: #eeeeee;
	padding: 5px;

}

.SubMenu a {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	
}
body{
color: #808080;
}
th {
	background: #b5b5b5;
	color: white;
	font-weight: bold;
}

tr.even{
	background-color: #cdf;
}

tr.evenLine {
	background-color: #eee;
}

tr.odd {
	background-color: #99bbff;
}

tr.oddLine {
	background-color: #f8f8f8;
}

#third {
color: #808080;
}
#first, legend{
color:#c32ee4;
}

#second{
color:#99bbff;
}

a.current:hover, a:hover {
	background-color: black;
    color:white
}
.SubMenu a.current{
color:white;
}

a{
color:black;
}

td > a, td > a {
color:white;
}

a.remove {
color:black;
}


