
.SubMenu, .blockWithBorder , a.current, tr.even, tr.odd{
	background-color: #4e4e4e;
    color:white;
}

th {
background-color: #333;
color:white;
}
#first, #third {
color: #4e4e4e;
}

a.current:hover, a:hover {
	background-color: black;
    color:white
}

td > a, td > a {
color:white;
}

a.remove {
color:black;
}

