<html>
	<head>
		<title>SABnzbd Quickstart Wizard</title>
		<link rel="stylesheet" type="text/css" href="static/style.css"/>
        <link rel="shortcut icon" href="static/images/favicon.ico" />
	</head>
	<body>
	<img id="logo" src="static/images/icon_sab.png" />
	<div id="page">
		<div id="inner">
            <div id="content" class="bigger">
                <div id="rightGreyText">Running SABnzbd+ Version $version</div>
                <br /><h1>SABnzbd Quick-Start Wizard</h1> <h2>$num</h2><br />
                <hr />
               