/* ---------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------

		Plush.css
		By Dana Woodman aka blis102 (dana@organixdesign.com)

------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------- */




/* Body
----------------------------------------------------------------- */
body {
	font: 62.5% Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	cursor: default;
}


/* Images
----------------------------------------------------------------- */
a {cursor: pointer;}
a img {border: none;}


/* Headings
----------------------------------------------------------------- */
h3 {
	font-size: 1.7em;
	color: #CC0000;
	font-weight: normal;
	margin: 5px 0;
}


/* Container
----------------------------------------------------------------- */
#container {
	font-size: 1.4em;
}


/* Top Bar
----------------------------------------------------------------- */
#topbar {
	width: 100%;
	background: #dadada url(../images/bg_topbar.png) repeat-x left bottom;
	border-bottom: 1px solid #454545;
	border-top: 1px solid #333333;
	padding-top:6px;
	padding-bottom:12px;
}


/* Logo
----------------------------------------------------------------- */
#logo {
	/*float: left;*/
	padding: 0px 0px;
	font-weight: bold;
	display: inline;
}
#logo a {
	color: #FFFFFF;
	text-decoration: none;
}
#logo sub {
	z-index: 11;
	position: absolute;
	margin-top:12px;
	margin-left:-6px;
}

/* Menu
----------------------------------------------------------------- */
#menu {
	margin: 0 0 0 30px;
	padding: 0;
	list-style: none;
/*	float: left;*/
	display: inline;
}
#menu li {
/*	float: left;*/
	display: inline;
	margin: 0;
	padding: 0;
}
#menu a {
/*	float: left;*/
	padding: 4px 15px;
	font-weight: bold;
	text-decoration: none;
	color: #E8E8E8;
	margin: 4px;
	border: 1px solid transparent;
}
#menu a:hover {
	background: #d0d0d0 url(../images/bg_menu_a_hover.png) repeat-x left bottom;
	color: #fff;
	border-top: 1px solid #757575;
	border-right: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
	border-left: 1px solid #757575;
}


/* Sub Menu
----------------------------------------------------------------- */
.subMenu {
	padding: 	6px 20px;
	background: #c1d3e5 url(../images/bg_subMenu.png) repeat-x left bottom;
	border-bottom: 1px solid #828282;
}
.subMenu#nzbMenu form {
	display:	inline;
}
.subMenu#optionsMenu {
	padding-left:12%;
	padding-right:12%;
	background: #F9F5AA url(../images/bg_optionsMenu.png) repeat-x left bottom;
}

/* Queue and History
----------------------------------------------------------------- */
#queue, #history {
	padding: 5px;
	text-align: center;
	/*display:table;*/ /* uncomment to center the queue/history in top-to-bottom layout mode (messes up Firefox 2) */
	margin-left:auto; margin-right:auto;
}
.queue_sidebyside, .history_sidebyside {display:inline;}
.queue_sidebyside {
	float:left;
}
.history_sidebyside {
	float:right;
}


/* Footer
----------------------------------------------------------------- */
#footer {clear: both;}





/* Listing Table
----------------------------------------------------------------- */
.listingTable {
	/* margin: 0 auto; */
	margin-top:6px;
		width:100%;

}

/* Table Heading */
.listingTable thead {}
.listingTable thead tr {
	background: url(../images/bg_listing_table_heading.png) repeat-x left top;
	color: #333;
	text-align: left;
}
.listingTable  thead  th {
	padding: 10px 15px 6px 15px;
	border-bottom: 1px solid #C7C7C7;
	font-size: 1.1em;
	color: #C00;
}
.listingTable thead th.first { background: transparent  url(../images/bg_listing_table_heading_tl.png) no-repeat left top; }
.listingTable thead th.first span {
	margin-left: 25px;
	font-size: .85em;
	font-weight: normal;
	color: #999;
}
.listingTable thead th.first span b {
	color: grey;
}
.listingTable thead th.last { background: transparent  url(../images/bg_listing_table_heading_tr.png) no-repeat right top; }

/* Table Body */

/* Table Rows */
.listingTable tbody tr {background: #fff url(../images/bg_listing_table_tbody_tr.png) repeat-x left bottom;}
.listingTable tbody tr.alt {background: #f6f6f6 url(../images/bg_listing_table_tbody_tr_alt.png) repeat-x left bottom;}
.listingTable tbody tr:hover {
	background: #e0efff url(../images/bg_listing_table_tbody_tr_hover.png) repeat-x left bottom;
	color: #000;
}
.listingTable tbody tr:hover .itemMBRemain,
.listingTable tbody tr:hover .itemTitle a,
.listingTable tbody tr:hover .itemTTD {color: #000;}

/* Table Data */
.listingTable tbody .first {border-left: 1px solid #707070;}
.listingTable tbody .last {border-right: 1px solid #707070;}
.listingTable tbody td {
	padding: 3px 5px;
	white-space: nowrap;
	text-align: left;
}

/* Item Title */
.listingTable tbody .itemTitle {
	padding-right: 30px;
	text-align: left;
	color: #555;
	font-weight: bold;
	font-size: 0.9em;
}
.listingTable tbody tr:hover .itemTitle {
	color:black;
}
.listingTable tbody .itemTitle span {
	padding-left: 20px;
	background: url(../images/bg_listing_item_bullet.png) no-repeat left center;
}
.listingTable tbody tr:hover .itemTitle span {background: url(../images/bg_listing_item_bullet_hover.png) no-repeat left center;}
.listingTable tbody .itemTitle a {
	color: #555;
	text-decoration: none;
	border-bottom: 1px dotted #999;
}
.listingTable tbody .itemTitle a:hover {color: #000;}

/* Progress Bar */
.listingTable tbody .progressBar {
	width: 154px;
	height: 19px;
	background: url(../images/bg_progress_bar_empty.png) no-repeat left top;
}
.listingTable tbody .progressBarProgress {
	background: url(../images/bg_progress_bar_full.png) no-repeat left top;
	text-align: right;
	position: relative;
	height: 19px;
}
.listingTable tbody .progressBarProgress span {
	position: absolute;
	top: 2px;
	right: 5px;
	color: #242424;
	font-weight: bold;
	font-size: 0.85em;
}

/* Time Till Download */
.listingTable tbody .itemTTD {
	font-size: 0.9em;
	font-weight: bold;
	color: #868686;
}

/* MB Remaining */
.listingTable tbody .itemMBRemain { color: #666; }
.listingTable tbody .itemMBRemain strong {}

/* Delete */
.listingTable tbody .btnDelete {
	width: 20px;
	height: 20px;
	display: block;
	background: url(../images/icon_delete.png) no-repeat left top;
}
.listingTable tbody .btnDelete:hover {
	background: url(../images/icon_delete_hover.png) no-repeat;
	cursor: pointer;
}

/* Table Foot */
.listingTable tfoot {
	font-size: .85em;
	text-align: left;
	color: #999;
}
.listingTable tfoot b {
	color: grey;
}
.listingTable tfoot tr {background: transparent  url(../images/bg_listing_table_footer.png) repeat-x left bottom;}
.listingTable tfoot td {padding: 8px 15px;}
.listingTable tfoot td span {margin-left: 20px;}
.listingTable tfoot .first {background: transparent  url(../images/bg_listing_table_footer_bl.png) no-repeat left bottom;}
.listingTable tfoot .last {
	text-align: right;
	background: transparent  url(../images/bg_listing_table_footer_br.png) no-repeat right bottom;
}
.listingTable thead .tools {
	font-size: 0.8em;
	text-align: right;
	color: #CCCCCC;
}
.listingTable thead .tools a {
	color: #666666;
	text-decoration: none;
	padding: 4px 10px;
}
.listingTable thead .tools a:hover {
	color: #CC0000;
	text-decoration: underline;
}
.listingTable thead .tools a.active {
	background: #FF3300;
	color: #FFFFFF;
}
.listingTable thead .tools a:hover.active {
	text-decoration: none;
	background: #CC0000;
}







.listingTable tbody .postProcessing:hover {background-color: none; background-image: none;}
.listingTable tbody .postProcessing td {padding: 0;}
.listingTable tbody .postProcessing table {
	width: 100%;
	font-size: 0.9em;
}
.listingTable .postProcessing table tr {}
.listingTable .postProcessing table td { padding: 4px 10px; }
.listingTable .postProcessing .finished { font-size: 90%; background: #FBF3B3 url(../images/bg_tr_finished.png) repeat-x left bottom; }
.listingTable .postProcessing .active { font-size: 90%; background: #DBF5C0 url(../images/bg_tr_active.png) repeat-x left bottom; }
.listingTable .postProcessing .active:hover {
	background: #e0efff url(../images/bg_listing_table_tbody_tr_hover.png) repeat-x left bottom;
	color: #000;
}
.listingTable .postProcessing .pending { font-size: 90%; background: #E6F0F7 url(../images/bg_tr_pending.png) repeat-x left bottom; }

.postProcessing .processItemTitle {}
.postProcessing .processItemMove a {
	text-decoration: none;
	font-weight: bold;
	padding:4px;
}
/* Process Item Status */
.listingTable .postProcessing .finished .processItemStatus {
	font-weight: bold;
	color: #70660E;
}
.listingTable .postProcessing .active .processItemStatus {
	font-weight: bold;
	color: #355515;
}
.listingTable .postProcessing .pending .processItemStatus {
	font-weight: bold;
	color: #283E4F;
}






/* History item titles */
#history .historyItemTitle {}
#history .historyItemTitle a {
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}
#history .historyItemTitle a:hover {}
/* History item info (newzbin) link */
#history .historyItemInfo {
	float: left;
	margin-right: 15px;
	padding-left: 5px;
}
/* History item status */
#history .failed { background: #FDE8E8 url(../images/bg_tr_failed.png) repeat-x left bottom; }
#history .failed .historyItemTitle a { color: #CC0000; }




/* History verbosity */
#history .historyVerbosity, #history .historyVerbosity:hover { background: #D7D7D7; }
#history .historyVerbosity table {
	width: 100%;
	font-size: 0.9em;
	color: #000000;
	border-bottom: 1px none #ADADAD;
	margin: 5px;
	border-top: 1px solid #ADADAD;
	border-right: 1px solid #ADADAD;
	border-left: 1px solid #ADADAD;
}
#history .historyVerbosity table td {
	padding-left: 30px;
	border-bottom: 1px solid #ADADAD;
}
/* History verbosity status */
#history .historyVerbosity .verified {background: #F4FBF0 url(../images/icon_check.png) no-repeat 5px center;}
#history .historyVerbosity .deleted {background: #FFF0F0 url(../images/icon_trash.png) no-repeat 2px center;}
#history .historyVerbosity .unpacked {background: #FFFBDF url(../images/icon_zip.png) no-repeat 5px center;}
#history .historyVerbosity .failure {
	background: #FFEAEA url(../images/icon_exclamation.png) no-repeat 5px center;
	font-weight: bold;
	color: #990000;
}
.hvError {
	color: blue;
}








/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

	C O N F I G

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
div.EntryBlock form {
  display: inline;
}
fieldset.EntryFieldSet {
  vertical-align: top;
  display: inline;
  padding: 7px;
  margin: 5px;
}
#config_nav {
	margin-top: 5px;
	width: 110px;
	text-align: left;
	float: left;
}

#config_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#config_nav li {
	margin: 0;
	padding: 3px 0px 3px 10px
}

#config_nav li a {
	background-color: #ddd;
	display: block;
	padding: 5px 0px 5px 5px;
	color: #666;
	text-decoration: none;
	width: 100%;
	font-size: 9pt;
	font-weight: bold;
}

#config_nav li a:hover {
	background-color: #ccc;
	color: #000;
}

#config_nav #nav_active {
	background-color: #bbb;
	color: #000;
}

#config_nav li a img{
	vertical-align: -2px;
	padding-right: 5px;
}

#config_container {
	background: #bbb;
	width: 655px;
	height: 435px;
	text-align: left;
	font-size: 10pt;
	padding: 10px;
	padding-left: 20px;
}

#connections_container {
	background: #bbb;
	height: 395px;
	text-align: left;
	font-size: 10pt;
	margin: 10px 10px 0px 10px;
	padding: 10px;
}

#config_content {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.left_links {
	float: left;
	margin: 5px 0 0 10px;
}

.left_links a {
	display: block;
	background-color: #ddd;
	color: #666;
	text-decoration: none;
	font-size: 9pt;
	font-weight: bold;
	padding: 2px 5px;
}

.left_links a:hover {
	background-color: #bbb;
	color: #000;
}

.left_links a img {
	vertical-align: middle;
	padding-right: 5px;
}

.config_margin {
	margin: 5px 10px 0 115px;
}

.right_links {
	float: right;
	margin: 5px 10px 0 0;
}

.right_links a {
	display: block;
	background-color: #ddd;
	color: #666;
	text-decoration: none;
	font-size: 9pt;
	font-weight: bold;
	padding: 2px 5px;
}

.right_links a:hover {
	background-color: #bbb;
	color: #000;
}

.right_links a img {
	vertical-align: middle;
	padding-right: 5px;
}

#save_button {
	float: right;
	margin: 6px 10px 0 0;
}

/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

	G R A Y B O X

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
#GB_overlay {
	background-image: url(../images/gb_overlay.png);
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	z-index: 100;
	width:  100%;
	height: 100%;
}
* html #GB_overlay {
	background-color: #fff;
	background-color: transparent;
	background-image: url(../images/gb_blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/greybox_overlay.png", sizingMethod="scale");
}
#GB_window {
	top: 50px;
	left: 0px;
	position: absolute;
	background: #dadada;
	border: 1px solid #000;
	width: 400px;
	height: 400px;
	z-index: 150;
}
#GB_frame {
	border: 0;
	width: 100%;
	height: 378px;
}
#GB_caption {
	font: 16pt bold Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	background: #dadada;
	background-image: url(../images/config_header.png);
	height: 34px;
	padding: 2px 10px 0px 10px;
	margin: 0;
	text-align: left;
	font-weight: bold;
}
#GB_window img {
	position: absolute;
	top: 2px;
	right: 5px;
	cursor: pointer;
	cursor: hand;
}











/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

	H E L P E R    C L A S S E S

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */



/* Text align
----------------------------------------------------------- */
.textRight {text-align: right;}
.textLeft {text-align: left;}
.textCenter {text-align: center;}


/* Display
----------------------------------------------------------- */
.clear {clear: both;}
.noClear {clear: none;}
.hide {display: none;}
.show {display: inherit;}
.visible {display: inherit;}
.hidden {display: none;}
.block {display: block;}
.inline {display: inline;}
.noStyling {border: none; background: none; text-decoration: none;}


/* Column Classes
----------------------------------------------------------- */
.col10 {width: 10%; float: left; display: block; margin: 0; padding: 0;}
.col15 {width: 15%; float: left; display: block; margin: 0; padding: 0;}
.col20 {width: 20%; float: left; display: block; margin: 0; padding: 0;}
.col25 {width: 25%; float: left; display: block; margin: 0; padding: 0;}
.col33 {width: 33%; float: left; display: block; margin: 0; padding: 0;}
.col40 {width: 40%; float: left; display: block; margin: 0; padding: 0;}
.col45 {width: 45%; float: left; display: block; margin: 0; padding: 0;}
.col50 {width: 50%; float: left; display: block; margin: 0; padding: 0;}
.col55 {width: 55%; float: left; display: block; margin: 0; padding: 0;}
.col60 {width: 60%; float: left; display: block; margin: 0; padding: 0;}
.col65 {width: 65%; float: left; display: block; margin: 0; padding: 0;}
.col66 {width: 66%; float: left; display: block; margin: 0; padding: 0;}
.col70 {width: 70%; float: left; display: block; margin: 0; padding: 0;}
.col75 {width: 75%; float: left; display: block; margin: 0; padding: 0;}
.col80 {width: 80%; float: left; display: block; margin: 0; padding: 0;}
.col90 {width: 90%; float: left; display: block; margin: 0; padding: 0;}
.col100 {width: 100%; float: left; display: block; margin: 0; padding: 0;}


/* Padding Classes
----------------------------------------------------------- */
.pad5 {padding: 5px; margin: 0;}
.pad10 {padding: 12px; margin: 0;}
.pad15 {padding: 15px; margin: 0;}
.pad20 {padding: 20px; margin: 0;}
.pad25 {padding: 25px; margin: 0;}
.pad30 {padding: 30px; margin: 0;}
.pad35 {padding: 35px; margin: 0;}
.pad40 {padding: 40px; margin: 0;}
.pad45 {padding: 45px; margin: 0;}
.pad50 {padding: 50px; margin: 0;}













/* Clearfix
----------------------------------------------------------- */
#topbar:after,
.subMenu:after {
	content: " ";
	clear: both;
	display: block;
	width: 100%;
	height: 0;
	visibility: hidden;
}


























.history_Par2 {
	padding-bottom: 16px;
	padding-left: 	8px;
	padding-right: 	8px;
	background: 	url(../images/hv_par2.png) no-repeat;
	float:left;
}
.history_Join {
	padding-bottom: 16px;
	padding-left: 	8px;
	padding-right: 	8px;
	background: 	url(../images/hv_join.png) no-repeat;
	float:left;
}
.history_Unrar {
	padding-bottom: 16px;
	padding-left: 	8px;
	padding-right: 	8px;
	background: 	url(../images/hv_unrar.png) no-repeat;
	float:left;
}
.history_Unzip {
	padding-bottom: 16px;
	padding-left: 	8px;
	padding-right: 	8px;
	background: 	url(../images/hv_unzip.png) no-repeat;
	float:left;
}
.history_Del {
	padding-bottom: 16px;
	padding-left: 	8px;
	padding-right: 	8px;
	background: 	url(../images/hv_del.png) no-repeat;
	float:left;
}
.history_loading {
	padding-bottom: 16px;
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/h_postprocessing.gif) no-repeat;
	float:left;
}









#layout_sidebyside {
	cursor: 		pointer;
}
#layout_toptobottom {
	cursor: 		pointer;
}


.layoutContainer {
	display:inline;
	margin-right:32px;
}
.layoutContainer strong {
	margin-top: 3px;
	margin-right: 8px;
}
.layoutContainer img {
	margin: 3px 4px 0;
}



.sliderContainer {
	display:inline;
	margin: 3px 15px;
	float: left;
}
.sliderContainer .refreshTitle {
	margin-right: 10px;
	font-weight: bold;
	color: #333333;
	display:inline;
}
.sliderContainer .refreshSlider {
	width: 316px;
	height: 16px;
	position: relative;
	background: url(../images/bg_refreshSlider.png) no-repeat left top;
	z-index: 1;
}
.refreshIndicator {
	width: 40px;
	height: 16px;
	background-image: url(../images/o_refresh_handle.png);
	font-size: 1px;
	overflow: hidden;
	border: none;
	position: relative;
	z-index: 2;
}
.sliderContainer .refreshRate {
	display:inline;
	margin-left: 10px;
}


.shutdownContainer {
	display:inline;
	margin: 4px;
	margin-right: 32px;
	float: right;
}
.shutdownContainer a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}
