/*
	plush.css
	SABnzbd+ Plush
	By: Nathan Langlois
   *********************/

/**********
**  Layout
**/
body {
	background-color: 	#000A12;
	text-align: 		center;
	padding: 			0px;
	cursor: 			default;
	height: 			100%;
	margin: 			0px;
	font: 				small Arial, Helvetica, sans-serif;
	font-size:			100%;
}
.align_left 	{text-align:  left;   }
.align_center 	{text-align:  center; }
.align_right 	{text-align:  right;  }
.queue_sidebyside   {float: left;}
.history_sidebyside {float:right; /*margin-top:-11px;*/}
.nowrap			{white-space: nowrap; }
.needspace	{
	border-bottom:	1px #F93131 dotted;
	border-top:		1px #F93131 dotted;
	color:		  	#F78614;
}
.tips {
	background: 	#021D33 url(../images/bg_bluestripesdark_reverse.png) repeat-x left bottom;
	font-style: 	italic;
	font-size:		75%;
	color:			#F78614;
}
select {
	background-color: 	#000;
	margin-left:		6px;
	font-size:			80%;
	padding: 			0px;
	border: 			0px;
	margin: 			0px;
	color: 				#00CCFF;
}
select option[value="1"],option[value="4"] {
	background-position:right;
	background-repeat:	no-repeat;
	background-image:	url(../images/hv_par2.png);
}
select option[value="2"],option[value="5"] {
	background-position:right;
	background-repeat:	no-repeat;
	background-image:	url(../images/hv_unrar.png);
}
select option[value="3"],option[value="6"] {
	background-position:right;
	background-repeat:	no-repeat;
	background-image:	url(../images/hv_cleanup.png);
}
input {
	background-color: 	#000;
	margin-left:		6px;
	font-size:			80%;
	padding: 			1px;
	border: 			0px;
	margin: 			0px;
	color: 				#00CCFF;
}


/*************
**  Main Menu
**/
.mainMenu {
	padding-bottom: 2px;
	border-bottom: 	1px solid #000;
	padding-top: 	4px;
	background: 	#021D33 url(../images/bg_bluestripesdark.png) repeat-x left bottom;
	text-align: 	center;
	width: 			100%;
}
.mainMenu b {
	color: 			#F78614;
}
.mainMenu a {
	text-decoration:none;
	font-weight: 	normal;
	margin-left: 	20px;
	font-style: 	italic;
	margin-top: 	3px;
	font-size:		85%;
	cursor: 		pointer;
	color: 			#00CCFF;
}
.mainMenu a:hover {
	border-bottom: 	1px solid #FFF;
}
.mainMenu .on {
	border-bottom: 	1px solid #FFF;
}
.subMenu {
	padding-bottom: 2px;
	border-bottom: 	1px solid #000;
	padding-top: 	4px;
	background: 	#021D33 url(../images/bg_bluestripesdark_reverse.png) repeat-x left bottom;
	text-align: 	center;
	width: 			100%;
}
.subMenu b {
	color: 			#F78614;
}
.subMenu a {
	text-decoration:none;
	font-weight: 	normal;
	margin-left: 	20px;
	font-style: 	italic;
	font-size:		85%;
	cursor: 		pointer;
	color: 			#00CCFF;
}
.subMenu a:hover {
	border-bottom: 	1px solid #FFF;
}
.subMenu .on {
	border-bottom: 	1px solid #FFF;
	color: 			#F93131;
}


/*************************
**  Queue & History Table
**/
table {
	font-size:		100%;
	margin:			8px;
	margin-bottom:  30px;
}
table tbody tr {
	text-align: 	left;
	color: 			#FFF;
	background-color: #FFF;
}
table tbody tr:hover {
	background: 	#E6E6E6;
}
table tbody tr td {
	color:#000;
	vertical-align: middle;
	text-align:		center;
	padding: 		2px;
}
table tbody a {
	text-decoration:none;
}
table tbody sup {
	vertical-align: sup;
	padding-left: 	0px;
	font-weight:	normal;
	font-size:		100%;
	color:#000;
}
table tbody sub {
	font-weight:	normal;
	font-size:		100%;
	color:#000;
}
table tbody i {
	vertical-align: sub;
	margin-right: 	-2px;
	margin-left: 	-1px;
	font-size: 		180%;
	color: 			#064171;
}
table tbody big {
	font-size: 		100%;
	color: 			#064171;
}
.hvError {
	font-style: 	italic;
	color:			#F93131;
}
.q_finished {
	background-color: 	#00FF5E;
	font-style:			normal;
	color:				#FFF;
}
.q_active {
	background-color: 	#FFCC5C;
	font-style:			normal;
	color:				#FFF;
}
.q_queued {
	background-color: 	#FB3939;
	font-style:			normal;
	color:				#FFF;
}


/************************
**  Queue & History Menu
**/
.menu {
	padding-top: 	2px;
	background: 	#021D33 url(../images/bg_bluestripesdark.png) repeat-x left bottom;
	text-align: 	center;
	width:			800px;
	height:			30px;
}
.menu b {
	margin-left: 	20px;
	margin-top: 	2px;
	display: 		inline;
	padding: 		1px;
	color: 			#F78614;
	float: 			left;
}
.menu a {
	margin-right: 	20px;
	font-weight: 	normal;
	font-style: 	italic;
	margin-top: 	3px;
	font-size:		85%;
	padding: 		1px;
	cursor: 		pointer;
	color: 			#00CCFF;
	float: 			right;
}
.menu a:hover {
	border-top: 	1px solid #FFF;
	margin-top: 	2px;
}
.menu .on {
	border-top: 	1px solid #FFF;
	margin-top: 	2px;
	color: 			#F93131;
}


/******************************
**  Queue & History Statistics
**/
.stats {
	padding-bottom: 0px;
	background: 	#074273 url(../images/bg_bluestripeslight.png) repeat-x left bottom;
	font-style: 	italic;
	font-size:		65%;
	height:			65px;
	color: 			#FFF;
}
.stats b, sup, sub {
	padding-left: 	24px;
	font-weight: 	bold;
	font-style: 	normal;
	font-size: 		200%;
	color: 			#FFF;
}
.stats sup, sub {
	padding-left: 	2px;
}
.stats i {
	vertical-align: sub;
	margin-right: 	-1px;
	margin-left: 	-2px;
	font-size: 		280%;
	color: 			#00CCFF;
}
.stats big {
	font-weight:	normal;
	font-size: 		100%;
	color: 			#00CCFF;
}


/*************************
**  Queue & History Icons
**/
#stats_freetemp { 	background: url(../images/q_freetemp.png) no-repeat; }
#stats_freedone { 	background: url(../images/q_freedone.png) no-repeat; }
#stats_speed { 		background: url(../images/q_speed.png) no-repeat; }
#stats_mb_icon { 	background: url(../images/q_mbleft.png) no-repeat; }
#stats_timeleft { 	background: url(../images/q_timeleft.png) no-repeat; }
#stats_dlknown { 	background: url(../images/h_knowndl.png) no-repeat; }
#stats_dlshown { 	background: url(../images/h_currentdl.png) no-repeat; }
#stats_uptime { 	background: url(../images/h_uptime.png) no-repeat; }
.queue_drop {
	vertical-align:	bottom;
	padding-left: 	16px;
	background: 	url(../images/q_drop.png) no-repeat;
}
.queue_drop:hover {
	background: 	url(../images/q_drop_hover.png) no-repeat;
	cursor:pointer;
}
.queue_finished {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/qv_finished.png) no-repeat;
}
.queue_active {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/qv_active.png) no-repeat;
}
.queue_queued {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/qv_queued.png) no-repeat;
}
.queue_top {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/qv_top.png) no-repeat;
	cursor:			pointer;
}
.queue_up {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/qv_up.png) no-repeat;
	cursor:			pointer;
}
.queue_down {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/qv_down.png) no-repeat;
	cursor:			pointer;
}
.queue_bottom {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/qv_bottom.png) no-repeat;
	cursor:			pointer;
}
.history_Par2 {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/hv_par2.png) no-repeat;
}
.history_Join {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/hv_join.png) no-repeat;
}
.history_Unrar {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/hv_unrar.png) no-repeat;
}
.history_Unzip {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/hv_unzip.png) no-repeat;
}
.history_loading {
	padding-left: 	16px;
	margin-left:	1px;
	background: 	url(../images/h_postprocessing.gif) no-repeat;
}
.plusnzb_icon {
	padding-left: 	16px;
	margin-left:	6px;
	background: 	url(../images/o_addnzb.png) no-repeat;
	cursor:			pointer;
}
.sidebyside_icon {
	padding-left: 	16px;
	margin-left:	6px;
	background: 	url(../images/o_sidebyside.png) no-repeat;
	cursor:			pointer;
}
.toptobottom_icon {
	padding-left: 	16px;
	margin-left:	6px;
	background: 	url(../images/o_topbottom.png) no-repeat;
	cursor:			pointer;
}

/***********************
**  Queue Progress Bars
**/
.progressBar img, .percentImage1 img {
	 background: url(../images/q_progress_green.png) top left no-repeat;
	 padding: 0;
	 margin: 0px 0 0 0;
	 background-position: 0px 0;
}
.percentImage2 img {
	 background: url(../images/q_progress_yellow.png) top left no-repeat;
	 padding: 0;
	 margin: 0px 0 0 0;
	 background-position: 0px 0;
}
.percentImage3 img {
	 background: url(../images/q_progress_orange.png) top left no-repeat;
	 padding: 0;
	 margin: 0px 0 0 0;
	 background-position: 0px 0;
}
.percentImage4 img {
	 background: url(../images/q_progress_red.png) top left no-repeat;
	 padding: 0;
	 margin: 0px 0 0 0;
	 background-position: 0px 0;
}


/*******************************
**  Options Refresh Rate Slider
**/
.refreshSlider
{
	width: 316px;
	height: 16px;
	position: relative;
	left: 16px;
	background-color: #074273;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
}
.refreshIndicator
{
	width: 40px;
	height: 16px;
	background-image: url(../images/o_refresh_handle.png);
	position: absolute;
	font-size: 1px;
	overflow: hidden;
	border: none;
	position: relative;
	z-index: 2;
	float:left;
}


/*******************************
**  Greybox
**/
#GB_overlay {
  background-image: url(../images/gb_overlay.png); 
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  z-index: 100;
  width:  100%;
  height: 100%;
}
* html #GB_overlay {
  background-color: #000;
  background-color: transparent;
  background-image: url(../images/gb_blank.gif);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/greybox_overlay.png", sizingMethod="scale");
}
#GB_window {
  top: 10px;
  left: 0px;
  position: absolute;
  background: #fff;
  border: 1px solid #aaa;
  overflow: auto;
  width: 400px;
  height: 400px;
  z-index: 150;
}
#GB_frame {
  border: 0;
  overflow: auto;
  width: 100%;
  height: 378px;
}
#GB_caption {
  font: 12px bold helvetica, verdana, sans-serif;
  color: #fff;
  background: #888;
  padding: 2px 0 2px 5px;
  margin: 0;
  text-align: left;
}
#GB_window img {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  cursor: hand;
}









/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

	H E L P E R    C L A S S E S

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */



/* Text align
----------------------------------------------------------- */
.textRight {text-align: right;}
.textLeft {text-align: left;}
.textCenter {text-align: center;}


/* Display
----------------------------------------------------------- */
.clear {clear: both;}
.noClear {clear: none;}
.hide {display: none;}
.show {display: inherit;}
.visible {display: inherit;}
.hidden {display: none;}
.block {display: block;}
.inline {display: inline;}
.noStyling {border: none; background: none; text-decoration: none;}


/* Column Classes
----------------------------------------------------------- */
.col10 {width: 10%; float: left; display: block; margin: 0; padding: 0;}
.col15 {width: 15%; float: left; display: block; margin: 0; padding: 0;}
.col20 {width: 20%; float: left; display: block; margin: 0; padding: 0;}
.col25 {width: 25%; float: left; display: block; margin: 0; padding: 0;}
.col33 {width: 33%; float: left; display: block; margin: 0; padding: 0;}
.col40 {width: 40%; float: left; display: block; margin: 0; padding: 0;}
.col45 {width: 45%; float: left; display: block; margin: 0; padding: 0;}
.col50 {width: 50%; float: left; display: block; margin: 0; padding: 0;}
.col55 {width: 55%; float: left; display: block; margin: 0; padding: 0;}
.col60 {width: 60%; float: left; display: block; margin: 0; padding: 0;}
.col65 {width: 65%; float: left; display: block; margin: 0; padding: 0;}
.col66 {width: 66%; float: left; display: block; margin: 0; padding: 0;}
.col70 {width: 70%; float: left; display: block; margin: 0; padding: 0;}
.col75 {width: 75%; float: left; display: block; margin: 0; padding: 0;}
.col80 {width: 80%; float: left; display: block; margin: 0; padding: 0;}
.col90 {width: 90%; float: left; display: block; margin: 0; padding: 0;}
.col100 {width: 100%; float: left; display: block; margin: 0; padding: 0;}


/* Padding Classes
----------------------------------------------------------- */
.pad5 {padding: 5px; margin: 0;}
.pad10 {padding: 12px; margin: 0;}
.pad15 {padding: 15px; margin: 0;}
.pad20 {padding: 20px; margin: 0;}
.pad25 {padding: 25px; margin: 0;}
.pad30 {padding: 30px; margin: 0;}
.pad35 {padding: 35px; margin: 0;}
.pad40 {padding: 40px; margin: 0;}
.pad45 {padding: 45px; margin: 0;}
.pad50 {padding: 50px; margin: 0;}