body {
    background-color: #B1B1B1;
    font-family: arial, "lucida console", sans-serif;
    margin: 0px;
    padding: 0px;
	padding-bottom: 10px;
}
select {
    color: #000;
    background-color:#E0E0E0;
    border:0px;
    padding:0px;
}

ul, li, p, h1, h2, h3 { margin: 0; padding: 0; list-style: none; }

.new_release_link {
    color: darkgreen;
}
.pointer {
    cursor:pointer;
}
.clear {
	clear: both;
}
#warning_message {
    color: darkred;
	font-weight: bold;
}
#new_release {
	color: green;
	font-weight: bold;
}

/* for jQuery Tooltip Plugin */
#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #111;
    background-color: lightyellow;
    color:#000;
    font-size: 11px !important;
    padding: 5px;
    opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }


/* for jQuery Pagination Plugin */
.pagination-perpage {
	float:left;
}
.pagination {
	font-size: 100%;
	margin-left: -15px;
	margin-top: -15px;
	float:left;
}
.pagination a {
    text-decoration: none;
	border: solid 1px #B1B1B1;
	background:#E0E0E0;
	color: #000;
	cursor: pointer;
}
.pagination a:hover {
	border: solid 1px #000;
}
.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}
.pagination .current {
    background: #FFF;
    color: #000;
	border: solid 1px #000;
}
.pagination .current.prev, .pagination .current.next{
	color:#B1B1B1;
	border-color:#B1B1B1;
	background:#E0E0E0;
}


/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

    queue + history overall container

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */

.box_fatbottom {
    height:37px;
    font-size: 66%;
    color: #606060;
    text-align:center;
    background: url(../images/plush-default/qh_bottom.png) 0 0 repeat-x;
}
.box_fatbottom div {
    padding:12px 16px 0 20px;
    cursor:default;
}
.history_stats div {
    padding:13px 16px 0 20px;
	margin-bottom: -4px;
}
#history_stats {
	padding-top:16px;
}
.box_fatbottom .left_stats {
    float:left;
}
.box_fatbottom .right_stats {
    float:right;
}
.box_fatbottom strong {
    color: #000;
}

.box_banner_menu {
    float:right;
    list-style:none;
    display:inline;
    margin: 10px 0;
    padding: 0;
}
.box_banner_menu li {
    float:right;
}

/* overall pause/resume */
#pause_int {
	color: white;
	padding-right:10px;
	font-size:small;
}
.q_menu_pause {
    margin-right:6px;
    padding-right:32px;
    padding-bottom:24px;
    cursor:pointer;
}
.q_menu_unpaused {
    background: url(../images/plush-default/q_pause.png) 0 0 no-repeat;
}
.q_menu_paused {
    background: url(../images/plush-default/q_pause_on.png) 0 0 no-repeat;
}
/* keep .h_menu_verbose and .h_menu_purge up with the above (buttons top-right of history) */
.h_menu_purge {
    background: url(../images/plush-default/h_purge.png) 0 0 no-repeat;
    margin:6px;
    padding-right:28px;
    padding-bottom:24px;
    cursor:pointer;
    display:none;
}


#page-wrap { width: 95%; margin: 0px auto; }
.box_banner_hr {
    background: #cfcfcf url(../images/plush-default/qh_seperator.png) 0 0 repeat-x;
    height:4px;
}
.box_banner_history {background-image: url(../images/plush-default/history_tile.png); background-repeat: repeat-x; height: 51px; width: 100%; background-position: -2px 0;}
.box_banner_r {
    background-image: url(../images/plush-default/history_title_bg.png);
    background-position: left center;
    background-repeat:no-repeat;
    height:52px;
    margin-left:1px;
}
#hdr-queue { background-image: url(../images/plush-default/queue_bg_tile.png); background-position: 4px 0px; background-repeat: repeat-x; height: 55px; }
#hdr-queue .logo { background-image: url(../images/plush-default/hdr_queue.png); background-position: left top; background-repeat: no-repeat; height: 55px; width: 178px; float: left;}
#hdr-queue .logo h1 { text-indent: -9999px; margin: 0; padding: 0;}
#queue-buttons { float: right; background-image: url(../images/plush-default/queue_bg.png); background-position: top right; background-repeat: no-repeat; height: 35px; padding-top: 20px;}
#queue-buttons li { float:left; }
#queue-wrap { background-color: #cfcfcf; padding: 0 4px; }
#btm-wrapper { height: 9px; background-color: #cfcfcf; clear:both;}
#btm-wrapper .corner-right { float:right; background-image: url(../images/plush-default/btm_corner_right.png); background-repeat:no-repeat; height: 9px; width: 12px;}
#btm-wrapper .corner-left { float:left; background-image: url(../images/plush-default/btm_corner_left.png); background-repeat: no-repeat; height: 9px; width: 12px; }




/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

    box header, above queue (sabnzbd logo & stats)

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
.centerpiece {
    width:320px;
    margin-left:auto;
    margin-right:auto;
}
#queue_logo {
    background: url(../images/plush-default/sabnzbdplus_logo.png) 50% 50% no-repeat;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:19px;
    height: 40px;
    float:left;
}
#speed, #time-left {
    background-image: url(../images/plush-default/rounded_area_bg.png);
    width: 68px;
    height: 12px;
    padding: 5px 0px;
    margin-top: 20px;
    text-align: center;
    cursor:default;
}
/* stats next to logo */
#speed { float:left; margin-right:36px;}
#time-left { float:left; margin-left:36px; }
#speed p, #time-left p { font-size: 9px; color: #7c7c7c; }
#speed span, #time-left span { font-size: 11px; color: #dadada; font-weight: bold; }

/* plush logo, below history */
.history_logo {
    background: url(../images/plush-default/sabnzbdplus_plush.png) 50% 100% no-repeat;
}

.show { display: inline; }


/*  queueTable shared by queue and history */
.queueTable {
    border-collapse: seperate;
    width: 100%;
    background-color: #e0e0e0;
    color: #606060;
    border-bottom: 1px solid #fff;
    border-spacing: 0px;
}
.queueTable tr {
    background-color: #e0e0e0;
}
.queueTable tr select {
    color: #606060;
}
.queueTable tr:hover {
    background-color: #f9f9f9;
    color: #000;
}
.queueTable tr:hover select {
    color: #000;
}
.queueTable td {
    vertical-align: middle;
    padding:2px 0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #B1B1B1;
}
.queueTable td.download-grippie {
    padding-left:29px;
    cursor: pointer;
}
.queueTable tr:hover td.download-grippie { /* IE7 */
    background-color: #f9f9f9;
}
.queueTable td.download-title {
    width: 50%;
}
.queueTable tr .download-queued {
    background: url(../images/plush-default/ql_grip_queued.png) 4px 50% no-repeat;
}
.queueTable tr:hover .download-queued {
    background: url(../images/plush-default/ql_grip_queued_on.png) 4px 50% no-repeat;
}
.queueTable tr .download-paused {
    background: url(../images/plush-default/ql_grip_paused.png) 4px 50% no-repeat;
}
.queueTable tr:hover .download-paused {
    background: url(../images/plush-default/ql_grip_paused_on.png) 4px 50% no-repeat;
}
.queueTable tr .download-active {
    background: url(../images/plush-default/ql_grip_active.png) 4px 50% no-repeat;
}
.queueTable tr:hover .download-active {
    background: url(../images/plush-default/ql_grip_active_on.png) 4px 50% no-repeat;
}
.queueTable td.historyTitle {
    padding-left:29px;
    cursor: default;
}
.queueTable tr:hover td.historyTitle { /* IE7 */
    background-color: #f9f9f9;
    color: #000;
}
.queueTable .historyTitle.Loaded, .loading {
    background: url(../images/plush-default/hl_loaded.gif) 4px 50% no-repeat;
}
.queueTable .historyTitle.Check {
    background: url(../images/plush-default/hv_ok.png) 4px 50% no-repeat;
}
.queueTable .historyTitle.Cross {
    background: url(../images/plush-default/hv_error.png) 4px 50% no-repeat;
}
.queueTable a {
    text-decoration: none;
    color: #606060;
}
.queueTable tr:hover a {
    color: #000;
}
.queueTable a:hover {
    border-bottom: 1px dotted #606060;
    cursor: pointer;
}
.queueTable tr:hover .queue_delete {
    background: url(../images/plush-default/ql_cross.png) 50% 50% no-repeat;
}
.queueTable td:hover .queue_delete {
    background: url(../images/plush-default/ql_cross_on.png) 50% 50% no-repeat;
    cursor:pointer;
}
.queueTable .eta {
    padding-left:6px;
    text-align: center;
    font-size: 70%;
}



/* refresh button below queue */
#manual_refresh {
    cursor:pointer;
}
.refreshing {
    border-bottom:1px dotted;
}
.refresh_skipped {
    border-bottom:1px solid red;
}



/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

    Queue

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */

/* progress bar & MB/left stats */
.queueProgressBarContainer {
    width:121px;
    background-image: url(../images/plush-default/ql_pbar_empty.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.queueProgressBar {
    background-image: url(../images/plush-default/ql_pbar_full.png);
    background-repeat: no-repeat;
    height: 15px;
    width: 121px;
    margin: 2px 0 0 1px;
}
.currentDownload, .totalDownload { font-size: 9px; color: #000; z-index: 1; margin-top:2px; font-weight:bold;}
.currentDownload small, .totalDownload small {
    font-weight:normal;
}
.currentDownload { float: left; margin-left: 3px;}
.totalDownload { float:right; margin-right: 3px;}

.options {
    text-align:right;
    padding-right:8px;
}
.queue_delete {
    display:inline;
    margin-right: 5px;
    padding-left:16px;
}


/* below queue, left side, limit */
#queue_view_preference, #history_view_preference {
    width:120px;
}
#queue_view_preference {
    margin-top:-5px;
}
#stats_noofslots {
    display:none;
}

/* below queue, right side, disk space */
.stats_incomplete_freespace {
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    background: url(../images/plush-default/q_stats_incomplete.png) 0 50% no-repeat;
}
.stats_incomplete_freespace_needspace {
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    background: url(../images/plush-default/q_stats_needspace.png) 0 50% no-repeat;
    color:red;
}
.stats_complete_freespace {
    margin-left:10px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    background: url(../images/plush-default/q_stats_complete.png) 0 50% no-repeat;
}
.stats_complete_freespace_needspace {
    margin-left:10px;
    padding-top:8px;
    padding-bottom:8px;
    padding-left:20px;
    background: url(../images/plush-default/q_stats_needspace.png) 0 50% no-repeat;
    color:red;
}





/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

    History

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */


.history_added {
    font-size:75%;
    cursor:default;
}
tr:hover .history_added  {
    color:black;
}

.verbose div {
    cursor: help;
    display:inline;
    float:left;
    width: 16px;
    margin-right: 2px;
}
.verbose .pointer {
    cursor: pointer;
}

/* history verbosity icons */
.hv_report { background: url(../images/plush-default/hv_report.png) 0 50% no-repeat; }
.hv_url { background: url(../images/plush-default/hv_ok.png) 0 50% no-repeat; }
.hv_stats { background: url(../images/plush-default/hv_avgspeed.png) 0 50% no-repeat; }
.hv_download { background: url(../images/plush-default/hv_timetaken.png) 0 50% no-repeat; }
.hv_repair { background: url(../images/plush-default/hv_par.png) 0 50% no-repeat; }
.hv_filejoin { background: url(../images/plush-default/hv_join.png) 0 50% no-repeat; }
.hv_unpack { background: url(../images/plush-default/hv_unrar.png) 0 50% no-repeat; }
.hv_script { display:inline; background: url(../images/plush-default/hv_userscript.png) 0 50% no-repeat; }

.hvFaded {filter:alpha(opacity=25);-moz-opacity:.25;opacity:.25;}

.hvMessage {
    font-weight: bold;
    color: red;
    font-size: 60%;
	clear:both;
	width: 100%;
}






/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

    MAIN MENU -- courtesy of jquery superfish plugin
    See LICENSE-MIT & LICENSE-GPL
    with modifications by pairofdimes & inpheaux

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
    margin:            0;
    padding:        0;
    list-style:        none;
}
.sf-menu {
    line-height:    1.1em;
}
.sf-menu ul {
    position:        absolute;
    top:            -999em;
    width:            10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
    width:            100%;
}
.sf-menu li:hover {
    visibility:        inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
    float:            left;
    position:        relative;
}
.sf-menu a {
    display:        block;
    position:        relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:            0;
    top:            2em; /* match top ul list item height */
    z-index:        99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:            -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left:            10em; /* match ul width */
    top:            0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top:            -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    left:            10em; /* match ul width */
    top:            0;
}

/*** DEMO SKIN ***/
.sf-menu {
    margin:            auto;
    margin-bottom:    0.25em;
    cursor: default;
}
.sf-menu a {
    border-left:    1px solid #fff;
    border-top:        1px solid #CFDEFF;
    padding:         .75em 1em;
    text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
    color:            #000;
    font-size:        75%;
}
.sf-menu li {
    background:        #BDD2FF;
}
.sf-menu li li {
    background:        #AABDE6;
}
.sf-menu li li li {
    background:        #9AAEDB;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    background:        #CFDEFF;
    outline:        0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
    padding-right:     2.25em;
    min-width:        1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
    position:        absolute;
    display:        block;
    right:            .75em;
    top:            1.05em; /* IE6 only */
    width:            10px;
    height:            10px;
    text-indent:     -999em;
    overflow:        hidden;
    background:        url('../images/plush-default/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
    top:            .8em;
    background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
    background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
    background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
/*
.sf-shadow ul {
    background:    url('../images/plush-default/shadow.png') no-repeat bottom right;
    padding: 0 8px 9px 0;
    -moz-border-radius-bottomleft: 17px;
    -moz-border-radius-topright: 17px;
    -webkit-border-top-right-radius: 17px;
    -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
    background: transparent;
}
*/

/* for jquery superfish plugin (main menu) */
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
    background:        #B1B1B1;
    height:            2.5em;
    position:        relative;
}
.sf-navbar li {
    background:        #B1B1B1;
    position:        static;
}
.sf-navbar a {
    border-top:        none;
}
.sf-navbar li ul {
    width:            44em; /*IE6 soils itself without this*/
    background:        #CFCFCF;
}
.sf-navbar li li {
    background:        #CFCFCF;
    position:        relative;
}
.sf-navbar li li ul {
    width:            13em;
}
.sf-navbar li li li {
    width:            100%;
}
.sf-navbar ul li {
    width:            auto;
    float:            left;
}
.sf-navbar a, .sf-navbar a:visited {
    border:            none;
}
.sf-navbar li.current {
    background:        #BDD2FF;
}
.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar li li.current,
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
    background:        #CFCFCF;
}
.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
ul.sf-navbar ul li:hover li,
ul.sf-navbar ul li.sfHover li,
.sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
    background:        #F9F9F9;
}
ul.sf-navbar li li li:hover,
ul.sf-navbar li li li.sfHover,
.sf-navbar li li.current li.current,
.sf-navbar ul li li a:focus, .sf-navbar ul li li a:active {
    background:        #F9F9F9;
}
.sf-navbar ul li li a:hover {
    background:        #FFF;
}
ul.sf-navbar .current ul,
ul.sf-navbar ul li:hover ul,
ul.sf-navbar ul li.sfHover ul {
    left:            0;
    top:            2em; /* match top ul list item height */
}
ul.sf-navbar .current ul ul {
    top:             -999em;
}

.sf-navbar li li.current > a {
    font-weight:    bold;
}

/*** point all arrows down ***/
/* point right for anchors in subs */
.sf-navbar ul .sf-sub-indicator { background-position: -10px -100px; }
.sf-navbar ul a > .sf-sub-indicator { background-position: 0 -100px; }
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
    background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/*** remove shadow on first submenu ***/
.sf-navbar > li > ul {
    background: transparent;
    padding: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}

.sf-navbar select {
	background-color: white;
}
#last_warning_link {
	min-width:460px;
}



/*
    ColorBox Core Style
    The following rules are the styles that are consistant between all ColorBox themes
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/* 
	ColorBox example user style
	These rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML, 
	in hope that this will make the relationship easier to understand. Thanks, jack@colorpowered.com
*/
#cboxOverlay{background:#000;}

#colorbox{}
	#cboxContent{margin-top:32px;}
		#cboxLoadedContent{background:#DDD; padding:10px;}
                /*#cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}*/
                #cboxLoadingOverlay{background:#DDD;}
                #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
                #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
                
                #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../images/plush-default/colorbox-controls.png) 0 0 no-repeat;}

                #cboxPrevious{background-position:0px 0px; right:44px;}
                #cboxPrevious.hover{background-position:0px -25px;}
                #cboxNext{background-position:-25px 0px; right:22px;}
                #cboxNext.hover{background-position:-25px -25px;}
		#cboxClose{background-position:-50px 0px; right:0;}
		#cboxClose.hover{background-position:-50px -25px;}

                .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}

                .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
                .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
                .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
                .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}


/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

    N Z O (nzb files page, linked from queue)

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
body.nzo {background: #ddd;}
body.nzo #config_nav {
	cursor:default;
}
body.nzo #config_content input, body.nzo #config_nav a {
    cursor:pointer;
}
table.nzoTable {
    font-size: 9pt;
    color: black;
    margin: 0px;
}
table.nzoTable tr {
    cursor:pointer;
}
table.nzoTable th {
    background: #b5b5b5;
    color: white;
    font-weight: bold;
    cursor:default;
}
table.nzoTable tr.even{
    background-color: #cdf;
}
table.nzoTable tr.evenLine {
    background-color: #eee;
}
table.nzoTable tr.odd {
    background-color: #99bbff;
}
table.nzoTable tr.oddLine {
    background-color: #f8f8f8;
}
table.nzoTable tr:hover {
    background-color: #333333;
    color: #FFF;
}
.nzo_save_form {
	margin-left:120px;
}
.nzo_save_form div {
	display: inline;
	white-space:nowrap;
}



/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

    C O N F I G

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */

#config_go_back {
    text-align:center;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-image: url(../images/plush-default/sabnzbdplus_logo.png);
    padding:1px;
}
#config_go_back div {
    margin:auto;
    padding-top:22px;
    padding-left:20px;
    width:80px;
}
#config_go_back a {
    margin-left:-20px;
    padding-left:40px;
    padding-right:10px;
    padding-top:30px;
    text-decoration:none;
    color:black;
    font-size:66%;
}
#config_go_back a:hover {
    border-bottom: 1px dotted black;
}
div.EntryBlock form {
  display: inline;
}
fieldset.EntryFieldSet {
  vertical-align: top;
  display: inline;
  float:left;
  padding: 7px;
  margin: 5px;
}
#config_nav {
    margin-top: 20px;
    width: 84px;
    text-align: left;
    float: left;
}

#config_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

#config_nav li {
    margin: 0;
    padding: 3px 0px 3px 5px;
}

#config_nav li a {
    background-color: #ddd;
    display: block;
    padding: 10px 0px 8px 26px;
    color: #666;
    text-decoration: none;
    width: 100%;
    font-size: 9pt;
    font-weight: bold;
    background-position: 4px 50%;
    background-repeat:no-repeat;
}

#config_nav li a:hover {
    background-color: #ccc;
    color: #000;
}

#config_nav .nav_active {
    background-color: #bbb;
    color: #000;
}

#config_nav li a img{
    vertical-align: -2px;
    padding-right: 5px;
    border-width: 0px;
}
#config_nav_connections    	{ background-image: url(../images/plush-default/config/nav_connections.png); }
#config_nav_general        	{ background-image: url(../images/plush-default/config/nav_general.png); }
#config_nav_directories    	{ background-image: url(../images/plush-default/config/nav_folders.png); }
#config_nav_switches    	{ background-image: url(../images/plush-default/config/nav_switches.png); }
#config_nav_server        	{ background-image: url(../images/plush-default/config/nav_servers.png); }
#config_nav_categories    	{ background-image: url(../images/plush-default/config/nav_categories.png); }
#config_nav_scheduling    	{ background-image: url(../images/plush-default/config/nav_scheduling.png); }
#config_nav_rss         	{ background-image: url(../images/plush-default/config/nav_rss.png); }
#config_nav_email        	{ background-image: url(../images/plush-default/config/nav_email.png); }
#config_nav_index_sites    	{ background-image: url(../images/plush-default/config/nav_indexsites.png); }
#config_nav_sorting        	{ background-image: url(../images/plush-default/config/nav_sorting.png); }


#config_content legend {
    background-position: 2% 50%;
    background-repeat: no-repeat;
    border: 1px solid white;
    padding:0px;
    padding-left:32px;
    padding-right:4px;
    font-size:150%;
    font-weight:bold;
    color:white;
    background-color:#333;
}

#configbox_server_encrypted        	{ background-image: url(../images/plush-default/config/encrypted.png); }
#configbox_server_decrypted       	{ background-image: url(../images/plush-default/config/decrypted.png); }
#configbox_latest_warnings        	{ background-image: url(../images/plush-default/config/latest_warnings.png); }
#configbox_web_server            	{ background-image: url(../images/plush-default/config/web_server.png); }
#configbox_tuning                	{ background-image: url(../images/plush-default/config/tuning.png); }
#configbox_user_folders            	{ background-image: url(../images/plush-default/config/user_folders.png); }
#configbox_system_folders        	{ background-image: url(../images/plush-default/config/system_folders.png); }
#configbox_sorting_series        	{ background-image: url(../images/plush-default/config/sorting_series.png); }
#configbox_sorting_generic        	{ background-image: url(../images/plush-default/config/sorting_generic.png); }
#configbox_sorting_date        		{ background-image: url(../images/plush-default/config/sorting_date.png); }
#configbox_processing_switches    	{ background-image: url(../images/plush-default/config/processing_switches.png); }
#configbox_other_switches        	{ background-image: url(../images/plush-default/config/other_switches.png); }
#configbox_add_server            	{ background-image: url(../images/plush-default/config/add_server.png); }
#configbox_add_schedule            	{ background-image: url(../images/plush-default/config/add_schedule.png); }
#configbox_current_schedules    	{ background-image: url(../images/plush-default/config/current_schedules.png); }
#configbox_new_feed_url            	{ background-image: url(../images/plush-default/config/new_feed_url.png); }
/*#configbox_feed_definition        { background-image: url(../images/plush-default/config/feed_definition.png); }*/
#configbox_email_options        	{ background-image: url(../images/plush-default/config/email_options.png); }
#configbox_email_account_settings	{ background-image: url(../images/plush-default/config/email_account_settings.png); }
#configbox_newzbin_account_info    	{ background-image: url(../images/plush-default/config/newzbin_account_info.png); }
#configbox_nzbmatrix_account_info   { background-image: url(../images/plush-default/config/newzbin_account_info.png); }
#configbox_bookmark_processing    	{ background-image: url(../images/plush-default/config/bookmark_processing.png); }
#configbox_processed_bookmarks    	{ background-image: url(../images/plush-default/config/processed_bookmarks.png); }

.numbered_list li {
    list-style-type:decimal;
}

/* FF2 to rescue */
.sucker {width:120px;font-weight:bold;}
.tucker {width:300px;font-weight:bold;}

.left_links a, .right_links a {
    background-position: 5px 50%;
    background-repeat:no-repeat;
    cursor:pointer;
}
#help {
    background-image: url(../images/plush-default/config/help.png);
    padding: 6px;
    padding-left:36px;
    margin-bottom:40px;
}
#force_disconnect {
    background-image: url(../images/plush-default/config/disconnect.png);
    padding: 6px;
    padding-left:36px;
}
#test_email {
    background-image: url(../images/plush-default/config/email_options.png);
    padding: 6px;
    padding-left:36px;
}
#save {
    background-image: url(../images/plush-default/config/save.png);
    padding: 6px;
    padding-left:36px;
}
#sabnzbd_restart {
    background-image: url(../images/plush-default/nzo/reload.png);
    padding: 6px;
    padding-left:36px;
}


#config_nzo_reload {		background-image: url(../images/plush-default/nzo/reload.png); }
#config_nzo_delete {    	background-image: url(../images/plush-default/nzo/delete.png); }
#config_nzo_top {    		background-image: url(../images/plush-default/nzo/top.png); }
#config_nzo_up {     		background-image: url(../images/plush-default/nzo/up.png); }
#config_nzo_down {    		background-image: url(../images/plush-default/nzo/down.png); }
#config_nzo_bottom {    	background-image: url(../images/plush-default/nzo/bottom.png); }
#config_nzo_select_all {    background-image: url(../images/plush-default/nzo/select_all.png); }
#config_nzo_select_none {   background-image: url(../images/plush-default/nzo/select_none.png); }
#config_nzo_select_invert { background-image: url(../images/plush-default/nzo/select_invert.png); }

#config_container {
    background: #bbb;
/*    width: 655px; 
    height: 435px; */
    min-height: 435px;
    text-align: left;
    font-size: 10pt;
    padding: 10px;
    padding-left: 20px;
}

#connections_container {
    background: #bbb;
    height: 395px;
    text-align: left;
    font-size: 10pt;
    margin: 10px 10px 0px 10px;
    padding: 10px;
}

#config_content {
    height: 100%;
    width: 100%;
    overflow: auto;
}
#config_content a {
	color: blue;
}
.left_links {
    float: left;
    margin: 5px 0 0 10px;
    padding-left: 20px;
}

.left_links a {
    display: block;
    background-color: #ddd;
    color: #666;
    text-decoration: none;
    font-size: 9pt;
    font-weight: bold;
    padding: 2px 5px;
}

.left_links a:hover {
    background-color: #bbb;
    color: #000;
}

.left_links a img {
    vertical-align: middle;
    padding-right: 5px;
    border-width: 0px;
}

.config_margin {
    margin: 5px 10px 0 110px;
}

.right_links {
    float: right;
    margin: 5px 40px 0 0;
}

.right_links a {
    display: block;
    background-color: #ddd;
    color: #666;
    text-decoration: none;
    font-size: 9pt;
    font-weight: bold;
    padding: 2px 5px;
}

.right_links a:hover {
    background-color: #bbb;
    color: #000;
}

.right_links a img {
    vertical-align: middle;
    padding-right: 5px;
    border-width: 0px;
}

#save_button {
    float: right;
    margin: 6px 10px 0 0;
}

.center { text-align: center; }
.xsmall { font-size: x-small; }
.config_body { background: #ddd; }
#configbox_latest_warnings a { color: white; }
.dir_helper { color:white; background-color:blue; }
.manual_restart { color:white; background-color:red; }
.optional { color:white; background-color:green; }
.key_toggle { cursor:pointer; color:white; background-color:#333; }
