/*------------------------------------------------------------------
[Plush default]
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[reset]
------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: #000;
	background: #fff;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*------------------------------------------------------------------
[Plush typography]
-------------------------------------------------------------------*/

body,
input,
textarea{
	font:75% 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color:#555550;
}
html>body{
	font-size:12px;
}
h1,
h2,
h3,
h4{
	font-family:'Century Gothic', 'Apple Gothic', sans-serif;
}
h1{
	font-size:1.5em;
}
h2{
	font-size:1.25em;
}
h3{
	font-size:1em;
}
p,
ul,
ul li,
td{
	font-size:1em;
}
p,li,dt,dd,td,th{
	line-height:1.5;
}
p,dt,dd,td,th,ul,ol,dl{
	margin-bottom:10px;
}
strong {
  font-weight:bold;
}
small {
  font-size:0.8333em;
}
input,
textarea{
	font-size:1em;
}

a:link,a:visited{
	color:#fff;
	text-decoration:none;
}
a:hover,a:active{
  text-decoration:underline;
}

#main_menu ul{
	color:#fff;
}
.box_fatbottom,
.queueTable .eta,
.currentDownload, 
.totalDownload {
	font-size:0.8333em;
}

/*------------------------------------------------------------------
[Plush default]
-------------------------------------------------------------------*/

body {
	background: #B1B1B1 url('../images/plush-default/tile_navbar.png') top left repeat-x;
	padding-bottom: 10px; 
}
 
select {
	background-color: #E0E0E0;
	border: 0px;
	color: #000;
}
 
.new_release_link { 
	color: darkgreen; 
}
 
.pointer { 
	cursor: pointer;
}
 
.clear {
	clear: both;
}
 
#warning_message {
	color: darkred;
	font-weight: bold;
}
 
#new_release {
	color: green;
	font-weight: bold;
}
 
/* for jQuery Tooltip Plugin */
#tooltip {
	background-color: lightyellow;
	border: 1px solid #111;
	color: #000;
	font-size: 11px;
	opacity: 0.85;
	padding: 5px;
	position: absolute;
	z-index: 3000;
}
 
	#tooltip h3, #tooltip div { margin: 0; }
 

/* for jQuery Pagination Plugin */

.pagination-perpage {
  float: left;
  margin-top: 2px;
}
 
.pagination {
	float: left;
	margin-left:10px;
}
 
	.pagination a {
		background: #E0E0E0;
		border: solid 1px #B1B1B1;
		color: #000;
		cursor: pointer;
		text-decoration: none;
	}
 
		.pagination a:hover { border: solid 1px #000; }
 
	.pagination a, .pagination span {
		display: block;
		float: left;
		margin-right: 5px;
		padding:3px 5px;
	}
 
	.pagination .current {
		background: #FFF;
		border: solid 1px #000;
		color: #000;
	}
 
		.pagination .current.prev, .pagination .current.next {
			background: #E0E0E0;
			border-color: #B1B1B1;
			color: #B1B1B1;
		}
 
	.pagination .loading { background: #FFF url('../images/plush-default/spinner.gif') 50% 50% no-repeat; }
 
/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 
    queue + history overall container
 
------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
.box_fatbottom {
	background: url('../images/plush-default/tile_qh_bottom.png') 0 0 repeat-x;
	color: #606060;
	height: 37px;
	text-align: center; 
}
 
.left_stats, .right_stats {
	cursor: default;
	padding: 12px 16px 0 20px; 
}

#box_fatbottom_queue .left_stats {
  padding-top:6px;
}
 
.plush_wrapper {
	display:block;
	height:15px;
	margin:0 auto;
	padding:13px 0 0;
	text-indent:-5000px;
	width:58px; 
}
	
#history_stats { padding-top: 16px; }
 
.box_fatbottom .left_stats { float: left; }
 
.box_fatbottom .right_stats { float: right; }
 
.box_fatbottom strong { color: #000; }
 
.box_banner_menu {
	display: inline;
	float: right;
	list-style: none;
	margin: 10px 0;
	padding: 0;
}
 
	.box_banner_menu li { float: right; }
 
/* keep .h_menu_verbose and .h_menu_purge up with the above (buttons top-right of history) */
.sprite_h_purge {
	cursor: pointer;
	display: none;
	margin: 6px;
	padding-bottom: 24px;
	padding-right: 28px;
}
 
#page-wrap {
	background: url('../images/plush-default/tile_page_wrap.png') repeat-y top left;
	clear:both;
	margin: 0px auto;
	width: 95%; 
}
 
.box_banner_hr {
	background: #cfcfcf url('../images/plush-default/tile_qh_seperator.png') 0 0 repeat-x;
	height: 4px;
}
 
.box_banner_history {
  background: url('../images/plush-default/tile_qh.png') 0 -16px repeat-x;
  clear:both;
  height:51px;
  overflow:hidden;
}
 
	.box_banner_history h1 {
		color: #c7c7c7;
		cursor: default;
		float: left;
		font-weight: normal;
		padding:17px 8em 11px 21px;
	}
 
.box_banner_r {
	float:right;
	height: 52px;
	margin-left: 1px; 
	width:50px;
}
 
#hdr-queue {
	background: url('../images/plush-default/tile_qh.png') repeat-x 0 0;
	height: 67px;
}
 
	#hdr-queue .logo {
		float: left;
		height: 67px;
	}
 
#hdr-queue .logo h1 {
	color: #c7c7c7;
	cursor: default;
	font-weight: normal;
	margin: 32px 0 0 38px;
}

#queue-buttons {
	float: right;
	height:37px;
	padding-top:34px;
	white-space:nowrap;
}
	
	#queue-buttons ul {
		margin-right:24px;
	} 	
 
	#queue-buttons #pause_int {
		float: right;
	    color: white;
		font-size: small;
		padding-right: 10px;
		display:inline;
	}
	#queue-buttons ul li#pause_resume,
	#queue-buttons ul li.sprite_q_menu_pausefor {
	  float: right;
	  cursor:pointer;
  	display:block;
	  height:21px;
	  position:relative;
	  text-indent:-5000px;
	  width:21px;
  }

  #queue-buttons ul li ul {
    border-bottom:2px solid #403f3f;
    border-right:2px solid #403f3f;
    float:right;
    margin:0;
    position:absolute;
    right:1px;
    top:21px;
    width:152px;
  }
  #queue-buttons ul li ul li{
    clear:left;
    float:left;
  }
  #queue-buttons ul li ul li a{
    background:#1d1c1c;
    border-top:1px solid #474646;
    color:#aaa;
    clear:left;
    display:block;
    float:left;
    padding:3px 6px;
    text-indent:0;
    width:140px;
  }
  #queue-buttons ul li ul li a:hover{
    color:#eee;
  }
  #queue-buttons ul li ul li:first-child a{
    border:0;
  }
#queue-wrap {
	background: url('../images/plush-default/tile_queue_wrap.png') repeat-y top right;
	padding:0 16px;
}
 
#btm-wrapper {
	background: url('../images/plush-default/tile_bottom_wrap.png') repeat-x left bottom;
	clear: both;
	height: 26px;
}
	#btm-wrapper div {
		background-repeat: no-repeat;
		float: left;
		height:26px;
		width:26px;
	}
 
	#btm-wrapper .sprite_btm_corner_right {
		float: right;
	}

 
/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 
    box header, above queue (sabnzbd logo & stats)
 
------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
.centerpiece {
  padding-right:34px;
  margin:0 auto;
  overflow:hidden;
  padding-top:12px;
  width:308px;
}
 
.sprite_sabnzbdplus_logo {
	margin: 10px 0 0;
}
 
#queue_logo {
	float: left;
	height: 40px;
	padding-left: 50px;
	padding-right: 50px;
}
 
#speed, #time-left {
	cursor: default;
	height: 12px;
	margin-top: 20px;
	padding: 3px 0px 7px;
	text-align: center;
	width: 68px; 
}
 
/* stats next to logo */
#speed {
	float: left;
	margin-right: 36px;
}
 
#time-left {
	float: left;
	margin-left: 36px;
}
 
#speed p, #time-left p {
	color: #7c7c7c;
	font-size: 9px;
}
 
#speed span, #time-left span {
	color: #dadada;
	font-size: 11px;
	font-weight: bold;
}

.show { display: inline; }
 
/*  queueTable shared by queue and history */
.queueTable {
	background-color: #e0e0e0;
	border-bottom: 1px solid #fff;
	border-collapse: separate;
	border-spacing: 0px;
	color: #606060;
	width: 100%; 
}
 
	.queueTable tr {
		background-color: #e0e0e0;
		cursor: default;
	}
	.queueTable tr:hover,
	.queueTable tr.alt:hover {
  	background-color: #f9f9f9;
  	color: #000; 
  }
	.queueTable tr select { 
  	background: #e5e5e5;
  	border:1px solid #e0e0e0;
  	color:#606060;
  	padding:2px;
  }

  .queueTable tr:hover select {
    background:#fff;
    border: 1px solid #c0c0c0;
    color: #000; 
  }

	.queueTable tr.alt {
	  background-color:#d0d0d0;
	}
	.queueTable tr.alt select {
	  border:1px solid #d0d0d0;
	  background: #d5d5d5;
  }
	.queueTable tr.alt:hover select {
	  border:1px solid #b0b0b0;
	  background: #fff;
  }
 
#queueTable tr:hover { cursor: move; }
 

 
.queueTable td {
	border-bottom: 1px solid #B1B1B1;
	border-top: 1px solid #FFF;
	padding: 3px 0;
	vertical-align: middle; 
}
 
tr:hover .nzb_status_grippie {
  background-color: #f9f9f9; /* IE7 */ 
}
 
.queueTable td.download-title { 
  width: 50%;
  font-weight:bold;
  font-size:125%;
}
 
.nzb_status_col {
  width: 28px;
}
 
.nzb_status {
	display: inline;
	margin-right: 4px;
	padding-bottom: 2px;
	padding-left: 16px;
}
 
	.nzb_status.Loaded { background: url('../images/plush-default/spinner.gif') no-repeat; }
 
#queueTable .nzb_status {
  cursor: pointer;
}
 
.loading {
	background: url('../images/plush-default/spinner.gif') 4px 50% no-repeat;
	display: inline;
	padding-left: 16px;
}
 
.queueTable td.historyTitle { 
  padding:11px 0;
  width: 50%;
  font-weight:bold;
  font-size:125%;
}
 
.queueTable tr:hover td.historyTitle {
	background-color: #f9f9f9; /* IE7 */
	color: #000; }
 
.queueTable a {
	color: #404040;;
	text-decoration: none;
}
 
.queueTable tr:hover a { color: #000; }
 
.queueTable a:hover {
	border-bottom: 1px dotted #606060;
	cursor: pointer;
}
 
.queueTable .eta {
	padding-left: 6px;
	text-align: center;
}
 
.icon_nzb_remove {
	display: inline;
	padding-bottom: 2px;
	padding-left: 16px;
}
.icon_nzb_remove:hover {
  outline:none;
}
 
.sprite_ql_cross_on { cursor: pointer; }
 
/* refresh button below queue */
#manual_refresh { cursor: pointer; }
 
.refreshing { border-bottom: 1px dotted; }
 
.refresh_skipped { border-bottom: 1px solid red; }
 
/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 
    Queue
 
------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
/* progress bar & MB/left stats */
.sprite_progressbar_bg {
	width: 121px;
}
 
.sprite_progress_done {
	height: 19px;
	width: 121px;
}
 
.currentDownload, .totalDownload {
	color: #000;
	font-weight: bold;
	margin-top: 3px;
	z-index: 1;
}
 
.currentDownload small, .totalDownload small { font-weight: normal; }
 
.currentDownload {
	float: left;
	margin-left: 5px; 
}
 
.totalDownload {
	float: right;
	margin-right: 5px;
}
 
.options {
	padding-right: 8px;
	text-align: right;
}
 
/* below queue, left side, limit */
#queue_view_preference, #history_view_preference { width: 120px; }
 
#queue_view_preference { margin-top: -5px; }
 
#stats_noofslots { display: none; }
 
/* below queue, right side, disk space */
.queue_footer_icon {
	display: inline;
	margin: 16px 4px 0px 20px;
	padding: 4px;
}
 
/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 
    History
 
------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
.history_added {
	cursor: default;
	font-size: 75%; 
}
 
tr:hover .history_added { color: black; }
 
.hvMessage {
	clear: both;
	color: #DE2424;
	font-size: 80%;
	font-weight: bold;
	width: 100%;
}
 
.icon_history_verbose {
	cursor: help;
	display: inline;
	float: left;
	margin-right: 2px;
	width: 16px;
}
 
.hvFaded {
	-moz-opacity: .25;
	filter: alpha(opacity=25);
	opacity: .25;
}
 
.pointer { cursor: pointer; }

.main_sprite_container { background: url('../images/plush-default/sprite-main.png') no-repeat top right; }
 
/* sprite-main.png */

.sprite_btm_corner_left { background-position: 0 0; } 
.sprite_btm_corner_right { background-position: 0 -126px; } 
.sprite_h_purge { background-position: 0 -252px; } 
.sprite_hv_download { background-position: 0 -373px; } 
.sprite_hv_error { background-position: 0 -489px; } 
.sprite_hv_filejoin { background-position: 0 -605px; } 
.sprite_hv_repair { background-position: 0 -721px; } 
.sprite_hv_report { background-position: 0 -837px; } 
.sprite_hv_script { background-position: 0 -953px; } 
.sprite_hv_star { background-position: 0 -1069px; } 
.sprite_hv_stats { background-position: 0 -1185px; } 
.sprite_hv_unpack { background-position: 0 -1301px; } 
.sprite_pause-right { background-position: 0 -1417px; } 
.sprite_progress_done { background-position: 0 -1538px; } 
.sprite_progressbar_bg { background-position: 0 -1657px; } 
.sprite_q_menu_pausefor { background-position: 0 -1776px; } 
.sprite_q_menu_pausefor.sfHover { background-position: 0 -1897px; } 
.sprite_q_pause { background-position: 0 -2018px; } 
.sprite_q_pause_on { background-position: 0 -2139px; } 
.sprite_q_stats_complete { background-position: 0 -2260px; } 
.sprite_q_stats_incomplete { background-position: 0 -2376px; } 
.sprite_q_stats_needspace { background-position: 0 -2492px; } 
.sprite_ql_cross { background-position: 0 -2608px; } 
.sprite_ql_cross_on { background-position: 0 -2724px; } 
.sprite_ql_grip_active { background-position: 0 -2840px; } 
.sprite_ql_grip_active_on { background-position: 0 -2954px; } 
.sprite_ql_grip_paused { background-position: 0 -3068px; } 
.sprite_ql_grip_paused_on { background-position: 0 -3182px; } 
.sprite_ql_grip_queued { background-position: 0 -3296px; } 
.sprite_ql_grip_queued_on { background-position: 0 -3410px; } 
.sprite_rounded_area_bg { background-position: 0 -3524px; } 
.sprite_sabnzbdplus_logo { background-position: 0 -3646px; } 
.sprite_sabnzbdplus_plush { background-position: 0 -3786px; } 
.sprite_topleft_queue { background-position: 0 -3899px; } 
.sprite_topright_queue { background-position: right -4066px; } 

 
/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 
    MAIN MENU -- courtesy of jquery superfish plugin
    See LICENSE-MIT & LICENSE-GPL
    with modifications by jbw
 
------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */

#main_menu{
	display:block;
	float:left;
	margin:10px 0 0;
	width:100%;
}
#main_menu ul{
	display:block;
	height:1.6666em;
	list-style: none;
	margin:0 auto;
	width:530px;
}

#main_menu ul li,
#main_menu ul li a {
	display:block;
	float:left;
	width:85px;
}
#main_menu ul li { /* First Level */
	list-style:none;
	margin:0 10px;
	position:relative;
}

#main_menu ul li a {
	cursor:pointer;
  display:block;
  position:relative;
  text-align:center;
}
#main_menu ul li a span {
  background: url('../images/plush-default/arrow-down.gif') no-repeat center left;
  display:block;
  height:1.5em;
  right:5px;
  position:absolute;
  text-indent:-5000px;
  top:0;
  width:10px;
}
#main_menu ul li input,
#main_menu ul li select{
  background:#fff;
  border:1px solid #ccc;
  color:#606060;
  padding:2px;
}

#main_menu ul li input#addID,
#main_menu ul li input#fetch_newzbin_bookmarks{
  background:#111;
  color:#fff;
  cursor:pointer;
}


#main_menu ul li ul{  /* Second Level */
	display:none;
}

#main_menu ul li ul{
  float:left;
  height:auto;
  left:0;
  margin:0;
  position:absolute;
  top:21px;
  width:200px;
  z-index:100;
}

#main_menu ul li ul li{
  background:#a2a2a2;
  border-bottom:1px solid #878787;
  clear:left;
  float:left;
  margin:0;
  width:100%;
}

#main_menu ul li ul li a{
  clear:left;
  float:left;
  margin:0;
  padding:6px;
  text-align:left;
  width:188px;
}
#main_menu ul li ul li a span {
  background: url('../images/plush-default/arrow-right.gif') no-repeat top left;
  height:auto;
  top:32%;
}

#main_menu ul li ul.config_links li a{
  padding:3px 6px;
}

#main_menu ul li ul li:hover,
#main_menu ul li ul li ul li:hover {
    background:#ccc;
    color:#333;
}
#main_menu ul li ul li:hover ul li a {
	color:#fff;
}
#main_menu ul li ul li:hover a,
#main_menu ul li ul li ul li:hover a {
    text-decoration:none;
    color:#333;
}
#main_menu ul li ul li ul{   /* Third Level */
  left:200px;
  position:absolute;
  top:0;
}
#main_menu ul li ul li#plushoptions ul li:first-child a,
#main_menu ul li ul li#processingContainer ul li{
  padding:4px 6px;
}
#main_menu ul li ul#navaddnzb{
  width:275px;
}
#main_menu ul li ul#navaddnzb li#navupload,
#main_menu ul li ul li#navfetch{
  padding:10px;
  width:255px;
}
#main_menu ul li ul#navaddnzb li#processingContainer a{
  width:255px;
}
#main_menu ul li ul#navaddnzb li#processingContainer ul{
  left:275px;
}

#main_menu ul li ul li#processingContainer ul li label{
  float:left;
  width:40%;
}
#main_menu ul li ul li#processingContainer ul li select{
  width:60%;
}

#main_menu ul li ul#navqueue{
  width:230px;
}
#main_menu ul li ul#navqueue li#navqueueoption {
  padding:10px;
  width:210px;
}
#main_menu ul li ul#navqueue li a{
  width:210px;
}
#main_menu ul li ul#navqueue li ul{
  left:230px;
  width:200px;
}

#main_menu ul li ul#navqueue li ul li a{
  width:180px;
}
#main_menu ul li ul#navqueue li #onQueueFinish-option{
  width:150px;
}
#main_menu ul li ul#last_warning_link li{
  min-width: 460px;
}
#main_menu ul li ul#last_warning_link li a{
  min-width: 440px;
}


.sf-shadow ul { /* if superfish shadows are enabled lets make it happen! 
	background:	url('../images/plush-default/shadow.png') no-repeat bottom right;*/
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}

#uploadTip {
	overflow: hidden;
}

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between all ColorBox themes
*/
#colorbox, #cboxOverlay, #cboxWrapper {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 9999; 
}
 
#cboxOverlay {
	height: 100%;
	position: fixed;
	width: 100%;
}
 
#cboxMiddleLeft, #cboxBottomLeft { clear: left; }
 
#cboxContent {
	overflow: visible;
	position: relative;
}
 
#cboxLoadedContent { overflow: auto; }
 
	#cboxLoadedContent iframe {
		border: 0;
		display: block;
		height: 100%;
		width: 100%;
	}
 
#cboxTitle { margin: 0; }
 
#cboxLoadingOverlay, #cboxLoadingGraphic {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
 
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow { cursor: pointer; }
 
/* 
	ColorBox example user style
	These rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML, 
	in hope that this will make the relationship easier to understand. Thanks, jack@colorpowered.com
*/
#cboxOverlay { background: #000; }
 
#colorbox {  }
 
#cboxContent { margin-top: 32px; }
 
#cboxLoadedContent {
	background: #DDD;
	padding: 10px;
}

#cboxLoadedContent a {
	color: darkblue;
}
 
/*#cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}*/
#cboxLoadingOverlay { background: #DDD; }
 
#cboxTitle {
	color: #000;
	left: 0;
	position: absolute;
	top: -22px;
}
 
#cboxCurrent {
	position: absolute;
	right: 205px;
	text-indent: -9999px;
	top: -22px;
}
 
#cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose {
	background: url('../images/plush-default/sprite-jq-colorbox.png') 0 0 no-repeat;
	height: 20px;
	position: absolute;
	text-indent: -9999px;
	top: -20px;
	width: 20px;
}
 
#cboxPrevious {
	background-position: 0px 0px;
	right: 44px;
}
 
	#cboxPrevious.hover { background-position: 0px -25px; }
 
#cboxNext {
	background-position: -25px 0px;
	right: 22px;
}
 
	#cboxNext.hover { background-position: -25px -25px; }
 
#cboxClose {
	background-position: -50px 0px;
	right: 0;
}
 
	#cboxClose.hover { background-position: -50px -25px; }
 
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious { right: 66px; }
 
.cboxSlideshow_on #cboxSlideshow {
	background-position: -75px -25px;
	right: 44px;
}
 
	.cboxSlideshow_on #cboxSlideshow.hover { background-position: -100px -25px; }
 
.cboxSlideshow_off #cboxSlideshow {
	background-position: -100px 0px;
	right: 44px;
}
 
	.cboxSlideshow_off #cboxSlideshow.hover { background-position: -75px -25px; }
 
/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 
    N Z O (nzb files page, linked from queue)
 
------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
body.nzo {
  background: #ddd;
}
	body.nzo .config_nav {
	  cursor: default;
	}
	body.nzo #config_content input,
	body.nzo .config_nav a {
	  cursor: pointer;
	}
 
table.nzoTable {
  border-collapse:collapse;
	color: #131313;
	margin:1px;
	width:99%;
}
 
	table.nzoTable tr { 
	  cursor: pointer;
	}
	table.nzoTable tr.even {
	  background-color: #cdf;
	}
	table.nzoTable tr.evenLine {
	  background-color: #eee;
	}
	table.nzoTable tr.odd {
	  background-color: #99bbff;
	}
	table.nzoTable tr.oddLine {
	  background-color: #f8f8f8;
	}
	table.nzoTable tr.nzo_highlight {
	  background-color:lightyellow;
	}
	table.nzoTable tr:hover {
		background-color: #666;
		color: #FFF;
	}
	
	table.nzoTable th {
		background: #b5b5b5;
		color: white;
		cursor: default;
		font-weight: bold;
	}
	
	table.nzoTable th,
	table.nzoTable td {
	  border:1px solid #999;
	  padding:3px 5px;
	}
	table.nzoTable td.alignRight {
	  text-align:right;
	}
	table.nzoTable td.filename {
	  width:95%;
	}
	table.nzoTable th.check,
	table.nzoTable td.check {
	  width:22px;
	}	
	
.nzo_save_form { margin-left: 120px; }
 
	.nzo_save_form div {
		display: inline;
		white-space: nowrap;
	}
 
/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
 
    C O N F I G
 
------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
#config_container {
	background: #bbb;
	font-size: 10pt;
	min-height: 435px;
	padding-left: 20px;
	padding: 10px;
	text-align: left;
}
#config_content a {
  color:#000;
  text-decoration:underline;
} 
#config_content {
	overflow: auto;
	width: 100%;
}
  #config_content .center {
    background:#eee;
    border:1px solid #aaa;
    padding:5px 7px;
  }
  #config_content .catheaderinfo { font-weight:bold;}
 
#config_go_back {
	padding: 1px;
	text-align: center;
}
 
	#config_go_back div {
		margin-bottom: -4px;
		margin: auto;
		padding: 25px 0 4px 20px;
		width: 80px;
	}
 
	#config_go_back a {
		color: black;
		font-size: 66%;
		margin-left: -20px;
		padding: 30px 10px 0px 40px;
		text-decoration: none;
	}
 
		#config_go_back a:hover { border-bottom: 1px dotted black; }
 
div.EntryBlock form { display: inline; }
div.EntryBlock {

} 
fieldset.EntryFieldSet {
  border:1px solid #333;
	display: inline;
	float: left;
	margin: 5px;
	padding: 7px 7px 10px;
	vertical-align: top;
} 
.add-rss fieldset.EntryFieldSet {
	width:97%;
}
  .add-rss fieldset.EntryFieldSet .feedname{
    font-weight:bold;
  	width:20%;
  }
  .add-rss fieldset.EntryFieldSet .feeduri{
  	width:70%;
  }
  .add-rss fieldset.EntryFieldSet .inputsubmit{
  	width:6%;
  }
  .update-rss fieldset.EntryFieldSet .feeduri{
  	width:99%;
  }
#catTable {
  width:99%;
}
  #catTable th,
  #catTable td {
    padding:3px 3px 5px;
  }
  #catTable th {
    font-weight:bold;
  }
  #catTable td select {
    background:#fff;
    padding:3px;
    width:100%;
  }
  #catTable td input {
    width:98%;
  }
  #catTable td input.Add,
  #catTable td input.Save{
    font-size:0.8333em;
    width:50px;
  
  }
  #catTable td input.Delete {
    font-size:0.8333em;
    width:26px;  
  }

#schedulingTable td, #switchesTable td {
    padding:3px 3px 5px;
}
.alignRight {
	text-align: right;
	padding-right: 4px;
}

.config_nav {
	float: left;
	margin-top: 20px;
	text-align: left;
	width: 84px; 
}
 
	.config_nav ul {
		border: none;
		list-style: none;
		margin: 0;
		padding: 0;
	}
 
	.config_nav li {
		margin: 0;
		padding: 3px 0px 3px 5px;
	}
 
		.config_nav li a {
			background-color: #ddd;
			color: #666;
			display: block;
			font-size: 9pt;
			font-weight: bold;
			padding: 4px 22px 4px 4px;
			text-decoration: none;
			width: 100%;
		}
 
			.config_nav li a .config_sprite_container {
				margin: 3px 0px 3px 0px;
				padding: 0px 0px 1px 22px;
				width: 100%;
			}
 
			.config_nav li:hover a, .config_nav li a:hover {
				background-color: #ccc;
				color: #000;
			}
 
	.config_nav .nav_active {
		background-color: #bbb;
		color: #000;
	}
 

legend .config_sprite_container {
	display: inline;
	padding: 0px 0px 0px 16px;
}
 
#config_content legend {
	background-color: #333;
	color: white;
	font-weight: bold;
	padding: 1px 6px 1px 6px;
	margin-left:-7px;
}

.config_sprite_container { background: url('../images/plush-default/sprite-config.png') no-repeat top left; }

#config_content legend.latestWarnings,
#config_content legend.serverDisabled { background-color:darkred; }
#config_content legend.lastEmail,
#config_content legend.serverBackup { background-color:darkblue; }
#config_content legend.serverOptional { background-color:#009090; }
#config_content legend.serverEnabled { background-color:darkgreen; }

 
/* sprite-config.png */
.sprite_config_connections_disconnect { background-position: 0 0; } 
.sprite_config_connections_encrypted { background-position: 0 -172px; } 
.sprite_config_connections_unencrypted { background-position: 0 -338px; } 
.sprite_config_connections_warnings { background-position: 0 -504px; } 
.sprite_config_email_account_settings { background-position: 0 -670px; } 
.sprite_config_email_options, .sprite_config_nav_email { background-position: 0 -836px; } 
.sprite_config_folders_system { background-position: 0 -1002px; } 
.sprite_config_folders_user { background-position: 0 -1168px; } 
.sprite_config_general_tuning { background-position: 0 -1334px; } 
.sprite_config_general_web_server { background-position: 0 -1500px; } 
.sprite_config_help { background-position: 0 -1666px; } 
.sprite_config_indexsites_account_info { background-position: 0 -1838px; } 
.sprite_config_indexsites_bookmarks { background-position: -172px 0; } 
.sprite_config_indexsites_processed { background-position: -172px -166px; } 
.sprite_config_nav_categories { background-position: -172px -332px; } 
.sprite_config_nav_connections { background-position: -172px -498px; } 
.sprite_config_nav_folders { background-position: -172px -664px; } 
.sprite_config_nav_general { background-position: -172px -830px; } 
.sprite_config_nav_indexsites { background-position: -172px -996px; } 
.sprite_config_nav_rss { background-position: -172px -1162px; } 
.sprite_config_nav_scheduling, .sprite_config_scheduling_current { background-position: -172px -1328px; } 
.sprite_config_nav_servers, .sprite_config_servers_add { background-position: -172px -1494px; } 
.sprite_config_nav_sorting, .sprite_config_sorting_series { background-position: -172px -1660px; } 
.sprite_config_nav_switches { background-position: -172px -1826px; } 
.sprite_config_rss_add { background-position: -344px 0; } 
.sprite_config_save { background-position: -344px -166px; } 
.sprite_config_scheduling_add { background-position: -344px -338px; } 
.sprite_config_sorting_date { background-position: -344px -504px; } 
.sprite_config_sorting_generic { background-position: -344px -670px; } 
.sprite_config_switches_other { background-position: -344px -836px; } 
.sprite_config_switches_processing { background-position: -344px -1002px; } 
.sprite_nzo_bottom { background-position: -344px -1168px; } 
.sprite_nzo_delete { background-position: -344px -1334px; } 
.sprite_nzo_down { background-position: -344px -1500px; } 
.sprite_nzo_reload { background-position: -344px -1666px; } 
.sprite_nzo_select_all { background-position: -344px -1832px; } 
.sprite_nzo_select_invert { background-position: -516px 0; } 
.sprite_nzo_select_none { background-position: -516px -166px; } 
.sprite_nzo_select_range { background-position: -516px -332px; } 
.sprite_nzo_top { background-position: -516px -498px; } 
.sprite_nzo_up { background-position: -516px -664px; } 


.numbered_list li { list-style-type: decimal; margin-left:3em; }
 
/* FF2 to rescue */
.sucker {
	font-weight: bold;
	width: 120px;
}
 
.tucker {
	font-weight: bold;
	width: 300px;
}
 
.left_links .config_sprite_container, .right_links .config_sprite_container {
	display: inline;
	margin: 3px 0px 3px 0px;
	padding: 4px 0px 4px 22px;
}
 
.left_links a, .right_links a {
	cursor: pointer;
	margin-bottom: 40px;
	margin: 10px;
	padding: 36px;
}
 
.left_links {
	float: left;
	margin: 5px 0 0 10px;
	padding-left: 20px;
}
 
	.left_links a {
		background-color: #ddd;
		color: #666;
		display: block;
		font-size: 9pt;
		font-weight: bold;
		padding: 2px 5px;
		text-decoration: none;
	}
 
		.left_links a:hover {
			background-color: #bbb;
			color: #000; 
		}
 
.config_margin { margin: 5px 10px 0 110px; }
 
.right_links {
	float: right;
	margin: 5px 40px 0 0;
}
 
	.right_links a {
		background-color: #ddd;
		color: #666;
		display: block;
		font-size: 9pt;
		font-weight: bold;
		padding: 2px 5px;
		text-decoration: none;
	}
 
		.right_links a:hover {
			background-color: #bbb;
			color: #000;
		}
 
.center { text-align: center; }
 
.xsmall { font-size: x-small; }
 
.config_body { background: #ddd; }
 
#configbox_latest_warnings a { color: white; }
 
.dir_helper {
	background-color: blue;
	color: white;
	padding:2px;
}
 
.manual_restart {
	background-color: red;
	color: white;
	padding:2px;
}
 
.optional {
	background-color: green;
	color: white;
}
 
.key_toggle {
	background-color: #333;
	color: white;
	cursor: pointer;
}

*+html {
  overflow-x:visible;
}
