
body {
	background-color: #B1B1B1;
	font-family: arial, "lucida console", sans-serif;
}


.box_fatbottom {
	background: url(../images/plush_default/qh_bottom.png) 0 0 repeat-x;
	height:37px;
	font-size: 66%;
	color: #606060;
	text-align:center;
}
.box_fatbottom div {
	padding:13px 10px 0 10px;
}
.box_fatbottom .left_stats {
	float:left;
}
.box_fatbottom .right_stats {
	float:right;
}
.box_fatbottom strong {
	color: #000;
}
.stats_incomplete_freespace {
	padding-top:8px;
	padding-bottom:8px;
	padding-left:20px;
	background: url(../images/plush_default/q_stats_incomplete.png) 0 50% no-repeat;
}
.stats_complete_freespace {
	margin-left:10px;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:20px;
	background: url(../images/plush_default/q_stats_complete.png) 0 50% no-repeat;
}

.history_logo {
	background: url(../images/plush_default/sabnzbdplus_plush.png) 50% 50% no-repeat;
}

.box_banner_menu {
	float:right;
	list-style:none;
	display:inline;
	margin: 10px 0;
	padding: 0;
}
.box_banner_menu li {
	float:right;
}
.q_menu_pause {
	background: url(../images/plush_default/q_pause_on.png) 0 0 no-repeat;
	margin-right:6px;
	padding-right:24px;
	padding-bottom:24px;
	cursor:pointer;
}
.q_menu_sort {
	
	width:55px;
	height: 55px;
}
.q_menu_sort.show { background: url(../images/plush_default/q_pill_sort.png) 0 0 no-repeat;}
.q_menu_verbose {
	background: url(../images/plush_default/qh_verbosity.png) 0 0 no-repeat;
	margin-right:6px;
	padding-right:24px;
	padding-bottom:24px;
	cursor:pointer;
}
.h_menu_purge {
	background: url(../images/plush_default/h_purge.png) 0 0 no-repeat;
	margin-right:6px;
	padding-right:24px;
	padding-bottom:24px;
	cursor:pointer;
	display:none;
}
.h_menu_purge.show { display: inline; }
.queue_logo {
	background: url(../images/plush_default/sabnzbdplus_logo.png) 50% 50% no-repeat;
	padding-left:240px;
	padding-right:240px;
	padding-bottom:50px;
	width: 90px;
	height: 40px;
}

.queue_pill_l {display:inline; background: url(../images/plush_default/q_pill_l.png) 0 0 no-repeat;padding-left:9px;}
.queue_pill_m {display:inline; background: url(../images/plush_default/q_pill_m.png) 0 0 repeat-x; width:100px; }
.queue_pill_r {display:inline; background: url(../images/plush_default/q_pill_r.png) 100% 0 no-repeat; height:51px;}


.queueTable {
	border-spacing: 0;
	width: 100%;
	color: #606060;
}
.queueTable tr {
	background: url(../images/plush_default/ql_row.png) 0 0 repeat-x;
	height: 31px;
}
.queueTable tr:hover {
	background: url(../images/plush_default/ql_row_on.png) 0 0 repeat-x;
	color: #000;
}
.queueTable td {
	vertical-align: middle;
	padding:2px 0;
}
.queueTable .title {
	padding-left:30px;
	background: url(../images/plush_default/ql_grip.png) 4px 50% no-repeat;
}
.queueTable tr:hover .title {
	background: url(../images/plush_default/ql_grip_on.png) 4px 50% no-repeat;
}
.queueTable .historyTitleCheck {
	padding-left:30px;
	background: url(../images/plush_default/hl_check.png) 10px 50% no-repeat;
}
.queueTable .historyTitleCross {
	padding-left:30px;
	background: url(../images/plush_default/hl_cross.png) 10px 50% no-repeat;
}
.queueTable a {
	text-decoration: none;
	color: #606060;
}
.queueTable a:hover {
	border-bottom: 1px dotted #606060;
	cursor: pointer;
}
.queueTable .eta {
	text-align: center;
	font-size: 66%;
}
.queueTable select {
	border:0px;
	font-size: 66%;
	background-color: #E0E0E0;
	color: #606060;
}
.queueTable tr:hover select {
	color: #000;
}

.queueProgressBarContainer {
	width:121px;
	background-image: url(../images/plush_default/ql_pbar_empty.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.queueProgressBar {
	background-image: url(../images/plush_default/ql_pbar_full.png);
	background-repeat: no-repeat;
	overflow:hidden;
}

.currentDownload, .totalDownload { font-size: 9px; color: #000; z-index: 1;}
.currentDownload { float: left; margin-left: 3px;}
.totalDownload { float:right; margin-right: 3px;}


.options {
	text-align:right;
	padding-right:8px;
}
.queue_delete {
	display:inline;
	float:right;
	margin-left:10px;
	margin-right: 5px;
}
.queueTable tr:hover .queue_delete {
	background: url(../images/plush_default/ql_cross.png) 50% 50% no-repeat;
}
.queueTable td:hover .queue_delete {
	background: url(../images/plush_default/ql_cross_on.png) 50% 50% no-repeat;
	cursor:pointer;
}

.hv_par {
	display:inline;
	padding-left:16px;
	background: url(../images/plush_default/hv_par.png) 0 50% no-repeat;
}
.hv_unrar {
	display:inline;
	padding-left:16px;
	background: url(../images/plush_default/hv_unrar.png) 0 50% no-repeat;
}
.hv_del {
	display:inline;
	padding-left:16px;
	background: url(../images/plush_default/hv_del.png) 0 50% no-repeat;
}


.hvMessage {
	font-weight: bold;
	color: red;
	font-size: 60%;
}

/* http://www.htmldog.com/articles/suckerfish/dropdowns/example/ */

#nav {
	overflow:hidden; width: 100px; padding: 0; float:left; margin-left: 11%; margin-top: 5px;
	list-style: none;
	cursor: default;
}

#nav ul {
	/* float: left; */
	text-align: center;
	list-style: none;
	line-height: 1;
	font-weight: bold;
	padding: 0;
	border: solid #eda;
	border-width: 0px;
}

#nav ul {
	background: #666;
}
#nav a {
	display: block;
	/* width: 4em; */
	color: #FFF;
	text-decoration: none;
	padding: 0.25em 0.25em;
}

#nav a.daddy {
	background: url(../images/plush_default/ql_bullet.png) center right no-repeat;
}

#nav li {
	float: left;
	padding: 0;
	z-index:10000;
	/* width: 4em; */
}

#nav li ul {
	text-align: left;
	position: absolute;
	left: -999em;
	height: auto;
	width: 8em;
	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
}

#nav li li {
	padding-right: 1em;
	width: 7em;
}

#nav li ul a {
	width: 8em;
}

#nav li ul ul {
	margin: -1.75em 0 0 8em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
}

#nav li:hover, #nav li.sfhover {
	background: orange;
}

#nav select, input {
	border: 0px;
	background: #333;
	color: #FFF;
	display:inline;
}
ul, li, p, h1, h2, h3 { margin: 0; padding: 0; list-style: none; }
#page-wrap { width: 90%; margin: 0px auto; }
.box_banner_hr {
	background: #cfcfcf url(../images/plush_default/qh_seperator.png) 0 0 repeat-x;
	height:4px;
}
.box_banner_history {background-image: url(../images/plush_default/history_tile.png); background-repeat: repeat-x; height: 51px; width: 100%; background-position: -2px 0;}
.box_banner_r {
	background-image: url(../images/plush_default/history_title_bg.png);
	background-position: left center;
	background-repeat:no-repeat;
	height:51px;
}
#hdr-queue { background-image: url(../images/plush_default/queue_bg_tile.png); background-repeat: repeat-x; height: 55px; }
#hdr-queue .logo { background-image: url(../images/plush_default/hdr_queue.png); background-position: left top; background-repeat: no-repeat; height: 55px; width: 178px; }
#hdr-queue .logo h1 { text-indent: -9999px; margin: 0; padding: 0;}
#queue-buttons { float: right; background-image: url(../images/plush_default/queue_bg.png); background-position: top right; background-repeat: no-repeat; height: 35px; padding-top: 20px;}
#queue-buttons li { float:left; }
#queue-wrap { background-color: #cfcfcf; padding: 0 3px; }
#speed, #time-left { background-image: url(../images/plush_default/rounded_area_bg.png); width: 68px; height: 12px; padding: 5px 0px; margin-top: 20px; text-align: center;}
#speed { float:left; margin-left: 10%; }
#time-left { float:left; margin-left: 30%; }
#speed p, #time-left p { font-size: 9px; color: #7c7c7c; }
#speed span, #time-left span { font-size: 14px; color: #dadada; font-weight: bold; }
#btm-wrapper { height: 9px; background-color: #cfcfcf; clear:both;}
#btm-wrapper .corner-right { float:right; background-image: url(../images/plush_default/btm_corner_right.png); background-repeat:no-repeat; height: 9px; width: 12px;}
#btm-wrapper .corner-left { float:left; background-image: url(../images/plush_default/btm_corner_left.png); background-repeat: no-repeat; height: 9px; width: 12px; }






/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

	C O N F I G

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
div.EntryBlock form {
  display: inline;
}
fieldset.EntryFieldSet {
  vertical-align: top;
  display: inline;
  float:left;
  padding: 7px;
  margin: 5px;
}
#config_nav {
	margin-top: 5px;
	width: 110px;
	text-align: left;
	float: left;
}

#config_nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#config_nav li {
	margin: 0;
	padding: 3px 0px 3px 10px
}

#config_nav li a {
	background-color: #ddd;
	display: block;
	padding: 5px 0px 5px 5px;
	color: #666;
	text-decoration: none;
	width: 100%;
	font-size: 9pt;
	font-weight: bold;
}

#config_nav li a:hover {
	background-color: #ccc;
	color: #000;
}

#config_nav #nav_active {
	background-color: #bbb;
	color: #000;
}

#config_nav li a img{
	vertical-align: -2px;
	padding-right: 5px;
}

#config_container {
	background: #bbb;
	width: 655px;
	height: 435px;
	text-align: left;
	font-size: 10pt;
	padding: 10px;
	padding-left: 20px;
}

#connections_container {
	background: #bbb;
	height: 395px;
	text-align: left;
	font-size: 10pt;
	margin: 10px 10px 0px 10px;
	padding: 10px;
}

#config_content {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.left_links {
	float: left;
	margin: 5px 0 0 10px;
}

.left_links a {
	display: block;
	background-color: #ddd;
	color: #666;
	text-decoration: none;
	font-size: 9pt;
	font-weight: bold;
	padding: 2px 5px;
}

.left_links a:hover {
	background-color: #bbb;
	color: #000;
}

.left_links a img {
	vertical-align: middle;
	padding-right: 5px;
}

.config_margin {
	margin: 5px 10px 0 115px;
}

.right_links {
	float: right;
	margin: 5px 10px 0 0;
}

.right_links a {
	display: block;
	background-color: #ddd;
	color: #666;
	text-decoration: none;
	font-size: 9pt;
	font-weight: bold;
	padding: 2px 5px;
}

.right_links a:hover {
	background-color: #bbb;
	color: #000;
}

.right_links a img {
	vertical-align: middle;
	padding-right: 5px;
}

#save_button {
	float: right;
	margin: 6px 10px 0 0;
}

/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

	G R A Y B O X

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
#GB_overlay {
	background-image: url(../images/plush_default_config/gb_overlay.png);
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	z-index: 100;
	width:  100%;
	height: 100%;
}
* html #GB_overlay {
	background-color: #fff;
	background-color: transparent;
	background-image: url(../images/plush_default_config/gb_blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/plush_default_config/gb_overlay.png", sizingMethod="scale");
}
#GB_window {
	top: 50px;
	left: 0px;
	background: #ddd url(../images/plush_default_config/config_header.png);
	position: absolute;
	border: 2px solid #000;
	width: 400px;
	height: 400px;
	z-index: 150;
}
#GB_frame {
	border: 0;
	width: 100%;
	height: 378px;
}
#GB_caption {
	font: 16pt bold Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	/*background: #dadada;
	background-image: url(../images/config_header.png);
	height: 34px;*/
	padding: 2px 10px 0px 10px;
	margin: -5px 0 0 0;
	text-align: left;
	font-weight: bold;
}
#GB_window img {
	position: absolute;
	top: -5px;
	right: 5px;
	cursor: pointer;
	cursor: hand;
	z-index: 5;
}








/* ---------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------

	H E L P E R    C L A S S E S

------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */



/* Text align
----------------------------------------------------------- */
.textRight {text-align: right;}
.textLeft {text-align: left;}
.textCenter {text-align: center;}


/* Display
----------------------------------------------------------- */
.clear {clear: both;}
.noClear {clear: none;}
.hide {display: none;}
.show {display: inherit;}
.visible {display: inherit;}
.hidden {display: none;}
.block {display: block;}
.inline {display: inline;}
.noStyling {border: none; background: none; text-decoration: none;}


/* Column Classes
----------------------------------------------------------- */
.col10 {width: 10%; float: left; display: block; margin: 0; padding: 0;}
.col15 {width: 15%; float: left; display: block; margin: 0; padding: 0;}
.col20 {width: 20%; float: left; display: block; margin: 0; padding: 0;}
.col25 {width: 25%; float: left; display: block; margin: 0; padding: 0;}
.col33 {width: 33%; float: left; display: block; margin: 0; padding: 0;}
.col40 {width: 40%; float: left; display: block; margin: 0; padding: 0;}
.col45 {width: 45%; float: left; display: block; margin: 0; padding: 0;}
.col50 {width: 50%; float: left; display: block; margin: 0; padding: 0;}
.col55 {width: 55%; float: left; display: block; margin: 0; padding: 0;}
.col60 {width: 60%; float: left; display: block; margin: 0; padding: 0;}
.col65 {width: 65%; float: left; display: block; margin: 0; padding: 0;}
.col66 {width: 66%; float: left; display: block; margin: 0; padding: 0;}
.col70 {width: 70%; float: left; display: block; margin: 0; padding: 0;}
.col75 {width: 75%; float: left; display: block; margin: 0; padding: 0;}
.col80 {width: 80%; float: left; display: block; margin: 0; padding: 0;}
.col90 {width: 90%; float: left; display: block; margin: 0; padding: 0;}
.col100 {width: 100%; float: left; display: block; margin: 0; padding: 0;}


/* Padding Classes
----------------------------------------------------------- */
.pad5 {padding: 5px; margin: 0;}
.pad10 {padding: 12px; margin: 0;}
.pad15 {padding: 15px; margin: 0;}
.pad20 {padding: 20px; margin: 0;}
.pad25 {padding: 25px; margin: 0;}
.pad30 {padding: 30px; margin: 0;}
.pad35 {padding: 35px; margin: 0;}
.pad40 {padding: 40px; margin: 0;}
.pad45 {padding: 45px; margin: 0;}
.pad50 {padding: 50px; margin: 0;}













/* Clearfix
----------------------------------------------------------- */
/*
#topbar:after,
.subMenu:after {
	content: " ";
	clear: both;
	display: block;
	width: 100%;
	height: 0;
	visibility: hidden;
}
*/

