{
	"bytes_beginning":	$bytes_beginning,
	"total_bytes":		$total_bytes,
	
	<!--#if $lines#-->"lines": [
	<!--#for $line in $lines#--> {
		"added":		"$line.added",
		"filename":		"$line.filename",
		"loaded":		"$line.loaded",
		"stages": [
			<!--#for $stage in $line.stages#-->{
				"name":	"$stage.name",
				"actions": [
					<!--#for $action in $stage.actions#-->{
						"name":		"$action.name",
						"value":	'$action.value'
					},<!--#end for#-->
				]
			},<!--#end for#-->
		]
	},<!--#end for#-->
	]<!--#end if#-->
}