<!--#set $defaultrefreshrate = 8 #-->
<!--#if $version == "0.2.7" or $version == "0.2.8" or $version == "0.2.9"#-->
	<!--#set $sabplus = "T" #-->
<!--#else#-->
	<!--#set $sabplus = "F" #-->
<!--#end if#-->
<!-- Set the default refresh rate above in seconds. -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>NOVA (Loading...?)</title>
	<link rel="shortcut icon" type="image/ico" href="static/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css" media="screen, tv, projection" href="static/stylesheets/nova.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/lytebox.css" />
	<script type="text/javascript">
		var sabplus = "$sabplus";
	</script>
	<script src="static/javascripts/prototype.js" type="text/javascript"></script>
	<script src="static/javascripts/scriptaculous.js" type="text/javascript"></script>
	<script src="static/javascripts/lytebox.js" type="text/javascript"></script>
	<script src="static/javascripts/nova.js" type="text/javascript"></script>
</head>
<body>
	<div id="container">

		<!-- BEGIN main menu bar -->
		<div class="topBar">
			<div id="logo">SABnzbd N<font color="#F89E44">O</font><font color="#FAB875">V</font><font color="#FCD1A6">A</font></div>
			<div id="topLinks">
				<a onclick="Effect.toggle('2ndbar','blind')" id="plusnzb" title="Enqueue an nzb">+NZB</a>
				<a onclick="Effect.toggle('novabar','blind')" id="plusnzb" title="NOVA Settings">Options</a>
				<a href="connections" title="SABnzbd Connections" rel="lyteframe" rev="width: 1000px; height: 500px; scrolling: auto;">Connections</a>
				<a href="config" title="Configure SABnzbd" rel="lyteframe" rev="width: 1000px; height: 500px; scrolling: auto;" style="margin-right:1px;">Config</a>
			</div>
		</div>


		<!-- BEGIN nova settings menu bar -->
		<div class="topBar" id="novabar" style="display:none">
			<div id="topLinks">
				<span>Refresh Rate:</span>
				<span>
					<div id="refresh_track" style="margin-right:auto;margin-left:auto;width:200px;background-color:#D26F0D;height:5px;">
						<div id="refresh_handle" style="color:#FFCC00;width:5px;height:10px;background-color:#fff;cursor: move;">
							<small title="Refresh Rate in Seconds">&nbsp;&nbsp;$defaultrefreshrate&nbsp;sec</small>
						</div>
			  		</div>
					<script type="text/javascript">
						var refreshTime = $defaultrefreshrate;
						var x = ReadCookie('RefreshRate');
						if (x && x!=refreshTime)
							refreshTime=x;
						// refresh rate slider
						new Control.Slider('refresh_handle','refresh_track',{
							sliderValue:refreshTime,
							values:[2,4,8,16,32,64,128,256,512],range:\$R(2,512),
							onSlide:function(v){\$('refresh_handle').innerHTML='<small>&nbsp;&nbsp;'+v+'&nbsp;sec</small>'},
							onChange:function(v){\$('refresh_handle').innerHTML='<small>&nbsp;&nbsp;'+v+'&nbsp;sec</small>'; refreshTime = v; NOVAction('StoreRefreshRate');}
						});
					</script>
				</span>
				<a onclick="NOVAction('Layout_SideBySide');" title="Switch Layout: Side by Side"><img src="static/images/icon-header-sidebyside.png" /></a>
				<a onclick="NOVAction('Layout_TopToBottom');" title="Switch Layout: Top to Bottom"><img src="static/images/icon-header-topbottom.png" /></a>
				<a onclick="NOVAction('Layout_Queue');" title="Switch Layout: Toggle Queue"><img src="static/images/icon-header-queue.png" /></a>
				<a onclick="NOVAction('Layout_History');" title="Switch Layout: Toggle History"><img src="static/images/icon-header-history.png" /></a>
				<a onclick="NOVAction('Layout_Stats');"  title="Switch Layout: Toggle Statistics"><img src="static/images/favicon.ico" /></a>
				<a href="http://sourceforge.net/projects/sabnzbdplus/" target="_blank" title="Visit Official SABnzbd Site">SAB-$version</a>
				<a href="http://sabnzbd.organixdesign.com/" target="_blank" title="Visit Official NOVA Site">Nova 0.4.5</a>
				<a onclick="NOVAction('shutdown');" title="Terminate SABnzbd Application">Shutdown SAB</a>
				
		</div>
		</div>

		<!-- BEGIN +nzb menu bar -->
		<div class="topBar" id="2ndbar" style="display:none">
			<div id="topLinks">
				<!--#if $varExists('newzbinDetails')#-->
				<span>
				    <input type="text" id="addID" value="by Report ID" size="12" onfocus="if(value=='by Report ID')value=''" onblur="if(!value)value='by Report ID'" style="font-size:9px;font-family:Arial" />
				    <select id="addID_pp" style="font-size:9px;font-family:Arial">
						<option value="0" title="Do not post-process the NZB file set">-</option>
						<option value="1" title="Repair the NZB file set with PAR2 files">R</option>
						<option value="2" title="Repair &amp; Unpack the NZB file set">U</option>
						<option value="3" title="Repair, Unpack, &amp; Delete the remainder of the NZB file set" <!--#if $sabplus=='F'#-->selected<!--#end if#-->>D</option>
						<!--#if $sabplus=='T'#-->
						<option value="4" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set">R+</option>
			            <option value="5" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set">U+</option>
			            <option value="6" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set" selected>D+</option>
						<!--#end if#-->
					</select>
					<sub><img src="static/images/icon-header-addnzb.png" style="cursor: pointer" onclick="NOVAction('addID')"/></sub>
				</span>
				<!--#end if#-->
				<span>
				    <input type="text" id="addURL" value="by URL" size="12" onfocus="if(value=='by URL')value=''" onblur="if(!value)value='by URL'" style="font-size:9px;font-family:Arial" />
					<select id="addURL_pp" style="font-size:9px;font-family:Arial">
						<option value="0" title="Do not post-process the NZB file set">-</option>
						<option value="1" title="Repair the NZB file set with PAR2 files">R</option>
						<option value="2" title="Repair &amp; Unpack the NZB file set">U</option>
						<option value="3" title="Repair, Unpack, &amp; Delete the remainder of the NZB file set" <!--#if $sabplus=='F'#-->selected<!--#end if#-->>D</option>
						<!--#if $sabplus=='T'#-->
						<option value="4" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set">R+</option>
			            <option value="5" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set">U+</option>
			            <option value="6" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set" selected>D+</option>
						<!--#end if#-->
					</select>
				    <sub><img src="static/images/icon-header-addnzb.png" style="cursor: pointer" onclick="NOVAction('addURL')"/></sub>
				</span>
				<span>
				    <form action="addFile" method="post" enctype="multipart/form-data">
				    <input type="file" name="nzbfile" title="Enqueue nzb by File Upload" size="12" style="font-size:9px;font-family:Arial" />
					<select name="pp" style="font-size:9px;font-family:Arial">
						<option value="0" title="Do not post-process the NZB file set">-</option>
						<option value="1" title="Repair the NZB file set with PAR2 files">R</option>
						<option value="2" title="Repair &amp; Unpack the NZB file set">U</option>
						<option value="3" title="Repair, Unpack, &amp; Delete the remainder of the NZB file set" <!--#if $sabplus=='F'#-->selected<!--#end if#-->>D</option>
						<!--#if $sabplus=='T'#-->
						<option value="4" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set">R+</option>
			            <option value="5" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set">U+</option>
			            <option value="6" title="(+Script) Repair, Unpack, &amp; Delete the remainder of the NZB file set" selected>D+</option>
						<!--#end if#-->
					</select>
				    <input type="submit" value="+" style="font-size:9px;" />
					</form>
				</span>
			</div>
		</div>
		
		
		<!-- BEGIN stats BAR -->	
		<div id="dataBar">
			<div id="downloadStats">
				<div id="downloadBar">
					<div id="statusbar" style="width: 0%;">
						<span id="statusbartext"></span>
					</div>
				</div>
				<div id="downloadData">
					<span class="dlTime"><img title="Overall Time Left (HH:MM:SS)" src="static/images/icon-header-timeleft.png" align="left" /> <b id="timeleft"></b> <small>Time Left</small></span>
					<span class="dlSpeed"><img title="Download Speed" align="left" src="static/images/icon-header-speed.png" /> <b id="kbpersec"></b> <small>KB/s</small></span>
					<span class="dlMB"><sub><img title="Total Megabytes Downloaded" style="margin-left: 3%;" src="static/images/icon-header-mbleft.png" /></sub>&nbsp;<b id="mbdone"></b>&nbsp;<small>of</small>&nbsp;<b id="mb"></b>&nbsp;<small>MB&nbsp;Downloaded&nbsp;(</small><b id="mbleft"></b>&nbsp;<small>GB Left)</small></span>
				</div>
			</div>
			<div id="downloadInfo">
				<p><img align="left" title="Free Disk Space - Incomplete Directory" src="static/images/icon-header-freespaceinc.png"/></strong>&nbsp;<b id="diskspace1"></b>&nbsp;<small>GB Free In Temp</small><p>
				<p><img align="left" title="Free Disk Space - Complete Directory" src="static/images/icon-header-freespacecom.png"/></strong>&nbsp;<b id="diskspace2"></b>&nbsp;<small>GB Free In Done</small></p>
			</div>
			<div id="downloadInfo">
				<p><img align="left" title="Known Downloaded" src="static/images/icon-header-knowndownloaded.png"/></strong>&nbsp;<b id="bytes_beginning"></b>&nbsp;<small>GB Downloaded</small></p>
				<p><img align="left" title="Current History Size" src="static/images/icon-header-currenthistorysize.png"/></strong>&nbsp;<b id="total_bytes"></b>&nbsp;<small>GB In History</small></p>
			</div>
		</div>

		<!-- BEGIN DOWNLOAD CONTAINER -->
		<div id="downloadContainer">
			
			<!-- BEGIN QUEUE -->				
			<div id="queue_container">
				<table cellspacing="0" class="table">
					<colgroup><col id="name" /><col id="remaining" /><col id="options" /></colgroup>
					<thead><tr><th colspan="3">
							<div class="heading">&nbsp;QUEUE&nbsp;&nbsp;</div>
							<!--#if $nt#--><a id="queue_tog_shutdown" onclick="NOVAction('queue_tog_shutdown')" title="Shutdown Upon Completion">Shutdown</a><!--#end if#-->
							<a onclick="NOVAction('queue_sort_by_avg_age')" title="Sort .nzbs starting with oldest average file age">SortAge</a>
							<a id="queue_tog_verbose" onclick="NOVAction('queue_tog_verbose')" title="Toggle Verbosity - When turned on, click down-arrow icon of an nzb to show files">Verbosity</a>
							<a id="queue_pause" onclick="NOVAction('queue_pause')" title="Pause/Resume Downloading">Pause</a>
					</th></tr></thead>
					<tbody id="queue"></tbody>
				</table>
			</div>
				
			<!-- BEGIN HISTORY -->
			<div id="history_container">
				<table cellspacing="0" class="table">
					<colgroup><col id="order" /></colgroup>
					<thead>
						<tr>
							<th colspan="2">
							<div class="heading">&nbsp;HISTORY&nbsp;&nbsp;</div>
							<a onclick="NOVAction('history_purge')" title="Purge the History (clear its displayed contents)" style="cursor:pointer">Purge</a> 
							<a id="history_tog_verbose" onclick="NOVAction('history_verbosity')" title="Toggle Verbosity (display post-processing information)" style="cursor:pointer">Verbosity</a>
							</th>
						</tr>
					</thead>
					<tbody id="history"></tbody>
				</table>
			</div>
		</div>
		
	</div>
</body>
</html>