{
	"uptime": 	"$uptime",
	"diskspace1": 	$diskspace1,
	"diskspace2": 	$diskspace2,
	"kbpersec": 	$kbpersec,
	"mbleft": 	$mbleft,
	"mb": 		$mb,
	"paused": 	"$paused",
	"shutdown": 	"$shutdown",
	"noofslots":	"$noofslots",
	<!--#if $varExists('slotinfo')#-->"jobs": [<!--#for $slot in $slotinfo#-->
	{
		"index":	$slot.index,
		"unpackopts":	$slot.unpackopts,
		"nzo_id":	"$slot.nzo_id",
		"filename":	"$slot.filename",
		"msgid": "$slot.msgid", 
		"mbleft":	$slot.mbleft,
		"mb":		$slot.mb, 
		"eta":		"$slot.eta",
		"avg_age":	"$slot.avg_age",
		"finished": [
			<!--#for $line in $slot.finished#-->{
				"filename":	"$line.filename",
				"age":		"$line.age",
				"mbleft": 	"$line.mbleft",
				"mb":		"$line.mb"
			},<!--#end for#-->
		],
		"active": [
			<!--#for $line in $slot.active#-->{
				"filename":	"$line.filename",
				"age":		"$line.age",
				"mbleft": 	"$line.mbleft",
				"mb":		"$line.mb",
				"nzf_id":	"$line.nzf_id"
			},<!--#end for#-->
		],
		"queued": [
			<!--#for $line in $slot.queued#-->{
				"filename":	"$line.filename",
				"age":		"$line.age",
				"mbleft": 	"$line.mbleft",
				"mb":		"$line.mb",
				"set":		"$line.set"
			},<!--#end for#-->
		]
	},
	<!--#end for#-->]<!--#end if#-->
}