<div id="formPanel">
<a href="$helpuri/Configure+Scheduling" id="help">Help</a><h3>Scheduling configuration</h3>
<br class="clear" />
<div class="EntryBlock">
<form class="cmxform" id="schedule">
<fieldset class="EntryFieldSet">
<legend>Add schedule</legend>
 <br class="clear" />
 <%import time
t = time.localtime()
hour = t[3] 
if hour != 23:
    hour += 1
else:
    hour = 0 %>
<label class="label">Hour:Minute:</label>
<select name="hour">
<!--#for $i in range(24)#-->
<option value="$i" <!--#if hour == i then "selected=1" else ""#-->> $i</option>
<!--#end for#-->
</select>
:
<select name="minute">
<!--#for $i in range(60)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<br class="clear" />
<label class="label">Frequency:</label>
<select name="dayofweek">
<option value="*" selected>Daily
<option value="1">Mondays
<option value="2">Tuesdays
<option value="3">Wednesdays
<option value="4">Thursdays
<option value="5">Fridays
<option value="6">Saturdays
<option value="7">Sundays
</select>
<br class="clear" />
<label class="label">Action:</label>
<select name="action">
<option value="resume">resume
<option value="pause">pause
<option value="shutdown">shutdown
<option value="speedlimit">speedlimit
</select>
<br class="clear" />
<label class="label">Arguments:</label>
<input class="schedulesubmit" type="text" size="20" name="arguments" value="">
<br class="clear" /><p><input type="button" size="40" value="Add Schedule" onclick="javascript:submitconfig('config/scheduling/addSchedule', 'submitstatus1','schedule', '1')">
<span class="submitstatus" id="submitstatus1"></span></p>
</fieldset>
</form>
</div>
<br class="clear" />
<h3>Current Schedules:</h3>
<div class="EntryBlock>"
<!--#set $schednum = 0#-->
<!--#for $line in $schedlines#-->
<form id="$line">

<!--#set $schednum = $schednum+1#-->
<% 
m, h, day, action = line.split(' ', 3)
if len(m) == 1:
    m = '0%s' % m
if day == "*":
    day="Daily"
elif day == "1":
    day='Monday'
elif day == "2":
    day='Tuesday'    
elif day == "3":
    day='Wednesday'    
elif day == "4":
    day='Thursday' 
elif day == "5":
    day='Friday'
elif day == "6":
    day='Saturday' 
elif day == "7":
    day='Sunday'    
%>
Task $schednum: <strong>$h:$m</strong> - $day - $action
<input type="hidden" name="line" value="$line">

<input class="schedulesubmit" type="button" size="20" value="Remove" onclick="javascript:submitconfig('config/scheduling/delSchedule', '', '$line', 'config/scheduling','0')">
<span style="visibility:hidden" name="$line" class="submitstatus" id="$line"></span></p>

</form>
<br class="clear" />
<!--#end for#-->
</div>

</div>