<div id="formPanel">
<a href="$helpuri/Configure+Servers" id="help">Help</a><h3>Server configuration</h3>
<div class="EntryBlock">
<br class="clear"/>
 <!--#set $slist = $servers.keys()#-->
 <!--#$slist.sort()#-->
 <!--#for $server in $slist#-->
 <div class="server">
  <form class="cmxform" id="$servers[$server]['host']$servers[$server]['port']">
    <fieldset class="EntryFieldSet">
      <legend>$server</legend>


		<label class="label">Host:</label><input type="text" size="25" name="host" value="$servers[$server]['host']">
			<br class="clear" />
		<label class="label">Port:</label><input type="text" size="25" name="port" value="$servers[$server]['port']">
			<br class="clear" />
		<label class="label">Username:</label><input type="text" size="25" name="username" value="$servers[$server]['username']">
			<br class="clear" />
		<label class="label">Password:</label><input type="password" size="25" name="password" value="$servers[$server]['password']">
			<br class="clear" />
		<label class="label">Timeout:</label><input type="text" size="25" name="timeout" value="$servers[$server]['timeout']">
			<br class="clear" />
		<label class="label">Connections:</label><input type="text" size="25" name="connections" value="$servers[$server]['connections']">
			<br class="clear" />

			<label><span class="label">SSL<!--#if int($have_ssl) == 0 then "(disabled)" else ""#-->:</span>
			<input class="radio" type="checkbox" name="ssl" value="1" <!--#if int($servers[$server]['ssl']) != 0 and int($have_ssl) == 1 then "checked=1" else ""#--> <!--#if int($have_ssl) == 0 then "disabled" else ""#-->/>
            </label><br class="clear" />
            
            <label><span class="label">Backup Server:</span>
			<input class="radio" type="checkbox" name="fillserver" value="1" <!--#if int($servers[$server]['fillserver']) != 0 then "checked=1" else ""#--> /></label>
            </label><br class="clear" />

            <label><span class="label">Enable:</span>
			<input class="radio" type="checkbox" name="enable" value="1" <!--#if int($servers[$server]['enable']) != 0 then "checked=1" else ""#--> /></label>
   		<input type="hidden" name="server" value="$server"><br class="clear" />


      <p><input type="button" class="submitindent" size="40" value="Save Changes" onclick="javascript:submitconfig('config/server/saveServer','submit$servers[$server]['host']$servers[$server]['port']','$servers[$server]['host']$servers[$server]['port']')">
<br class="clear" />
      <input type="button" class="submitindent" size="40" value="Remove Server" onclick="javascript:submitconfig('config/server/delServer', 'submit2$servers[$server]['host']$servers[$server]['port']','$servers[$server]['host']$servers[$server]['port']','config/server','0')">
<br class="clear" /><span id="submit$servers[$server]['host']$servers[$server]['port']" class="submitstatus"></span>
	  <span id="submit2$servers[$server]['host']$servers[$server]['port']" class="submitstatus"></span></p>
    </fieldset>
  </form><br class="clear"/>
  </div>
<!--#end for#-->
<br class="clear"/>
 <form id="addserver" class="cmxform">
    <fieldset class="EntryFieldSet">
      <legend>Add server</legend>


			<label class="label">Host:</label><input type="text" size="25" name="host">
		<br class="clear" />

			<label class="label">Port:</label><input type="text" size="25" name="port">
		<br class="clear" />

			<label class="label">Username:</label><input type="text" size="25" name="username">
		<br class="clear" />

			<label class="label">Password:</label><input type="password" size="25" name="password">
		<br class="clear" />

			<label class="label">Timeout:</label><input type="text" size="25" name="timeout" value="120">
		<br class="clear" />

			<label class="label">Connections:</label><input type="text" size="25" name="connections">
		<br class="clear" />

			<label><span class="label">SSL<!--#if int($have_ssl) == 0 then "(disabled)" else ""#-->:</span>
				<input class="radio" type="checkbox" name="ssl" value="1" <!--#if int($have_ssl) == 0 then "disabled" else ""#-->></label>
 		<br class="clear" />
        
			<label><span class="label">Backup Server:</span>
				<input class="radio" type="checkbox" name="fillserver" value="1"></label>
 		<br class="clear" />
        
			<label><span class="label">Enable:</span>
				<input class="radio" type="checkbox" name="enable" value="1"></label>
 		<br class="clear" />

      <p><input type="button" class="submitindent" size="40" value="Add Server" onclick="javascript:submitconfig('config/server/addServer', 'submitstatus3','addserver','config/server','0')">
<span class="submitstatus" id="submitstatus3"></span></p>

</fieldset>
  </form><br class="clear"/>

</div>

</div>