<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>SABnzbd+</title>
		<!--ext css -->
		<link rel="stylesheet" type="text/css" href="static/ext-js/resources/css/ext-all.css" />
        
    <!--#if $color_scheme == 'black.css'#-->
		<link rel="stylesheet" type="text/css" id="proto-theme-type" href="static/css/dark.css" />
		<link rel="stylesheet" type="text/css" id="proto-theme" href="static/ext-js/resources/css/xtheme-slickness.css" />
    <!--#else if $color_scheme == 'blue.css'#-->
		<link rel="stylesheet" type="text/css" id="proto-theme-type" href="static/css/light.css" />
    <!--#else#-->
		<link rel="stylesheet" type="text/css" id="proto-theme-type" href="static/css/light.css" />
		<link rel="stylesheet" type="text/css" id="proto-theme" href="static/ext-js/resources/css/xtheme-gray.css" />
    <!--#end if#-->
        
        
		<script type="text/javascript" src="static/MochiKit/MochiKit.js"></script>
		
	<style type="text/css">
	html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
    }
	p {
	    margin:5px;
	}
    .settings {
        background-image:url(./static/shared/icons/fam/folder_wrench.png) !important;
    }
    .nav {
        background-image:url(./static/shared/icons/fam/folder_go.png) !important;
    }
    .add {
        background-image:url(./static/shared/icons/fam/add.gif) !important;
    }
    .option {
        background-image:url(./static/shared/icons/fam/plugin.gif) !important;
    }
    .remove {
        background-image:url(./static/shared/icons/fam/cancel.png) !important;
    }
    .save {
        background-image:url(./static/shared/icons/save.gif) !important;
    }
    .icon-fileinfo{
        background-image:url(./static/shared/icons/fam/application_view_detail.png) !important;
    }
    .icon-chart{
        background-image:url(./static/shared/icons/fam/chart_curve.png) !important;
    }
    .icon-pause{
        background-image:url(./static/shared/icons/fam/control_pause.png) !important;
    }
    .icon-play{
        background-image:url(./static/shared/icons/fam/control_play.png) !important;
    }
    .icon-log{
        background-image:url(./static/shared/icons/fam/table_sort.png) !important;
    }
    
    .icon-cross{
        background-image:url(./static/shared/icons/fam/cross.png) !important;
    }
    .low_priority {
        background-image:url(./static/shared/icons/fam/flag_red.png) !important;
    }
    .normal_priority {
        background-image:url(./static/shared/icons/fam/flag_blue.png) !important;
    }
    .high_priority {
        background-image:url(./static/shared/icons/fam/flag_green.png) !important;
    }
	
	.autoScroll {
		overflow:'auto';
	}
    
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

td.x-grid3-td-historyFilename, td.x-grid3-td-filesFilename, td.x-grid3-td-Name  {
    overflow: hidden;
}
td.x-grid3-td-historyFilename div.x-grid3-cell-inner, td.x-grid3-td-filesFilename div.x-grid3-cell-inner, td.x-grid3-td-Name div.x-grid3-cell-inner {
    white-space: normal;
}
    
/*RowActionCSS*/
.ux-grid3-row-action-cell .x-grid3-cell-inner {
    padding: 1px 0 0 0;
}
.ux-grid3-row-action-cell .x-grid3-cell-inner div {
    background-repeat:no-repeat;
    width:16px;
    height:16px;
    cursor:pointer;
}/*EndRowActionCSS*/
    

form.cmxform .label,form.cmxform input {
	display: block;
	width: 100px;
	float: left;
	margin-bottom: 15px;
}
input.schedulesubmit {
	display: inline;
	width: 100px;
	float: none;
	margin: 0;
    margin-left: 3px;;
}
.addnewselect{
	display: block;
	width: 90px;
    height:22px;
	float: left;
	margin-bottom: 15px;
}
.scriptselect{
	display: block;
	width: 100px;
    height:22px;
	float: left;
	margin-bottom: 15px;
}
form.cmxform .label {
	text-align: left;
	width: 75px;
	padding-right: 20px;
    padding-left:10px;
}

.select{width:99px}
.tips{padding-left: 10px;}
fieldset{padding-left:15px;padding-top:15px;margin:10px;width:100%;max-width:660px;}

.clear{
	clear: left;
}
form.cmxform input.radio{
  width:15px;float:none;display:inline;margin-bottom: 0px;
}

.smallFieldSet
{
	width:275px;
}


.historyDetails{

    margin-left:20px !important;
    margin-top:10px !important;

}

.historyDetail{
    font-weight:bold;
}


#Keytable,#Keytable2,#Keytable3{display:none;}


    </style>

		
	</head>
	<body scroll="no" id="sab">
	
	
<script type="text/javascript">
    function tvAdd(val){
        var tv = document.getElementById('tvfoldername'); 
        tv.value = tv.value + val;
        previewtv();
    }
    function tvSet(val){
        var tv = document.getElementById('tvfoldername'); 
        tv.value = val;
        previewtv();
    }
    function tvClear(){
        var tv = document.getElementById('tvfoldername'); 
        tv.value = '';
        previewtv();
    }
    function previewtv(){
        var input = document.getElementById('tvfoldername').value;
        var slash = "\\";
        input.toLowerCase()
        input = input.replace(/%ext/g,'avi');
        input = input.replace(/%sn/g,'Show Name');
        input = input.replace(/%s.n/g,'Show.Name');
        input = input.replace(/%s_n/g,'Show_Name');
        input = input.replace(/%0s/g,'01');
        input = input.replace(/%s/g,'1');
        input = input.replace(/%en/g,'Episode Name');
        input = input.replace(/%e\.n/g,'Episode.Name');
        input = input.replace(/%e\_n/g,'Episode_Name');
        input = input.replace(/%0e/g,'05');
        input = input.replace(/%e/g,'5');
        var com = document.getElementById('complete_dir').value;
        if (com.search("/") > 0)
        {
            slash = "/";
            input = input.replace("\\","/", "g");
        } else {
            input = input.replace("/","\\", "g");
        }
        len = com.length
        if (com.substring(len-1, len) == slash)
        {
            com = com.substring(0, len-1)
        }
        var outbox = document.getElementById('previewtv').innerHTML = com+slash+input;
    }
    
    function movieAdd(val){
        var tv = document.getElementById('moviefoldername'); 
        tv.value = tv.value + val;
        previewmovie();
    }
    function movieSet(val, val2){
        var tv = document.getElementById('moviefoldername'); 
        tv.value = val;
        var tv2 = document.getElementById('movieextra'); 
        tv2.value = val2;
        previewmovie();
    }
    function movieClear(){
        var tv = document.getElementById('moviefoldername'); 
        tv.value = '';
        previewmovie();
    }
    function movieClearExtra(){
        var tv = document.getElementById('movieextra'); 
        tv.value = '';
        previewmovie();
    }
    function movieExtraFolder(value)
    {
       document.getElementById('movie_extra_folder').checked = value;
    }
    function previewmovie()
    {
        var input = document.getElementById('moviefoldername').value;
        var input2 = document.getElementById('movieextra').value;
        extra = input2.replace(/%1/g,'1');
        var slash = "\\";
        ext = extra + '.avi'
        input = input.replace(/.%ext/g,ext);
        input = input.replace(/%ext/g,'avi');
        input = input.replace(/%title/g,'Movie Name');
        input = input.replace(/%.title/g,'Movie.Name');
        input = input.replace(/%_title/g,'Movie_Name');
        input = input.replace(/%y/g,'2000');
        input = input.replace(/%decade/g,'00');
        
        var regex = /\{([^\{]*)\}/g;
        var str = input;
        var result;
        while ((result = regex.exec(str)) != null)
        {
          var lower = result[0].toLowerCase();
          input = input.replace(result[0],lower);
        }
        input = input.replace(/{/g,'');
        input = input.replace(/}/g,'');
        var com = document.getElementById('complete_dir').value;
        if (com.search("/") > 0)
        {
            slash = "/";
            input = input.replace("\\","/", "g");
        } else {
            input = input.replace("/","\\", "g");
        }
        len = com.length
        if (com.substring(len-1, len) == slash)
        {
            com = com.substring(0, len-1)
        }
        var outbox = document.getElementById('previewmovie').innerHTML = com+slash+input;
    }
    function dateSet(val){
        var tv = document.getElementById('datefoldername'); 
        tv.value = val;
        previewdate();
    }
    function dateClear(){
        var tv = document.getElementById('datefoldername'); 
        tv.value = '';
        previewdate();
    }
    function previewdate(){
        var input = document.getElementById('datefoldername').value;
        var slash = "\\";
        input.toLowerCase()
        input = input.replace(/%ext/g,'avi');
        input = input.replace(/%t/g,'Show Name');
        input = input.replace(/%.t/g,'Show.Name');
        input = input.replace(/%_t/g,'Show_Name');
        input = input.replace(/%decade/g,'00');
        input = input.replace(/%desc/g,'Episode Name');
        input = input.replace(/%\.desc/g,'Episode.Name');
        input = input.replace(/%\_desc/g,'Episode_Name');
        input = input.replace(/%0d/g,'02');
        input = input.replace(/%d/g,'2');
        input = input.replace(/%0m/g,'01');
        input = input.replace(/%m/g,'1');
        input = input.replace(/%y/g,'2009');
        var com = document.getElementById('complete_dir').value;
        if (com.search("/") > 0)
        {
            slash = "/";
            input = input.replace("\\","/", "g");
        } else {
            input = input.replace("/","\\", "g");
        }
        len = com.length
        if (com.substring(len-1, len) == slash)
        {
            com = com.substring(0, len-1)
        }
        var outbox = document.getElementById('previewdate').innerHTML = com+slash+input;
    }
    function showDiv(id)
    {
        console.log("id=%s", id);
        disp = (document.getElementById(id).style.display == "block") ? "none" : "block";
        document.getElementById(id).style.display = disp;
    }
	
	function getFormValues(element)
	{

	    kv = MochiKit.DOM.formContents(element);
	    names = kv[0];
	    values = kv[1];

		kvstr = queryString(kv)
	    return kvstr;
	}

	
	function submitconfig(extra, saveelement, element, url2, refresh, x, msg, clear)
	{
        if (x){que = '&'}
        else {que = '?'}
        append = que+'_dc='+Math.random();
		var values = [];
		var elementt;
		if (element) elementt = document.getElementById(element);
		values = getFormValues(elementt);

		var url = ''+extra;
		var d = doXHR(url+append,
	    {
		    method:'POST',
		    sendContent:values,
		    headers: {"Content-Type":"application/x-www-form-urlencoded"}

	    });
		if (saveelement) document.getElementById(saveelement).innerHTML = "<img src='static/images/ajax-loader.gif' />";
	    d.addCallback(function (result)
	    {
	      if (saveelement) {
          
            if (msg){
                var msgExtra = ""
                if (clear) {   
                    msgExtra = document.getElementById(clear).value;
                }
                document.getElementById(saveelement).innerHTML = msg+' '+msgExtra;
            } else {
                document.getElementById(saveelement).innerHTML = "Saved";
            }
          }
          if(url2 == "1") {replaceright(result);}
          else if(url2 == "2") {replaceright2(result);}
		  else if(url2) {lr(url2,'',refresh);}
          if (clear) {clearBox(clear);}
	    });



	    d.addErrback( function (result)
	    {
	      //if (saveelement) document.getElementById(saveelement).innerHTML = "Error";
	    });

	}
	
	function lr(url, extra, refresh, dual, pnode)
	{
    //submits an ajax request and loads the retrieved data into the div called "Right". Can queue itself up to repeat the action based on the refresh rate

        append = '?_dc='+Math.random();
        if (extra){
            append = append+'&'+extra;
        }
		var res = doSimpleXMLHttpRequest(url+append);        
	    res.addCallback(function (res)
	    {
			replaceright(res);
	    });
		res.addErrback(handleServerError);
	}

	
	var replaceright  = function (res)
	{
		document.getElementById('settings-panel').innerHTML = res.responseText;
	}
    
    
    function clearBox(id)
    {
        document.getElementById(id).value = "";
    }
	
	
</script>

<!--libs -->
<script type="text/javascript" src="static/ext-js/adapter/ext/ext-base.js"></script>
<!--ext javascript -->
<script type="text/javascript" src="static/ext-js/ext-all.js"></script>
<script type="text/javascript" src="static/javascript/prototype.js"></script>
<script type="text/javascript" src="static/javascript/flot/jquery.js"></script>
<!-- FOR IE <script type="text/javascript" src="static/javascript/flot/excanvas.js"></script> -->
<script type="text/javascript" src="static/javascript/flot/jquery.flot.js"></script>

	<div id="north">
	<div id="toolbar">
	</div>
	</div>
	<div id="props-panel" style="width:300px;height:200px;overflow:hidden;">
	</div>
  
	<div id="AddNZB1" class="x-hide-display">
		<form action="addID" class="cmxform"  method="get">
		<fieldset class="smallFieldSet">
			<legend>Add <!--#if $varExists('newzbinDetails') then "Report-ID / " else ""#-->URL</legend>
			<input id="addNewById" type="text" style="width:218px;"  name="name">
			<br /><br /><br />
			<!--#if $cat_list#-->
				<select name="cat" class="addnewselect" >
					<!--#for $ct in $cat_list#-->
						<option value="$ct">$ct</option>
					<!--#end for#-->
				</select class="addnewselect" >
			<!--#end if#-->
			<select name="pp" class="scriptselect" >
			<option value="-1" <!--#if $cat_list then "selected" else ""#-->>Default</option>
			<option value="0">None</option>
			<option value="1">+Repair</option>
			<option value="2">+Unpack</option>
			<option value="3" <!--#if $cat_list then "" else "selected"#-->>+Delete</option>
			</select>
			<!--#if $script_list#-->
				<select name="script" class="scriptselect">
				<!--#for $sc in $script_list#-->
					<option value="$sc">$sc</option>
				<!--#end for#-->
				</select>
			<!--#end if#-->
			<select name="priority" class="scriptselect">
    			<option value="1">High</option>
    			<option value="0" selected>Normal</option>
    			<option value="-1">Low</option>
			</select>            
			<br /><br /><br />
            <input type="button" size="40" value="Add" onclick="javascript:submitconfig('tapi?mode=addid', 'submitstatus', 'AddNZB1','','','1', 'Added', 'addNewById')">
            <br class="clear"/>
            <span class="submitstatus" id="submitstatus"><br /></span><br />
		</fieldset>
		</form>
	</div>
	<div id="AddNZB2" class="x-hide-display">
		<form action="addFile" class="cmxform"  method="post" enctype="multipart/form-data">
		<fieldset class="smallFieldSet">
			<legend>Add File</legend>
			<input type="file" style="width:221px" name="nzbfile">
			<br /><br /><br />
			<!--#if $cat_list#-->
				<select name="cat" class="addnewselect" >
					<!--#for $ct in $cat_list#-->
						<option value="$ct">$ct</option>
					<!--#end for#-->
				</select>
			<!--#end if#-->
			<select name="pp" class="scriptselect" >
			<option value="-1" <!--#if $cat_list then "selected" else ""#-->>Default</option>
			<option value="0">None</option>
			<option value="1">+Repair</option>
			<option value="2">+Unpack</option>
			<option value="3" <!--#if $cat_list then "" else "selected"#-->>+Delete</option>
			</select>
			<!--#if $script_list#-->
				<select name="script" class="scriptselect" >
				<!--#for $sc in $script_list#-->
					<option value="$sc">$sc</option>
				<!--#end for#-->
				</select>
			<!--#end if#-->
			<select name="priority" class="scriptselect" >
			<option value="1">High</option>
			<option value="0" selected>Normal</option>
			<option value="-1">Low</option>
			</select>   
			<br /><br /><br />
			<input type="submit" class="submitindent2"  value="Add">
		</fieldset>
		</form>
	</div>
    
    <select id="actionqfin" class="x-hide-display">
    <option value=""></option>
        <optgroup label="Actions">
            <!--#if $nt#-->
            <option value="shutdown_pc" <!--#if $finishaction == 'shutdown_pc' then 'selected' else ''#-->>Shutdown PC</option>
            <option value="standby_pc" <!--#if $finishaction == 'standby_pc' then 'selected' else ''#-->>Standby PC</option>
            <option value="hibernate_pc" <!--#if $finishaction == 'hibernate_pc' then 'selected' else ''#-->>Hibernate PC</option>
            <!--#end if#-->
            <option value="shutdown_program" <!--#if $finishaction == 'shutdown_program' then 'selected' else ''#-->>Shutdown SABnzbd</option>
        </optgroup>
    <!--#if $script_list#-->  
        <optgroup label="Scripts">          
        <!--#for $sc in $script_list#-->
            <!--#if $sc != 'None'#-->
            <option value="script_$sc" <!--#if $finishaction == 'script_'+$sc then 'selected' else ''#-->>$sc</option>
            <!--#end if#-->
        <!--#end for#-->
        </optgroup>
    <!--#end if#-->
    </select>
  
	</body>
</html>
