<!doctype html>
<html>
<head>

  <meta charset="UTF-8" />
  <title>SAB+ Mobile</title>

  <style type="text/css" media="screen">@import "static/stylesheets/jqtouch.css?$version";</style>
  <link rel="stylesheet" type="text/css" href="static/stylesheets/colorschemes/${color_scheme}.css?$version"/>

  <script src="static/javascripts/mobile.js?$version" type="application/x-javascript" charset="utf-8"></script>

  <script type="text/javascript">
    var apikey = "$session";
    var TconfirmDelete = "$T('Mobile-confirm-delete')";
    var Tstages = [];
    Tstages['download'] = "$T('stage-download')";
    Tstages['repair'] = "$T('stage-repair')";
    Tstages['filejoin'] = "$T('stage-filejoin')";
    Tstages['unpack'] = "$T('stage-unpack')";
    Tstages['servers'] = "$T('stage-server')";
    Tstages['script'] = "$T('stage-script')";
  </script>

</head>
<body>

  <div id="home">
    <div class="toolbar">
      <h3 id="main_titlebar">
        <span id="main_titlebar_speed">SAB+ Mobile</span>B/s
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span id="main_titlebar_timeleft"></span>
        </h3>
      <a class="button" id="refresh" href="#">$T('Mobile-button-refresh')</a>
    </div>
    <ul class="edit rounded">
      <li class="arrow"><a href="#queue">$T('menu-queue')</a> <small class="counter" id="queueCount">&nbsp;</small></li>
      <li class="arrow"><a href="#history">$T('menu-history')</a> <small class="counter" id="historyCount">&nbsp;</small></li>
    </ul>
    <ul class="edit rounded">
      <li><span class="toggle"><input type="checkbox" id="pause" /></span><a href="#">$T('link-pause')</a>
        <small class="counter" id="pause_timeleft" style="display:none;margin-right:6px;"></small></li>
      <li class="forward"><a href="#addnzb">$T('add') NZB</a></li>
      <li class="arrow" id="button-warnings" style="display:none"><a href="#warnings">$T('Mobile-warnings')</a> <small class="counter" id="warningsCount"></small></li>
    </ul>
  </div>


  <div id="queue">
    <div class="toolbar">
      <h1>$T('menu-queue')</h1>
      <a href="#home" class="back">$T('button-back')</a>
      <a class="button slideup" href="#queue_options">$T('Mobile-button-options')</a>
    </div>
    <ul id="queueList" class="plastic"></ul>
    <h3 align="center">$T('Mobile-page')&nbsp;&nbsp;&nbsp;<span id="queue_page_current"></span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span id="queue_page_total"></span></h3>
    <ul class="individual queue_page_buttons">
      <li><a href="#" class="grayButton" id="queue_page_prev">&laquo; $T('Mobile-button-prev')</a></li>
      <li><a href="#" class="grayButton" id="queue_page_next">$T('Mobile-button-next') &raquo;</a></li>
    </ul>
    <ul class="individual queue_page_buttons">
      <li><a href="#" class="grayButton" id="queue_page_first">&laquo; $T('Mobile-button-first')</a></li>
      <li><a href="#" class="grayButton" id="queue_page_last">$T('Mobile-button-last') &raquo;</a></li>
    </ul>
  </div>


  <div id="queue_options">
    <div class="toolbar">
      <h1>$T('Mobile-button-options')</h1>
      <a class="button goback" href="#">$T('Mobile-button-close')</a>
    </div>
    <ul class="edit rounded">
      <li><a href="#">$T('speedLimit'): ($T('KBs'))</a><input type="text" placeholder="$T('none')" id="speed_limit" /></li>
      <li class="arrow"><a href="#queue_options_pauseinterval">$T('Mobile-button-pauseInterval')</a></li>
      <li class="arrow"><a href="#queue_options_sort">$T('Mobile-sort')</a></li>
    </ul>
    <h2>$T('onQueueFinish'):</h2>
    <ul>
      <li>
        <select id="queue_onFinishScript">
          <option value="">$T('none')</option>
          <optgroup label="$T('eoq-actions')">
            <option value="shutdown_program" <!--#if $finishaction == 'shutdown_program' then 'selected' else ''#-->>$T('shutdownSab')</option>
            <!--#if $power_options#-->
            <option value="shutdown_pc" <!--#if $finishaction == 'shutdown_pc' then 'selected' else ''#-->>$T('shutdownPc')</option>
            <option value="standby_pc" <!--#if $finishaction == 'standby_pc' then 'selected' else ''#-->>$T('standbyPc')</option>
            <option value="hibernate_pc" <!--#if $finishaction == 'hibernate_pc' then 'selected' else ''#-->>$T('hibernatePc')</option>
            <!--#end if#-->
          </optgroup>
          <!--#if $script_list#-->
          <optgroup label="$T('eoq-scripts')">
            <!--#for $sc in $script_list#-->
            <!--#if $sc != 'None'#-->
            <option value="script_$sc" <!--#if $finishaction == 'script_'+$sc then 'selected' else ''#-->>$sc</option>
            <!--#end if#-->
            <!--#end for#-->
          </optgroup>
          <!--#end if#-->
        </select>
      </li>
    </ul>
    <ul>
      <li><a href="#" class="grayButton" id="queue_purge" rel="$T('Mobile-confirm-purgeQ')">$T('Mobile-button-purgeQ')</a></li>
    </ul>
  </div>


  <div id="queue_options_pauseinterval">
    <div class="toolbar">
      <h1>$T('Mobile-pauseInterval')</h1>
      <a href="#queue_options" class="back">$T('button-back')</a>
    </div>
    <ul class="edit rounded">
      <li><a href="#" class="pause_interval" rel="5">$T('Mobile-pause5m')</a></li>
      <li><a href="#" class="pause_interval" rel="15">$T('Mobile-pause15m')</a></li>
      <li><a href="#" class="pause_interval" rel="30">$T('Mobile-pause30m')</a></li>
      <li><a href="#" class="pause_interval" rel="60">$T('Mobile-pause1h')</a></li>
      <li><a href="#" class="pause_interval" rel="180">$T('Mobile-pause3h')</a></li>
      <li><a href="#" class="pause_interval" rel="360">$T('Mobile-pause6h')</a></li>
      <li><a href="#" class="pause_interval" rel="720">$T('Mobile-pause12h')</a></li>
      <li><a href="#" class="pause_interval" rel="1440">$T('Mobile-pause24h')</a></li>
    </ul>
  </div>


  <div id="queue_options_sort">
    <div class="toolbar">
      <h1>$T('Mobile-sort')</h1>
      <a href="#queue_options" class="back">$T('button-back')</a>
    </div>
    <ul class="edit rounded">
      <li><a href="#" class="queue_sort_option" rel="avg_age&dir=asc">$T('Mobile-sortAgeAsc')</a></li>
      <li><a href="#" class="queue_sort_option" rel="avg_age&dir=desc">$T('Mobile-sortAgeDesc')</a></li>
      <li><a href="#" class="queue_sort_option" rel="name&dir=asc">$T('Mobile-sortNameAsc')</a></li>
      <li><a href="#" class="queue_sort_option" rel="name&dir=desc">$T('Mobile-sortNameDesc')</a></li>
      <li><a href="#" class="queue_sort_option" rel="size&dir=asc">$T('Mobile-sortSizeAsc')</a></li>
      <li><a href="#" class="queue_sort_option" rel="size&dir=desc">$T('Mobile-sortSizeDesc')</a></li>
    </ul>
  </div>


  <div id="queue_nzb">
    <div class="toolbar">
      <h1>$T('menu-queue') NZB</h1>
      <a href="#queue" class="back" id="nzb_detail_cancel">$T('button-back')</a>
      <a class="button" href="#" id="nzb_rename">$T('Mobile-rename')</a>
    </div>
    <div id="queue_nzb_content">

  <div class="info"><span id="slot_filename"></span></div>

  <ul class="edgetoedge">

  <li>$T('remainTotal')<small><span id="slot_mbleft"></span>&nbsp;&frasl;&nbsp;<span id="slot_mb"></span>&nbsp;$T('MB')&nbsp;<span id="slot_percentage"></span>%</small></li>
  <li>$T('eta')<small id="slot_eta"></small></li>
  <li>$T('Mobile-left')<small id="slot_timeleft"></small></li>
  <li>$T('nzo-age')<small id="slot_avg_age"></small></li>

  <li><span class="toggle"><input type="checkbox" id="pause_nzb" /></span><a href="#">$T('link-pause') NZB</a></li>

  <li class="sep">$T('order')</li>
  <li><select id="switch"><optgroup label="$T('order')"></optgroup></select></li>

  <li class="sep">$T('category')</li>
  <li><select id="change_cat"><optgroup label="$T('category')"></optgroup></select></li>

  <li class="sep">$T('priority')</li>
  <li><select id="change_priority"><optgroup label="$T('priority')">
    <option value="2">$T('pr-force')</option>
    <option value="1">$T('pr-high')</option>
    <option value="0">$T('pr-normal')</option>
    <option value="-1">$T('pr-low')</option>
  </optgroup></select></li>

  <li class="sep">$T('pp')</li>
  <li><select id="change_opts"><optgroup label="$T('pp')">
    <option value="0">$T('pp-none')</option>
    <option value="1">$T('pp-repair')</option>
    <option value="2">$T('pp-unpack')</option>
    <option value="3">$T('pp-delete')</option>
  </optgroup></select></li>

  <li class="sep">$T('script')</li>
  <li><select id="change_script"><optgroup label="$T('script')"></optgroup></select></li>

  <li><a href="#" id="delete_nzb" class="grayButton">$T('nzo-delete') NZB</a></li>

  </ul>

  </div>
</div>


  <div id="history">
    <div class="toolbar">
      <h1>$T('menu-history')</h1>
      <a href="#home" class="back">$T('button-back')</a>
      <a class="button slideup" href="#history_options">$T('Mobile-button-options')</a>
    </div>
    <ul id="historyList" class="plastic"></ul>
    <h3 align="center">$T('Mobile-page')&nbsp;&nbsp;&nbsp;<span id="history_page_current"></span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span id="history_page_total"></span></h3>
    <ul class="individual history_page_buttons">
      <li><a href="#" class="grayButton" id="history_page_prev">&laquo; $T('Mobile-button-prev')</a></li>
      <li><a href="#" class="grayButton" id="history_page_next">$T('Mobile-button-next') &raquo;</a></li>
    </ul>
    <ul class="individual history_page_buttons">
      <li><a href="#" class="grayButton" id="history_page_first">&laquo; $T('Mobile-button-first')</a></li>
      <li><a href="#" class="grayButton" id="history_page_last">$T('Mobile-button-last') &raquo;</a></li>
    </ul>
  </div>


  <div id="history_options">
    <div class="toolbar">
      <h1>$T('Mobile-button-options')</h1>
      <a class="button goback" href="#">$T('Mobile-button-close')</a>
    </div>
    <ul>
      <li><a href="#" class="grayButton" id="history_purge" rel="$T('Mobile-confirm-purgeH')">$T('Mobile-button-purgeH')</a></li>
    </ul>
  </div>


  <div id="history_nzb">
    <div class="toolbar">
      <h1>$T('menu-history') NZB</h1>
      <a href="#history" class="back">$T('button-back')</a>
    </div>
    <div id="history_nzb_content">

  <div class="info"><span id="line_name"></span></div>
  <div class="info" id="line_action_line"></div>
  <div class="info" id="line_fail_message"></div>

  <ul class="edgetoedge">
    <li>$T('status')<small id="line_status"></small></li>
    <li>$T('size')<small id="line_size"></small></li>
    <li>$T('completed')<small id="line_completed"></small></li>
    <li>$T('category')<small id="line_category"></small></li>
  </ul>

  <ul id="connections_wrapper" class="edgetoedge">
    <li class="sep">$T('connections')</li>
  </ul>

  <ul class="edgetoedge" id="slot_info"></ul>

  <ul class="edgetoedge">
    <li class="sep">$T('catFolderPath')</li>
    <li id="line_nzb_storage"></li>
  </ul>

  <ul class="edgetoedge"><li><a href="#" id="delete_nzb" class="grayButton">$T('nzo-delete') NZB</a></li></ul>

  </div>
</div>


  <div id="history_nzb_script">
    <div class="toolbar">
      <h1>$T('script')</h1>
      <a class="button goback" href="#">$T('Mobile-button-close')</a>
    </div>
    <div id="history_script_log"></div>
  </div>


  <div id="addnzb">
    <div class="toolbar">
      <h1>$T('add') NZB</h1>
      <a href="#home" class="back">$T('button-back')</a>
    </div>
    <ul class="edit rounded">
      <li><input type="text" name="addnzb_url" placeholder="Enter NZB URL" id="addnzb_url" /></li>
    </ul>
    <ul class="individual">
      <li><a href="#" class="grayButton" id="addnzb_enqueue">$T('button-add')</a></li>
      <li><a href="#" class="grayButton" id="addnzb_clear">$T('button-clear')</a></li>
    </ul>
    <div id="addnzb_response" class="info" style="display:none; font-weight: normal;">
      $T('sort-result'): <span class="addnzb_response_text"></span>
    </div>
  </div>


  <div id="warnings">
    <div class="toolbar">
      <h1>$T('Mobile-warnings')</h1>
      <a href="#home" class="back">$T('button-back')</a>
      <a class="button" href="#" id="warnings_clear" rel="$T('button-clear')?">$T('button-clear')</a>
    </div>
    <div id="warnings_list"></div>
    <div id="warnings_shell" class="info" style="display:none; font-weight: normal; text-align:left;"></div>
  </div>


</body>
</html>
