/* ------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------

	
	Filename:		master.css
	Author:			Dana Woodman <dana@organixdesign.com>
	Site:			www.sabnzbd.organixdesign.com
	Date:			06/15/2007
	Version:		0.4
	Notes:
		- 
		- 
		- 

---------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */


/* ===================================================================================================================

		H T M L

=================================================================================================================== */


/* Universal Selector
------------------------------------------------------------------- */
* {margin: 0; padding: 0; border: none;}


/* Body
------------------------------------------------------------------- */
body {
	font: small Arial, Helvetica, sans-serif;
	background-image: url(../images/bg_lonelyhearts.png);
	background-repeat: repeat;
	cursor:default;
}
html, body {
	margin: 0; 
	padding: 0; 
	height: 100%;
}


/* Links
------------------------------------------------------------------- */
a {color: #BBD0DF;}
a:hover {}


/* Forms
------------------------------------------------------------------- */
input, textarea, select, option {
	padding: 1px;
}
input[type="submit"] {}
	
input.button {
	padding: 2px 4px;
	font-weight: bold;
	color: #032F54;
	background: none url(none);
}


/* Headings
------------------------------------------------------------------- */
h1 {}
h2 {}
h3 {
	color: #FFFFFF;
	margin-bottom: 5px;
	text-transform: uppercase;
}
h4 {}
h5 {}
h6 {}




/* ===================================================================================================================

		L A Y O U T

=================================================================================================================== */


/* Container
------------------------------------------------------------------- */
#container {
	height: 100%;
}


/* Top Bar
------------------------------------------------------------------- */
div .topBar {
	background: #021D33 url(../images/bg_topBar.png) repeat-x left bottom;
	text-align: right;
	float: left;
	width: 100%;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #033258;
}


/* Top Bar
------------------------------------------------------------------- */
#logo {
	float: left;
	padding: 3px;
	font-weight: bold;
	color: #F78614;
	margin-left: 20px;
	display: inline;
	font-size: 135%;
}
#logo a {
	font-size: 140%;
	color: #F78614;
	text-decoration: none;
	line-height: 1em;
	font-weight: bold;
}
#logo a:hover {
	background:#000;
}


/* Top Bar Links
------------------------------------------------------------------- */
#topLinks {float: right;}
#topLinks a {
	color: #00CCFF;
	padding: 5px 15px;
	display: block;
	float: left;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}
#topLinks span {
	color: #00CCFF;
	padding: 5px 15px;
	display: block;
	float: left;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}
#topLinks a:hover {
	color: #0099FF;
	text-decoration: none;
	background: #000000;
	cursor:pointer;
}
#topLinks a b {
	color: #FFFFFF;
	position: relative;
}
#topLinks a b em {
	color: #00FF00;
	font-weight: bold;
	font-size: 180%;
	line-height: 0;
}
#topLinks a:hover b {color: #D0E9FD;}
#topLinks a strong {color: #FFCC00;}
#topLinks a:hover strong {color: #FF9900;}


/* Data Bar
------------------------------------------------------------------- */
#dataBar {
	background: #074273 url(../images/bg_dataBar.png) repeat-x left bottom;
	float: left;
	width: 100%;
	border-top: 1px solid #0C6BBA;
	border-bottom: 2px solid #000000;
}
#dataBar strong {letter-spacing: .15em;}
#dataBar b {letter-spacing: .1em;}


/* Download Info
------------------------------------------------------------------- */
#downloadInfo {
	color: #91CAF9;
	padding-left: 14px;
	padding-top: 6px;
	float: left;05px;
}
#downloadInfo p {
	margin-top: 3px;
	margin-bottom: 3px;
}
#downloadInfo strong {
	color: #FFCC00;
	margin-right: 15px;
}
#downloadInfo b {
	color: #FFFEFB;
}


/* Download Statistics
------------------------------------------------------------------- */
#downloadStats {
	padding: 5px;
	float: left;
	margin-left: 0px;
	width: 600px;
	padding-left: 40px;
}
/* Download Bar */
#downloadBar {
	height: 20px;
	border: 1px solid #BFDFF9;
	background: #031D32;
	margin-bottom: 4px;
	float: left;
	width: 100%;
}
#statusbar {
	height: 20px;
	background: #F78614 url(../images/bg_downloaded.png) repeat left bottom;
	border-right: 1px solid #BFDFF9;
	font-weight: bold;
}
/* The percentage downloaded within the download bar */
#downloadBar span {
	color: #FFFFFF;
	float: right;
	margin-top: -3px;
	font-size: 210%;
	line-height: 1em;
	font-weight: bold;
	font-style: italic;
}
/* Download data - the speed and time left */
#downloadData {
	color: #91CAF9;
	float: left;
	width: 600px;
	margin-left: -30px;
	margin-right: -40px;
}
.dlSpeed {
	float: left;
}
.dlSpeed b {
	margin-left: 3px;
	color: #FFFFFF;
}
.dlMB {
}
.dlMB b {
	margin-left: 3px;
	color: #FFFFFF;
}
.dlTime {
	float: right;
}
.dlTime b {
	margin-left: 3px;
	color: #FFFFFF;
}


/* Layout Switcher
------------------------------------------------------------------- */
#layoutSwitcher {
	float: left;
	padding: 4px;
	margin-left: 6px;
}
#layoutSwitcher a img {padding: 2px;}



/* Download Table
------------------------------------------------------------------- */
#downloadContainer {
	float: left;
	width: 100%;
}
#downloadTable td {vertical-align: middle;}


/* Queue and History
------------------------------------------------------------------- */
#queue_container, #history_container {float:left; padding-left:3px; padding-top:3px; }





/* ===================================================================================================================

		C L A S S E S

=================================================================================================================== */


/* Tables
------------------------------------------------------------------- */
.table {
}
.table input, table select {font-size: 90%; margin: 0; padding: 0;}
.table form {display: inline;}
.table thead {}
.table thead tr {
	background: #021D33 url(../images/bg_thead_tr.png) repeat-x left bottom;
	color: #FFF;
	text-align: left;
}
.table thead td, thead th {
	width: 400px;
	white-space: nowrap;
}
.table thead a {
	color: #FFF;
	text-decoration: none;
	padding: 5px 5px;
	font-weight: bold;
	font-style: italic;
	float: right;
}
.table thead a:hover {
	color: #FFF;
	text-decoration: dotted;
	background: #000000;
	cursor:pointer;
}
.table thead div.heading {
	background: #021D33 url(../images/bg_thead_tr_heading.png) repeat-x left bottom;
	float: left;
	padding: 3px;
	font-weight: bold;
	color: #FFF;
	display: inline;
	font-size: 140%;
	text-decoration: none;
	line-height: 1em;
}
.table thead a.toggled {
	background: #021D33 url(../images/bg_thead_tr_heading.png) repeat-x left bottom;
}
.table thead a.untoggled {
}
.table tbody {}
.table tbody tr {
}
.table tbody tr:hover {background: #FFF url(../images/bg_tr_hover.png) repeat-x left bottom;}
.table tbody td {
	border-bottom: 1px solid #B4DFFB;
	border-right: 1px solid #B4DFFB;
	white-space: nowrap;
	padding: 0 4px;
	vertical-align: middle;
	text-align: left;
	
}
.table tbody td strong {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	color: #FF4900;
}
.table tbody td b {
	color: #2B4D80;
}
.table tbody td small {
	color: #A899AB;
}
.table tbody .odd {background: #FFFFFF url(../images/bg_tr_odd.png) repeat-x left bottom;}
.table tbody .even {background: #012F54;}
.table tbody a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: relative;
}
.table tbody a:hover {color: #FFCC00;}



/* TOOLTIPS

.table tbody a .tooltip {
	display: none;
	color: #0D8DF7;
	border: 2px solid #63B6FA;
}
.table tbody .tooltip b {color: #032F54;}
.table tbody a:hover .tooltip {
	background: #fff;
	display: block;
	padding: 10px;
	float: left;
	position: absolute;
	top: 15px;
	left: 0;
	z-index: 20;
}
*/


.table tbody .title {
	color: #EFD18D;
	font-size: 115%;
}
.table tbody .title:hover {color: #FF6600;}
.table tbody strong {}
.table tbody b {color: #FFF;}
.table tbody em {}
.table tbody i {}

.table tfoot {}
.table tfoot tr {}
.table tfoot td, tfoot td {}




/* Queue Progress Bar
------------------------------------------------------------------- */
.queueBarOuter {
	width: 100%;
	height: 5px !important;
	height: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0px;
	border: 1px solid #186B98;
	background: #FFF;
	text-align: left;
}
.queueBarInner {
	background: #2399D8 url(../images/bg_downloaded_minibar.png) repeat left top;
	height: 5px !important;
	height: 2px;
	margin: 0;
	padding: 0;
}


/* Action Panel
------------------------------------------------------------------- */
.actionPanel span {padding-top: 5px;}


/* Content Padding
------------------------------------------------------------------- */
.contentPad {padding: 5px;}


/* Alignment
------------------------------------------------------------------- */
.textCenter {text-align: center;}
.textLeft {text-align: left;}
.textRight {text-align: right;}


/* Display Helpers
------------------------------------------------------------------- */
.block {display: block;}












/* Clearfix
------------------------------------------------------------------- */
#container:after,
.subMenu:after,  
#dataBar:after,  
#downloadTable:after {
	content: " "; 
	display: block; 
	clear: both;
}

li {
	margin: -1px auto;
	margin-left:0px;
	padding: 0px;
	border: 1px dotted #3DABF5;
	background-color: #F2F6FF;
	color: #2B4D80;
	clear:both;
	list-style-type: none;
}
.nzb_mb {
	float: right;
	font-style: italic;
	cursor: crosshair;
}
.nzbfile {
	font-size: 10px;
	margin: -1px auto;
	padding: 0px;
	width: 100%;
	background-color: #DBFFAA;
	border: 1px dotted #2B4D80;
	clear:both;
}