#if $pane!="Main"#
		#if $pane!="Connections" and $pane !="RSS"#</div>#end if#
			</div>
			<div class="clearfix"></div>
        </div>
    </div>
#end if#

#include $webdir + "/_inc_modals.tmpl"#

</body>
</html>
