#if $pane=="Status" or $pane=="Config"#
  #set global $path = '../'#
#else if $pane=="Main"#
  #set global $path = ''#
#else#
  #set global $path = '../../'#
#end if#

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>SABnzbd $version</title>
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="${path}rss?mode=history"/>

  <link rel="stylesheet" type="text/css" href="${path}static/stylesheets/jqueryui/overcast/jquery-ui-1.8.15.custom.css?$version"/>
  <link rel="stylesheet" type="text/css" href="${path}static/stylesheets/rateit/rateit.css"/>
  <link rel="shortcut icon" type="image/ico" href="${path}staticcfg/ico/favicon.ico?v=1.1.0"/>
  #if $color_scheme#
  <link rel="stylesheet" type="text/css" href="${path}static/stylesheets/colorschemes/$color_scheme/${color_scheme}.css?$version"/>
  #else#
  <link rel="stylesheet" type="text/css" href="${path}static/stylesheets/colorschemes/gold/gold.css?$version"/>
  #end if#

  <meta name="apple-mobile-web-app-title" content="SABnzbd" />
  <link rel="apple-touch-icon" sizes="76x76" href="${path}staticcfg/ico/apple-touch-icon-76x76-precomposed.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="${path}staticcfg/ico/apple-touch-icon-120x120-precomposed.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="${path}staticcfg/ico/apple-touch-icon-152x152-precomposed.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="${path}staticcfg/ico/apple-touch-icon-180x180-precomposed.png" />
  <link rel="apple-touch-icon" sizes="192x192" href="${path}staticcfg/ico/android-192x192.png" />
  <link rel="mask-icon" href="${path}staticcfg/ico/safari-pinned-tab.svg" color="#383F45">

  <script type="text/javascript" src="${path}static/javascripts/lib.js?$version"></script>

#if $pane=="Main"#
  <script type="text/javascript" src="${path}static/javascripts/plush.js?$version"></script>
  <script type="text/javascript">
    jQuery(function($){
      $.plush.apikey = "$apikey";
      $.plush.Tprev = "$T('Plush-prev')"; // translations for pagination
      $.plush.Tnext = "$T('Plush-next')";
      $.plush.Tconfirmation = "$T('Plush-confirm')";
      $.plush.TconfirmPurgeH = "$T('Plush-confirmPurgeH')";
    $.plush.Init();   // Initialize Plush UI
    $.plush.Refresh();  // Initiate Plush refresh cycle
  });
  </script>
#else if $pane=="Nzo"#
  <script type="text/javascript" src="${path}static/javascripts/config.js?$version"></script>
  <script type="text/javascript">
    var config_pane = "NZO"; // re-uses config's js/css
      var confirmWithoutSavingPrompt = "$T('Plush-confirmWithoutSavingPrompt')";
  </script>
  <script type="text/javascript" src="${path}static/javascripts/plush.js?$version"></script>
  <script type="text/javascript">
    jQuery(function($){
      $.plush.apikey = "$apikey";
      $.plush.Tprev = "$T('Plush-prev')"; // translations for pagination
      $.plush.Tnext = "$T('Plush-next')";
      $.plush.Tconfirmation = "$T('Plush-confirm')";
      $.plush.TconfirmPurgeH = "$T('Plush-confirmPurgeH')";
    $.plush.Init();   // Initialize Plush UI
    $.plush.Refresh();  // Initiate Plush refresh cycle
  });
  </script>
#else#
  <script type="text/javascript" src="${path}static/javascripts/config.js?$version"></script>
  <script type="text/javascript">
    var config_pane = "$pane";
    var help_uri = "$help_uri";
    var apikey = "$apikey";
    var confirmWithoutSavingPrompt = "$T('Plush-confirmWithoutSavingPrompt')";
  </script>
#end if#

</head>
<body#if $pane=="Nzo"# class="nzo"#else if $pane!="Main"# class="config_body"#end if#>
<div id="master-width">
  <div class="wrapper">
    <div id="topmenu_bar" style="display:none">
      <div class="navigation">
        <ul class="menu" id="navigation_menu_right">
        #if $pane=="Main"#
          <li class="first"><a href="#" id="add_nzb"><span class="icon_nav_addnzb">$T('Plush-addnzb')</span></a></li>
          <li><a href="#" id="manual_refresh_wrapper"><span class="icon_nav_refresh">$T('Plush-button-refresh')</span></a></li>
          <li><a href="#" id="plush_options"><span class="icon_nav_options">$T('Plush-options')</span></a></li>
          <li class="last"><a href="#" id="help" target="_blank"><span class="icon_nav_help">$T('menu-help').capitalize()</span></a></li>
        #else#
          <li class="first last"><a href="#" id="help" target="_blank"><span class="icon_nav_help">$T('menu-help').capitalize()</span></a></li>
        #end if#
        </ul>
        <ul class="menu" id="navigation_menu_left">
          <li#if $pane=="Main"# class="active first"#else# class="first"#end if#><a href="${path}"><span class="icon_nav_download">#include $webdir + "/../../Config/templates/staticcfg/images/logo-arrow.svg"# $T('Plush-downloads').capitalize()</span></a></li>
          <li#if $pane=="Status"# class="active"#end if#><a href="${path}status/"><span class="icon_nav_connections">$T('menu-cons').capitalize()</span></a></li>
          <li#if $pane=="RSS"# class="active"#end if#><a href="${path}config/rss/"><span class="icon_nav_rss">$T('rss').upper()</span></a></li>
          <li#if $pane!="RSS" and $pane!="Nzo" and ($pane=="Config" or $path=='../../')# class="active last"#else# class="last"#end if#><a href="${path}config/"><span class="icon_nav_config">$T('menu-config').capitalize()</span></a></li>
        </ul>
      </div>
      <div id="nav_text_right">
        #if $loadavg#$T('ft-sysload'):&nbsp;<span id="loadavg">$loadavg</span>#end if#
      </div>
      <div id="nav_text_left">
        <span id="warning_box"><b><a href="${path}status/#tabs-warnings" id="last_warning"><span id="have_warnings">$have_warnings</span> $T('warnings')</a></b></span>
        #if $pane=="Main"#
          #if $new_release#&sdot; <a href="$new_rel_url" id="new_release" target="_blank">$T('Plush-updateAvailable').replace(' ','&nbsp;')</a>#end if#
        #end if#
      </div>
    </div>
  </div>

  <noscript><h1 align="center">$T('Plush-enableJavascript')</h1></noscript>

#if $pane=="Main"#
#else if $pane=="Nzo"#
#else if $pane=="Status" or $pane =="RSS"#
  <div id="config_container" class="config_margin_status lang-$active_lang">
    <div id="config_content">
#else#
  <div id="config_container" class="config_margin">
    <div id="config_content">
      <div id="config">
        <div id="config-content" class="clearfix">
#end if#
