#if $pane=="Main"#
<!-- start Main footer-->
#else if $pane=="Nzo"
<!-- start Nzo footer -->
#else#
<!-- start other footer -->
  #if $pane!="Status" and $pane !="RSS"#</div>#end if#
    </div>
    <div class="clearfix"></div>
  </div>
</div>
#end if#

#include $webdir + "/_inc_modals.tmpl"#

</div> <!-- close for the master-width div -->
</body>
</html>
