#if $pane=="Connections" or $pane=="Config"#
    #set global $path = '..'#
#else#
    #set global $path = '../..'#
#end if#

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"/>
<html>
<head>
    
    <title>SABnzbd+ $version - $T('queued'): $mbleft $T('MB')</title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss?mode=history"/>
    
    <link rel="stylesheet" type="text/css" href="$path/static/stylesheets/jqueryui/smoothness/jquery-ui-1.8.7.custom.css?$version"/>
    #if $color_scheme#
    <link rel="shortcut icon" type="image/ico" href="$path/static/stylesheets/colorschemes/$color_scheme/images/sabnzbdplus.ico"/>
    <link rel="stylesheet" type="text/css" href="$path/static/stylesheets/colorschemes/$color_scheme/$color_scheme.css?$version"/>
    #else#
    <link rel="shortcut icon" type="image/ico" href="$path/static/stylesheets/colorschemes/gold/images/sabnzbdplus.ico"/>
    <link rel="stylesheet" type="text/css" href="$path/static/stylesheets/colorschemes/gold/gold.css?$version"/>
    #end if#
    
    <script type="text/javascript" src="$path/static/javascripts/lib.js?$version"></script>

#if $pane=="Main"#
    <script type="text/javascript" src="$path/static/javascripts/plush.js?$version"></script>
	<script type="text/javascript">
	    jQuery(function($){
        	$.plush.apikey = "$session";
        	$.plush.Tprev = "$T('Plush-prev')"; // translations for pagination
        	$.plush.Tnext = "$T('Plush-next')";
        	$.plush.Tconfirmation = "$T('Plush-confirm')";
        	$.plush.TconfirmPurgeH = "$T('Plush-confirmPurgeH')";
			$.plush.Init();		// Initialize Plush UI
			$.plush.Refresh();	// Initiate Plush refresh cycle
		});
    </script>
#else if $pane=="Nzo"#
    <script type="text/javascript" src="$path/static/javascripts/config.js?$version"></script>
	<script type="text/javascript">
        var config_pane = "NZO"; // re-uses config's js/css
		var confirmWithoutSavingPrompt = "$T('Plush-confirmWithoutSavingPrompt')";
    </script>
#else#
    <script type="text/javascript" src="$path/static/javascripts/config.js?$version"></script>
	<script type="text/javascript">
        var config_pane = "$pane";
        var help_uri = "$help_uri";
        var apikey = "$session";
		var confirmWithoutSavingPrompt = "$T('Plush-confirmWithoutSavingPrompt')";
    </script>
#end if#
    
</head>
<body#if $pane=="Nzo"# class="nzo"#else if $pane!="Main"# class="config_body"#end if#>

	<noscript><h1 align="center">$T('Plush-enableJavascript')</h1></noscript>


#if $pane=="Main"#
	<div id="main_menu" class="lang-$active_lang tilex_sprite_container sprite_tile_znavbar">
    <ul class="sf-menu sf-navbar">
        <li><a id="add_nzb">$T('Plush-addnzb')</a></li>
        <li><a id="manual_refresh_wrapper"><b>$T('Plush-button-refresh')</b></a></li>
        <li>
            <a class="sf-with-ul">$T('Plush-options')</a>
            <ul>
                <li id="plush_options"><a>$T('Plush-plushoptions')</a></li>
                <li><a class="sf-with-ul">$T('menu-help')</a>
                    <ul>
                        <li><a href="$helpuri" target="_blank">$T('menu-wiki')</a></li>
                        <li><a href="http://forums.sabnzbd.org" target="_blank">$T('menu-forums')</a></li>
                        <li><a href="http://www.sabnzbd.org/live-chat/" target="_blank">$T('menu-irc')</a></li>
                    </ul>
                </li>
                <li><a href="connections/disconnect?session=$session" class="pointer">$T('link-forceDisc')</a></li>
                <li><a href="config/restart?session=$session" class="pointer" id="sabnzbd_restart" rel="<!--#echo $T('explain-Restart').replace("<br />","\n")#-->">$T('sch-restart')</a></li>
                <li><a href="shutdown?session=$session" class="pointer" id="sabnzbd_shutdown" rel="$T('shutdownOK?')">$T('sch-shutdown')</a></li>
            </ul>
        </li>
        <li>
  			<a class="sf-with-ul" href="connections" id="last_warning">$T('menu-config')&nbsp;<small id="have_warnings">($have_warnings)</small></a>
      		<ul class="config_links">
	            <li><a href="connections">$T('menu-cons')</a></li>
	            <li><a href="config/general">$T('cmenu-general')</a></li>
	            <li><a href="config/directories">$T('cmenu-folders')</a></li>
	            <li><a href="config/switches">$T('cmenu-switches')</a></li>
	            <li><a href="config/server">$T('cmenu-servers')</a></li>
	            <li><a href="config/scheduling">$T('cmenu-scheduling')</a></li>
	            <li><a href="config/rss">$T('cmenu-rss')</a></li>
	            <li><a href="config/email">$T('cmenu-email')</a></li>
	            <li><a href="config/newzbin">$T('cmenu-newzbin')</a></li>
	            <li><a href="config/categories">$T('cmenu-cat')</a></li>
	            <li><a href="config/sorting">$T('cmenu-sorting')</a></li>
      		</ul>
      	</li>
	    <!--#if $new_release#-->
        <li><a href="$new_rel_url" id="new_release" target="_blank">$T('Plush-updateAvailable').replace(' ','&nbsp;')</a></li>
	    <!--#end if#-->
	    <!--#if $warning#-->
        <li><a id="warning_message">$warning.replace(' ','&nbsp;')</a></li>
	    <!--#end if#-->
    </ul>
	</div>

#else if $pane=="Nzo"#

    <div id="config_go_back"><div class="main_sprite_container sprite_sabnzbdplus_logo"><a href="../../">$T('button-back')</a></div></div>

#else#

    <div id="config_go_back"><div class="main_sprite_container sprite_sabnzbdplus_logo"><a href="$path/">$T('button-back')</a></div></div>
    
    <div class="config_nav">
        <ul>
            <li><a class="#if $pane=="Connections"#nav_active#end if#" href="$path/connections">
            	<div class="config_sprite_container sprite_config_nav_connections">$T('menu-cons')</div></a></li>
            <li><a class="#if $pane=="General"#nav_active#end if#" id="config_nav_general" href="$path/config/general">
            	<div class="config_sprite_container sprite_config_nav_general">$T('cmenu-general')</div></a></li>
            <li><a class="#if $pane=="Folders"#nav_active#end if#" id="config_nav_directories" href="$path/config/directories">
            	<div class="config_sprite_container sprite_config_nav_folders">$T('cmenu-folders')</div></a></li>
            <li><a class="#if $pane=="Switches"#nav_active#end if#" id="config_nav_switches" href="$path/config/switches">
            	<div class="config_sprite_container sprite_config_nav_switches">$T('cmenu-switches')</div></a></li>
            <li><a class="#if $pane=="Servers"#nav_active#end if#" id="config_nav_server" href="$path/config/server">
            	<div class="config_sprite_container sprite_config_nav_servers">$T('cmenu-servers')</div></a></li>
            <li><a class="#if $pane=="Scheduling"#nav_active#end if#" id="config_nav_scheduling" href="$path/config/scheduling">
            	<div class="config_sprite_container sprite_config_nav_scheduling">$T('Plush-cmenu-scheduling')</div></a></li>
            <li><a class="#if $pane=="RSS"#nav_active#end if#" id="config_nav_rss" href="$path/config/rss">
            	<div class="config_sprite_container sprite_config_nav_rss">$T('cmenu-rss')</div></a></li>
            <li><a class="#if $pane=="Email"#nav_active#end if#" id="config_nav_email" href="$path/config/email">
            	<div class="config_sprite_container sprite_config_nav_email">$T('cmenu-email')</div></a></li>
            <li><a class="#if $pane=="Index Sites"#nav_active#end if#" id="config_nav_index_sites" href="$path/config/newzbin">
            	<div class="config_sprite_container sprite_config_nav_indexsites">$T('cmenu-newzbin')</div></a></li>
            <li><a class="#if $pane=="Categories"#nav_active#end if#" id="config_nav_categories" href="$path/config/categories">
            	<div class="config_sprite_container sprite_config_nav_categories">$T('cmenu-cat')</div></a></li>
            <li><a class="#if $pane=="Sorting"#nav_active#end if#" id="config_nav_sorting" href="$path/config/sorting">
            	<div class="config_sprite_container sprite_config_nav_sorting">$T('cmenu-sorting')</div></a></li>
        </ul>
    </div>
    
    <div id="config_container" class="config_margin">
        <div id="config_content">

#end if#
