  <script type="text/javascript">
    function expired_host_changed(self) {
      var host = document.getElementsByName('expired_host')[0];
      host.value = self.value;
      host.readOnly = self.value.length > 0;
    }
    function flag_modal_submit(self) {
      var radios = document.getElementsByName('rating_flag');
      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          document.getElementById('noopt').setAttribute('style', 'display:none;size:1');
          document.getElementById('submitbtn').click();
          return;
        }
      }
      document.getElementById('noopt').removeAttribute('style');
    }
  </script>

  <!-- modals -->
  <div style='display:none'>

  <div id="help_modal">
    <table>
      <tr><td><strong>$T('menu-wiki'):</strong></td><td><a href="$helpuri$help_uri" target="_blank">$helpuri$help_uri</a></td></tr>
      <tr><td><strong>$T('menu-forums'):</strong></td><td><a href="https://forums.sabnzbd.org/" target="_blank">https://forums.sabnzbd.org/</a></td></tr>
      <tr><td><strong>$T('menu-irc'):</strong></td><td><a href="https://sabnzbd.org/live-chat.html" target="_blank">https://sabnzbd.org/live-chat.html</a></td></tr>
    </table>
    <div class="sabnzbd_logo main_sprite_container sprite_sabnzbdplus_logo"></div>
    <p><strong>SABnzbd $T('version'):</strong> $version</p>
    <p><small>Copyright (C) 2008-2020 The SABnzbd Team &lt;team@sabnzbd.org&gt;</small></p>
    <p><small>$T('yourRights')</small></p>
  </div>

  <div id="plush_options_modal">

  <p><a href="status/disconnect?apikey=$apikey" class="juiButton">$T('link-forceDisc')</a></p>
  <p><a href="config/restart?apikey=$apikey" class="juiButton" id="sabnzbd_restart" rel="#echo $T('explain-Restart').replace("<br />","\n")#">$T('sch-restart')</a>
    <a href="shutdown?apikey=$apikey&amp;pid=$pid" class="juiButton" id="sabnzbd_shutdown" rel="$T('shutdownOK?')">$T('sch-shutdown')</a></p>
  <br/>

  $T('Plush-refreshRate'):
<select id="refreshRate-option">
  <option value="1">1 $T('second')</option>
  <option value="2">2 $T('second')</option>
  <option value="4">4 $T('second')</option>
  <option value="8">8 $T('second')</option>
  <option value="16">16 $T('second')</option>
  <option value="30">30 $T('second')</option>
  <option value="60">1 $T('minute')</option>
  <option value="120">2 $T('minute')</option>
  <option value="900">15 $T('minute')</option>
  <option value="1800">30 $T('minute')</option>
  <option value="0">$T('Plush-disabled')</option>
</select><br/><br/>
$T('Plush-containerWidth'):
<select id="containerWidth-option">
  <option value="100%">100%</option>
  <option value="90%">90%</option>
  <option value="80%">80%</option>
  <option value="70%">70%</option>
  <option value="60%">60%</option>
  <option value="50%">50%</option>
  <option value="40%">40%</option>
</select><br/><br/>
<!-- <input type="checkbox" id="confirmDeleteQueue" checked="checked" /> $T("Plush-confirmDeleteQueue")<br/><br/>
<input type="checkbox" id="confirmDeleteHistory" checked="checked" /> $T("Plush-confirmDeleteHistory")<br/><br/> -->
<span id="explain-blockRefresh" title="$T("Plush-explain-blockRefresh")"><input type="checkbox" id="blockRefresh" checked="checked" /> $T("Plush-blockRefresh")</span>
</div>

#if $pane=="Main"#

  <div id="add_nzb_modal">
    <input type="text" id="addID_input" size="31" />
    <input type="submit" id="addID" value="$T('Plush-fetch')" class="juiButton" />
    <div id="add_nzb_hr"><hr></div>
    <form action="api" id="uploadNZBForm" method="post" enctype="multipart/form-data">
      <input type="hidden" name="apikey" value="$apikey" />
        <input type="hidden" name="mode" value="addfile" />
        <input type="file" id="uploadNZBFile" name="name" size="12" style="width:180px;" />
      <input type="submit" value="$T('Plush-upload')" class="juiButton" />
      <span id="uploadingSpinner" class="loading" style="display:none">&nbsp;</span>
      <br/><i>$T('Plush-uploadTip')</i>
    <div id="add_nzb_hr"><hr></div>
      <i>$T('pp'):</i>
      <table id="add_nzb_pp">
        #if $categories#
        <tr><td style="text-align:right">$T('category'):</td>
          <td><select id="addID_cat" name="cat">
            #for $ct in $categories#
            <option value="$ct">$Tspec($ct)</option>
            #end for#
            </select>
        </td></tr>
        #end if#
        <tr><td style="text-align:right">$T('priority'):</td>
          <td><select id="addID_priority" name="priority">
            <option value="-100" selected="selected">$T('default')</option>
            <option value="2">$T('pr-force')</option>
            <option value="1">$T('pr-high')</option>
            <option value="0">$T('pr-normal')</option>
            <option value="-1">$T('pr-low')</option>
            </select>
        </td></tr>
        <tr><td style="text-align:right">$T('pp'):</td>
          <td><select id="addID_pp" name="pp">
            <option value="-1">$T('default')</option>
            <option value="0">$T('pp-none')</option>
            <option value="1">$T('pp-repair')</option>
            <option value="2">$T('pp-unpack')</option>
            <option value="3">$T('pp-delete')</option>
            </select>
        </td></tr>
        #if $scripts#
        <tr><td style="text-align:right">$T('script'):</td>
          <td><select id="addID_script" name="script">
            #for $sc in $scripts#
            <option value="$sc">$Tspec($sc)</option>
            #end for#
            </select>
        </td></tr>
        #end if#
      </table>
  <div id="add_nzb_hr"><hr></div>
    <i>$T('Plush-addnzb-filename'):</i><br/>
    <input type="text" name="nzbname" id="addID_nzbname" size="38" />

  </form>
</div>

  <div id="queue_purge_modal" class="center">
    <br/><br/><strong>$T('purgeQueue')</strong>
    <br/><br/><input type="submit" name="all" value="$T('purgeNZBs')" class="juiButton" />
    <br/><br/><input type="submit" name="delete" value="$T('purgeNZBs-Files')" class="juiButton" />
  </div>

  <div id="queue_retry_modal" class="center">
    <br/><br/><strong>$T('retryQueue')</strong>
    <br/><br/><input type="submit" name="all" value="$T('retryNZBs')" class="juiButton" />
  </div>

  <div id="history_purge_modal" class="center">
    <br/><br/><strong>$T('purgeHist')</strong>
    <!--<br/><br/><input type="submit" name="all" value="Purge All NZBs" class="juiButton" />-->
    <br/><br/><input type="submit" name="failed" value="$T('purgeFailed')" class="juiButton" />
    <br/><br/><input type="submit" name="delete" value="$T('purgeFailed-Files')" class="juiButton" />
    <br/><br/><input type="submit" name="completed" value="$T('purgeCompl')" class="juiButton" />
  </div>

  <div id="retry_modal">
    <form action="history/retry_pp" method="post" enctype="multipart/form-data">
      <input type="hidden" id="retry_modal_job" name="job" />
      <input type="hidden" name="apikey" value="$apikey" />
      <br/><p><strong id="retry_modal_title">title</strong></p>
      <br/><p>$T('opt-extra-NZB'):<br/><input type="file" name="nzbfile" /></p>
      <br/><p>$T('srv-password'):<br/><input type="text" name="password" /></p>
      <br/><p><input type="submit" value="$T('button-retry')" class="juiButton" /></p>
    </form>
  </div>

  <div id="delete_nzb_modal" class="center">
    <input type="hidden" id="delete_nzb_modal_job" />
    <input type="hidden" id="delete_nzb_modal_mode" />
    <br/><br/><strong id="delete_nzb_modal_title">title</strong><br/><br/>
    <input type="submit" id="delete_nzb_modal_remove_nzb" value="$T('removeNZB')" class="juiButton" />
    <input type="submit" id="delete_nzb_modal_remove_files" value="$T('removeNZB-Files')" class="juiButton" />
  </div>

  <div id="flag_modal">
    <input type="hidden" id="flag_modal_job" />
    <div class="rating_flag_radio"><input type="radio" name="rating_flag" value="spam">&nbsp;$T('spam')</div>
    <div class="rating_flag_radio"><input type="radio" name="rating_flag" value="encrypted">&nbsp;$T('encrypted')</div>
    <div class="rating_flag_radio">
      <input type="radio" name="rating_flag" value="expired">&nbsp;$T('expired')
      <div class="rating_modal_extra">
      <div class="rating_modal_expired">$T('host')&nbsp;&nbsp;<input type="text" name="expired_host" value="www.altopia.com" readonly></div>
      <select name="common_host" onchange="expired_host_changed(this)">
        <option value='www.altopia.com' selected>Altopia</option>
        <option value='www.astraweb.com'>Astraweb</option>
        <option value='www.euroaccess.ln'>EuroAccess</option>
        <option value='www.forteinc.com'>Forte Agent</option>
        <option value='www.giganews.com'>Giganews</option>
        <option value='www.highwinds.com'>Highwinds</option>
        <option value='www.newsdemon.com'>Newsdemon</option>
        <option value='www.newsgroupdirect.com'>NewsGroupDirect</option>
        <option value='www.newshosting.com'>NewsHosting</option>
        <option value='www.readnews.com'>Readnews</option>
        <option value='www.supernews.com'>SuperNews</option>
        <option value='www.thundernews.com'>ThunderNews</option>
        <option value='www.tweaknews.eu'>Tweaknews</option>
        <option value='www.usenetserver.com'>UsenetServer</option>
        <option value='www.xentech.net'>XenTech</option>
        <option value='www.xsnews.nl'>XSnews</option>
        <option value=''>$T('other')</option>
      </select>
      </div>
    </div>
    <div class="rating_flag_radio">
      <input type="radio" name="rating_flag" value="other">&nbsp;$T('otherProblem')
      <div class="rating_modal_extra"><input style="width:99%" type="text" name="other"></div>
    </div>
    <div class="rating_flag_radio">
      <input type="radio" name="rating_flag" value="comment">&nbsp;$T('comment')
      <div class="rating_modal_extra"><input style="width:99%" type="text" name="comment"></div>
    </div>
    <br/>
    <div class="center">
      <input id="submitbtn" type="submit" style="display:none;size:1"/>
      <input value="Send" class="juiButton" onclick="flag_modal_submit(this)"/>
      <label id="noopt" class="rating_modal_noopt" style="display:none;size:1">No option selected</label>
    </div>
  </div>

#end if#

  </div>

