<!--#set global $pane="Config"#-->
<!--#set global $help_uri="Configure"#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->

<div style="padding:20px;">
	<p><strong>SABnzbd $T('version'):</strong> $version</p>
	<p><strong>$T('uptime'):</strong> $uptime</p>
    <p><strong>$T('confgFile'):</strong> $configfn</p>
    <p><!--#set $msg=$T('ft-buffer@2')%($cache_art, $cache_size)#-->$msg<br>
</div>

<!--#include $webdir + "/_inc_footer.tmpl"#-->
