<!--#set global $pane="Folders"#-->
<!--#set global $help_uri="Configure+Folders-0-7"#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->

<form action="saveDirectories" method="post" name="fullform" id="fullform">
<input type="hidden" name="session" id="session" value="$session">

<div id="config-components">

  <div id="core-component-group1" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>$T('userFolders')</h3>
      <p><small>$T('base-folder'):<br/>$my_home</small></p>
      <p>$T('explain-folderConfig')</p>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <label class="nocheck clearfix" for="download_dir">
          <span class="component-title">$T('opt-download_dir')</span>
          <input type="text" size="50" name="download_dir" id="download_dir" value="$download_dir">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-download_dir')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="download_free">
          <span class="component-title">$T('opt-download_free')</span>
          <input type="text" size="8" name="download_free" id="download_free" value="$download_free">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-download_free')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="complete_dir">
          <span class="component-title">$T('opt-complete_dir')</span>
          <input type="text" size="50" id="complete_dir" name="complete_dir" id="complete_dir" value="$complete_dir">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-complete_dir')</span>
        </label>
      </div>
      <!--#if not $nt#-->
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="permissions">
          <span class="component-title">$T('opt-permissions')</span>
          <input type="text" size="10" name="permissions" id="permissions" value="$permissions">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-permissions')</span>
        </label>
      </div>
      <!--#end if#-->
      <div class="field-pair">
        <label class="nocheck clearfix" for="dirscan_dir">
          <span class="component-title">$T('opt-dirscan_dir')</span>
          <input type="text" size="50" name="dirscan_dir" id="dirscan_dir" value="$dirscan_dir">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-dirscan_dir')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="dirscan_speed">
          <span class="component-title">$T('opt-dirscan_speed')</span>
          <input type="text" size="8" name="dirscan_speed" id="dirscan_speed" value="$dirscan_speed">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-dirscan_speed')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="script_dir">
          <span class="component-title">$T('opt-script_dir')</span>
          <input type="text" size="50" name="script_dir" id="script_dir" value="$script_dir">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-script_dir')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="email_dir">
          <span class="component-title">$T('opt-email_dir')</span>
          <input type="text" size="50" name="email_dir" id="email_dir" value="$email_dir">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-email_dir')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="password_file">
          <span class="component-title">$T('opt-password_file')</span>
          <input type="text" size="50" name="password_file" id="password_file" value="$password_file">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-password_file')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group1 -->

  <div id="core-component-group2" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>$T('systemFolders')</h3>
      <p><small>$T('base-folder'):<br/>$my_lcldata</small></p>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <label class="nocheck clearfix" for="admin_dir">
          <span class="component-title">$T('opt-admin_dir')</span>
          <input type="text" size="50" name="admin_dir" id="admin_dir" value="$admin_dir">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-admin_dir1')</span>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-admin_dir2')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="log_dir">
          <span class="component-title">$T('opt-log_dir')</span>
          <input type="text" size="50" name="log_dir" id="log_dir" value="$log_dir">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-log_dir')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="nzb_backup_dir">
          <span class="component-title">$T('opt-nzb_backup_dir')</span>
          <input type="text" size="50" name="nzb_backup_dir" id="nzb_backup_dir" value="$nzb_backup_dir">
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-nzb_backup_dir')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group2 -->

  <div class="component-group-last clearfix">
    <div class="component-group-desc">
      <h3>&nbsp;</h3>
    </div>
    <fieldset class="component-group-list">
      <div class="left_links">
        <a id="save"><span class="config_sprite_container sprite_config_save">&nbsp;</span> $T('button-saveChanges')</a>
      </div>
    </fieldset>
  </div><!-- /component-group -->

</div><!-- /config-components -->

</form>

<!--#include $webdir + "/_inc_footer.tmpl"#-->
