<!--#set global $pane="RSS"#-->
<!--#set global $help_uri="Configure+RSS+V2"#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->



<div class="tabs">
	<ul>
		<li><a href="#tabs-rss">My Feeds</a></li>
		<!--#if $active_feed#--><li><a href="#tabs-feed">$active_feed</a></li><!--#end if#-->
	</ul>



	<div id="tabs-rss">

		<!--#set $feeds = sorted($rss.keys(), cmp=lambda x,y: cmp(x.lower(), y.lower()))#-->
		<!--#if $feeds#-->

		    <table class="rssTable">
		        <tr>
		            <th>$T('enabled').capitalize()</th>
		            <th>$T('feed')</th>
		            <th>URL</th>
		            <th></th>
		        </tr>
		    <!--#set $odd = False#-->
		    <!--#for $feed_item in $feeds#-->
		        <!--#set $odd = not $odd#-->
		        <tr class="<!--#if $odd then "odd" else "even"#-->">
		            <td><form action="upd_rss_feed" method="post">
		                <input type="hidden" name="session" value="$session">
		                <input type="hidden" value="$feed_item" name="feed">
		                <input type="hidden" value="1" name="table">
		                <input type="checkbox" onclick="this.form.action='toggle_rss_feed?session=$session';  this.form.submit(); return false;" name="enable" <!--#if $rss[$feed_item]['enable'] then "CHECKED" else "" #-->/>
		                </form>
		            </td>
		            <td><strong><a class="juiButton" href="?feed=$rss[$feed_item]['link']#tabs-feed" <!--#if $active_feed == $feed_item#-->id="activeFeedLink"<!--#end if#-->>$feed_item</a></strong></td>
		            <td>$rss[$feed_item]['uri']</td>
		            <td><form action="del_rss_feed" method="get">
		                <input type="hidden" name="session" value="$session">
		                <input type="hidden" value="$feed_item" name="feed">
		                <input type="submit" class="juiButton" value="$T('button-x')"></form>
		            </td>
		        </tr>
		    <!--#end for#-->
			</table>

		<!--#else#-->
			<p>$T('none')</p>
		<!--#end if#-->

		<p>
			<br/>
	        <input type="submit" class="juiButton" value="Add Feed" onclick="jQuery('#pane-rss-details').hide(); jQuery('#pane-add-feed').toggle();"/>
	        <input type="submit" class="juiButton" value="RSS Details" onclick="jQuery('#pane-add-feed').hide(); jQuery('#pane-rss-details').toggle();"/>
	        <input type="submit" class="juiButton" value="Update All Feeds" disabled />
	    </p>

		<div id="pane-add-feed" style="display:none">
		    <form action="add_rss_feed" method="post">
		        <strong>$T('name'):</strong> <input type="text" size="10" name="feed" value="$feed"/><br/><br/>
		        <strong>$T('newFeedURI'):</strong> <input type="text" size="60" name="uri" value=""/><br/><br/>
		        <input type="hidden" name="session" value="$session">
		        <input type="submit" class="juiButton" value="Add Feed"/>
		    </form>
		</div>

		<div id="pane-rss-details" style="display:none">
		    <p>$T('explain-RSS')</p>
			<form action="save_rss_rate" method="post">
				<strong>$T('opt-rss_rate'):</strong><br/>
				<small>$T('explain-rss_rate')</small><br/>
				<input type="text" name="rss_rate" value="$rss_rate" size=8 />
		        <input type="hidden" name="session" value="$session"/>
		        <input type="submit" class="juiButton" value="$T('button-save')"/>
			</form>
		</div>

    </div>


	<!--#if $active_feed#-->
	<div id="tabs-feed">

		<!-- feed sub-tabs -->
		<div class="tabs vertical-tabs">
			<ul>
				<li><a href="#tabs-feed-update">$T('feed')</a></li>
				<li><a href="#tabs-feed-filters">$T('filters').capitalize()</a></li>
				<li><a href="#tabs-feed-matched">$T('rss-matched') (<!--#echo len($matched)#-->)</a></li>
				<li><a href="#tabs-feed-notMatched">$T('rss-notMatched') (<!--#echo len($unmatched)#-->)</a></li>
				<li><a href="#tabs-feed-done">$T('rss-done') (<!--#echo len($downloaded)#-->)</a></li>
			</ul>



			<div id="tabs-feed-update">

			    <!--#set $feed = $active_feed#-->
			    <form action="upd_rss_feed" method="post">

		            <!-- <strong>$T('name'):</strong> $feed<br/> -->
		            <input type="checkbox" onclick="this.form.action='toggle_rss_feed?session=$session';  this.form.submit(); return false;" name="enable" <!--#if $rss[$feed]['enable'] then "CHECKED" else "" #-->/>$T('enabled').capitalize()
		            
		            &nbsp;&nbsp;&nbsp;&nbsp;

	            	<input type="button" class="juiButton" onclick="this.form.action='test_rss_feed?session=$session&'; this.form.submit(); return false;" value="$T('button-preFeed')"/>
	            	<input type="button" class="juiButton" onclick="this.form.action='download_rss_feed?session=$session&'; this.form.submit(); return false;" value="$T('button-forceFeed')"/>
	            	<input type="button" class="juiButton" onclick="if (confirm('$T('confirm').replace("'","`") ')) { this.form.action='del_rss_feed?session=$session&';  this.form.submit(); return false;}" value="$T('button-delFeed')"/>

		            <br/><br/>

		            <input type="text" size="60" name="uri" value="$rss[$feed]['uri']"/><br/>

		            <!--#if $rss[$feed]['pick_cat']#-->
		                <select name="cat">
		                    <optgroup label="$T('category')">
		                        <!--#for $ct in $cat_list#-->
		                            <option value="$ct" <!--#if $ct == $rss[$feed]['cat'] then "selected" else ""#-->>$Tspec($ct)</option>
		                        <!--#end for#-->
		                    </optgroup>
		                </select>
		            <!--#end if#-->
		            <select name="pp">
		                <optgroup label="$T('pp')">
		                    <option value="" <!--#if $rss[$feed]['pp'] == "" then 'selected' else ''#-->>$T('default')</option>
		                    <option value="0" <!--#if $rss[$feed]['pp'] == "0" then 'selected' else ''#-->>$T('pp-none')</option>
		                    <option value="1" <!--#if $rss[$feed]['pp'] == "1" then 'selected' else ''#-->>$T('pp-repair')</option>
		                    <option value="2" <!--#if $rss[$feed]['pp'] == "2" then 'selected' else ''#-->>$T('pp-unpack')</option>
		                    <option value="3" <!--#if $rss[$feed]['pp'] == "3" then 'selected' else ''#-->>$T('pp-delete')</option>
		                </optgroup>
		            </select>
		            <!--#if $rss[$feed]['pick_script']#-->
		                <select name="script">
		                    <optgroup label="$T('script')">
		                        <!--#for $sc in $script_list#-->
		                            <option value="$sc" <!--#if $sc == $rss[$feed]['script'] then "selected" else ""#-->>$Tspec($sc)</option>
		                        <!--#end for#-->
		                    </optgroup>
		                </select>
		            <!--#end if#-->
		            <select name="priority">
		                <optgroup label="$T('priority')">
		                    <option value="-100" <!--#if $rss[$feed]['priority'] == -100 then 'selected' else ''#-->>$T('default')</option>
		                    <option value="2" <!--#if $rss[$feed]['priority'] == 2 then 'selected' else ''#-->>$T('pr-force')</option>
		                    <option value="1" <!--#if $rss[$feed]['priority'] == 1 then 'selected' else ''#-->>$T('pr-high')</option>
		                    <option value="0" <!--#if $rss[$feed]['priority'] == 0 then 'selected' else ''#-->>$T('pr-normal')</option>
		                    <option value="-1" <!--#if $rss[$feed]['priority'] == -1 then 'selected' else ''#-->>$T('pr-low')</option>
		                    <option value="-2" <!--#if $rss[$feed]['priority'] == -2 then 'selected' else ''#-->>$T('pr-paused')</option>
		                </optgroup>
		            </select>

		            <input type="hidden" name="feed" value="$feed"/>
		            <input type="hidden" name="session" value="$session">
		            <input type="submit" class="juiButton" value="$T('button-save')"/>

			    </form>

			</div>



			<div id="tabs-feed-filters">

			    <table class="rssTable">
			        <tr>
			            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
			            <th>$T('rss-order')</th>
			            <th>$T('rss-type')</th>
			            <th>$T('rss-filter')</th>
			            <!--#if $rss[$feed]['pick_cat']#--><th>$T('category')</th><!--#end if#-->
			            <th>Mode</th>
			            <!--#if $rss[$feed]['pick_script']#--><th>$T('script')</th><!--#end if#-->
						<th>$T('priority')</th>
			            <th></th>
			        </tr>

			        <form action="upd_rss_filter" method="get">
			        <tr class="odd">
			        <td></td>
			        <td></td>
			        <td>
			            <select name="filter_type">
			                <option value="A" selected /> $T('rss-accept')</option>
			                <option value="M" /> $T('rss-must')</option>
			                <option value="R" /> $T('rss-reject')</option>
			                <option value="C" /> $T('rss-mustcat')</option>
			            </select>
			        </td>
			        <td><input type="text" size="30" name="filter_text" value=""></td>
			        <!--#if $rss[$feed]['pick_cat']#-->
			          <td>
			            <select name="cat">
			            <!--#for $ct in $cat_list#-->
			                <option value="$ct" <!--#if $ct == $rss[$feed]['cat'] then "selected" else ""#-->>$Tspec($ct)</option>
			            <!--#end for#-->
			            </select>
			          </td>
			        <!--#end if#-->
			        <td>
			          <select name="pp">
			              <option value="" <!--#if $rss[$feed]['pp'] == "0" then 'selected' else ''#-->>$T('default')</option>
			              <option value="0" <!--#if $rss[$feed]['pp'] == "0" then 'selected' else ''#-->>$T('pp-none')</option>
			              <option value="1" <!--#if $rss[$feed]['pp'] == "1" then 'selected' else ''#-->>$T('pp-repair')</option>
			              <option value="2" <!--#if $rss[$feed]['pp'] == "2" then 'selected' else ''#-->>$T('pp-unpack')</option>
			              <option value="3" <!--#if $rss[$feed]['pp'] == "3" then 'selected' else ''#-->>$T('pp-delete')</option>
			          </select>
			        </td>
			        <!--#if $rss[$feed]['pick_script']#-->
			          <td>
			            <select name="script">
			            <!--#for $sc in $script_list#-->
			                <option value="$sc" <!--#if $sc == $rss[$feed]['script'] then "selected" else ""#-->>$Tspec($sc)</option>
			            <!--#end for#-->
			            </select>
			          </td>
			        <!--#end if#-->
			        <td>
						<select name="priority">
							<option value="-100" <!--#if $rss[$feed]['priority'] == -100 then 'selected' else ''#-->>$T('default')</option>
							<option value="2" <!--#if $rss[$feed]['priority'] == 2 then 'selected' else ''#-->>$T('pr-force')</option>
							<option value="1" <!--#if $rss[$feed]['priority'] == 1 then 'selected' else ''#-->>$T('pr-high')</option>
							<option value="0" <!--#if $rss[$feed]['priority'] == 0 then 'selected' else ''#-->>$T('pr-normal')</option>
							<option value="-1" <!--#if $rss[$feed]['priority'] == -1 then 'selected' else ''#-->>$T('pr-low')</option>
							<option value="-2" <!--#if $rss[$feed]['priority'] == -2 then 'selected' else ''#-->>$T('pr-paused')</option>
						</select>
			        </td>
			        <input type="hidden" value="$rss[$feed]['filtercount']" name="index">
			        <input type="hidden" value="$feed" name="feed">
			        <input type="hidden" name="session" value="$session">
			        <td><input type="submit" class="juiButton" style="padding:0;" value="$T('button-save')"></td>
			        </tr>
			        </form>

			    <!--#set $fnum = 0#-->
			    <!--#for $filter in $rss[$feed].filters#-->
			        <tr class="odd">
			        <td>
			            <form action="del_rss_filter" method="post">
			            <input type="hidden" value="$fnum" name="index">
			            <input type="hidden" value="$feed" name="feed">
			            <input type="hidden" name="session" value="$session">
			            <input type="submit" class="juiButton" style="padding:0;" value="$T('rss-delFilter')"></form>
			        </td>

			        <td><form><select onchange="location = this.options[this.selectedIndex].value;">
			        <!--#for $i in xrange($rss[$feed]['filtercount'])#-->
			            <option value="pos_rss_filter?session=$session&feed=$feed&current=$fnum&new=$i" <!--#if int($i) == int($fnum) then "selected" else ""#-->>$i</option>
			        <!--#end for#-->
			        </select>
			        <input type="hidden" value="$feed" name="feed">
			        </form></td>

			        <form action="upd_rss_filter" method="get">
			        <td>
			        <select name="filter_type">
			            <option value="A" <!--#if $filter[3] == "A" then "selected" else ""#--> /> $T('rss-accept')</option>
			            <option value="M" <!--#if $filter[3] == "M" then "selected" else ""#--> /> $T('rss-must')</option>
			            <option value="R" <!--#if $filter[3] == "R" then "selected" else ""#--> /> $T('rss-reject')</option>
			            <option value="C" <!--#if $filter[3] == "C" then "selected" else ""#--> /> $T('rss-mustcat')</option>
			        </select>
			        </td>

			        <td><input type="text" size="30" name="filter_text" value="$filter[4]"/></td>
			        <!--#if $rss[$feed]['pick_cat']#-->
			          <td>
			            <select name="cat">
			            <!--#for $ct in $cat_list#-->
			                <option value="$ct" <!--#if $ct == $filter[0] then "selected" else ""#-->>$Tspec($ct)</option>
			            <!--#end for#-->
			            </select>
			          </td>
			        <!--#end if#-->
			        <td>
			        <select name="pp">
			            <option value="" <!--#if $filter[1] == "0" then 'selected' else ''#-->>$T('default')</option>
			            <option value="0" <!--#if $filter[1] == "0" then 'selected' else ''#-->>$T('pp-none')</option>
			            <option value="1" <!--#if $filter[1] == "1" then 'selected' else ''#-->>$T('pp-repair')</option>
			            <option value="2" <!--#if $filter[1] == "2" then 'selected' else ''#-->>$T('pp-unpack')</option>
			            <option value="3" <!--#if $filter[1] == "3" then 'selected' else ''#-->>$T('pp-delete')</option>
			        </select>
			        </td>
			        <!--#if $rss[$feed]['pick_script']#-->
			          <td>
			            <select name="script">
			            <!--#for $sc in $script_list#-->
			                <option value="$sc" <!--#if $sc == $filter[2] then "selected" else ""#-->>$Tspec($sc)</option>
			            <!--#end for#-->
			            </select>
			          </td>
			        <!--#end if#-->
					<td>
						<select name="priority">
							<option value="-100" <!--#if $filter[5] == "-100" then 'selected' else ''#-->>$T('default')</option>
							<option value="2"    <!--#if $filter[5] == "2"    then "selected" else ""#-->>$T('pr-force')</option>
							<option value="1"    <!--#if $filter[5] == "1"    then "selected" else ""#-->>$T('pr-high')</option>
							<option value="0"    <!--#if $filter[5] == "0"    then "selected" else ""#-->>$T('pr-normal')</option>
							<option value="-1"   <!--#if $filter[5] == "-1"   then "selected" else ""#-->>$T('pr-low')</option>
							<option value="-2"   <!--#if $filter[5] == "-2"   then "selected" else ""#-->>$T('pr-paused')</option>
						</select>
					</td>
			        <td>
			        <input type="hidden" name="index" value="$fnum"/>
			        <input type="hidden" name="feed" value="$feed"/>
			        <input type="hidden" name="session" value="$session">
			        <input type="submit" class="juiButton" style="padding:0;" value="$T('button-save')"/>
			        </td>
			        </form>
			        </tr>
			        <!--#set $fnum = $fnum+1#-->
			    <!--#end for#-->

			    </table>

			</div>




			<div id="tabs-feed-matched">
			    <!--#if $matched#-->
				    <table class="rssTable">
				        <tr>
				            <th>&nbsp;</th>
				            <th>&nbsp;$T('rss-skip')&nbsp;</th>
				            <th>&nbsp;$T('rss-filter')&nbsp;</th>
				            <th>Title</th>
				        </tr>
				    <!--#set $odd = False#-->
				    <!--#for $job in $matched#-->
				        <!--#set $odd = not $odd#-->
				        <tr class="<!--#if $odd then "odd" else "even"#-->">
				        <td><form action="download" method="get">
				                <input type="hidden" name="url" value="$job[0]"/>
				                <input type="hidden" value="$feed" name="feed"/>
				                <input type="hidden" name="session" value="$session">
				                <input type="submit" class="juiButton" style="padding:0;" value="$T('link-download')">
				            </form>
				        </td>
				        <td>$job[2]</td>
				        <td>$job[3]</td>
				        <td>$job[1]</td>
				        </tr>
				    <!--#end for#-->
				    </table>
			    <!--#else#-->
			    	$T('none')
			    <!--#end if#-->
			</div>

			<div id="tabs-feed-notMatched">
			    <!--#if $unmatched#-->
				    <table class="rssTable">
				        <tr>
				            <th>&nbsp;</th>
				            <th>&nbsp;$T('rss-skip')&nbsp;</th>
				            <th>&nbsp;$T('rss-filter')&nbsp;</th>
				            <th>Title</th>
				        </tr>
				    <!--#set $odd = False#-->
				    <!--#for $job in $unmatched#-->
				        <!--#set $odd = not $odd#-->
				        <tr class="<!--#if $odd then "odd" else "even"#-->">
				        <td><form action="download" method="get">
				                <input type="hidden" name="url" value="$job[0]"/>
				                <input type="hidden" value="$feed" name="feed"/>
				                <input type="hidden" name="session" value="$session">
				                <input type="submit" class="juiButton" style="padding:0;" value="$T('link-download')">
				            </form>
				        </td>
				        <td>$job[2]</td>
				        <td>$job[3]</td>
				        <td>$job[1]</td>
				        </tr>
				    <!--#end for#-->
				    </table>
			    <!--#else#-->
			    	$T('none')
			    <!--#end if#-->
			</div>

			<div id="tabs-feed-done">
			    <!--#if $downloaded#-->
				    <table class="rssTable">
				        <tr>
				            <th>Title</th>
				        </tr>
				    <!--#set $odd = False#-->
				    <!--#for $job in $downloaded#-->
				        <!--#set $odd = not $odd#-->
				        <tr class="<!--#if $odd then "odd" else "even"#-->">
				        <td>$job</td>
				        </tr>
				    <!--#end for#-->
				    </table>
			    <!--#else#-->
			    	$T('none')
			    <!--#end if#-->
			</div>

		</div>

	</div>
	<!-- end feed tab -->
	<!--#end if#-->

</div>

<!--#include $webdir + "/_inc_footer.tmpl"#-->
