<!--#set global $pane="Index Sites"#-->
<!--#set global $help_uri="Configure+Indexers-0-7"#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->

<form action="saveNewzbin" method="post" name="fullform" id="fullform" autocomplete="off">
<input type="hidden" name="session" id="session" value="$session">

<div id="config-components">

  <div id="core-component-group1" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>NzbMatrix $T('accountInfo')</h3>
      <p>$T('explain-nzbmatrix')</p>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <label class="nocheck clearfix" for="matrix_username">
          <span class="component-title">$T('opt-username_matrix')</span>
          <input type="text" name="matrix_username" id="matrix_username" value="$matrix_username"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-username_matrix')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="matrix_apikey">
          <span class="component-title">$T('opt-apikey_matrix')</span>
            <input type="text" name="matrix_apikey" id="matrix_apikey" value="$matrix_apikey" class="apikey" />
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-apikey_matrix')</span>
        </label>
      </div>
      <div class="field-pair">
        <input type="checkbox" name="matrix_del_bookmark" id="matrix_del_bookmark" value="1" <!--#if $matrix_del_bookmark > 0 then "checked=1" else ""#--> />
        <label class="clearfix" for="matrix_del_bookmark">
          <span class="component-title">$T('opt-newzbin_unbookmark')</span>
          <span class="component-desc">$T('explain-newzbin_unbookmark')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group1 -->

  <div class="component-group-last clearfix">
    <div class="component-group-desc">
      <h3>&nbsp;</h3>
    </div>
    <fieldset class="component-group-list">
      <div class="left_links">
        <a id="save"><span class="config_sprite_container sprite_config_save">&nbsp;</span> $T('button-saveChanges')</a>
      </div>
    </fieldset>
  </div><!-- /component-group -->

</div>

</form>

<!--#include $webdir + "/_inc_footer.tmpl"#-->
