#if $pane=="Connections" or $pane=="Config"#
    #set global $path = '..'#
#else#
    #set global $path = '../..'#
#end if#

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"/>
<html>
<head>
    
    <title>SABnzbd+ $version - $T('queued'): $mbleft $T('MB')</title>
    
    #if $color_scheme#
    <link rel="shortcut icon" type="image/ico" href="$path/static/stylesheets/colorschemes/$color_scheme/images/sabnzbdplus.ico"/>
    <link rel="stylesheet" type="text/css" href="$path/static/stylesheets/colorschemes/$color_scheme/$color_scheme.css?$version"/>
    <link rel="stylesheet" type="text/css" href="$path/static/stylesheets/colorschemes/$color_scheme/$color_scheme.css?$version"/>
    <link rel="stylesheet" type="text/css" href="$path/static/stylesheets/jqueryui/black-tie/jquery-ui-1.8.6.custom.css?$version"/>
    #else#
    <link rel="shortcut icon" type="image/ico" href="$path/static/stylesheets/colorschemes/gold/images/sabnzbdplus.ico"/>
    <link rel="stylesheet" type="text/css" href="$path/static/stylesheets/colorschemes/gold/gold.css?$version"/>
    <link rel="stylesheet" type="text/css" href="$path/static/stylesheets/jqueryui/black-tie/jquery-ui-1.8.6.custom.css?$version"/>
    #end if#
    
    <script type="text/javascript" src="$path/static/javascripts/lib.js?$version"></script>
    <script type="text/javascript" src="$path/static/javascripts/config.js?$version"></script>

	<script type="text/javascript">
        var config_pane = "$pane";
        var help_uri = "$help_uri";
        var apikey = "$session";
		var confirmWithoutSavingPrompt = "$T('Plush-confirmWithoutSavingPrompt')";
    </script>
    
</head>
<body class="config_body">
    
    <div id="config_go_back"><div class="main_sprite_container sprite_sabnzbdplus_logo"><a href="$path/">$T('button-back')</a></div></div>
    
    <div class="config_nav">
        <ul>
            <li><a class="#if $pane=="Connections"#nav_active#end if#" href="$path/connections">
            	<div class="config_sprite_container sprite_config_nav_connections">$T('menu-cons')</div></a></li>
            <li><a class="#if $pane=="General"#nav_active#end if#" id="config_nav_general" href="$path/config/general">
            	<div class="config_sprite_container sprite_config_nav_general">$T('cmenu-general')</div></a></li>
            <li><a class="#if $pane=="Folders"#nav_active#end if#" id="config_nav_directories" href="$path/config/directories">
            	<div class="config_sprite_container sprite_config_nav_folders">$T('cmenu-folders')</div></a></li>
            <li><a class="#if $pane=="Switches"#nav_active#end if#" id="config_nav_switches" href="$path/config/switches">
            	<div class="config_sprite_container sprite_config_nav_switches">$T('cmenu-switches')</div></a></li>
            <li><a class="#if $pane=="Servers"#nav_active#end if#" id="config_nav_server" href="$path/config/server">
            	<div class="config_sprite_container sprite_config_nav_servers">$T('cmenu-servers')</div></a></li>
            <li><a class="#if $pane=="Scheduling"#nav_active#end if#" id="config_nav_scheduling" href="$path/config/scheduling">
            	<div class="config_sprite_container sprite_config_nav_scheduling">$T('Plush-cmenu-scheduling')</div></a></li>
            <li><a class="#if $pane=="RSS"#nav_active#end if#" id="config_nav_rss" href="$path/config/rss">
            	<div class="config_sprite_container sprite_config_nav_rss">$T('cmenu-rss')</div></a></li>
            <li><a class="#if $pane=="Email"#nav_active#end if#" id="config_nav_email" href="$path/config/email">
            	<div class="config_sprite_container sprite_config_nav_email">$T('cmenu-email')</div></a></li>
            <li><a class="#if $pane=="Index Sites"#nav_active#end if#" id="config_nav_index_sites" href="$path/config/newzbin">
            	<div class="config_sprite_container sprite_config_nav_indexsites">$T('cmenu-newzbin')</div></a></li>
            <li><a class="#if $pane=="Categories"#nav_active#end if#" id="config_nav_categories" href="$path/config/categories">
            	<div class="config_sprite_container sprite_config_nav_categories">$T('cmenu-cat')</div></a></li>
            <li><a class="#if $pane=="Sorting"#nav_active#end if#" id="config_nav_sorting" href="$path/config/sorting">
            	<div class="config_sprite_container sprite_config_nav_sorting">$T('cmenu-sorting')</div></a></li>
        </ul>
    </div>
    
    <div id="config_container" class="config_margin">
        <div id="config_content">
