<!--#set global $pane="General"#-->
<!--#set global $help_uri="Configure+General-0-7"#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->

<form action="saveGeneral" method="post" name="fullform" id="fullform" autocomplete="off">
<input type="hidden" id="session" name="session" value="$session">

<div id="config-components">

  <div id="core-component-group1" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>$T('webServer')</h3>
      <p><b>$T('restartRequired')</b></p>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <label class="nocheck clearfix" for="host">
          <span class="component-title">$T('opt-host')</span>
          <input type="text" name="host" id="host" value="$host"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-host')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="port">
          <span class="component-title">$T('opt-port')</span>
          <input type="text" name="port" id="port" size=8 value="$port"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-port')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="username">
          <span class="component-title">$T('opt-web_username')</span>
          <input type="text" name="username" id="username" value="$username"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-web_username')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="password">
          <span class="component-title">$T('opt-web_password')</span>
          <input type="password" name="password" id="password" value="$password"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-web_password')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="web_dir">
          <span class="component-title">$T('opt-web_dir')</span>
          <select name="web_dir" id="web_dir">
          <!--#for $webline in $web_list#-->
          <!--#if $webline.lower() == $web_dir.lower()#-->
            <option value="$webline" selected>$webline</option>
          <!--#else#-->
            <option value="$webline">$webline</option>
          <!--#end if#-->
          <!--#end for#-->
          </select>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-web_dir')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="web_dir2">
          <span class="component-title">$T('opt-web_dir2')</span>
          <select name="web_dir2" id="web_dir2">
          <!--#for $webline in $web_list2#-->
          <!--#if $webline.lower() == $web_dir2.lower()#-->
            <option value="$webline" selected>$webline</option>
          <!--#else#-->
            <option value="$webline">$webline</option>
          <!--#end if#-->
          <!--#end for#-->
          </select>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-web_dir2')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="language">
          <span class="component-title">$T('opt-language')</span>
          <select name="language" id="language" id="language" class="select">
          <!--#for $webline in $lang_list#-->
            <!--#if $webline[0].lower() == $language.lower()#-->
              <option value="$webline[0]" selected>$webline[1]</option>
            <!--#else#-->
              <option value="$webline[0]">$webline[1]</option>
            <!--#end if#-->
          <!--#end for#-->
          </select>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-language')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="apikey">
          <span class="component-title">$T('opt-apikey')</span>
          <input type="text" id="apikey" value="$session" class="apikey">
          <input type="button" class="juiButton" value="$T('button-apikey')" id="generate_new_apikey" rel="$T('Plush-confirm')">
          <input type="button" class="juiButton show_qrcode" value="$T('qr-code')" title="$T('explain-qr-code')" href="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=$session" >
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-apikey')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="nzbkey">
          <span class="component-title">$T('opt-nzbkey')</span>
          <input type="text" id="nzbkey" value="$nzb_key" class="apikey">
          <input type="button" class="juiButton" value="$T('button-apikey')" id="generate_new_nzbkey" rel="$T('Plush-confirm')">
          <input type="button" class="juiButton show_qrcode" value="$T('qr-code')" title="$T('explain-qr-code')" href="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=$nzb_key" >
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-nzbkey')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="clearfix" for="disable_api_key">
          <input type="checkbox" name="disable_api_key" id="disable_api_key" value="1" <!--#if $disable_api_key > 0 then 'checked="1"' else ""#--> />
          <span class="component-title">$T('opt-disableApikey')</span>
          <span class="component-desc">$T('explain-disableApikey')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group1 -->

  <div id="core-component-group2" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>$T('httpsSupport')</h3>
      <p><b>$T('restartRequired')</b></p>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <label class="clearfix" for="enable_https">
          <input type="checkbox" name="enable_https" id="enable_https" value="1" <!--#if $enable_https > 0 then 'checked="1"' else ""#--> <!--#if int($have_ssl) == 0 then "disabled" else ""#--> />
          <span class="component-title">$T('opt-enable_https')</span>
          <span class="component-desc">$T('explain-enable_https')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="https_port">
          <span class="component-title">$T('opt-https_port')</span>
          <input type="text" name="https_port" id="https_port" size="8" value="$https_port"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-https_port')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="https_cert">
          <span class="component-title">$T('opt-https_cert')</span>
          <input type="text" name="https_cert" id="https_cert" value="$https_cert"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-https_cert')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="https_key">
          <span class="component-title">$T('opt-https_key')</span>
          <input type="text" name="https_key" id="https_key" value="$https_key"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-https_key')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group2 -->

  <div id="core-component-group3" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>$T('tuning')</h3>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <label class="nocheck clearfix" for="bandwidth_limit">
          <span class="component-title">$T('opt-bandwidth_limit')</span>
          <input type="text" name="bandwidth_limit" id="bandwidth_limit" value="$bandwidth_limit" size=8 />
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-bandwidth_limit')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="cache_limit">
          <span class="component-title">$T('opt-cache_limitstr')</span>
          <input type="text" name="cache_limit" id="cache_limit" value="$cache_limit" size=8 />
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-cache_limitstr')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="cleanup_list">
          <span class="component-title">$T('opt-cleanup_list')</span>
          <input type="text" name="cleanup_list" id="cleanup_list" value="$cleanup_list" size=40 />
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-cleanup_list')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group3 -->

  <div class="component-group-last clearfix">
    <div class="component-group-desc">
      <h3>&nbsp;</h3>
    </div>
    <fieldset class="component-group-list">
      <div class="left_links">
        <a id="save"><span class="config_sprite_container sprite_config_save">&nbsp;</span> $T('button-saveChanges')</a>
        <a href="../restart?session=$session" id="sabnzbd_restart" rel="$T('explain-Restart').replace("<br />","\n")">
          <span class="config_sprite_container sprite_config_general_restart">&nbsp;</span> $T('button-restart') SABnzbd</a>
      </div>
    </fieldset>
  </div><!-- /component-group -->

</div><!-- /config-components -->

</form>

<!--#include $webdir + "/_inc_footer.tmpl"#-->
