<!--#set global $pane="Index Sites"#-->
<!--#set global $help_uri="Configure+Indexers-0-7"#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->

<form action="saveNewzbin" method="post" name="fullform" id="fullform" autocomplete="off">
<input type="hidden" name="session" id="session" value="$session">

<div id="config-components">

  <div id="core-component-group1" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>NzbMatrix $T('accountInfo')</h3>
      <p>$T('explain-nzbmatrix')</p>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <label class="nocheck clearfix" for="matrix_username">
          <span class="component-title">$T('opt-username_matrix')</span>
          <input type="text" name="matrix_username" id="matrix_username" value="$matrix_username"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-username_matrix')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="matrix_apikey">
          <span class="component-title">$T('opt-apikey_matrix')</span>
            <input type="text" name="matrix_apikey" id="matrix_apikey" value="$matrix_apikey" class="apikey" />
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-apikey_matrix')</span>
        </label>
      </div>
      <div class="field-pair">
        <input type="checkbox" name="matrix_del_bookmark" id="matrix_del_bookmark" value="1" <!--#if $matrix_del_bookmark > 0 then "checked=1" else ""#--> />
        <label class="clearfix" for="matrix_del_bookmark">
          <span class="component-title">$T('opt-newzbin_unbookmark')</span>
          <span class="component-desc">$T('explain-newzbin_unbookmark')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group1 -->

  <div id="core-component-group2" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>Newzbin $T('accountInfo')</h3>
      <p>$T('explain-newzbin')</p>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <label class="nocheck clearfix" for="username_newzbin">
          <span class="component-title">$T('opt-username_newzbin')</span>
          <input type="text" name="username_newzbin" id="username_newzbin" value="$username_newzbin"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-username_newzbin')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <label class="nocheck clearfix" for="password_newzbin">
          <span class="component-title">$T('opt-password_newzbin')</span>
          <input type="password" name="password_newzbin" id="password_newzbin" value="$password_newzbin"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-password_newzbin')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group2 -->

  <div id="core-component-group3" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>Newzbin $T('newzbinBookmarks')</h3>
      <p>
        <input type="button" class="juiButton" id="getBookmarks" value="$T('link-getBookmarks')" />
        <br/><br/>
        <!--#if $bookmarks_list#-->
        <input type="button" class="juiButton" id="hideBookmarks" value="$T('link-HideBM')" />
        <!--#else#-->
        <input type="button" class="juiButton" id="showBookmarks" value="$T('link-ShowBM')" />
        <!--#end if#-->
      </p>
    </div>
    <fieldset class="component-group-list">
      <div class="field-pair">
        <input type="checkbox" name="newzbin_bookmarks" id="newzbin_bookmarks" value="1" <!--#if $newzbin_bookmarks > 0 then "checked=1" else ""#--> />
        <label class="clearfix" for="newzbin_bookmarks">
          <span class="component-title">$T('opt-newzbin_bookmarks')</span>
          <span class="component-desc">$T('explain-newzbin_bookmarks')</span>
        </label>
      </div>
      <div class="field-pair alt">
        <input type="checkbox" name="newzbin_unbookmark" id="newzbin_unbookmark" value="1" <!--#if $newzbin_unbookmark > 0 then "checked=1" else ""#--> />
        <label class="clearfix" for="newzbin_unbookmark">
          <span class="component-title">$T('opt-newzbin_unbookmark')</span>
          <span class="component-desc">$T('explain-newzbin_unbookmark')</span>
        </label>
      </div>
      <div class="field-pair">
        <label class="nocheck clearfix" for="bookmark_rate">
          <span class="component-title">$T('opt-bookmark_rate')</span>
          <input type="text" name="bookmark_rate" id="bookmark_rate" size="6" value="$bookmark_rate"/>
        </label>
        <label class="nocheck clearfix">
          <span class="component-title">&nbsp;</span>
          <span class="component-desc">$T('explain-bookmark_rate')</span>
        </label>
      </div>
    </fieldset>
  </div><!-- /component-group3 -->

  <!--#if $bookmarks_list#-->
  <div id="core-component-group4" class="component-group clearfix">
    <div class="component-group-desc">
      <h3>Newzbin $T('accountInfo')</h3>
      <p>$T('explain-newzbin')</p>
    </div>
    <fieldset class="component-group-list">
      <!--#for $msgid in $bookmarks_list#-->
      <a href="https://$newzbin_url/browse/post/$msgid/" target="_blank">$msgid</a><br/>
      <!--#end for#-->
    </fieldset>
  </div><!-- /component-group4 -->
  <!--#end if#-->

  <div class="component-group-last clearfix">
    <div class="component-group-desc">
      <h3>&nbsp;</h3>
    </div>
    <fieldset class="component-group-list">
      <div class="left_links">
        <a id="save"><span class="config_sprite_container sprite_config_save">&nbsp;</span> $T('button-saveChanges')</a>
      </div>
    </fieldset>
  </div><!-- /component-group -->

</div>

</form>

<!--#include $webdir + "/_inc_footer.tmpl"#-->
