<!--#set global $pane="Main"#-->
<!--#set global $help_uri=""#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->

  <div id="page-wrap" class="tiley_sprite_container sprite_tile_queue_wrap">

  <div id="hdr-queue" class="tilex_sprite_container sprite_tile_qh">
    <div class="logo main_sprite_container sprite_topleft_queue"><h1><!--#if $active_lang in ('de', 'fr') then $T('menu-queue') else $T('menu-queue').upper()#--></h1></div>
    <form id="queueSearchForm" action="#"><input id="queueSearchBox" type="text" size="8" class="listSearchBox main_sprite_container sprite_h_search" /></form>
    <div class="queue-buttons queue-buttons-pause lang-$active_lang main_sprite_container sprite_topright_queue">
      <ul>
        <li class="main_sprite_container <!--#if $paused then 'sprite_q_pause_on' else 'sprite_q_pause'#-->" title="$T('link-pause') &frasl; $T('link-resume')" id="pause_resume"></li>
        <li class="main_sprite_container sprite_q_menu_pausefor">
          <a href="#"></a>
          <ul id="set_pause_list">
            <li><a href="javascript:void(0)" class="set_pause pointer" rel="5">$T('Plush-pause5m')</a></li>
            <li><a href="javascript:void(0)" class="set_pause pointer" rel="15">$T('Plush-pause15m')</a></li>
            <li><a href="javascript:void(0)" class="set_pause pointer" rel="30">$T('Plush-pause30m')</a></li>
            <li><a href="javascript:void(0)" class="set_pause pointer" rel="60">$T('Plush-pause1h')</a></li>
            <li><a href="javascript:void(0)" class="set_pause pointer" rel="180">$T('Plush-pause3h')</a></li>
            <li><a href="javascript:void(0)" class="set_pause pointer" rel="360">$T('Plush-pause6h')</a></li>
            <li><a href="javascript:void(0)" class="set_pause pointer" rel="custom" id="pauseForPrompt" title="$T('Plush-pauseForPrompt')">$T('Plush-pauseFor')</a></li>
          </ul>
        </li>
        <li id="pause_int"></li>
          <li class="main_sprite_container sprite_q_queue">
            <a class="sf-with-ul">$T('menu-queue')</a>
            <ul>
              <!--#if $have_quota#--><li><a id="reset_quota_now" class="pointer">$T('link-resetQuota')</a></li><!--#end if#-->
              <!--#if $have_rss_defined#--><li><a id="get_rss_now" class="pointer">$T('button-rssNow')</a></li><!--#end if#-->
              <!--#if $have_watched_dir#--><li><a id="get_watched_now" class="pointer">$T('sch-scan_folder')</a></li><!--#end if#-->
              <!--#if $pp_pause_event#--><li><a id="resume_pp" class="pointer">$T('sch-resume_post')</a></li><!--#end if#-->
              <li><a id="topmenu_toggle" class="pointer">$T('Plush-topMenu')</a></li>
              <li><a id="multiops_toggle" class="pointer">$T('Plush-multiOperations')</a></li>
              <li>
                <a class="sf-with-ul">$T('Plush-onQueueFinish'):
                  <br/>
                  <select id="onQueueFinish-option">
                    <option value=""></option>
                    <optgroup label="$T('eoq-actions')">
                      <option value="shutdown_program" <!--#if $finishaction == 'shutdown_program' then 'selected' else ''#-->>$T('shutdownSab')</option>
                      <!--#if $power_options#-->
                      <option value="shutdown_pc" <!--#if $finishaction == 'shutdown_pc' then 'selected' else ''#-->>$T('shutdownPc')</option>
                      <option value="standby_pc" <!--#if $finishaction == 'standby_pc' then 'selected' else ''#-->>$T('standbyPc')</option>
                      <option value="hibernate_pc" <!--#if $finishaction == 'hibernate_pc' then 'selected' else ''#-->>$T('hibernatePc')</option>
                      <!--#end if#-->
                    </optgroup>
                    <!--#if $script_list#-->
                    <optgroup label="$T('eoq-scripts')">
                      <!--#for $sc in $script_list#-->
                      <!--#if $sc != 'None'#-->
                      <option value="script_$sc" <!--#if $finishaction == 'script_'+$sc then 'selected' else ''#-->>$sc</option>
                      <!--#end if#-->
                      <!--#end for#-->
                    </optgroup>
                    <!--#end if#-->
                  </select>
                </a>
              </li>
              <li><a id="queue_purge" class="pointer" rel="$T('Plush-confirmPurgeQ')">$T('Plush-purge')</a></li>
              <li><a id="queue_retry" class="pointer" rel="$T('Plush-confirmRetryQ')">$T('link-retryAll')</a></li>
              <li>
                <a class="sf-with-ul">$T('Plush-sort')</a>
                <ul id="queue_sort_list">
                  <li class="queue_sort pointer" id="sortAgeAsc"><a>$T('Plush-sortAgeAsc')</a></li>
                  <li class="queue_sort pointer" id="sortAgeDesc"><a>$T('Plush-sortAgeDesc')</a></li>
                  <li class="queue_sort pointer" id="sortNameAsc"><a>$T('Plush-sortNameAsc')</a></li>
                  <li class="queue_sort pointer" id="sortNameDesc"><a>$T('Plush-sortNameDesc')</a></li>
                  <li class="queue_sort pointer" id="sortSizeAsc"><a>$T('Plush-sortSizeAsc')</a></li>
                  <li class="queue_sort pointer" id="sortSizeDesc"><a>$T('Plush-sortSizeDesc')</a></li>
                </ul>
              </li>
            </ul>
        </li>
      </ul>
    </div>
    <div class="centerpiece">
      <div class="main_sprite_container sprite_rounded_area_bg" id="time-left"><p><span id="stats_eta">&sdot;</span>&nbsp;$T('Plush-left')</p></div>
      <div class="sabnzbd_logo main_sprite_container sprite_sabnzbdplus_logo"></div>
      <div class="main_sprite_container sprite_rounded_area_bg_edged" id="speed"><p><span id="stats_speed">&sdot;</span></p></div>
      <div class="queue-buttons" id="speed-wrapper">
        <ul>
          <li class="main_sprite_container sprite_q_menu_pausefor">
            <ul>
              <li><span title="$T('Example'): 28%, 500K (=500KB/s), 5M (=5MB/s)">$T('Plush-maxSpeed'):&nbsp;&nbsp;<input type="text" id="maxSpeed-option" size="4" />&nbsp;&nbsp;% ($T('or') K/M)</span></li>
              <li><span>
                <input type="button" value="$T('Plush-reset')" id="maxSpeed-disable" class="float-right" />
                <input type="button" value="$T('button-save')" id="maxSpeed-enable" class="float-right" />
              </span></li>
            </ul>
        </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="queue-wrap" class="tiley_sprite_container sprite_tile_page_wrap">
    <div class="box_banner_hr main_sprite_container sprite_tile_qh_seperator"></div>

  <!-- multi-operations for queue processing -->
  <div id="multiops_bar" class="tilex_sprite_container sprite_tile_qhistory" style="display:none">
    <div id="multiops_inputs">

  <div class="left">
    <div id="multiops_title">$T('Plush-multiOperations')</div>
  </div>

  <div class="right">
    <input type="button" id="multi_reset" value="$T('Plush-reset')" />
    <input type="button" id="multi_apply" value="$T('Plush-applySelected')" />
  </div>

  <br class="clear"/>

  <div class="left">
    $T('nzo-selection'):&nbsp;
    <a id="multiops_select_all">$T('nzo-all').capitalize()</a> &sdot;
    <a id="multiops_select_range">$T('Plush-nzo-range').capitalize()</a> &sdot;
    <a id="multiops_select_invert">$T('nzo-invert').capitalize()</a> &sdot;
    <a id="multiops_select_none">$T('nzo-none').capitalize()</a>
  </div>


  <div class="right">
    <select id="multi_status"><optgroup label="$T('status')">
      <option value="">$T('status')</option>
      <option value="pause">$T('sch-pause')</option>
      <option value="resume">$T('sch-resume')</option>
    </optgroup></select>
<!--#if $cat_list#-->
  <select id="multi_cat"><optgroup label="$T('category')">
    <option value="">$T('category')</option>
  <!--#for $ct in $cat_list#-->
    <option value="$ct">$Tspec($ct)</option>
  <!--#end for#-->
  </optgroup></select>
<!--#end if#-->
  <select id="multi_priority"><optgroup label="$T('priority')">
    <option value="">$T('priority')</option>
    <option value="2">$T('pr-force')</option>
    <option value="1">$T('pr-high')</option>
    <option value="0">$T('pr-normal')</option>
    <option value="-1">$T('pr-low')</option>
  </optgroup></select>
  <select id="multi_pp"><optgroup label="$T('pp')">
    <option value="">$T('pp')</option>
    <option value="0">$T('pp-none')</option>
    <option value="1">$T('pp-repair')</option>
    <option value="2">$T('pp-unpack')</option>
    <option value="3">$T('pp-delete')</option>
  </optgroup></select>
<!--#if $script_list#-->
  <select id="multi_script"><optgroup label="$T('script')">
    <option value="">$T('script')</option>
  <!--#for $sc in $script_list#-->
    <!--#if $sc != "Default"#--><option value="$sc">$Tspec($sc)</option><!--#end if#-->
  <!--#end for#-->
  </optgroup></select>
<!--#end if#-->

  <div id="multi_delete" class="main_sprite_container icon_nzb_remove sprite_ql_cross_on" title="$T('nzo-delete')">&nbsp;</div>

  </div>
</div>
</div>

  <!-- Queue ( queue.tmpl )-->
  <div id="queue"></div>
    <div class="box_fatbottom tilex_sprite_container sprite_tile_qh_bottom" id="box_fatbottom_queue">
      <div class="right_stats nowrap" id="queue_stats"></div>
      <div class="left_stats">
        <select id="queue-pagination-perpage" class="pagination-perpage">
          <option value="5">5 / $T('Plush-page')</option>
          <option value="10">10 / $T('Plush-page')</option>
          <option value="20">20 / $T('Plush-page')</option>
          <option value="30">30 / $T('Plush-page')</option>
          <option value="40">40 / $T('Plush-page')</option>
          <option value="50">50 / $T('Plush-page')</option>
          <option value="9999999">$T('Plush-everything')</option>
        </select>
        <div class="initial-loading">&nbsp;</div>
        <div id="queue-pagination" class="pagination"></div>
      </div>
    </div>

  <!-- History Menu/Banner -->
  <div id="hdr-history" class="box_banner_history tilex_sprite_container sprite_tile_qhistory">
    <h1><!--#if $active_lang in ('de', 'fr') then $T('menu-history') else $T('menu-history').upper()#--> </h1>
    <div class="box_banner_r">
      <ul class="box_banner_menu">
        <li class="main_sprite_container sprite_h_purge show" id="hist_purge" title="$T('purgeHist')"></li>
        <li><select id="failed_only" style="margin-top:8px;">
          <option value="0">$T('showAllHis')</option>
          <option value="1">$T('showFailedHis')</option>
        </select></li>
        <li><form id="historySearchForm" action="#"><input id="historySearchBox" type="text" size="8" class="listSearchBox main_sprite_container sprite_h_search" /></form></li>
      </ul>
    </div>
  </div>
  <div class="box_banner_hr main_sprite_container sprite_tile_qh_seperator"></div>

  <!-- History ( history.tmpl ) -->
  <div id="history"></div>
  <div class="box_fatbottom history_stats tilex_sprite_container sprite_tile_qh_bottom">
    <div class="right_stats nowrap" id="history_stats"></div>
    <div class="left_stats">
      <select id="history-pagination-perpage" class="pagination-perpage">
        <option value="5">5 / $T('Plush-page')</option>
        <option value="10">10 / $T('Plush-page')</option>
        <option value="20">20 / $T('Plush-page')</option>
        <option value="30">30 / $T('Plush-page')</option>
        <option value="40">40 / $T('Plush-page')</option>
        <option value="50">50 / $T('Plush-page')</option>
        <option value="9999999">$T('Plush-everything')</option>
        <option value="1">$T('Plush-disabled')</option>
      </select>
      <div class="initial-loading">&nbsp;</div>
      <div id="history-pagination" class="pagination"></div>
    </div>
    <div class="plush_wrapper"><div class="main_sprite_container sprite_sabnzbdplus_plush">&nbsp;</div></div>
  </div>

  </div>

  <div id="btm-wrapper" class="tilex_sprite_container sprite_tile_bottom_wrap">
    <div class="main_sprite_container sprite_btm_corner_right"></div>
    <div class="main_sprite_container sprite_btm_corner_left"></div>
  </div>

  </div><!--#page_wrap-->

<!--#include $webdir + "/_inc_footer.tmpl"#-->
