<!--#set global $pane="Nzo"#-->
<!--#set global $help_uri=""#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->

  <!--#if $varExists('slot')#-->
    <form action="save" method="post" class="nzo_save_form">
      <input type="hidden" name="session" value="$session">

  <input type="text" name="name" size="70" value="$slot.filename_clean" />
  <input type="text" name="password" style="width:200px" size="100" value="$slot.password" placeholder="$T('srv-password')"/>

  <div>
  <select name="index"><optgroup label="$T('order')">
  <!--#for $i in xrange($noofslots)#-->
    <option value=$i <!--#if $i == $index then "selected" else ""#-->>$i</option>
  <!--#end for#-->
  </select>
  <!--#if $cat_list#-->
  <select name="cat"><optgroup label="$T('category')">
    <!--#for $ct in $cat_list#-->
    <option value="$ct" <!--#if $slot.cat.lower() == $ct.lower() then "selected" else ""#-->>$Tspec($ct)</option>
    <!--#end for#-->
  </optgroup></select>
  <!--#end if#-->
  <select name="priority"><optgroup label="$T('priority')">
    <option value="-100" <!--#if $slot.priority == "-100" then "selected" else ""#-->>$T('default')</option>
    <option value="2" <!--#if $slot.priority == "2" then "selected" else ""#-->>$T('pr-force')</option>
    <option value="1" <!--#if $slot.priority == "1" then "selected" else ""#-->>$T('pr-high')</option>
    <option value="0" <!--#if $slot.priority == "0" then "selected" else ""#-->>$T('pr-normal')</option>
    <option value="-1" <!--#if $slot.priority == "-1" then "selected" else ""#-->>$T('pr-low')</option>
  </optgroup></select>
  <select name="pp"><optgroup label="$T('pp')">
    <option value="0" <!--#if $slot.unpackopts == "0" then "selected" else ""#-->>$T('pp-none')</option>
    <option value="1" <!--#if $slot.unpackopts == "1" then "selected" else ""#-->>$T('pp-repair')</option>
    <option value="2" <!--#if $slot.unpackopts == "2" then "selected" else ""#-->>$T('pp-unpack')</option>
    <option value="3" <!--#if $slot.unpackopts == "3" then "selected" else ""#-->>$T('pp-delete')</option>
  </optgroup></select>
  <!--#if $script_list#-->
  <select name="script"><optgroup label="$T('script')">
    <!--#for $sc in $script_list#-->
    <option value="$sc" <!--#if $slot.script.lower() == $sc.lower() then "selected" else ""#-->>$Tspec($sc)</option>
    <!--#end for#-->
  </optgroup></select>
  <!--#end if#-->
  <input type="submit" class="juiButton" value="$T('button-save')" />
  </div>

  </form>
<!--#end if#-->

  <form action="bulk_operation" id="bulk_operation">
  <input type="hidden" name="session" value="$session">
  <input type="hidden" name="action_key" id="action_key" />

  <div class="config_nav lang-$active_lang">
    <ul>
      <li><a class="config_menu" id="nzo_reload"><span class="config_sprite_container sprite_nzo_reload">$T('Plush-button-refresh')</span></a></li>
      <br/>&nbsp;$T('nzo-action'):
      <li><a id="nzo_delete"><span class="config_sprite_container sprite_nzo_delete">$T('nzo-delete')</span></a></li>
      <li><a id="nzo_top"><span class="config_sprite_container sprite_nzo_top">$T('nzo-top')</span></a></li>
      <li><a id="nzo_up"><span class="config_sprite_container sprite_nzo_up">$T('nzo-up')</span></a></li>
      <li><a id="nzo_down"><span class="config_sprite_container sprite_nzo_down">$T('nzo-down')</span></a></li>
      <li><a id="nzo_bottom"><span class="config_sprite_container sprite_nzo_bottom">$T('nzo-bottom')</span></a></li>
      <br/>&nbsp;$T('nzo-selection'):
      <li><a id="nzo_select_all"><span class="config_sprite_container sprite_nzo_select_all">$T('nzo-all').capitalize()</span></a></li>
      <li><a id="nzo_select_range"><span class="config_sprite_container sprite_nzo_select_range">$T('Plush-nzo-range').capitalize()</span></a></li>
      <li><a id="nzo_select_invert"><span class="config_sprite_container sprite_nzo_select_invert">$T('nzo-invert').capitalize()</span></a></li>
      <li><a id="nzo_select_none"><span class="config_sprite_container sprite_nzo_select_none">$T('nzo-none').capitalize()</span></a></li>
    </ul>
  </div>

  <div id="config_container" class="config_margin config_margin_wide lang-$active_lang">
    <div id="config_content">

  <table class="nzoTable">
    <tr><th></th><th>$T('Plush-progress')</th><th>$T('nzo-filename')/$T('nzo-subject')</th><th>$T('nzo-age')</th></tr>
    <!--#set $oddLine = False#-->
    <!--#for $file in $active_files#-->
      <!--#set $oddLine = not $oddLine#-->
      <tr id="$file.nzf_id" class="nzf_row <!--#if $oddLine then "oddLine" else "evenLine"#--> active">
        <td><input type="checkbox" name="$file.nzf_id" id="box-$file.nzf_id" <!--#if $file.checked then "checked" else ""#-->></td>
        <td valign="middle">
          <div class="main_sprite_container sprite_progressbar_bg">
            <div class="main_sprite_container sprite_progress_done" style="background-position: -<!--#if $file.mb == "0.00" then "120" else int(120 - 120.0 / 100.0 * int(100 - float($file.mbleft) / float($file.mb) * 100))#-->px -401px">
              <div class="totalDownload">$file.mbleft&nbsp;<small>$T('Plush-left')</small></div>
              <div class="currentDownload">$file.mb&nbsp;<small>$T('MB')</small></div>
            </div>
          </div>
        </td>
        <td class="filename">$file.filename</td>
        <td class="alignRight">$file.age</td>
      </tr>
    <!--#end for#-->
  </table>

  </div>
</div>

  </form>


<!--#include $webdir + "/_inc_footer.tmpl"#-->
