<!--#set global $pane="Status"#-->
<!--#set global $help_uri="GUI+Status-0-7"#-->
<!--#include $webdir + "/_inc_header.tmpl"#-->

<div class="tabs">
  <ul>
    <li><a href="#tabs-warnings">$T('lastWarnings')</a></li>
    <li><a href="#tabs-connections">$T('connections').capitalize()</a></li>
    <li><a href="#tabs-repair">$T('Plush-tab-repair')</a></li>
    <li><a href="#tabs-dashboard">$T('dashboard-title')</a></li>
  </ul>

  <div id="tabs-warnings">
    <p>
      <a href="clearwarnings?session=$session" class="juiButton">$T('clearWarnings').capitalize()</a>
      <a href="showlog?session=$session" class="juiButton">$T('link-showLog')</a>
      <strong>$T('logging'):</strong> <select class="xsmall" id="logging_level">
        <option value="0" <!--#if $loglevel == "0" then "selected" else ""#-->>$T('log-errWarn')</option>
        <option value="1" <!--#if $loglevel == "1" then "selected" else ""#-->>$T('log-info')</option>
        <option value="2" <!--#if $loglevel == "2" then "selected" else ""#-->>$T('log-debug')</option>
      </select>
    </p>
    <p><!--#if int($cache_max)#--> &sdot; <!--#set $msg=$T('ft-buffer@2')%($cache_art, $cache_size)#-->$msg<!--#end if#--></p>
    <br/>
    <!--#if $warnings#-->
      <table class="rssTable">
        <tr>
          <th>$T('warn-when')</th>
          <th>$T('warn-type')</th>
          <th>$T('warning')</th>
        </tr>
      <!--#set $odd = False#-->
      <!--#for $warn in $warnings#-->
        <!--#set $odd = not $odd#-->
        <tr class="<!--#if $odd then "odd" else "even"#-->">
          <td>$warn.replace("\n","</td><td>", 2)</td></tr>
      <!--#end for#-->
      </table>
    <!--#else#-->
      <p>$T('none')</p>
    <!--#end if#-->
  </div>

  <div id="tabs-repair">
    <table>
      <tr><td>
        <form action="saveGeneral" method="post">
          <input type="submit" class="juiButton" onclick="this.form.action='../config/repair?session=$session'; this.form.submit(); return false;" value="$T('button-repair')"/>
        </form>
        </td><td style="padding-left:20px;"><p>$T('explain-Repair')</p></td></tr>
      <tr><td>
        <form action="saveGeneral" method="post">
          <input type="submit" class="juiButton" onclick="this.form.action='../config/restart?session=$session'; this.form.submit(); return false;" value="$T('button-restart')"/>
        </form>
        </td><td style="padding-left:20px;"><p>$T('explain-Restart')</p></td></tr>
    </table>

  <!--#if $folders#-->
    <br/><hr/><br/>
    <!--#if $folders#--><p><strong class="center">$T('explain-orphans')</strong></p><br/><!--#end if#-->
    <table class="rssTable">
      <tr>
        <th colspan="2"></th>
        <th>$T('name')</th>
      </tr>
    <!--#set $odd = False#-->
    <!--#for $folder in $folders#-->
    <!--#set $odd = not $odd#-->
      <tr class="<!--#if $odd then "odd" else "even"#-->">
        <td><form action="delete" method="get">
          <input type="hidden" value="$folder" name="name">
          <input type="hidden" value="$session" name="session">
          <input type="submit" class="juiButton" value="$T('button-delCat')">
        </form></td>
        <td><form action="add" method="get">
          <input type="hidden" value="$folder" name="name">
          <input type="hidden" value="$session" name="session">
          <input type="submit" class="juiButton" value="$T('button-add')">
        </form></td>
        <td>$folder</td>
      </tr>
    <!--#end for#-->
    </table>
  <!--#end if#-->
</div>



  <div id="tabs-connections">
  <a href="refresh_conn?session=$session" class="juiButton">$T('Plush-button-refresh')</a>
  <a href="disconnect?session=$session" class="juiButton">$T('link-forceDisc')</a>
  <hr>
  <!--#if $servers#-->
    <!--#set $count=0#-->
    <!--#for $server in $servers#-->
      <!--#set $count=$count+1#-->
      <p>$T('swtag-server'): <strong>$server[0]</strong></p>
      <p>$T('Priority') = $server[7]&nbsp;&nbsp;<!--#if int($server[8]) != 0#-->$T('optional').capitalize()<!--#else#-->$T('enabled').capitalize()<!--#end if#--></p>
      <p># $T('connections'): $server[2]</p>
      <!--#if not $server[5]#-->
        <a href="./unblock_server?server=$server[0]&session=$session" class="juiButton">$T('server-blocked')</a>
        &nbsp;&nbsp;$server[6]
      <!--#end if#-->
      <!--#if $server[3]#-->
        <table class="rssTable">
          <tr>
            <th>$T('article-id')</th>
            <th>$T('filename')</th>
            <th>$T('file-set')</th>
          </tr>
        <!--#set $odd = False#-->
        <!--#for $thrd in $server[3]#-->
        <!--#set $odd = not $odd#-->
          <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$thrd[1]</td><td>$thrd[2]</td><td>$thrd[3]</td></tr>
        <!--#end for#-->
        </table>
      <!--#end if#-->
      <br/><hr/><br/>
    <!--#end for#-->
  <!--#else#-->
    <p>$T('none')</p>
  <!--#end if#-->
  </div>

  <div id="tabs-dashboard">
    <table class="rssTable">
        <tr> 
            <th colspan="2">$T('dashboard-title')</th> 
        </tr>
        <!--#set $odd = False#-->

        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('dashboard-localIP4')</td>
            <td>  
                <!--#if $publicipv4#-->
                    $localipv4
                <!--#else#-->
                    <strong style="color: red;">$T('dashboard-connectionError')</strong>
                <!--#end if#-->
            </td>
        </tr>
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('dashboard-publicIP4')</td>
            <td>  
                <!--#if $publicipv4#-->
                    $publicipv4
                <!--#else#-->
                    <strong style="color: red;">$T('dashboard-connectionError')</strong>
                <!--#end if#-->
            </td>
        </tr>
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('dashboard-IP6')</td>
            <td>  
                <!--#if $ipv6#-->
                    $ipv6
                <!--#else#-->
                    $T('none')
                <!--#end if#-->
            </td>
        </tr>
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('dashboard-NameserverDNS')</td>
            <td>  
                <!--#if $dnslookup#-->
                    $dnslookup
                <!--#else#-->
		            <!--#if $publicipv4#-->
                        <strong style="color: red;">$T('none')</strong>
		            <!--#else#-->
                        <strong style="color: red;">$T('dashboard-connectionError')</strong>
                    <!--#end if#-->
                <!--#end if#-->
             </td>
        </tr>
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
           <td>$T('dashboard-systemPerformance')</td>
           <td>$pystone</td>
        </tr>
        <!--#if $cpumodel#-->
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('dashboard-cpuModel')</td>
            <td>$cpumodel</td>
        </tr>
        <!--#end if#-->
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('opt-download_dir')</td>
            <td>$downloaddir</td>
        </tr>
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('dashboard-writingSpeed')</td>
            <td>  
                <!--#if $downloaddirspeed >= 0 #-->
                    $downloaddirspeed MB/s
                <!--#elif $downloaddirspeed < 0 #-->
                   $T('dashboard-clickToStart')
                <!--#else#-->
                    <strong style="color: red;">$T('dashboard-speedTestFailed')</strong>
                <!--#end if#-->
            </td>
        </tr>
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('opt-complete_dir')</td>
            <td>$completedir</td>
        </tr>
        <!--#set $odd = not $odd#-->    
        <tr class="<!--#if $odd then "odd" else "even"#-->">
            <td>$T('dashboard-writingSpeed')</td>
            <td>  
                <!--#if $completedirspeed >=0 #-->
                    $completedirspeed MB/s
                <!--#elif $completedirspeed < 0 #-->
                    $T('dashboard-clickToStart')
                <!--#else#-->
                    <strong style="color: red;">$T('dashboard-speedTestFailed')</strong>
                <!--#end if#-->
            </td>
        </tr>
    </table>
    <br/>
    <a href="dashrefresh?session=$session" class="juiButton">$T('dashboard-repeatTest')</a>
  </div>
</div>


<!--#include $webdir + "/_inc_footer.tmpl"#-->
