<script type="text/javascript">
    jQuery(function($) {
		$.mobile.history_noofslots = $noofslots;
    });
</script>

<!--#if $lines#-->
<!--#for $line in $lines #-->

	<!-- <li class="arrow">
	<a href="#history_nzb"> -->

	<li id="$line.nzo_id">
	<a href="#">
	
		<!--#if $line.fail_message #-->
			<strike class="nzb_filename">$line.name</strike>
		<!--#else#-->
			<span class="nzb_filename">$line.name</span>
		<!--#end if#-->
		
	</a>
	</li>

<!--#end for#-->
<!--#end if#-->
