<% import datetime %>

<script type="text/javascript">
    jQuery(function($) {
		$.mobile.history_noofslots = $noofslots;
    });
</script>

<!--#if $lines#-->
<!--#for $line in $lines #-->

	<!-- <li class="arrow">
	<a href="#history_nzb"> -->

	<li class="arrow nzb_li" id="$line.nzo_id">

		<a href="#history_nzb" class="nzb_a">
			<!--#if $line.fail_message #-->
				<strike class="nzb_filename">$line.name</strike>
			<!--#else#-->
				<span class="nzb_filename">$line.name</span>
			<!--#end if#-->
		</a>

		<div class="history_nzb_details" style="display:none">
	
	        <div class="info">$line.name<br/>$line.status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$line.size</div>

        	<!--#if $line.action_line#-->
        		<div class="info">$line.action_line</div>
        	<!--#else if $line.fail_message#-->
        		<div class="info">$line.fail_message</div>
        	<!--#end if#-->

		    <div class="edgetoedge">
				<% compl = datetime.datetime.fromtimestamp(float(line['completed'])) %>
				<ul><li>$compl</li></ul>
				<!--#if $line.report or $line.url_info #-->
					<h4>$T('connections')</h4>
					<ul>
			        <!--#if $line.report #-->
			            <li class="arrow"><a href="https://www.newzbin.com/browse/post/$line.report/" target="_blank">
							https://www.newzbin.com/browse/post/$line.report
			            </a></li>
			        <!--#end if#-->
			        <!--#if $line.url_info #-->
			            <li class="arrow"><a href="$line.url_info" target="_blank">
			               $line.url_info
			            </a></li>
			        <!--#end if#-->
			        </ul>
		        <!--#end if#-->
	            <!--#for $stage in $line.stage_log#-->
	                <h4>$stage.name.title</h4>
	                <ul>
	                <!--#for $action in $stage.actions#-->
	                     <li>$action</li>
	                <!--#end for#-->
	                </ul>
	            <!--#end for#-->
	            <!--#if $line.category#-->
	                <h4>$T('category')</h4>
	                <ul><li>$line.category</li></ul>
	            <!--#end if#-->
	            <!--#if $line.storage#-->
	                <h4>$T('catFolderPath')</h4>
	                <ul><li>$line.storage</li></ul>
	            <!--#end if#-->
			</div>

		</div>
		
	</li>

<!--#end for#-->
<!--#end if#-->
