<!doctype html>
<html>
<head>

    <meta charset="UTF-8" />
    <title>SAB+</title>

    <style type="text/css" media="screen">@import "static/stylesheets/jqtouch.min.css?$version";</style>
    <link rel="stylesheet" type="text/css" href="static/stylesheets/colorschemes/$color_scheme?$version"/>

    <script src="static/javascripts/mobile.js?$version" type="application/x-javascript" charset="utf-8"></script>
	<script type="text/javascript">
	    jQuery(function($) {
			$.mobile.apikey = "$session";
			$.mobile.TconfirmDelete = "$T('Mobile-confirm-delete')";
		});
	</script>

</head>
<body>


    <div id="home">
        <div class="toolbar">
            <h1>SAB+ Mobile</h1>
            <a class="button" id="refresh" href="#">$T('Mobile-button-refresh')</a>
        </div>
		<!--
        <h2>Downloading</h2>
        <ul>
            <li class="arrow"><a href="#queue_nzb"><small>10%</small> the active nzb</a>12:34:56 &sdot; 789 MB</li>
            <li class="arrow"><a href="#queue_options">12:34:56 &sdot; 789 MB &sdot; 100 KB/s</a></li>
        </ul>
		-->
        <ul>
            <li class="arrow"><a href="#queue">$T('menu-queue')</a> <small class="counter" id="queueCount">&nbsp;</small></li>
            <li class="arrow"><a href="#history">$T('menu-history')</a> <small class="counter" id="historyCount">&nbsp;</small></li>
        </ul>
        <ul class="edit">
        	<li><span class="toggle"><input type="checkbox" id="pause" /></span><a href="#">$T('link-pause')</a>
        			<small class="counter" id="pause_timeleft" style="display:none;margin-right:6px;"></small></li>
            <li class="forward"><a href="#addnzb">$T('add') NZB</a></li>
        </ul>
    </div>

    
    <div id="queue" class="plastic">
        <div class="toolbar">
    		<h1>$T('menu-queue')</h1>
    		<a href="#" class="back">$T('button-back')</a>
            <a class="button slideup" id="queue_options_button" href="#queue_options">$T('Mobile-button-options')</a>
    	</div>
    	<ul id="queueList"></ul>
        <h4 align="center">$T('Mobile-page')&nbsp;&nbsp;&nbsp;<span id="queue_page_current"></span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span id="queue_page_total"></span></h4>
        <ul class="individual">
        	<li><a href="#" class="grayButton" id="queue_page_prev">&laquo; $T('Mobile-button-prev')</a></li>
        	<li><a href="#" class="grayButton" id="queue_page_next">$T('Mobile-button-next') &raquo;</a></li>
        </ul>
    </div>


    <div id="queue_options">
        <div class="toolbar">
    		<h1>$T('Mobile-button-options')</h1>
            <a class="button goback" id="queue_options_button" href="#">$T('Mobile-button-close')</a>
    	</div>
        <ul class="edit">
        	<li><a href="#">$T('speedLimit'): ($T('KBs'))</a><input type="text" placeholder="$T('none')" id="speed_limit" /></li>
        	<li class="arrow"><a href="#queue_options_pauseinterval">$T('Mobile-button-pauseInterval')</a></li>
        </ul>
    </div>


    <div id="queue_options_pauseinterval">
        <div class="toolbar">
    		<h1>$T('Mobile-pauseInterval')</h1>
    		<a href="#" class="back">$T('button-back')</a>
    	</div>
        <ul class="edit">
        	<li><a href="#" class="pause_interval" rel="5">$T('Mobile-pause5m')</a></li>
        	<li><a href="#" class="pause_interval" rel="15">$T('Mobile-pause15m')</a></li>
        	<li><a href="#" class="pause_interval" rel="30">$T('Mobile-pause30m')</a></li>
        	<li><a href="#" class="pause_interval" rel="60">$T('Mobile-pause1h')</a></li>
        	<li><a href="#" class="pause_interval" rel="180">$T('Mobile-pause3h')</a></li>
        	<li><a href="#" class="pause_interval" rel="360">$T('Mobile-pause6h')</a></li>
        	<li><a href="#" class="pause_interval" rel="720">$T('Mobile-pause12h')</a></li>
        	<li><a href="#" class="pause_interval" rel="1440">$T('Mobile-pause24h')</a></li>
        </ul>
    </div>
    

    <div id="queue_nzb">
        <div class="toolbar">
    		<h1>$T('menu-queue') NZB</h1>
    		<a href="#" class="back">$T('button-back')</a>
    	</div>
        <div>
        	<h2>nzb name</h2>
        	<br/>size
        	<br/>age
        	<br/>eta
        	<br/>percentage
        	<br/>(eventually cat/priority/etc)
        </div>
    </div>

    
    <div id="history" class="plastic">
        <div class="toolbar">
    		<h1>$T('menu-history')</h1>
    		<a href="#" class="back">$T('button-back')</a>
    	</div>
    	<ul id="historyList"></ul>
        <h4 align="center">$T('Mobile-page')&nbsp;&nbsp;&nbsp;<span id="history_page_current"></span>&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;<span id="history_page_total"></span></h4>
		<ul class="individual">
        	<li><a href="#" class="grayButton" id="history_page_prev">&laquo; $T('Mobile-button-prev')</a></li>
        	<li><a href="#" class="grayButton" id="history_page_next">$T('Mobile-button-next') &raquo;</a></li>
        </ul>
    </div>

    
    <div id="history_nzb">
        <div class="toolbar">
    		<h1>$T('menu-history') NZB</h1>
    		<a href="#" class="back">$T('button-back')</a>
    	</div>
        <div>
        	<h2>nzb name</h2>
        	<br/>((history verbosity))
        	<br/>((history verbosity))
        	<br/>((history verbosity))
        	<br/>((history verbosity))
        </div>
    </div>


    <div id="addnzb">
        <div class="toolbar">
    		<h1>$T('add') NZB</h1>
    		<a href="#" class="back">$T('button-back')</a>
    	</div>
        <ul class="edit">
        	<li><input type="text" name="addnzb_url" placeholder="Enter NZB URL" id="addnzb_url" /></li>
        </ul>
        <ul class="individual">
        	<li><a href="#" class="grayButton" id="addnzb_enqueue">$T('button-add')</a></li>
        	<li><a href="#" class="grayButton" id="addnzb_clear">$T('button-clear')</a></li>
        </ul>
		<!--#if $varExists('newzbinDetails')#-->
		<ul>
        	<li><a href="#" class="grayButton" id="fetch_newzbin_bookmarks">$T('link-getBookmarks')</a></li>
        </ul>
    	<!--#end if#-->
        <div id="addnzb_response" class="info" style="display:none; font-weight: normal;">
			$T('sort-result'): <span class="addnzb_response_text"></span>
        </div>
    </div>
    
    
</body>
</html>
