<script type="text/javascript">
    jQuery(function($) {
		$.mobile.queue_noofslots	= $noofslots;
		$.mobile.paused 			= <!--#if $paused#-->true<!--#else#-->false<!--#end if#-->;
        $.mobile.speed_limit		= '$speedlimit';
        $.mobile.pause_int			= '$pause_int';
    });
</script>


<!--#if $varExists('slots')#-->
<!--#for $slot in $slots#-->
	
	<!-- <li class="arrow">
	<a href="#history_nzb"> -->

	<li>
	<a href="#">
		
		<!--#if $slot.status == "Paused"#-->
			<small class="nzb_stats" style="display:none;">&nbsp;$T('ft-paused')</small>&zwj;<small>$slot.percentage%</small>
			<strike>$slot.filename</strike>
		<!--#else if not $paused #-->
			<small class="nzb_stats" style="display:none;">&nbsp;$slot.timeleft[:-3]</small>&zwj;<small>$slot.percentage%</small>
			$slot.filename
		<!--#end if#-->
		
	</a>
	</li>

<!--#end for#-->
<!--#end if#-->
