
    <form title="Switches" id="Switches" class="panel" action="javascript:var dummy=0" method="POST" selected="true">
        <h2>Configuration switches</h2>
         <fieldset>
            <div class="row">
    		    <label>Enable Unrar:</label><br/><br/>
    		    <input type="hidden" id="enable_unrar" name="enable_unrar" value="$enable_unrar">
                <div class="toggle" onclick="toggleValue('enable_unrar')" <!--#if $enable_unrar > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
                
            </div>
            <div class="row">
    		    <label>Enable Unzip:</label><br/><br/>
                <input type="hidden" id="enable_unzip" name="enable_unzip" value="$enable_unzip">
                <div class="toggle" onclick="toggleValue('enable_unzip')" <!--#if $enable_unzip > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
            </div>
            <div class="row">
    		    <label>Enable Filejoin:</label><br/><br/>
                <input type="hidden" id="enable_filejoin" name="enable_filejoin" value="$enable_filejoin">
                <div class="toggle" onclick="toggleValue('enable_filejoin')" <!--#if $enable_filejoin > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
            </div>
            <div class="row">
    		    <label>Enable Par Cleanup:</label><br/><br/>
                <input type="hidden" id="enable_par_cleanup" name="enable_par_cleanup" value="$enable_par_cleanup">
                <div class="toggle" onclick="toggleValue('enable_par_cleanup')" <!--#if $enable_par_cleanup > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
            </div>
            <div class="row">
    		    <label>Fail on yenc crc Errors:</label><br/><br/>
                <input type="hidden" id="fail_on_crc" name="fail_on_crc" value="$fail_on_crc">
                <div class="toggle" onclick="toggleValue('fail_on_crc')" <!--#if $fail_on_crc > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
            </div>
            <div class="row">
    		    <label>Top Only:</label><br/><br/>
                <input type="hidden" id="top_only" name="top_only" value="$top_only">
                <div class="toggle" onclick="toggleValue('top_only')" <!--#if $top_only > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
            </div>
            <div class="row">
    		    <label>Safe Post-Process:</label><br/><br/>
                <input type="hidden" id="fail_on_crc" name="safe_postproc" value="$safe_postproc">
                <div class="toggle" onclick="toggleValue('safe_postproc')" <!--#if $safe_postproc > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
            </div>
            <div class="row">

		    <label>Dirscan Options:</label><br/><br/>
            
            <select style="margin:0px;padding:0px;margin-left:15px;" name="dirscan_opts" id="webdir">
    		    <option name="dirscan_opts" value="0" <!--#if $dirscan_opts == 0 then "selected" else ""#--> /> None</option>
    		    <option name="dirscan_opts" value="1" <!--#if $dirscan_opts == 1 then "selected" else ""#--> /> +Repair</option>
    		    <option name="dirscan_opts" value="2" <!--#if $dirscan_opts == 2 then "selected" else ""#--> /> +Unpack</option>
    		    <option name="dirscan_opts" value="3" <!--#if $dirscan_opts == 3 then "selected" else ""#--> /> +Delete</option>
            </select>
    		</div>
            <div class="row">

            <label>User Script:</label><br/><br/>
            
          	<select style="margin:0px;padding:0px;margin-left:15px;" name="script" id="script">
            <!--#for $sc in $script_list#-->
                <!--#if $sc.lower() == $script.lower()#-->
                    <option value="$sc" selected>$sc</option>
                <!--#else#-->
                    <option value="$sc">$sc</option>
                <!--#end if#-->
            <!--#end for#-->
            </select>
            </div>
        <div class="row"> 		
			<label>Extra PAR2 parameters:</label><br/><br/>
			<input type="text" style="margin:0px;padding:0px;margin-left:15px;" size="25" name="par_option" value="$par_option">
		
        </div>
        </fieldset>

        <h2>Other switches</h2>
         <fieldset>
            <div class="row">

		    <label>Disconnect on empty queue</label><br/><br/>
            <input type="hidden" id="auto_disconnect" name="auto_disconnect" value="$auto_disconnect">
                <div class="toggle" onclick="toggleValue('auto_disconnect')" <!--#if $auto_disconnect > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
		</div>
            <div class="row">

		    <label>Send Group</label><br/><br/>
            <input type="hidden" id="send_group" name="send_group" value="$send_group">
                <div class="toggle" onclick="toggleValue('send_group')" <!--#if $send_group > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
		</div>
            <div class="row">

		    <label>Auto Sort:</label><br/><br/>
            <input type="hidden" id="auto_sort" name="auto_sort" value="$auto_sort">
                <div class="toggle" onclick="toggleValue('auto_sort')" <!--#if $auto_sort > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
 		</div>
            <div class="row">

			<label>Check for new release:</label><br/><br/>
            <input type="hidden" id="check_rel" name="check_rel" value="$check_rel">
                <div class="toggle" onclick="toggleValue('check_rel')" <!--#if $check_rel > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
 		</div>
            <div class="row">

			<label>Replace spaces in foldername:</label><br/><br/>
            <input type="hidden" id="replace_spaces" name="replace_spaces" value="$replace_spaces">
                <div class="toggle" onclick="toggleValue('replace_spaces')" <!--#if $replace_spaces > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
 		</div>
            <div class="row">

			<label>Replace illegal characters in foldernames:</label><br/><br/>
            <input type="hidden" id="replace_illegal" name="replace_illegal" value="$replace_illegal">
                <div class="toggle" onclick="toggleValue('replace_illegal')" <!--#if $replace_illegal > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
 		</div>
            <div class="row">

			<label>Launch browser on startup:</label><br/><br/>
            <input type="hidden" id="auto_browser" name="auto_browser" value="$auto_browser">
                <div class="toggle" onclick="toggleValue('auto_browser')" <!--#if $auto_browser > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
 		</div>
            <div class="row">

			<label>Ignore sample files:</label><br/><br/>
            <input type="hidden" id="ignore_samples" name="ignore_samples" value="$ignore_samples">
                <div class="toggle" onclick="toggleValue('ignore_samples')" <!--#if $ignore_samples > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
 		</div>
        </fieldset>

        <!--<a class="whiteButton" type="submit" >Search</a>-->
        <input type="submit" action="javascript:var dummy=0" onClick="javascript:history.back();submitconfig('config/switches/saveSwitches', 'Switches')" value="Save Changes">
    </form>


