<ul title="Scheduling" selected="true">
            
    <li><a href="#addSchedule">Add New Schedule</a></li>
    <!--#for $line in $schedlines#-->
    <!--#set sanitisedLine = $line.replace(' ','_') #-->
    <li><a href="#$sanitisedLine">$line</a></li>
    <!--#end for#-->        
</ul>


<form title="Scheduling" id="addSchedule" class="panel" action="javascript:var dummy=0" method="POST">
<h2>Add schedule</h2>
<fieldset class="EntryFieldSet">

<select name="minute">
<!--#for $i in range(60)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<select name="hour">
<!--#for $i in range(24)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<select name="dayofweek">
<option value="*" selected>*
<!--#for $i in range(1, 8)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<select name="action">
<option value="resume">resume
<option value="pause">pause
</select>
<p><input type="button" size="40" value="Add Schedule" onClick="javascript:history.back();submitconfig('config/scheduling/addSchedule', 'addSchedule')">
<span class="submitstatus" id="submitstatus1"></span></p>
</fieldset>
</form>



<!--#set $schednum = 0#-->
<!--#for $line in $schedlines#-->
<!--#set sanitisedLine = $line.replace(' ','_') #-->
<form id="$sanitisedLine" class="cmxform" id="$line">

<!--#set $schednum = $schednum+1#-->
<legend>Task $schednum</legend>
$line
<input type="hidden" name="line" value="$line">
<p>
<input type="button" size="40" value="Remove" onClick="javascript:history.back();submitconfig('config/scheduling/delSchedule', '$sanitisedLine', '/sabnzbd/config/scheduling','0')"
<span style="visibility:hidden" name="$line" class="submitstatus" id="$line"></span></p>

</form>
<!--#end for#-->

