
<ul title="RSS" selected="true">

    <li><a href="#addRSS">Add New RSS</a></li>
    <!--#for $feed in $rss#-->
    <!--#set sanitisedLine = $feed.replace(' ','_') #-->
    <li><a href="#update_$sanitisedLine">$feed</a></li>
    <!--#end for#-->
</ul>
  <form title="RSS" id="addRSS" class="panel" action="javascript:var dummy=0" method="POST">
    <h2>RSS feed settings</h2>
    <fieldset class="EntryFieldSet">

    <div class="row" id="add_rss_feed">
    <label>RSS-Feed name:</label><br /><br />
    <input type="text" size="10" name="feed" value="$feed"/><br /><br />
    <label>RSS-Feed URI:</label><br /><br />
    <input type="text" size="20" name="uri" value=""/><br /><br />
    <input type="button" size="40" value="Add RSS Feed" onClick="javascript:history.back();submitconfig('config/rss/add_rss_feed', 'add_rss_feed')">
    </div>
    </fieldset>
</form>

<!--#for $feed in $rss#-->
<!--#set sanitisedLine = $feed.replace(' ','_') #-->
    <div class="EntryBlock" id="update_$sanitisedLine">
<p>Updating a feed in this skin is currently not available in this beta.</p>
    </div>

<!--#end for#-->
