

<form title="Email Notification" id="Email" class="panel" action="javascript:var dummy=0"  method="POST" selected="true" >
<h2>Email Options</h2>
<fieldset class="EntryFieldSet">
        <div class="row"> 
        
			<label>End-of-job notifications:</label><br/><br/>
            <input type="hidden" id="email_endjob" name="email_endjob" value="$email_endjob">
            <div class="toggle" onclick="toggleValue('email_endjob')" <!--#if $email_endjob > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
			
        </div>
        <div class="row">    
		
			<label>Disk full notifications:</label><br/><br/>
            <input type="hidden" id="email_full" name="email_full" value="$email_full">
            <div class="toggle" onclick="toggleValue('email_full')" <!--#if $email_full > 0 then 'toggled="true"' else ''#-->><span class="thumb"></span><span class="toggleOn">Yes</span><span class="toggleOff">No</span></div>
			
        </div>  
		
</fieldset>
<h2>Account Settings</h2>
<fieldset class="EntryFieldSet">

	
        <div class="row"> 		
			<label>SMTP server:</label><br/><br/>
			<input type="text" style="margin:0px;padding:0px;margin-left:15px;" size="25" name="email_server" value="$email_server">
		
        </div>
        <div class="row">    
		
			<label>Email recipient:</label><br/><br/>

			<input type="text" style="margin:0px;padding:0px;margin-left:15px;" size="25" name="email_to" value="$email_to">
        </div>
        <div class="row">    
		
			<label>Email sender:</label><br/><br/>
			<input type="text" style="margin:0px;padding:0px;margin-left:15px;" size="25" name="email_from" value="$email_from">
			
        </div>
        <div class="row">    
		
			<label>OPTIONAL: Account name:</label><br/><br/>
			<input type="text" style="margin:0px;padding:0px;margin-left:15px;" size="25" name="email_account" value="$email_account">
			
        </div>
        <div class="row">    
		
			<label>OPTIONAL: Account password:</label><br/><br/>
			<input type="password" style="margin:0px;padding:0px;margin-left:15px;" size="25" name="email_pwd" value="$email_pwd">		
        </div>
  
			
</fieldset>


<p><input type="button" size="40" value="Save Changes" onClick="javascript:history.back();submitconfig('config/email/saveEmail', 'Email')">
<span class="submitstatus" id="submitstatus"></span></p>            </div>
            <div class="row">    
<a class="config" onClick="testemail();">Test E-Mail</a>
</form>