
    <form title="Directories" id="Directories" class="panel" action="javascript:var dummy=0" method="POST" selected="true">
        <h2>User directories</h2>
         <fieldset>
            <div class="row">
    		    <label>Download Folder:</label><br/><br/>
    		    <input style="margin:0px;padding:0px;margin-left:15px;" type="text" name="download_dir" value="$download_dir">	    
            </div>
            <div class="row">            
    		    <label>Min free space:</label><br/><br/>
    			<input style="margin:0px;padding:0px;margin-left:15px;" type="text" name="download_free" value="$download_free">
            </div>
            <div class="row">      
    		    <label>Complete Folder:</label><br/><br/>
    		    <input style="margin:0px;padding:0px;margin-left:15px;" type="text" name="complete_dir" value="$complete_dir">
            </div>
            <div class="row">      
    		    <label>OPT:Dirscan Folder:</label><br/><br/>
    		    <input style="margin:0px;padding:0px;margin-left:15px;" type="text" name="dirscan_dir" value="$dirscan_dir">
            </div>
            <div class="row">      
    		    <label>OPT:Dirscan Speed in secs:</label><br/><br/>
    		    <input style="margin:0px;padding:0px;margin-left:15px;" type="text" name="dirscan_speed" value="$dirscan_speed">
            </div>
            <div class="row">      
    		    <label>OPT:Post-proc script:</label><br/><br/>
    		    <input style="margin:0px;padding:0px;margin-left:15px;" type="text" name="extern_proc" value="$extern_proc">
            </div>
        </fieldset>       
        
        <h2>System Directories</h2>
         <fieldset>
            <div class="row">
                <label>Cache Folder:</label><br/><br/>
    			<input style="margin:0px;padding:0px;margin-left:15px;" type="text" size="25" name="cache_dir" value="$cache_dir">
            </div>
            <div class="row">
                <label>Log Folder:</label><br/><br/>
    			<input style="margin:0px;padding:0px;margin-left:15px;" type="text" size="25" name="log_dir" value="$log_dir">
            </div>
            <div class="row">
                <label>OPT: .nzb Backup Directory:</label><br/><br/>
    			<input style="margin:0px;padding:0px;margin-left:15px;" type="text" size="25" name="nzb_backup_dir" value="$nzb_backup_dir">
            </div>
        </fieldset>

        <!--<a class="whiteButton" type="submit" >Search</a>-->
        <input type="submit" onClick="javascript:history.back();submitconfig('config/directories/saveDirectories', 'Directories')" value="Save Changes">
    </form>


