  
    <ul title="Config" selected="true">
         <li ><center><span class="speed">$kbpersec</span> KB/s | <span class="mbleft">$mbleft</span>/<span class="mbtotal">$mb</span> MB <span class="status"><!--#if $paused then "| PAUSED" else ""#--></span> </center></li>
        <li><a href="config/general/">General</a></li>
        <li><a href="config/directories/">Folders</a></li>
        <li><a href="config/switches/">Switches</a></li>
        <li><a href="config/server/">Servers</a></li>
        <li><a href="config/scheduling/">Scheduling</a></li>
        <li><a href="config/rss/">RSS</a></li>
        <li><a href="config/email/">E-Mail</a></li>
        <li><a href="config/newzbin/">Newzbin</a></li>
        <li class="group">Tools</li>
        <li><a href="javascript:var dummy=0" onClick="javascript:toggle()"><span class="status2"><!--#if $paused then "Resume" else "Pause"#--></span></a></li>       
    </ul>
