<form title="Scheduling" class="panel" action="addSchedule" method="POST" selected="true">
<h2>Add schedule</h2>
<fieldset class="EntryFieldSet">

<select name="minute">
<!--#for $i in range(60)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<select name="hour">
<!--#for $i in range(24)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<select name="dayofweek">
<option value="*" selected>*
<!--#for $i in range(1, 8)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<select name="action">
<option value="resume">resume
<option value="pause">pause
</select>
<p><input type="button" size="40" value="Add Schedule" onclick="javascript:submitconfig('config/scheduling/addSchedule', 'submitstatus1','schedule', '/sabnzbd/config/scheduling','0')">
<span class="submitstatus" id="submitstatus1"></span></p>
</fieldset>
</form>
</div>
<h3>Current Schedules:</h3>
<div class="EntryBlock>"
<!--#set $schednum = 0#-->
<!--#for $line in $schedlines#-->
<form class="cmxform" id="$line">
<fieldset class="EntryFieldSet">
<!--#set $schednum = $schednum+1#-->
<legend>Task $schednum</legend>
$line
<input type="hidden" name="line" value="$line">
<p>
<input type="button" size="40" value="Remove" onclick="javascript:submitconfig('config/scheduling/delSchedule', '$line', '$line', '/sabnzbd/config/scheduling','0')">
<span style="visibility:hidden" name="$line" class="submitstatus" id="$line"></span></p>
</fieldset>
</form>
<!--#end for#-->

