/* --------------------------------------------------------------------------------------------------------
		
		H T M L
		Created by Dana Woodman, Organix Design (www.organixdesign.com)
		Email: dana [at] organixdesing [dot] com
		
-------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------
	BODY
--------------------------------------------- */

body {
	margin: 0;
	font: small Arial, Helvetica, sans-serif;
	color: #2B4D80;
	background: #fff;
	
/* hahahahhaah. scrollbar colors for IE, ENJOY!!! */

	scrollbar-face-color: #DA04FA; 		
	scrollbar-shadow-color: #1B1E25; 				
	scrollbar-highlight-color: #D7F1FF;
	scrollbar-3dlight-color: #DA04FA;
	scrollbar-darkshadow-color: #1B1E25; 		
	scrollbar-track-color: #F0A0FE;
	scrollbar-arrow-color: #FFFD41;
}

 

/* ---------------------------------------------
	PARAGRAPH
--------------------------------------------- */

p {}


/* ---------------------------------------------
	LINKS
--------------------------------------------- */

a {
	color: #FF4900;
	text-decoration: underline;
	cursor: pointer;
	position: relative;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
a[href^="http:"] {} 
a img {border: none;}


/* ---------------------------------------------
	TABLES
--------------------------------------------- */

table {
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	border-top: 1px solid #B4DFFB;
	border-right: 1px solid #27A2F3;
	border-bottom: 1px solid #0A71B6;
	border-left: 1px solid #B4DFFB;
	background: #FFFFFF;
	margin: 2.5em 0 0 0;
	text-align: left;
	border-collapse: collapse;
}
table a {
	text-decoration: none;
	font-weight: bold;
}
table a:hover {
	text-decoration: none;
	color: #0066CC;
}
th {
	text-align: center;
	background: #D7F1FB url(../images/bg_th.png) repeat-x left bottom;
	padding: 4px 8px;
	border-bottom: 1px solid #3DABF5;
	color: #0988C6;
}
tr {
	border-top: 1px solid #ABD1FF;
	border-bottom: 1px solid #ABD1FF;
}

td {
	padding: 3px 7px;
	border-right: 1px solid #B4DFFB;
	white-space: nowrap;
	line-height: normal;
}
tr.even, tr.evenLine {
	border-top: 1px solid #ABD1FF;
	border-bottom: 1px solid #ABD1FF;
}
tr.odd, tr.oddLine {
	background: #FFFFFF url(../images/bg_tr_odd.png) repeat-x left bottom;
}
.evenLine.active {background: #fff;}
.oddLine.active {background: #FAFBF7;}

.oddLine {}
tr.active, td.active {background: #FFFFE0 url(../images/bg_tr_active.png) repeat-x left bottom;}
tr.rowWarning, td.rowWarning {background: #FFC5C3 url(../images/bg_tr_warning.png) repeat-x left bottom;}
tr.finished, td.finished {background: #DBFFAA url(../images/bg_tr_finished.png) repeat-x left bottom;}
tr.waiting, td.waiting {background: #E8F6FF url(../images/bg_tr_waiting.png) repeat-x left bottom;}
.pre {}
tr:hover {background: #FFFFFF url(../images/bg_tr_hover.png) repeat-x left bottom;}
table input, table select {font-size: 90%;}

table strong {
	color: #0066CC;
	font-weight: bold;
	font-size: 110%;
}



/* ---------------------------------------------
	FORMS
--------------------------------------------- */

form {
	display: inline;
}
legend {
	font-size: 115%;
	color: #0085FD;
	font-weight: bold;
	background: #FFFFFF;
	padding: 4px 10px;
	border: 2px solid #D7EFFF;
}
.EntryBlock {
	display: inline;
}
.EntryBlock form {
	display: inline;
}
.EntryFieldSet {
	display: inline;
	vertical-align: top;
	padding: 10px;
	margin: 0;
	background: #F0F9FF;
	border: 2px solid #D7EFFF;
}
.buttons {
	background: url(../images/bg_SubMenu.png);
	border: 1px solid #0099CC;
	padding: 1px 5px;
	color: #fff;
	font-weight: bold;
}
.buttons:hover  {
	cursor: pointer;
	background: url(../images/bg_SubMenu_hover.png);
}


/* ---------------------------------------------
	HEADINGS
--------------------------------------------- */

h1, h2, h3, h4, h5, h6 {margin: 0; text-transform: capitalize;}
h1  {}
h2 {
	font-size: 170%;
	font-weight: normal;
	color: #FF6600;
	margin: 15px 0;
}
h3 {
	font-size: 150%;
	font-weight: normal;
	color: #289EFF;
}
h4 {}
h5 {}
h6 {}


/* ---------------------------------------------
	LISTS
--------------------------------------------- */

ul {}
ul li {}
ul li a {}
ul li a:hover {}
ol {}
ol li {}
ol li a {}
ol li a:hover {}

table dl {font-size: 95%;}
dl {
	margin: 0;
}
dl dt {
	margin: 0; 
	font-weight: bold;
	display: inline;
	color: #2DA9D9;
}
dl dd {
	margin: 0 0 0 30px;
}

/* ---------------------------------------------
	TEXT
--------------------------------------------- */

abbr {cursor: help;}
abbr:hover {cursor: help;}
acronym {}
b, strong {font-weight: bold;}
i, em {font-style: intalic;}
cite {}
small {font-size: 85%;}
big {font-size: 115%;}
samp {}
q {}
address {}
del {}
ins {}
dfn {}
blockquote {}
blockquote cite {}

hr {}
