<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>SAB+ Concept</title>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="rss?mode=history"/>
    <link rel="shortcut icon" type="image/ico" href="static/images/sabnzbdplus.ico"/>
	
    <link rel="stylesheet" type="text/css" href="static/stylesheets/colorschemes/$color_scheme?$version"/>
	<link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/ui.jqgrid.css?$version" />
	<link rel="stylesheet" type="text/css" media="screen" href="static/stylesheets/concept.css?$version" />
	
	<script type="text/javascript" src="static/javascripts/lib.js?$version"></script>
	<script type="text/javascript" src="static/javascripts/concept.js?$version"></script>
	<script type="text/javascript">
       	var apikey = "$session";
    </script>

</head>
<body>

<h1>Loading...</h1>

<div id="tabs" class="page-layout-center">

	<ul id="TabButtons" class="pane">
		<a href="javascript:(function(){if%20(!/Firefox[\/\s](\d+\.\d+)/.test(navigator.userAgent)){alert('Sorry,%20due%20to%20security%20restrictions,%20this%20tool%20only%20works%20in%20Firefox');%20return%20false;%20};%20if(window.jquitr){%20jquitr.addThemeRoller();%20}%20else{%20jquitr%20=%20{};%20jquitr.s%20=%20document.createElement('script');%20jquitr.s.src%20=%20'http://www.jqueryui.com/themeroller/developertool/developertool.js.php';%20document.getElementsByTagName('head')[0].appendChild(jquitr.s);}%20})();" style="float:right; padding:6px;">Theme</a>
		<li><img src="static/images/logo.png" alt="SABnzbd+" height="24px" style="padding: 0 10px 0 10px;" /></li>
		<li><a href="#Downloads"><span>Downloads</span></a></li>
		<li><a href="#Search"><span>Search</span></a></li>
		<li><a href="#Config"><span>Config</span></a></li>
		<li><a href="#Documentation"><span>Documentation</span></a></li>
		<li style="float:right"><a href="#Timeleft" onclick="return false;"><span>Timeleft: <span id="stat-Timeleft"></span></span></a></li>
		<li style="float:right"><a href="#Speed" onclick="return false;"><span>Speed: <span id="stat-Speed"></span> KB/s</span></a></li>
		<li style="float:right"><a href="#Status" onclick="return false;"><span>Status: <strong id="stat-Status"></strong></span></a></li>
	</ul>

	<!-- wrap tab-panels in ui-layout-content div -->
	<div id="TabPanelsContainer" class="pane">

		<!-- TAB SEARCH  -->
		<div id="Search" class="ui-tabs-hide pane">
			<div id="searchtabs">
				<ul id="SearchTabButtons">
					<li><a href="#"><span>Binsearch</span></a></li>
					<li><a href="#"><span>NzbMatrix</span></a></li>
					<li><a href="#"><span>Newzbin</span></a></li>
					<li><a href="#"><span>Add</span></a></li>
				</ul>
			</div>
			<iframe src="http://www.binsearch.info" width="100%" height="600px"></iframe>
		</div>

		<!-- TAB CONFIG  -->
		<div id="Config" class="ui-tabs-hide pane">
			<div id="configtabs">
				<ul id="ConfigTabButtons">
					<li><a href="#config-general"><span>General</span></a></li>
					<li><a href="#config-switches"><span>Switches</span></a></li>
					<li><a href="#config-servers"><span>Servers</span></a></li>
					<li><a href="#config-rss"><span>RSS</span></a></li>
				</ul>
			</div>
		</div>

		<!-- TAB DOCUMENTATION -->
		<div id="Documentation" class="ui-tabs-hide pane">
			<iframe src="http://wiki.sabnzbd.org" width="100%" height="600px"></iframe>
		</div>

		<!-- TAB DOWNLOADS -->
		<div id="Downloads">

			<div id="InnerLayout" class="outer-center pane">
				<!-- <div class="inner-north ui-widget pane">
					<div class="header ui-widget-header">Queue</div>
					<div class="ui-widget-content"><span>queue buttons here, multi-action</span></div>
				</div> -->
				<div class="inner-center ui-widget pane">
					<div class="ui-widget-content">
						<table id="queueGrid" class="scroll" cellpadding="0" cellspacing="0"></table>
						<div id="queueGridSub" class="scroll" style="text-align:center;"></div>
					</div>
				</div>
			</div>

			<div class="outer-south ui-widget pane">
					<div id="footertabs">
						<ul id="FooterTabButtons">
							<li><a href="#Bandwidth"><span>Bandwidth</span></a></li>
							<li><a href="#Warnings"><span>Warnings</span></a></li>
							<li><a href="#Connections"><span>Connections</span></a></li>
						</ul>
					</div>
				<div class="ui-widget-content"><span></span></div>
			</div>

			<div class="outer-east ui-widget pane">
				<div class="ui-widget-content">
					<table id="historyGrid" class="scroll" cellpadding="0" cellspacing="0"></table>
					<div id="historyGridSub" class="scroll" style="text-align:center;"></div>
				</div>
			</div>

		</div><!-- #ApplicationLayout -->
	
	</div><!-- END TabPanelsContainer -->

</div><!-- /#tabs -->

</body>
</html>