<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+Directories"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="directories"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>Folder configuration</h2>
<p><strong>
    <em>NOTE:</em> Folders will be created automatically when Saving.<br />
</strong></p>
<form action="saveDirectories" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>User Folders</legend>
    <emp>In "$my_home"</emp><br><br>
    <strong>Temporary Download Folder:</strong><br>
    Location to store unprocessed downloads.<br>
    <input type="text" size="40" name="download_dir" value="$download_dir">
    <br>
    <br>
    <strong>Minimum free space for Temporary Download Folder:</strong><br>
    Auto-pause when free space is beneath this value.<br>
    <input type="text" size="10" name="download_free" value="$download_free">
    <br>
    <br>
    <strong>Completed Download Folder:</strong><br>
    (can be overruled by user-defined categories)<br>
    <input type="text" size="40" id="complete_dir" name="complete_dir" value="$complete_dir">
    <!--#if not $nt#-->
        <br>
        <br>
        <strong>Permissions for completed downloads:</strong><br>
        Set permissions pattern for completed files/folders, octal notation only!<br>
        <input type="text" size="10" name="permissions" value="$permissions">
    <!--#end if#-->
    <br>
    <br>
    <strong>Watched Folder:</strong><br>
    Folder to monitor for .nzb and .zip files.<br>
    <input type="text" size="40" name="dirscan_dir" value="$dirscan_dir">
    <br>
    <br>
    <strong>Watched Folder scan speed:</strong><br>
    Number of seconds between scans for .nzb files.<br>
    <input type="text" size="10" name="dirscan_speed" value="$dirscan_speed">
    <br>
    <br>
    <strong>Folder containing the user scripts:</strong><br>
    Folder containing user scripts for post-processing.<br>
    <input type="text" size="40" name="script_dir" value="$script_dir">
    <br>
    <br>
    <strong>Folder containing email templates:</strong><br>
    Folder containing user defined email templates.<br>
    <input type="text" size="40" name="email_dir" value="$email_dir">
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>System folders</legend>
    <emp>In "$my_lcldata"</emp><br><br>
    <strong>Cache folder:</strong><br>
    Location for temporary storage.<br>
    <input type="text" size="40" name="cache_dir" value="$cache_dir">
    <br>
    <br>
    <strong>Log folder:</strong><br>
    Location of log files for SABnzbd.<br>
    <input type="text" size="40" name="log_dir" value="$log_dir">
    <br>
    <br>
    <strong>Backup folder for .nzb:</strong><br>
    Location where .nzb will be backed up.<br>
    <input type="text" size="40" name="nzb_backup_dir" value="$nzb_backup_dir">
  </fieldset>

</div><br>
<input type="submit" size="40" value="Save Changes">
</form>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
