<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/default.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/defaultcolors.css"/>
    <!--#if $color_scheme#-->
        <link rel="stylesheet" type="text/css" href="../../static/stylesheets/colorschemes/$color_scheme"/>
    <!--#end if#-->
    <link rel="shortcut icon" href="../../static/images/favicon.ico" />
</head>
<body>
<h1><span id="first">SAB</span><span id="second">nzbd+</span><span id="third"> $version</span><span id="catchfrase">The automatic usenet download tool</span></h1>
<span class="MainMenu">
<a href="../../">Home</a> |
<a href="../../queue">Queue</a> |
<a href="../../history">History</a> |
<a class="current" href="../">Config</a> |
<a href="../../connections">Connections</a> |
<a href="http://sabnzbdplus.wiki.sourceforge.net/Configure+Directories" target="_blank">Help</a>
</span>
<span class="SubMenu">
<a href="../general">General</a> |
<a class="current" href="./">Directories</a> |
<a href="../switches">Switches</a> |
<a href="../server">Servers</a> |
<a href="../scheduling">Scheduling</a> |
<a href="../rss">RSS</a> |
<a href="../email">Email</a> |
<a href="../newzbin">Newzbin</a> |
<a href="../categories">Categories</a>
</span>
<h2>Directory configuration</h2>
<p><strong>
    <em>NOTE:</em> Directories will be created automatically when Saving.<br />
</strong></p>
<form action="saveDirectories" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>User directories</legend>
    <emp>In "$my_home"</emp><br><br>
    <strong>Download Directory:</strong><br>
    Location to put unprocessed downloads in.<br>
    <input type="text" size="40" name="download_dir" value="$download_dir">
    <br>
    <br>
    <strong>Minimum free space for Download Directory:</strong><br>
    Auto-pause when free space is beneath this value.<br>
    <input type="text" size="10" name="download_free" value="$download_free">
    <br>
    <br>
    <strong>Complete Directory:</strong><br>
    Location to put completed downloads in.<br>
    <input type="text" size="40" name="complete_dir" value="$complete_dir">
    <!--#if not $nt#-->
        <br>
        <br>
        <strong>Permissions for Complete dir:</strong><br>
        Set permissions pattern for completed files, octal notation only!<br>
        <input type="text" size="10" name="permissions" value="$permissions">
    <!--#end if#-->
    <br>
    <br>
    <strong>OPTIONAL: Dirscan Directory:</strong><br>
    Directory to scan for .nzb files.<br>
    <input type="text" size="40" name="dirscan_dir" value="$dirscan_dir">
    <br>
    <br>
    <strong>OPTIONAL: Dirscan Speed:</strong><br>
    Number of seconds between scans for .nzb files.<br>
    <input type="text" size="10" name="dirscan_speed" value="$dirscan_speed">
    <br>
    <br>
    <strong>Directory for user scripts:</strong><br>
    Directory containing user scripts for post-processing.<br>
    <input type="text" size="40" name="script_dir" value="$script_dir">
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>System directories</legend>
    <emp>In "$my_lcldata"</emp><br><br>
    <strong>Cache Directory:</strong><br>
    Location for temporary storage.<br>
    <input type="text" size="40" name="cache_dir" value="$cache_dir">
    <br>
    <br>
    <strong>Log Directory:</strong><br>
    Location of log files for SABnzbd.<br>
    <input type="text" size="40" name="log_dir" value="$log_dir">
    <br>
    <br>
    <strong>OPTIONAL: .nzb Backup Directory:</strong><br>
    Specify a directory to backup .nzb files to.<br>
    <input type="text" size="40" name="nzb_backup_dir" value="$nzb_backup_dir">
  </fieldset>
  <fieldset class="EntryFieldSet">
  <legend>Sorting directories</legend>
  
    <strong>Enable TV Sorting:</strong><br>
    Enable folder sorting.<br>
    <input type="radio" name="enable_tv_sorting" value="0" <!--#if $enable_tv_sorting == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_tv_sorting" value="1" <!--#if $enable_tv_sorting > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Enable season folders:</strong><br>
    Enable sorting into season folders.<br>
    <input type="radio" name="tv_sort_seasons" value="0" <!--#if $tv_sort_seasons == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="tv_sort_seasons" value="1" <!--#if $tv_sort_seasons > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
  
  
    <strong>Folder Naming:</strong><br />
    Choose a foldernaming option<br />
    <select name="tv_sort" id="tvsort"><!--#set $i = 0 #-->
        <!--#for $tvline in $tvsort_list#-->
            <!--#if int($tv_sort) == $i #-->
                <option value="$i" selected>$tvline</option>
            <!--#else#-->
                <option value="$i">$tvline</option>
            <!--#end if#-->
            <!--#set $i = $i+1 #-->
        <!--#end for#-->
    </select>
</fieldset>


</div><br>
<input type="submit" size="40" value="Save Changes">
</form>
<div class="footer">
<!--#if $shutdown then "<b>SHUTDOWN</b> - " else ""#--><b>Download Dir:</b> $diskspace1 GB - <b>Complete Dir:</b> $diskspace2 GB - <b>Download speed:</b> $kbpersec KB/s - <b>Queued:</b> $mbleft/$mb MB <!--#if $paused then "- <b>PAUSED</b>" else ""#--><br>
<!--#if int($cache_limit)#-->
<b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br>
<!--#end if#-->
<!--#if $new_release#-->
    <b>New release $new_release available at <a href="$new_rel_url" target="_blank">SF.net</a></b><br>
<!--#end if#-->
</div>
</body>
</html>
