<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+Switches"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="switches"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>Switches configuration</h2>
<form action="saveSwitches" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>Processing switches</legend>
    <label><input type="checkbox" name="enable_unrar" value="1" <!--#if $enable_unrar > 0 then "checked=1" else ""#--> /> <strong>Enable Unrar</strong></label><br>
    Enable built-in unrar functionality.<br>
    <br>
    <label><input type="checkbox" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then "checked=1" else ""#--> /> <strong>Enable Unzip</strong></label><br>
    Enable built-in unzip functionality.<br>
    <br>
    <label><input type="checkbox" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then "checked=1" else ""#--> /> <strong>Enable Filejoin</strong></label><br>
    Join files ending in .001, .002 etc. into one file.<br>
    <br>
    <label><input type="checkbox" name="enable_tsjoin" value="1" <!--#if $enable_tsjoin > 0 then "checked=1" else ""#--> /> <strong>Enable TS Joining</strong></label><br>
    Join files ending in .001.ts, .002.ts etc. into one file.<br>
    <br>
    <label><input type="checkbox" name="enable_par_cleanup" value="1" <!--#if $enable_par_cleanup > 0 then "checked=1" else ""#--> /> <strong>Enable Par Cleanup</strong></label><br>
    Cleanup par files (if verifiying/repairing succeded).<br>
    <br>
    <label><input type="checkbox" name="fail_on_crc" value="1" <!--#if $fail_on_crc > 0 then "checked=1" else ""#--> /> <strong>Fail on yEnc crc Errors</strong></label><br>
    Use backup servers on yEnc crc errors.<br>
    <br>
    <label><input type="checkbox" name="top_only" value="1" <!--#if $top_only > 0 then "checked=1" else ""#--> /> <strong>Only get articles for top of the queue</strong></label><br>
    Enable for less memory usage.<br/> Disable to prevent slow jobs from blocking the queue<br/>
    <br>
    <label><input type="checkbox" name="safe_postproc" value="1" <!--#if $safe_postproc > 0 then "checked=1" else ""#--> /> <strong>Post-process only verified jobs</strong></label><br>
    Only perform post-processing on jobs that passed all PAR2 checks.<br>
    <br>
    <label><input type="checkbox" name="no_dupes" value="1" <!--#if $no_dupes > 0 then "checked=1" else ""#--> /> <strong>Do not download same job twice</strong></label><br>
    Skip job if a backed-up NZB with the same name exists.<br>
    <br>
    <strong>Default post-processing:</strong><br>
    Used when no post-processing is defined by the category.<br>
    <input type="radio" name="dirscan_opts" value="0" <!--#if $dirscan_opts == 0 then "checked=1" else ""#--> /> None
    <input type="radio" name="dirscan_opts" value="1" <!--#if $dirscan_opts == 1 then "checked=1" else ""#--> /> +Repair
    <input type="radio" name="dirscan_opts" value="2" <!--#if $dirscan_opts == 2 then "checked=1" else ""#--> /> +Unpack
    <input type="radio" name="dirscan_opts" value="3" <!--#if $dirscan_opts == 3 then "checked=1" else ""#--> /> +Delete
    <br>
    <br>
    <strong>Default user script:</strong><br>
    Used when no user script is defined by the category.<br>
    <select name="script">
    <!--#for $sc in $script_list#-->
        <!--#if $sc.lower() == $script.lower()#-->
            <option value="$sc" selected>$sc</option>
        <!--#else#-->
            <option value="$sc">$sc</option>
        <!--#end if#-->
    <!--#end for#-->
    </select>
    <br>
    <br>
    <strong>Extra PAR2 parameters:</strong><br/>
    Read the Wiki Help on this!<br/>
    <input type="text" name="par_option" value="$par_option"/>
    <br>
    <br>
<!--#if not $nt#-->
    <strong>IONice parameters:</strong><br/>
    Read the Wiki Help on this!<br/>
    <input type="text" name="ionice" value="$ionice"/>
    <br>
    <br>
<!--#end if#-->
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>Other switches</legend>
    <label><input type="checkbox" name="auto_disconnect" value="1" <!--#if $auto_disconnect > 0 then "checked=1" else ""#--> /> <strong>Disconnect on empty queue</strong></label><br>
    Disconnect from Usenet server(s) when queue is empty or paused.<br>
    <br>
    <label><input type="checkbox" name="send_group" value="1" <!--#if $send_group > 0 then "checked=1" else ""#--> /> <strong>Send Group</strong></label><br>
    Send group command before requesting articles.<br>
    <br>
    <label><input type="checkbox" name="auto_sort" value="1" <!--#if $auto_sort > 0 then "checked=1" else ""#--> /> <strong>Sort by age</strong></label><br>
    Automatically sort items by (average) age.<br>
    <br>
    <label><input type="checkbox" name="check_rel" value="1" <!--#if $check_rel > 0 then "checked=1" else ""#--> /> <strong>Check for new release</strong></label><br>
    Weekly check for new SABnzbd release.<br>
    <br>
    <label><input type="checkbox" name="replace_spaces" value="1" <!--#if $replace_spaces > 0 then "checked=1" else ""#--> /> <strong>Replace spaces in foldername</strong></label><br>
    Replace spaces with underscores in foldernames.<br>
    <br>
    <label><input type="checkbox" name="replace_illegal" value="1" <!--#if $replace_illegal > 0 then "checked=1" else ""#--> /> <strong>Replace illegal characters in foldernames</strong></label><br>
    Replace illegal characters in foldernames by equivalents (otherwise remove).<br>
    <br>
    <label><input type="checkbox" name="auto_browser" value="1" <!--#if $auto_browser > 0 then "checked=1" else ""#--> /> <strong>Launch browser on startup</strong></label><br>
    Launch the browser when starting SABnzbd.<br>
    <br>
    <label><input type="checkbox" name="ignore_samples" value="1" <!--#if $ignore_samples > 0 then "checked=1" else ""#--> /> <strong>Ignore sample files</strong></label><br>
    Filters out sample files from the queue.<br>
    <br>
    <label><input type="checkbox" name="pause_on_post_processing" value="1" <!--#if $pause_on_post_processing > 0 then "checked=1" else ""#--> /> <strong>Pause downloading during post processing</strong></label><br>
    Pauses downloading at the start of post processing and resumes when finished.<br>
    <br/>
    <label><input type="checkbox" name="quick_check" value="1" <!--#if $quick_check > 0 then "checked=1" else ""#--> /> <strong>Use Quick Check</strong></label><br/>
    Do PAR2 check on files while downloading.<br/>
  </fieldset>
</div>
<p><input type="submit" value="Save Changes"></p>
</form>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
