<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/default.css"/>
    <link rel="shortcut icon" href="../../static/images/favicon.ico" />
</head>
<body>
<h1><span id="first">SAB</span><span id="second">nzbd+</span><span id="third"> $version</span><span id="catchfrase">The automatic usenet download tool</span></h1>
<span class="MainMenu">
<a href="/sabnzbd">Home</a> |
<a href="../../queue">Queue</a> |
<a href="../../history">History</a> |
<a class="current" href="../../config">Config</a> |
<a href="../../connections">Connections</a> |
<a href="http://sabnzbdplus.wiki.sourceforge.net/Configure+Switches" target="_blank">Help</a>
</span>
<span class="SubMenu">
<a href="../general">General</a> |
<a href="../directories">Directories</a> |
<a class="current" href="./">Switches</a> |
<a href="../server">Servers</a> |
<a href="../scheduling">Scheduling</a> |
<a href="../rss">RSS</a> |
<a href="../email">Email</a> |
<a href="../newzbin">Newzbin</a>
</span>
<h2>Configuration switches</h2>
<form action="saveSwitches" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>Processing switches</legend>
    <strong>Enable Unrar:</strong><br>
    Enable built-in unrar functionality.<br>
    <input type="radio" name="enable_unrar" value="0" <!--#if $enable_unrar == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_unrar" value="1" <!--#if $enable_unrar > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Enable Unzip:</strong><br>
    Enable built-in unzip functionality.<br>
    <input type="radio" name="enable_unzip" value="0" <!--#if $enable_unzip == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Enable Filejoin:</strong><br>
    Enable built-in filejoin functionality.<br>
    <input type="radio" name="enable_filejoin" value="0" <!--#if $enable_filejoin == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Enable Par Cleanup:</strong><br>
    Cleanup par files (if verifiying/repairing succeded).<br>
    <input type="radio" name="enable_par_cleanup" value="0" <!--#if $enable_par_cleanup == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_par_cleanup" value="1" <!--#if $enable_par_cleanup > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Fail on yenc crc Errors:</strong><br>
    Use fill servers on yenc crc errors.<br>
    <input type="radio" name="fail_on_crc" value="0" <!--#if $fail_on_crc == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="fail_on_crc" value="1" <!--#if $fail_on_crc > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Top Only:</strong><br>
    Only fetch Articles from topmost collection. Enable for less memory usage.<br>
    <input type="radio" name="top_only" value="0" <!--#if $top_only == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="top_only" value="1" <!--#if $top_only > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Dirscan Options:</strong><br>
    Use following post process option on .nzb files imported by the dirscanner.<br>
    <input type="radio" name="dirscan_opts" value="0" <!--#if $dirscan_opts == 0 then "checked=1" else ""#--> /> None
    <input type="radio" name="dirscan_opts" value="1" <!--#if $dirscan_opts == 1 then "checked=1" else ""#--> /> +Repair
    <input type="radio" name="dirscan_opts" value="2" <!--#if $dirscan_opts == 2 then "checked=1" else ""#--> /> +Unpack
    <input type="radio" name="dirscan_opts" value="3" <!--#if $dirscan_opts == 3 then "checked=1" else ""#--> /> +Delete
    <input type="radio" name="dirscan_opts" value="4" <!--#if $dirscan_opts == 4 then "checked=1" else ""#--> /> R+Script
    <input type="radio" name="dirscan_opts" value="5" <!--#if $dirscan_opts == 5 then "checked=1" else ""#--> /> U+Script
    <input type="radio" name="dirscan_opts" value="6" <!--#if $dirscan_opts == 6 then "checked=1" else ""#--> /> D+Script
    <br>
    <br>
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>Other switches</legend>
    <strong>Enable periodic Save:</strong><br>
    Enabling will make the queue save it's state after every completed file.<br>
    <input type="radio" name="enable_save" value="0" <!--#if $enable_save == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_save" value="1" <!--#if $enable_save > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Disconnect on empty queue:</strong><br>
    Disconnect from Usenet server(s) when queue is empty.<br>
    <input type="radio" name="auto_disconnect" value="0" <!--#if $auto_disconnect == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="auto_disconnect" value="1" <!--#if $auto_disconnect > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Create group Folders:</strong><br>
    Place downloads into group folders.<br>
    <input type="radio" name="create_group_folders" value="0" <!--#if $create_group_folders == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="create_group_folders" value="1" <!--#if $create_group_folders > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Send Group</strong><br>
    Send group command before requesting articles.<br>
    <input type="radio" name="send_group" value="0" <!--#if $send_group == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="send_group" value="1" <!--#if $send_group > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Auto Sort:</strong><br>
    Automatically sort items by (average) age.<br>
    <input type="radio" name="auto_sort" value="0" <!--#if $auto_sort == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="auto_sort" value="1" <!--#if $auto_sort > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Check for new release:</strong><br>
    Weekly check for new SABnzbd release.<br>
    <input type="radio" name="check_rel" value="0" <!--#if $check_rel == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="check_rel" value="1" <!--#if $check_rel > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Replace spaces in foldername:</strong><br>
    Replace spaces with underscores in foldernames.<br>
    <input type="radio" name="replace_spaces" value="0" <!--#if $replace_spaces == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="replace_spaces" value="1" <!--#if $replace_spaces > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>Launch browser on startup:</strong><br>
    Launch the browser when starting SABnzbd.<br>
    <input type="radio" name="auto_browser" value="0" <!--#if $auto_browser == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="auto_browser" value="1" <!--#if $auto_browser > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>    
  </fieldset>
</div>
<p><input type="submit" value="Save Changes"></p>
</form>
<div class="footer">
<!--#if $shutdown then "<b>SHUTDOWN</b> - " else ""#--><b>Download Dir:</b> $diskspace1 GB - <b>Complete Dir:</b> $diskspace2 GB - <b>Download speed:</b> $kbpersec KB/s - <b>Queued:</b> $mbleft/$mb MB <!--#if $paused then "- <b>PAUSED</b>" else ""#--><br>
<!--#if int($cache_limit)#-->
<b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br>
<!--#end if#-->
<!--#if $new_release#-->
    <b>New release $new_release available at <a href="$new_rel_url" target="_blank">SF.net</a></b><br>
<!--#end if#-->
</div>
</body>
</html>
