<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+General"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="general"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>General configuration</h2>
<form action="saveGeneral" method="post">
<div class="EntryBlock"><p><strong>
    <em>NOTE:</em> Manual restart needed for web server changes!<br />
</strong></p>
<fieldset class="EntryFieldSet">

<legend>Web server</legend>
<strong>Host:</strong><br>
Host SABnzbd should listen on.<br>
<input type="text" name="host" value="$host">
<br>
<br>
<strong>Port:</strong><br>
Post SABnzbd should listen on.<br>
<input type="text" name="port" value="$port">
<br>
<br>
<strong>Web username:</strong><br>
Authentication Username.<br>
<input type="text" name="web_username" value="$username">
<br>
<br>
<strong>Web password:</strong><br>
Authentication Password.<br>
<input type="password" name="web_password" value="$password">
<br>
<br>
<strong>User interface:</strong><br>
Choose a skin (restart required!).<br>
<select name="web_dir">
    <!--#for $webline in $web_list#-->
        <!--#if $webline.lower() == $web_dir.lower()#-->
            <option value="$webline" selected>$webline</option>
        <!--#else#-->
            <option value="$webline">$webline</option>
        <!--#end if#-->
    <!--#end for#-->
</select>
<br/><br/>
<strong>Secondary User Interface:</strong><br>
Activate a secondary skin (restart required!).<br>
<select name="web_dir2">
    <!--#for $webline in $web_list2#-->
        <!--#if $webline.lower() == $web_dir2.lower()#-->
            <option value="$webline" selected>$webline</option>
        <!--#else#-->
            <option value="$webline">$webline</option>
        <!--#end if#-->
    <!--#end for#-->
</select>
</fieldset>
</div>
<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>Tuning</legend>
<strong>Queue auto refresh interval:</strong><br>
Refresh interval of the queue web-interface page(sec, 0= none)<br>
<input type="text" name="refresh_rate" value="$refresh_rate">
<br>
<br>
<strong>RSS checking interval:</strong><br>
Checking interval (minutes, at least 15)<br>
<input type="text" name="rss_rate" value="$rss_rate">
<br>
<br>
<strong>Download speed limit:</strong><br>
Download speed limit in kilobytes per second(kB/s).<br>
<input type="text" name="bandwith_limit" value="$bandwith_limit">
<br>
<br>
<strong>Article Cache Limit:</strong><br>
Cache articles in memory (reduce disk access).<br>
<input type="text" name="cache_limitstr" value="$cache_limitstr">
<br>
<br>
<strong>Cleanup List:</strong><br>
List of file (extensions) that should be deleted after download.<br>
For example: ".nfo," or ".nfo, .sfv"<br>
<input type="text" name="cleanup_list" value="$cleanup_list">
</fieldset>
</div>
<p>
<input type="submit" value="Save Changes">
</p>
</form>
</table>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
