<!--#set global $topmenu="config"#-->
<!--#set global $statpath="../.."#-->
<!--#set global $helpsubject="Configure+Servers"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu="servers"#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>Server configuration</h2>
<div class="EntryBlock">
  <form action="addServer" method="post">
    <fieldset class="EntryFieldSet">
      <legend>Add server</legend>
      Host:<br><input type="text" size="25" name="host"><br>
      Port:<br><input type="text" size="25" name="port"><br>
      Username:<br><input type="text" size="25" name="username"><br>
      Password:<br><input type="password" size="25" name="password"><br>
      Timeout:<br><input type="text" size="25" name="timeout" value="120"><br>
      Connections:<br><input type="text" size="25" name="connections"><br>
      SSL<!--#if int($have_ssl) == 0 then "(disabled)" else ""#-->:<br>
                     <input type="checkbox" name="ssl" value="1" <!--#if int($have_ssl) == 0 then "disabled" else ""#-->>
                 <br>
      Backup server:<br>
                     <input type="checkbox" name="fillserver" value="1">
                 <br>
      <p><input type="submit" value="Add Server"></p>
    </fieldset>
  </form>
<!--#for $server in $servers#-->
  <form action="saveServer" method="post">
    <fieldset class="EntryFieldSet">
      <legend>$server</legend>
      Host:<br><input type="text" size="25" name="host" value="$servers[$server]['host']"><br>
      Port:<br><input type="text" size="25" name="port" value="$servers[$server]['port']"><br>
      Username:<br><input type="text" size="25" name="username" value="$servers[$server]['username']"><br>
      Password:<br><input type="password" size="25" name="password" value="$servers[$server]['password']"><br>
      Timeout:<br><input type="text" size="25" name="timeout" value="$servers[$server]['timeout']"><br>
      Connections:<br><input type="text" size="25" name="connections" value="$servers[$server]['connections']"><br>
      SSL<!--#if int($have_ssl) == 0 then "(disabled)" else ""#-->:<br>
                     <input type="checkbox" name="ssl" value="1" <!--#if int($servers[$server]['ssl']) != 0 and int($have_ssl) == 1 then "checked=1" else ""#--> <!--#if int($have_ssl) == 0 then "disabled" else ""#--> />
                 <br>
      Backup server:<br>
                     <input type="checkbox" name="fillserver" value="1" <!--#if int($servers[$server]['fillserver']) != 0 then "checked=1" else ""#--> />
                 <br>
      <input type="hidden" name="server" value="$server">
      <p><input type="submit" value="Save Changes"></p>
      <p><input type="submit" onclick="this.form.action='delServer'; this.form.submit(); return false;" value="Remove Server"></p>
    </fieldset>
  </form>
<!--#end for#-->
</div>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
