<!--#set global $topmenu="config"#-->
<!--#set global $statpath=".."#-->
<!--#set global $helpsubject="Configure"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu=""#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>Configuration</h2>
<p>
<b>Configfile:</b> $configfn
</p>

The button below will restart SABnzbd.<br/>
Use it when you think the program has a stability problem.<br/>
Downloading will be paused before the restart and resume afterwards.<br/><br/>

<form action="saveGeneral" method="post">
<input type="submit" onclick="this.form.action='restart?session=$session'; this.form.submit(); return false;" value="Restart"/>
</form>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
