<!--#set global $topmenu="config"#-->
<!--#set global $statpath=".."#-->
<!--#set global $helpsubject="Configure"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<!--#set global $submenu=""#-->
<!--#include $webdir + "/inc_cmenu.tmpl"#-->

<h2>Configuration</h2>
<p>
<b>Configfile:</b> $configfn
</p>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
