<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/default.css"/>
    <link rel="shortcut icon" href="../../static/images/favicon.ico" />
</head>
<body>
<h1><span id="first">SAB</span><span id="second">nzbd+</span><span id="third"> $version</span><span id="catchfrase">The automatic usenet download tool</span></h1>
<span class="MainMenu">
<a href="../../">Home</a> |
<a href="../../queue">Queue</a> |
<a href="../../history">History</a> |
<a class="current" href="../">Config</a> |
<a href="../../connections">Connections</a> |
<a href="http://sabnzbdplus.wiki.sourceforge.net/Configure+General" target="_blank">Help</a>
</span>
<span class="SubMenu">
<a class="current" href="./">General</a> |
<a href="../directories">Directories</a> |
<a href="../switches">Switches</a> |
<a href="../server">Servers</a> |
<a href="../scheduling">Scheduling</a> |
<a href="../rss">RSS</a> |
<a href="../email">Email</a> |
<a href="../newzbin">Newzbin</a>
</span>
<h2>General configuration</h2>
<form action="saveGeneral" method="post">
<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<strong>Manual restart needed!</strong><br><br>
<legend>Web server</legend>
<strong>Host:</strong><br>
Host SABnzbd should listen on.<br>
<input type="text" name="host" value="$host">
<br>
<br>
<strong>Port:</strong><br>
Post SABnzbd should listen on.<br>
<input type="text" name="port" value="$port">
<br>
<br>
<strong>Web username:</strong><br>
Authentication Username.<br>
<input type="text" name="username" value="$username">
<br>
<br>
<strong>Web password:</strong><br>
Authentication Password.<br>
<input type="password" name="password" value="$password">
<br>
<br>
<strong>User interface:</strong><br>
Choose a user interface (restart required!).<br>
<select name="web_dir">
    <!--#for $webline in $web_list#-->
        <!--#if $webline == $web_dir#-->
            <option value="$webline" selected>$webline</option>
        <!--#else#-->
            <option value="$webline">$webline</option>
        <!--#end if#-->
    <!--#end for#-->
</select>
</fieldset>
</div>
<div class="EntryBlock">
<fieldset class="EntryFieldSet">
<legend>Tuning</legend>
<strong>Queue auto refresh interval:</strong><br>
Refresh interval of the queue web-interface page(sec, 0= none)<br>
<input type="text" name="refresh_rate" value="$refresh_rate">
<br>
<br>
<strong>RSS checking rate:</strong><br>
Checking rate  (times per day 1..48)<br>
<input type="text" name="rss_rate" value="$rss_rate">
<br>
<br>
<strong>Bandwith Limit:</strong><br>
Download speed limit in kilobytes per second(kB/s).<br>
<input type="text" name="bandwith_limit" value="$bandwith_limit">
<br>
<br>
<strong>Article Cache Limit:</strong><br>
Cache articles in memory.<br>
<input type="text" name="cache_limitstr" value="$cache_limitstr">
<br>
<br>
<strong>Cleanup List:</strong><br>
List of file (extensions) that should be deleted at the cleanup stage.<br>
For example: ".nfo," or ".nfo, .sfv"<br>
<input type="text" name="cleanup_list" value="$cleanup_list">
<br>
<br>
<strong>Ignore List:</strong><br>
Will not download files that match an item in this list. Example: ".sample, -sample"<br>
<input type="text" name="ignore_list" value="$ignore_list">
</fieldset>
</div>
<p>
<input type="submit" value="Save Changes">
</p>
</form>
</table>
<div class="footer">
<!--#if $shutdown then "<b>SHUTDOWN</b> - " else ""#--><b>Download Dir:</b> $diskspace1 GB - <b>Complete Dir:</b> $diskspace2 GB - <b>Download speed:</b> $kbpersec KB/s - <b>Queued:</b> $mbleft/$mb MB <!--#if $paused then "- <b>PAUSED</b>" else ""#--><br>
<!--#if int($cache_limit)#-->
<b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br>
<!--#end if#-->
<!--#if $new_release#-->
    <b>New release $new_release available at <a href="$new_rel_url" target="_blank">SF.net</a></b><br>
<!--#end if#-->
</div>
</body>
</html>
