<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/default.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/defaultcolors.css"/>
    <!--#if $color_scheme#-->
        <link rel="stylesheet" type="text/css" href="../../static/stylesheets/colorschemes/$color_scheme"/>
    <!--#end if#-->
    <link rel="shortcut icon" href="../../static/images/favicon.ico" />
    <script type="text/javascript">
    function tvAdd(val){
        var tv = document.getElementById('tvfoldername'); 
        tv.value = tv.value + val;
        previewtv();
    }
    function tvSet(val){
        var tv = document.getElementById('tvfoldername'); 
        tv.value = val;
        previewtv();
    }
    function tvClear(){
        var tv = document.getElementById('tvfoldername'); 
        tv.value = '';
        previewtv();
    }
    function previewtv(){
        var input = document.getElementById('tvfoldername').value;
        input.toLowerCase()
        input = input.replace(/%ext/g,'avi');
        input = input.replace(/%sn/g,'Show Name');
        input = input.replace(/%\s.n/g,'Show.Name');
        input = input.replace(/%\s_n/g,'Show_Name');
        input = input.replace(/%0s/g,'01');
        input = input.replace(/%s/g,'1');
        input = input.replace(/%en/g,'Episode Name');
        input = input.replace(/%e\.n/g,'Episode.Name');
        input = input.replace(/%e\_n/g,'Episode_Name');
        input = input.replace(/%0e/g,'05');
        input = input.replace(/%e/g,'5');
        var com = document.getElementById('complete_dir').value;
        var outbox = document.getElementById('previewtv').innerHTML = com+"/"+input;
    }
    </script>

    
    
</head>
<body>
<h1><span id="first">SAB</span><span id="second">nzbd+</span><span id="third"> $version</span><span id="catchfrase">The automatic usenet download tool</span></h1>
<span class="MainMenu">
<a href="../../">Home</a> |
<a href="../../queue">Queue</a> |
<a href="../../history">History</a> |
<a class="current" href="../">Config</a> |
<a href="../../connections">Connections</a> |
<a href="$helpuri/Configure+Directories" target="_blank">Help</a>
</span>
<span class="SubMenu">
<a href="../general">General</a> |
<a class="current" href="./">Folders</a> |
<a href="../switches">Switches</a> |
<a href="../server">Servers</a> |
<a href="../scheduling">Scheduling</a> |
<a href="../rss">RSS</a> |
<a href="../email">Email</a> |
<a href="../newzbin">Newzbin</a> |
<a href="../categories">Categories</a>
</span>
<h2>Folder configuration</h2>
<p><strong>
    <em>NOTE:</em> Folders will be created automatically when Saving.<br />
</strong></p>
<form action="saveDirectories" method="post">
<div class="EntryBlock">
  <fieldset class="EntryFieldSet">
    <legend>User Folders</legend>
    <emp>In "$my_home"</emp><br><br>
    <strong>Temporary Download Folder:</strong><br>
    Location to store unprocessed downloads.<br>
    <input type="text" size="40" name="download_dir" value="$download_dir">
    <br>
    <br>
    <strong>Minimum free space for Temporary Download Folder:</strong><br>
    Auto-pause when free space is beneath this value.<br>
    <input type="text" size="10" name="download_free" value="$download_free">
    <br>
    <br>
    <strong>Completed Download Folder:</strong><br>
    (can be overruled by user-defined categories)<br>
    <input type="text" size="40" id="complete_dir" name="complete_dir" value="$complete_dir">
    <!--#if not $nt#-->
        <br>
        <br>
        <strong>Permissions for completed downloads:</strong><br>
        Set permissions pattern for completed files, octal notation only!<br>
        <input type="text" size="10" name="permissions" value="$permissions">
    <!--#end if#-->
    <br>
    <br>
    <strong>Watched Folder:</strong><br>
    Folder to monitor for .nzb and .zip files.<br>
    <input type="text" size="40" name="dirscan_dir" value="$dirscan_dir">
    <br>
    <br>
    <strong>Watched Folder scan speed:</strong><br>
    Number of seconds between scans for .nzb files.<br>
    <input type="text" size="10" name="dirscan_speed" value="$dirscan_speed">
    <br>
    <br>
    <strong>Folder containing the user scripts:</strong><br>
    Folder containing user scripts for post-processing.<br>
    <input type="text" size="40" name="script_dir" value="$script_dir">
  </fieldset>
  <fieldset class="EntryFieldSet">
    <legend>System folders</legend>
    <emp>In "$my_lcldata"</emp><br><br>
    <strong>Cache folder:</strong><br>
    Location for temporary storage.<br>
    <input type="text" size="40" name="cache_dir" value="$cache_dir">
    <br>
    <br>
    <strong>Log folder:</strong><br>
    Location of log files for SABnzbd.<br>
    <input type="text" size="40" name="log_dir" value="$log_dir">
    <br>
    <br>
    <strong>Backup folder for .nzb:</strong><br>
    Location where .nzb will be backed up.<br>
    <input type="text" size="40" name="nzb_backup_dir" value="$nzb_backup_dir">
  </fieldset>
  <fieldset class="EntryFieldSet">
  <legend>Folder sorting</legend>
  
    <strong>Enable TV Sorting:</strong><br>
    Enable folder sorting.<br>
    <input type="radio" name="enable_tv_sorting" value="0" <!--#if $enable_tv_sorting == 0 then "checked=1" else ""#--> /> No
    <input type="radio" name="enable_tv_sorting" value="1" <!--#if $enable_tv_sorting > 0 then "checked=1" else ""#--> /> Yes
    <br>
    <br>
    <strong>TV Folder Sorting:</strong><br />
   
    <table border="1">
    <tr>
    <th></th>
    <th>Pattern</th>
    <th>Result</th>
    </tr>
    <tr>
    <td rowspan="3">Show Name</td>
    <td>%sn</td>
    <td>Show Name</td>
    </tr>
    <tr>

    <td>%s.n</td>
    <td>Show.Name</td>
    </tr>
    <tr>

    <td>%s_n</td>
    <td>Show_Name</td>
    </tr>
    <tr>
    <td rowspan="2">Season Number</td>
    <td>%s</td>
    <td>1</td>
    </tr>
    <tr>

    <td>%0s</td>
    <td>01</td>
    </tr>
    <tr>
    <td rowspan="2">Episode Number</td>
    <td>%e</td>
    <td>5</td>
    </tr>
    <tr>

    <td>%0e</td>
    <td>05</td>
    </tr>
    <tr>
    <td rowspan="3">Episode Name</td>
    <td>%en</td>
    <td>Episode Name</td>
    </tr>
    <tr>

    <td>%e.n</td>
    <td>Episode.Name</td>
    </tr>
    <tr>

    <td>%e_n</td>
    <td>Episode_Name</td>
    </tr>
    <tr>
    <td>File Extension</td>
    <td>%ext</td>
    <td>avi</td>
    </tr>
    <!--<tr>
    <td>Original Filename</td>
    <td>%fn</td>
    <td>Episode Name</td>
    </tr>-->
    </table>
    <br />
    <input type="button" onclick="tvSet('%sn/Season %s/%sn - %sx%0e - %en.%ext')" value="1x05 Season Folder"/>
    <input type="button" onclick="tvSet('%sn/Season %s/%sn - S%0sE%0e - %en.%ext')" value="S01E05 Season Folder"/><br />
    <input type="button" onclick="tvSet('%sn/%sx%0e - %en/%sn - %sx%0e - %en.%ext')" value="1x05 Episode Folder"/>
    <input type="button" onclick="tvSet('%sn/S%0sE%0e - %en/%sn - S%0sE%0e - %en.%ext')" value="S01E05 Episode Folder"/><br />
    <input type="button" onclick="tvClear()" value="Clear"/><br />
    <input type="text" size="80" id="tvfoldername" name="tv_sort_string" value="$tv_sort_string" onkeyup="javascript:previewtv()"><br />
    <span id="previewtv"></span>
    
    
    
</fieldset>




</div><br>
<input type="submit" size="40" value="Save Changes">
</form>
<div class="footer">
<!--#if $shutdown then "<b>SHUTDOWN</b> - " else ""#--><b>Download Dir:</b> $diskspace1 GB - <b>Complete Dir:</b> $diskspace2 GB - <b>Download speed:</b> $kbpersec KB/s - <b>Queued:</b> $mbleft/$mb MB <!--#if $paused then "- <b>PAUSED</b>" else ""#--><br>
<!--#if int($cache_limit)#-->
<b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br>
<!--#end if#-->
<!--#if $new_release#-->
    <b>New release $new_release available at <a href="$new_rel_url" target="_blank">SF.net</a></b><br>
<!--#end if#-->
</div>
</body>
</html>
