<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd+ $version - Queued: $mbleft MB</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/default.css"/>
    <link rel="shortcut icon" href="../static/images/favicon.ico" />
</head>
<body>
<h1><span id="first">SAB</span><span id="second">nzbd+</span><span id="third"> $version</span><span id="catchfrase">The automatic usenet download tool</span></h1>
<span class="MainMenu">
<a href="../">Home</a> |
<a href="../queue/">Queue</a> |
<a href="../history/">History</a> |
<a class="current" href="./">Config</a> |
<a href="../connections/">Connections</a> |
<a href="http://sabnzbdplus.wiki.sourceforge.net/Configure" target="_blank">Help</a>
</span>
<span class="SubMenu"><a href="./general">General</a> | <a href="./directories">Directories</a> | <a href="./switches">Switches</a> | <a href="./server">Servers</a> | <a href="./scheduling">Scheduling</a> | <a href="./rss">RSS</a> | <a href="./email">Email</a></span>
<h2>Configuration</h2>
<p>
<b>Configfile:</b> $configfn
</p>
<div class="footer">
<!--#if $shutdown then "<b>SHUTDOWN</b> - " else ""#--><b>Download Dir:</b> $diskspace1 GB - <b>Complete Dir:</b> $diskspace2 GB - <b>Download speed:</b> $kbpersec KB/s - <b>Queued:</b> $mbleft/$mb MB <!--#if $paused then "- <b>PAUSED</b>" else ""#--><br>
<!--#if int($cache_limit)#-->
<b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br>
<!--#end if#-->
<!--#if $new_release#-->
    <b>New release $new_release available at <a href="$new_rel_url" target="_blank">SF.net</a></b><br>
<!--#end if#-->
</div>
</body>
</html>
