<!--#set global $have_refresh=5#-->
<!--#set global $topmenu="connections"#-->
<!--#set global $statpath=".."#-->
<!--#include "interfaces/Default/templates/inc_top.tmpl"#-->

<span class="SubMenu">
<a href="./disconnect">Force Disconnect</a> |
<a href="./testmail" onclick="javascript:return confirm('This will send a test email to your account.')">Test Email</a> |
<a href="./showlog">Show logging</a> |
<a href="./showweb">Show Weblogging</a>
Logging:
<select onChange="location = './change_loglevel?loglevel='+this.options[this.selectedIndex].value">
    <option value="0" <!--#if $loglevel == "0" then "selected" else ""#-->>Errors/Warning</option>
    <option value="1" <!--#if $loglevel == "1" then "selected" else ""#-->>+ Info</option>
    <option value="2" <!--#if $loglevel == "2" then "selected" else ""#-->>+ Debug</option>
</select>
</span>

<h2>Connections</h2>
<!--#if $servers#-->
    <ul>
    <!--#for $server in $servers#-->
        <li>
            $server[0]:$server[1]: $server[2]
            <ul>
            <!--#for $thrd in $server[3]#-->
                <li>Thread #$thrd[0] -&gt; $thrd[1] -&gt; $thrd[2] -&gt; $thrd[3]</li>
            <!--#end for#-->
            </ul>
        </li>
    <!--#end for#-->
    </ul>
<!--#end if#-->
<!--#if $lastmail#-->
    <h2>Email test result</h2>
    $lastmail
<!--#end if#-->
<!--#if $warnings#-->
    <h2>Last warnings (<a href="./clearwarnings">clear</a>)</h2>
    <!--#for $warn in $warnings#-->
        $warn<br/>
    <!--#end for#-->
<!--#end if#-->

<!--#include "interfaces/Default/templates/inc_bottom.tmpl"#-->
