<!--#if $submenu == ""#-->
    <!--#set $cpath="."#-->
<!--#else#-->
    <!--#set $cpath=".."#-->
<!--#end if#-->

<span class="SubMenu">
<!--#if $submenu=="general"#-->
    <a class="current" href="./">General</a> |
<!--#else#-->
    <a href="$cpath/general/">General</a> |
<!--#end if#-->

<!--#if $submenu=="directories"#-->
    <a class="current" href="./">Folders</a> |
<!--#else#-->
    <a href="$cpath/directories/">Folders</a> |
<!--#end if#-->

<!--#if $submenu=="switches"#-->
    <a class="current" href="./">Switches</a> |
<!--#else#-->
    <a href="$cpath/switches/">Switches</a> |
<!--#end if#-->

<!--#if $submenu=="servers"#-->
    <a class="current" href="./">Servers</a> |
<!--#else#-->
    <a href="$cpath/server/">Servers</a> |
<!--#end if#-->

<!--#if $submenu=="scheduling"#-->
    <a class="current" href="./">Scheduling</a> |
<!--#else#-->
    <a href="$cpath/scheduling/">Scheduling</a> |
<!--#end if#-->

<!--#if $submenu=="rss"#-->
    <a class="current" href="./">RSS</a> |
<!--#else#-->
    <a href="$cpath/rss/">RSS</a> |
<!--#end if#-->

<!--#if $submenu=="email"#-->
    <a class="current" href="./">Email</a> |
<!--#else#-->
    <a href="$cpath/email/">Email</a> |
<!--#end if#-->

<!--#if $submenu=="newzbin"#-->
    <a class="current" href="./">Newzbin</a> |
<!--#else#-->
    <a href="$cpath/newzbin/">Newzbin</a> |
<!--#end if#-->

<!--#if $submenu=="categories"#-->
    <a class="current" href="./">Categories</a>
<!--#else#-->
    <a href="$cpath/categories/">Categories</a>
<!--#end if#-->

</span>
