<!--#set global $topmenu=""#-->
<!--#set global $statpath="."#-->
<!--#set global $helpsubject="GUI+Main"#-->
<!--#include $webdir + "/inc_top.tmpl"#-->

<span class="SubMenu">
<!--#if $paused then "<a href=\"./resume\">Resume</a>" else "<a href=\"./pause\">Pause</a>"#--> |
<a href="./shutdown" onclick="javascript:return confirm('Are you sure you want to shutdown SABnzbd?')">Shutdown</a>
</span>

<h2>Add new downloads</h2>
<div class="EntryBlock">
    <form action="addID" method="get">
    <fieldset class="EntryFieldSet">
        <legend>Add <!--#if $varExists('newzbinDetails') then "Report-id / " else ""#-->URL</legend>
        <input type="text" name="id">
        <!--#if $cat_list#-->
            <select name="cat">
                <!--#for $ct in $cat_list#-->
                    <option value="$ct">$ct</option>
                <!--#end for#-->
            </select>
        <!--#end if#-->
        <select name="pp">
        <option value="-1" <!--#if $cat_list then "selected" else ""#-->>Default</option>
        <option value="0">None</option>
        <option value="1">+Repair</option>
        <option value="2">+Unpack</option>
        <option value="3" <!--#if $cat_list then "" else "selected"#-->>+Delete</option>
        </select>
        <!--#if $script_list#-->
            <select name="script">
            <!--#for $sc in $script_list#-->
                <option value="$sc">$sc</option>
            <!--#end for#-->
            </select>
        <!--#end if#-->
        <br>
        <input type="submit" value="Add">
    </fieldset>
    </form>
</div>
<div class="EntryBlock">
    <form action="addFile" method="post" enctype="multipart/form-data">
    <fieldset class="EntryFieldSet">
        <legend>Add File</legend>
        <input type="file" name="nzbfile">
        <!--#if $cat_list#-->
            <select name="cat">
                <!--#for $ct in $cat_list#-->
                    <option value="$ct">$ct</option>
                <!--#end for#-->
            </select>
        <!--#end if#-->
        <select name="pp">
        <option value="-1" <!--#if $cat_list then "selected" else ""#-->>Default</option>
        <option value="0">None</option>
        <option value="1">+Repair</option>
        <option value="2">+Unpack</option>
        <option value="3" <!--#if $cat_list then "" else "selected"#-->>+Delete</option>
        </select>
        <!--#if $script_list#-->
            <select name="script">
            <!--#for $sc in $script_list#-->
                <option value="$sc">$sc</option>
            <!--#end for#-->
            </select>
        <!--#end if#-->
        <br>
        <input type="submit" value="Add">
    </fieldset>
    </form>
</div>

<!--#include $webdir + "/inc_bottom.tmpl"#-->
