# Basic build requirements
# Note that not all sub-dependencies are listed, but only ones we know could cause trouble
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.0
altgraph==0.17.2
wrapt==1.13.3
setuptools==60.8.1
pkginfo
certifi
pygithub

# For the OSX build specific
dmgbuild==1.5.2; sys_platform == 'darwin'
