# Basic build requirements
# Note that not all sub-dependencies are listed, but only ones we know could cause trouble
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
altgraph==0.17.2
wrapt==1.14.1
setuptools==65.0.0
pkginfo==1.8.3
PyGithub==1.55
charset-normalizer==2.1.0
certifi

# orjson does not support 32bit Windows, exclude it based on Python-version
# This way we also test ujson on Python 3.7 and 3.8 in the CI-tests
orjson==3.7.11; python_version > '3.8'

# For the macOS build
dmgbuild==1.5.2; sys_platform == 'darwin'
mac-alias==2.2.0; sys_platform == 'darwin'
macholib==1.16; sys_platform == 'darwin'
ds-store==1.3.0; sys_platform == 'darwin'
PyNaCl==1.5.0; sys_platform == 'darwin'