/* assembled by pairofimdes through use of examples */

body { /* main body fonts and backgrounds */
	font: 0.6em 'Trebuchet MS', Helvetica, FreeSans, Arial, sans-serif;
}
 
/* 
*	JQUERY LAYOUT CLASSES
*/

.ui-layout-resizer { /* all 'resizer-bars' */
	background: #EEE;
}
.ui-layout-toggler { /* all 'toggler-buttons' */
	background: #CCC;
}
.inner-north { /* contextual help and message */
	background: #FFFDD6;
}
.inner-center ,
.inner-west ,
.inner-north {
	padding-bottom:	0 !important;
}
.pane {	/* custom class used to HIDE layout-panes until Layout initializes */
	display: none;
}

/*
 *	PageLayout Panes - Tab Buttons & Panels
 */
#TabButtons {			/* North */
}
#TabPanelsContainer {	/* Center */
	background:	#000;			/* DEBUG - BLUE */
	/*border:		10px solid #00C;/* DEBUG */
	/*padding:	10px;			/* DEBUG */
	}
	#tabs .ui-tabs-panel {
		/* don't need border or rounded corners - tabs 'fill' the pane */
		border:		0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}

	/*
	 *	Downloads - Tab #1
	 */
	#Downloads {	/* Container */
		width:		100%;
		height:		100%;
		padding:	0;		/* add padding to #TabPanelsContainer instead */
		background: #AFF;	/* DEBUG - CYAN */
		}
		#InnerLayout {		/* Container */
			/*padding:	10px;			/* DEBUG */
			/*background: #AFA;			/* DEBUG - GREEN  */
			/*border:		10px solid #090;/* DEBUG */
			}

.header {
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	padding: 4px;
}
.subhead {
	padding: 3px 4px;
	border-bottom: 1px solid;
}
.footer {
	padding: 3px 4px;
	border-top: 1px solid;
	}
	.footer p,
	.footer div,
	.footer form,
	.footer span {
		display: inline;
	}
#FooterTabButtons {
	font-size: 11px;
}
.ui-widget-content {
	/*padding:	3px 7px;*/
	overflow:	auto;
}

.outer-north {
	background:	#C00;
	overflow:	visible;
}
