<a href="${helpuri}Configure+Indexers-0-7" id="help" target="_blank">$T('menu-help')</a>
<h3>NzbMatrix</h3><br/>

$T('explain-nzbmatrix')<br/>
<br/>
<div class="EntryBlock">


<fieldset class="EntryFieldSet">
<legend>$T('accountInfo')</legend>
  <hr />
    <label class="label">$T('opt-username_matrix'):</label>
    <input type="text" name="matrix_username" value="$matrix_username">
    <span class="tips">$T('explain-username_matrix')</span>
  <br class="clear" />


  <label class="label">$T('opt-apikey_matrix'):</label>
  <input type="text" name="matrix_apikey" value="$matrix_apikey">
  <span class="tips">$T('explain-apikey_matrix')</span>
<br class="clear" />

  <label><span class="label">$T('opt-newzbin_unbookmark'):</span>
  <input class="radio" type="checkbox" name="matrix_del_bookmark" value="1" <!--#if $matrix_del_bookmark > 0 then "checked=1" else ""#--> />
  <span class="tips">$T('explain-newzbin_unbookmark')</span></label>
<br class="clear" />

</fieldset>

<p>
  <input type="button" size="40" value="$T('button-saveChanges')" onclick="javascript:submitconfig('config/indexers/saveNewzbin', this, 'configNewzbin')">
</p>
</form>
