<a href="${helpuri}Configure+Scheduling-0-8 id="help" target="_blank">$T('menu-help')</a>
<h3>$T('configSchedule')</h3>
<div class="EntryBlock">
<form class="cmxform" id="schedule">
<fieldset class="EntryFieldSet">
<legend>$T('addSchedule')</legend>
  <hr />
  <br class="clear" />
  <%import time
t = time.localtime()
hour = t[3]
if hour != 23:
  hour += 1
else:
  hour = 0 %>
<label class="label">$T('smpl-hourmin'):</label>
<select name="hour">
<!--#for $i in range(24)#-->
<option value="$i" <!--#if hour == i then "selected=1" else ""#-->> $i</option>
<!--#end for#-->
</select>
:
<select name="minute">
<!--#for $i in range(60)#-->
<option value="$i">$i
<!--#end for#-->
</select>
<br class="clear" />
<label class="label" for="daysofweek">$T('sch-frequency'):</label>
<input type="checkbox" name="daysofweek" value="1">$T('monday')<br/>
<input type="checkbox" name="daysofweek" value="2">$T('tuesday')<br/>
<input type="checkbox" name="daysofweek" value="3">$T('wednesday')<br/>
<input type="checkbox" name="daysofweek" value="4">$T('thursday')<br/>
<input type="checkbox" name="daysofweek" value="5">$T('friday')<br/>
<input type="checkbox" name="daysofweek" value="6">$T('saturday')<br/>
<input type="checkbox" name="daysofweek" value="7">$T('sunday')<br/>
<br class="clear" />
<label class="label">$T('sch-action'):</label>
<select name="action">
<!--#for $action in $actions#-->
  <option value="$action">$actions_lng[$action]
<!--#end for#-->
</select>
<br class="clear" />
<label class="label">$T('sch-arguments'):</label>
<input class="schedulesubmit" type="text" size="20" name="arguments" value="">
<br class="clear" />
<p>
  <input type="button" size="40" value="$T('button-addSchedule')" onclick="javascript:submitconfig('config/scheduling/addSchedule', this,'schedule', 'config/scheduling','0')">
</p>
</fieldset>
</form>
</div>
<h3>$T('currentSchedules'):</h3><br />
<div class="EntryBlock">
<!--#set $schednum = 0#-->
<!--#for $line in $schedlines#-->
<form id="$line">
<input class="schedulesubmit" type="button" size="5" value="$T('button-x')" onclick="javascript:submitconfig('config/scheduling/delSchedule', '', '$line', 'config/scheduling','0')">
$T('sch-task') $taskinfo[$schednum][0]: <strong>$taskinfo[$schednum][1]:$taskinfo[$schednum][2]</strong> - $taskinfo[$schednum][3] - $taskinfo[$schednum][4]
<input type="hidden" name="line" value="$line">
<!--#set $schednum = $schednum+1#-->

</form>
<!--#end for#-->
</div>
