
<a href="${helpuri}Configure+Servers-0-8" id="help" target="_blank">$T('menu-help')</a>
<h3>$T('configServer')</h3>
<div class="EntryBlock">
  <!--#set $slist = $servers.keys()#-->
  <!--#$slist.sort()#-->
  <!--#for $server in $slist#-->
<div class="server">
  <form class="cmxform" id="$servers[$server]['host']$servers[$server]['port']" autocomplete="off">
    <fieldset class="EntryFieldSet">
    <legend>$servers[$server]['displayname']</legend>
      <hr />
      <label class="label">$T('srv-host'):</label><input type="text" size="25" name="host" value="$servers[$server]['host']">
        <br class="clear" />
      <label class="label">$T('srv-port'):</label><input type="text" size="25" name="port" value="$servers[$server]['port']">
        <br class="clear" />
      <label class="label">$T('srv-username'):</label><input type="text" size="25" name="username" value="$servers[$server]['username']">
        <br class="clear" />
      <label class="label">$T('srv-password'):</label><input type="password" size="25" name="password" value="$servers[$server]['password']">
        <br class="clear" />
      <label class="label">$T('srv-timeout'):</label><input type="text" size="25" name="timeout" value="$servers[$server]['timeout']">
        <br class="clear" />
      <label class="label">$T('srv-connections'):</label><input type="text" size="25" name="connections" value="$servers[$server]['connections']">
        <br class="clear" />
      <label class="label">$T('srv-priority'):</label><input type="text" size="25" name="priority" value="$servers[$server]['priority']">
        <br class="clear" />
      <label class="label">$T('srv-retention') ($T('days')):</label><input type="text" size="25" name="retention" value="$servers[$server]['retention']">
        <br class="clear" />
      <label class="label">$T('srv-displayname'):</label><input type="text" size="25" name="displayname" value="$servers[$server]['displayname']">
        <br class="clear" />


  <label><span class="label">$T('srv-ssl'):</span>
  <!--#if int($have_ssl) == 1#-->
     <input class="radio" type="checkbox" name="ssl" value="1" <!--#if int($servers[$server]['ssl']) != 0 and int($have_ssl) == 1 then "checked=1" else ""#--> <!--#if int($have_ssl) == 0 then "disabled" else ""#-->/>
  <!--#else#-->
    <i>$T('opt-notInstalled')</i>
  <!--#end if#-->
  </label><br class="clear" />

  <label><span class="label">$T('srv-ssl_type'):</span>
    <!--#if int($have_ssl) == 1#-->
        <select name="ssl_type" id="ssl_type">
            <option value="t1"  <!--#if $servers[$server]['ssl_type'] == "t1"  then 'selected="selected" class="selected"' else ""#--> >TLS1</option>
            <option value="v23" <!--#if $servers[$server]['ssl_type'] == "v23" then 'selected="selected" class="selected"' else ""#--> >V23</option>
            <option value="v2"  <!--#if $servers[$server]['ssl_type'] == "v2"  then 'selected="selected" class="selected"' else ""#--> >V2</option>
            <option value="v3"  <!--#if $servers[$server]['ssl_type'] == "v3"  then 'selected="selected" class="selected"' else ""#--> >V3</option>
        </select>
    <!--#else#-->
    <i>$T('opt-notInstalled')</i>
    <!--#end if#-->
  </label><br class="clear" />

  <label><span class="label">$T('srv-send_group'):</span>
  <input class="radio" type="checkbox" name="send_group" value="1" />
  </label><br class="clear" />

  <label><span class="label">$T('srv-optional'):</span>
  <input class="radio" type="checkbox" name="optional" value="1" <!--#if int($servers[$server]['optional']) != 0 then "checked=1" else ""#--> /></label>
  </label><br class="clear" />

  <label><span class="label">$T('srv-categories'):</span>
    <select name="categories" multiple>
    <!--#for $cat in $cats#-->
      <option value="$cat" <!--#if $cat == "Default" then 'selected' else ""#-->>$cat</option>
    <!--#end for#-->
    </select></label>
<br class="clear" />

  <label><span class="label">$T('srv-enable'):</span>
  <input class="radio" type="checkbox" name="enable" value="1" <!--#if int($servers[$server]['enable']) != 0 then "checked=1" else ""#--> /></label>
<br class="clear" />

  <!--#if 'amounts' in $servers[$server]#-->
  <table border="1" >
    <tr><td>$T('total')</td><td>&nbsp;&nbsp;$servers[$server]['amounts'][0]</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;$T('thisMonth')</td><td>&nbsp;&nbsp;$servers[$server]['amounts'][1]</td></tr>
    <tr><td>$T('today')</td><td>&nbsp;&nbsp;$servers[$server]['amounts'][3]</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;$T('thisWeek')</td><td>&nbsp;&nbsp;$servers[$server]['amounts'][2]</td></tr>
  </table>
  <!--#end if#-->

  <div id="$servers[$server]['host']$servers[$server]['port']-result" class="server-test">$T('srv-testHint')</div>
  <input type="hidden" name="server" value="$server">

<input type="button" class="submitindent" size="40" value="$T('button-testServer')" onclick="javascript:testServer('$servers[$server]['host']$servers[$server]['port']')">
  <p><input type="button" class="submitindent" size="40" value="$T('button-saveChanges')" onclick="javascript:submitconfig('config/server/saveServer',this,'$servers[$server]['host']$servers[$server]['port']')">
    <br class="clear" />
    <input type="button" class="submitindent" size="40" value="$T('button-delServer')" onclick="javascript:submitconfig('config/server/delServer', this,'$servers[$server]['host']$servers[$server]['port']','config/server','0')">
  </p>
  </fieldset>
</form><br class="clear"/>
</div>
<!--#end for#-->
<br class="clear"/>
  <form id="addserver" class="cmxform" autocomplete="off">
    <fieldset class="EntryFieldSet">
      <legend>$T('addServer')</legend>
  <hr />


  <label class="label">$T('srv-host'):</label><input type="text" size="25" name="host">
<br class="clear" />

  <label class="label">$T('srv-port'):</label><input type="text" size="25" name="port">
<br class="clear" />

  <label class="label">$T('srv-username'):</label><input type="text" size="25" name="username">
<br class="clear" />

  <label class="label">$T('srv-password'):</label><input type="password" size="25" name="password">
<br class="clear" />

  <label class="label">$T('srv-timeout'):</label><input type="text" size="25" name="timeout" value="120">
<br class="clear" />

  <label class="label">$T('srv-connections'):</label><input type="text" size="25" name="connections">
<br class="clear" />

  <label class="label">$T('srv-priority'):</label><input type="text" size="25" name="priority">
<br class="clear" />

  <label class="label">$T('srv-retention') ($T('days')):</label><input type="text" size="25" name="retention">
<br class="clear" />

  <label><span class="label">$T('srv-ssl')<!--#if int($have_ssl) == 0 then $T('opt-notInstalled') else ""#-->:</span>
    <input class="radio" type="checkbox" name="ssl" value="1" <!--#if int($have_ssl) == 0 then "disabled" else ""#-->></label>
<br class="clear" />

  <label><span class="label">$T('srv-ssl_type')<!--#if int($have_ssl) == 0 then $T('opt-notInstalled') else ""#-->:</span>
  <!--#if int($have_ssl) == 1#-->
    <select name="sec_type" id="sec_type" class="select">
      <option value="t1" selected> TLS1</option>
      <option value="v23"> V23</option>
      <option value="v2"> V2</option>
      <option value="v3"> V3</option>
    </select>
  <!--#end if#-->
<br class="clear" />

  <label><span class="label">$T('srv-send_group'):</span>
    <input class="radio" type="checkbox" name="send_group" value="1"></label>
<br class="clear" />

  <label><span class="label">$T('srv-optional'):</span>
    <input class="radio" type="checkbox" name="optional" value="1"></label>
<br class="clear" />

  <label><span class="label">$T('srv-categories'):</span>
    <select name="categories" multiple>
    <!--#for $cat in $cats#-->
      <option value="$cat" <!--#if $cat in $servers[$server]['categories'] then 'selected' else ""#-->>$cat</option>
    <!--#end for#-->
    </select></label>
<br class="clear" />

  <label><span class="label">$T('srv-enable'):</span>
    <input class="radio" type="checkbox" name="enable" value="1" checked="1"></label>
<br class="clear" />

<p>
  <input type="button" class="submitindent" size="40" value="$T('button-addServer')" onclick="javascript:submitconfig('config/server/addServer', this,'addserver','config/server','0')">
</p>

</fieldset>
  </form><br class="clear"/>

</div>
