
<a href="${helpuri}Configure+Switches-0-7" id="help" target="_blank">$T('menu-help')</a>
<h3>$T('switchesConfig')</h3>
<div class="EntryBlock">
  <form id="configSwitches" class="cmxform">
<fieldset class="EntryFieldSet">
<legend>$T('processingSwitches')</legend>
<hr />
  <label><span class="label">$T('opt-quick_check'):</span>
  <input class="radio" type="checkbox" name="quick_check" value="1" <!--#if $quick_check > 0 then 'checked="1"' else ""#--> /></label>
  <span class="tips">$T('explain-quick_check')</span>
<br class="clear" />

  <label><span class="label">$T('opt-pre_check'):</span>
  <input class="radio" type="checkbox" name="pre_check" value="1" <!--#if $pre_check > 0 then 'checked="1"' else ""#--> /></label>
  <span class="tips">$T('explain-pre_check')</span>
<br class="clear" />

  <label><span class="label">$T('opt-enable_unrar'):</span>
  <input class="radio" type="checkbox" name="enable_unrar" value="1" <!--#if $enable_unrar == 1 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-enable_unrar')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-enable_unzip'):</span>
  <input class="radio" type="checkbox" name="enable_unzip" value="1" <!--#if $enable_unzip > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-enable_unzip')</span></label>
<br class="clear" />

<!--#if $have_7zip#-->
  <label><span class="label">$T('opt-enable_7zip'):</span>
  <input class="radio" type="checkbox" name="enable_7zip" value="1" <!--#if $enable_7zip > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-enable_7zip')</span></label>
<br class="clear" />
<!--#end if#-->

  <label><span class="label">$T('opt-enable_filejoin'):</span>
  <input class="radio" type="checkbox" name="enable_filejoin" value="1" <!--#if $enable_filejoin > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-enable_filejoin')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-enable_tsjoin'):</span>
  <input class="radio" type="checkbox" name="enable_tsjoin" value="1" <!--#if $enable_tsjoin > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-ts_join')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-enable_recursive'):</span>
  <input class="radio" type="checkbox" name="enable_recursive" value="1" <!--#if $enable_recursive > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-enable_recursive')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-flat_unpack'):</span>
  <input class="radio" type="checkbox" name="flat_unpack" value="1" <!--#if $flat_unpack > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-flat_unpack')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-overwrite_files'):</span>
  <input class="radio" type="checkbox" name="overwrite_files" value="1" <!--#if $overwrite_files > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-overwrite_files')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-top_only'):</span>
  <input class="radio" type="checkbox" name="top_only" value="1" <!--#if $top_only > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-top_only')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-safe_postproc'):</span>
  <input class="radio" type="checkbox" name="safe_postproc" value="1" <!--#if $safe_postproc > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-safe_postproc')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-pause_on_pwrar'):</span>
  <input class="radio" type="checkbox" name="pause_on_pwrar" value="1" <!--#if $pause_on_pwrar > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-pause_on_pwrar')</span></label>
<br class="clear" />

  <span class="label">$T('opt-no_dupes'):</span>
  <input class="radio" type="radio" name="no_dupes" value="0" <!--#if $no_dupes == 0 then 'checked="1"' else ""#--> /> $T('nodupes-off')
  <input class="radio" type="radio" name="no_dupes" value="1" <!--#if $no_dupes == 1 then 'checked="1"' else ""#--> /> $T('nodupes-ignore')
  <input class="radio" type="radio" name="no_dupes" value="2" <!--#if $no_dupes == 2 then 'checked="1"' else ""#--> /> $T('nodupes-pause')
  <span class="tips">$T('explain-no_dupes')</span>
<br class="clear" />

  <label><span class="label">$T('opt-sfv_check'):</span>
  <input class="radio" type="checkbox" name="sfv_check" value="1" <!--#if $sfv_check > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-sfv_check')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-unpack_check'):</span>
  <input class="radio" type="checkbox" name="unpack_check" value="1" <!--#if $unpack_check > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-unpack_check')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-folder_rename'):</span>
  <input class="radio" type="checkbox" name="folder_rename" value="1" <!--#if $folder_rename > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-folder_rename')</span></label>
<br class="clear" />

  <span class="label">$T('opt-pre_script'):</span>
  <select name="pre_script" id="pre_script" class="select">
  <!--#for $sc in $script_list#-->
    <!--#if $sc.lower() == $pre_script.lower()#-->
      <option value="$sc" selected>$Tspec($sc)</option>
    <!--#else#-->
      <option value="$sc">$Tspec($sc)</option>
    <!--#end if#-->
  <!--#end for#-->
  </select>
  <span class="tips">$T('explain-pre_script')</span>
<br class="clear" />

  <!--#if $have_multicore#-->
    <label><span class="label">$T('opt-par2_multicore'):</span>
    <input class="radio" type="checkbox" name="par2_multicore" value="1" <!--#if $par2_multicore > 0 then 'checked="1"' else ""#--> />
    <span class="tips">$T('explain-par2_multicore')</span></label>
  <br class="clear" />
  <!--#end if#-->

  <span class="label">$T('opt-par_option'):</span>
  <input type="text" name="par_option" value="$par_option"/>
  <span class="tips">$T('explain-par_option')</span></label>
<br class="clear" />

  <!--#if $have_nice#-->
    <span class="label">$T('opt-nice'):</span>
    <input type="text" name="nice" value="$nice"/>
    <span class="tips">$T('explain-nice')</span></label>
  <br class="clear" />
  <!--#end if#-->

  <!--#if $have_ionice#-->
    <span class="label">$T('opt-ionice'):</span>
    <input type="text" name="ionice" value="$ionice"/>
    <span class="tips">$T('explain-ionice')</span></label>
  <br class="clear" />
  <!--#end if#-->

</fieldset>
<fieldset class="EntryFieldSet">
  <legend>$T('otherSwitches')</legend>
<hr />


  <label><span class="label">$T('opt-max_art_tries'):</span>
  <input type="text" size="5" name="max_art_tries" value="$max_art_tries" />
  <span class="tips">$T('explain-max_art_tries')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-max_art_opt'):</span>
  <input class="radio" type="checkbox" name="max_art_opt" value="1" <!--#if $max_art_opt > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-max_art_opt')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-auto_disconnect'):</span>
  <input class="radio" type="checkbox" name="auto_disconnect" value="1" <!--#if $auto_disconnect > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-auto_disconnect')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-auto_sort'):</span>
  <input class="radio" type="checkbox" name="auto_sort" value="1" <!--#if $auto_sort > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-auto_sort')</span></label>
<br class="clear" />

  <span class="label">$T('opt-check_new_rel'):</span>
  <select name="check_new_rel" id="check_new_rel" class="select">
      <option value="0" <!--#if $check_new_rel == 0 then 'selected="selected" class="selected"' else ""#--> >$T('off')</option>
      <option value="1" <!--#if $check_new_rel == 1 then 'selected="selected" class="selected"' else ""#--> >$T('on')</option>
      <option value="2" <!--#if $check_new_rel == 2 then 'selected="selected" class="selected"' else ""#--> >$T('also-test')</option>
  </select>
    <span class="tips">$T('explain-check_new_rel')</span>
<br class="clear" />

  <label><span class="label">$T('opt-replace_spaces'):</span>
  <input class="radio" type="checkbox" name="replace_spaces" value="1" <!--#if $replace_spaces > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-replace_spaces')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-replace_dots'):</span>
  <input class="radio" type="checkbox" name="replace_dots" value="1" <!--#if $replace_dots > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-replace_dots')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-replace_illegal'):</span>
  <input class="radio" type="checkbox" name="replace_illegal" value="1" <!--#if $replace_illegal > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-replace_illegal')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-sanitize_safe'):</span>
  <input class="radio" type="checkbox" name="sanitize_safe" value="1" <!--#if $sanitize_safe > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-sanitize_safe')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-enable_meta'):</span>
  <input class="radio" type="checkbox" name="enable_meta" value="1" <!--#if $enable_meta > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-enable_meta')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-auto_browser'):</span>
  <input class="radio" type="checkbox" name="auto_browser" value="1" <!--#if $auto_browser > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-auto_browser')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-pause_on_post_processing'):</span>
  <input class="radio" type="checkbox" name="pause_on_post_processing" value="1" <!--#if $pause_on_post_processing > 0 then 'checked="1"' else ""#--> /></label>
  <span class="tips">$T('explain-pause_on_post_processing')</span>
<br class="clear" />

  <!--#if $have_ampm#-->
    <label><span class="label">$T('opt-ampm'):</span>
    <input class="radio" type="checkbox" name="ampm" value="1" <!--#if $ampm > 0 then 'checked="1"' else ""#--> /></label>
    <span class="tips">$T('explain-ampm')</span>
  <br class="clear" />
  <!--#end if#-->

  <span class="label">$T('opt-ignore_samples'):</span>
  <input class="radio" type="radio" name="ignore_samples" value="0" <!--#if $ignore_samples == 0 then 'checked="1"' else ""#--> /> $T('igsam-off')
  <input class="radio" type="radio" name="ignore_samples" value="1" <!--#if $ignore_samples == 1 then 'checked="1"' else ""#--> /> $T('igsam-del')
  <span class="tips">$T('explain-ignore_samples')</span>
<br class="clear" />

  </fieldset>

<fieldset class="EntryFieldSet">
  <legend>$T('swtag-quota')</legend>
<hr />

  <span class="label">$T('opt-quota_size'):</span>
  <input type="text" name="quota_size" value="$quota_size"/>
  <span class="tips">$T('explain-quota_size')</span></label>
<br class="clear" />

  <span class="label">$T('opt-quota_period'):</span>
  <select name="quota_period" id="quota_period" class="select">
    <option value="m" <!--#if $quota_period == "m" then 'selected' else ''#--> >$T('month')</option>
    <option value="w" <!--#if $quota_period == "w" then 'selected' else ''#--> >$T('week')</option>
    <option value="d" <!--#if $quota_period == "d" then 'selected' else ''#--> >$T('day')</option>
    <option value="x" <!--#if $quota_period == "x" then 'selected' else ''#--> >$T('manual')</option>
  </select>
    <span class="tips">$T('explain-quota_period')</span>
<br class="clear" />


  <span class="label">$T('opt-quota_day'):</span>
  <input type="text" name="quota_day" value="$quota_day"/>
  <span class="tips">$T('explain-quota_day')</span></label>
<br class="clear" />

  <label><span class="label">$T('opt-quota_resume'):</span>
  <input class="radio" type="checkbox" name="quota_resume" value="1" <!--#if $quota_resume > 0 then 'checked="1"' else ""#--> />
  <span class="tips">$T('explain-quota_resume')</span></label>
<br class="clear" />

  </fieldset>


<p>
  <input type="button" size="40" value="$T('button-saveChanges')" onclick="javascript:submitconfig('config/switches/saveSwitches', this, 'configSwitches')">
</p>
</form>
</div>
