<!--#if $varExists('slot')#-->
  <fieldset class="EntryFieldSet">
  <h3>$T('nzoDetails')</h3>
  <form id="nzbEditForm" class="cmxform">
    <label class="label">$T('nzoName'):</label>
    <input type="text" name="name" style="width:400px" size="80" value="$slot.filename_clean">
    <br class="clear" />
    <label class="label">$T('srv-password'):</label>
    <input type="text" name="password" style="width:200px" size="100" value="$slot.password">
    <br class="clear" />
    <label class="label">$T('pp'):</label>
    <select name="pp">
      <option value="0" <!--#if $slot.unpackopts == "0" then "selected" else ""#-->></option>
      <option value="1" <!--#if $slot.unpackopts == "1" then "selected" else ""#-->>R</option>
      <option value="2" <!--#if $slot.unpackopts == "2" then "selected" else ""#-->>U</option>
      <option value="3" <!--#if $slot.unpackopts == "3" then "selected" else ""#-->>D</option>
    </select>

  <!--#if $slot.priority != '2'#-->
    <br class="clear" />
    <label class="label">$T('priority'):</label>
    <select name="priority">
      <optgroup label="$T('priority')">
        <option value="-100" <!--#if $slot.priority == "-100" then "selected" else ""#-->>$T('default')</option>
        <option value="2" <!--#if $slot.priority == "2" then "selected" else ""#-->>$T('pr-force')</option>
        <option value="1" <!--#if $slot.priority == "1" then "selected" else ""#-->>$T('pr-high')</option>
        <option value="0" <!--#if $slot.priority == "0" then "selected" else ""#-->>$T('pr-normal')</option>
        <option value="-1" <!--#if $slot.priority == "-1" then "selected" else ""#-->>$T('pr-low')</option>
      </optgroup>
    </select>
  <!--#end if#-->

  <!--#if $script_list#-->
    <br class="clear" />
    <label class="label">$T('script'):</label>
    <select name="script">
      <!--#for $sc in $script_list#-->
      <option value="$sc" <!--#if $slot.script.lower() == $sc.lower() then "selected" else ""#-->>$Tspec($sc)</option>
      <!--#end for#-->
    </select>
  <!--#end if#-->
  <!--#if $cat_list#-->
    <br class="clear" />
    <label class="label">$T('category'):</label>
    <select name="cat">
      <!--#for $ct in $cat_list#-->
      <option value="$ct" <!--#if $slot.cat.lower() == $ct.lower() then "selected" else ""#-->>$Tspec($ct)</option>
      <!--#end for#-->
    </select>
  <!--#end if#-->
</form>
</fieldset>
<input type="button" size="40" value="$T('button-saveChanges')" onclick="javascript:submitconfig('nzb/$slot.nzo_id/save', this, 'nzbEditForm')">
<!--#end if#-->
<br/><br/>
<!--#if $varExists('active_files')#-->
<form id="nzoForm" action="bulk_operation">
  <a onclick="javascript:submit_marked('$nzo_id', 'Delete')">$T('nzo-delete')</a>
  <a onclick="javascript:submit_marked('$nzo_id', 'Top')">$T('nzo-top')</a>
  <a onclick="javascript:submit_marked('$nzo_id', 'Up')">$T('nzo-up')</a>
  <a onclick="javascript:submit_marked('$nzo_id', 'Down')">$T('nzo-down')</a>
  <a onclick="javascript:submit_marked('$nzo_id', 'Bottom')">$T('nzo-bottom')</a>
  <br />

  $T('nzo-selection'):<a href='#' onclick="javascript:mark_all(); return false;">$T('nzo-all')</a>
    <a href='#' onclick="javascript:unmark_all(); return false;">$T('nzo-none')</a>
    <a href='#' onclick="javascript:invert(); return false;">$T('nzo-invert')</a>


  <table id="historyTable">
    <tr><th></th><th>$T('nzo-filename')/$T('nzo-subject')</th><th>$T('size')</th><th>$T('nzo-age')</th></tr>
    <!--#set $oddLine = False#-->
    <!--#for $file in $active_files#-->
      <!--#set $oddLine = not $oddLine#-->
      <tr class="<!--#if $oddLine then "oddLine" else "evenLine"#--> active">
        <td><input type="checkbox" name="$file.nzf_id" <!--#if $file.checked then "checked" else ""#-->></td>
        <td>$file.filename</td>
        <td>$file.mb $T('MB')</td>
        <td>$file.age</td>
      </tr>
    <!--#end for#-->
  </table>
</form>
<!--#end if#-->