<script type="text/javascript">
window.onload = function() {
  location = "../#/status"
};
</script>
<h3>$T('connections')</h3>
<a class="config" onClick="lr('status/disconnect', '', '-1', this.parentNode.id);">$T('link-forceDisc')</a> |
<a class="config" onClick="testemail();">$T('link-testEmail')</a> |
<a class="config" href="status/showlog?session=$session">$T('link-showLog')</a>
$T('logging'):
<select onChange="javascript:lr('status/change_loglevel','loglevel='+this.options[this.selectedIndex].value)">
  <option value="0" <!--#if $loglevel == "0" then "selected" else ""#-->>$T('log-errWarn')</option>
  <option value="1" <!--#if $loglevel == "1" then "selected" else ""#-->>$T('log-info')</option>
  <option value="2" <!--#if $loglevel == "2" then "selected" else ""#-->>$T('log-debug')</option>
</select>
<!--#if $servers#-->
  <ul>
  <!--#for $server in $servers#-->
    <li>
      $server[0]: $server[2] <!--#if int($server[4])#--><img src="static/images/nuvola/kgpg.png" /><!--#end if#-->
      <!--#if not $server[5]#-->
        <a class="config" href="./status/unblock_server?server=$server[0]&session=$session">
        ($T('server-blocked'))</a>
        &nbsp;&nbsp;$server[6]
      <!--#end if#-->

  <ul>
  <!--#for $thrd in $server[3]#-->
    <li>Thread #$thrd[0] -&gt; $thrd[1] -&gt; $thrd[2] -&gt; $thrd[3]</li>
  <!--#end for#-->
  </ul>
</li>
<!--#end for#-->
</ul>
<!--#end if#-->
<!--#if $lastmail#-->
  <h2>$T('emailResult')</h2>
  $lastmail
<!--#end if#-->
<!--#if $warnings#-->
  <h2>$T('lastWarnings') (<a class="config" onClick="lr('status/clearwarnings','', '-1', this.parentNode.id);">$T('clearWarnings')</a>)</h2>
  <!--#for $warn in $warnings#-->
    $warn<br/>
  <!--#end for#-->
<!--#end if#-->

<!--#if $folders#-->
<hr/>
$T('explain-orphans')<br/>
<br/>

  <table id="catTable">
    <tr>
      <th></th>
      <th></th>
      <th>$T('name')</th>
    </tr>
  <!--#set $odd = False#-->
  <!--#for $folder in $folders#-->
    <!--#set $odd = not $odd#-->
    <tr class="<!--#if $odd then "odd" else "even"#-->">

  <td>
    <form action="delete" method="get">
    <input type="hidden" value="$folder" name="name">
    <input type="hidden" value="$session" name="session">
    <input type="submit" onclick="this.form.action='status/delete?session=$session'; this.form.submit(); return false;" value="$T('button-delCat')"/>
    </form>
  </td>

  <td>
    <form action="add" method="get">
    <input type="hidden" value="$folder" name="name">
    <input type="hidden" value="$session" name="session">
    <input type="submit" onclick="this.form.action='status/add?session=$session'; this.form.submit(); return false;" value="$T('button-add')"/>
    </form>
  </td>

  <td>
  $folder
  </td>

  <!--#end for#-->
  </table>
<br/><hr/><br/>
<!--#end if#-->
$T('explain-Repair')<br/>
<form action="saveGeneral" method="post">
<input type="submit" onclick="this.form.action='config/repair?session=$session'; this.form.submit(); return false;" value="$T('button-repair')"/>
</form>

