body {
    background-color: #E4E4E4;
}

h2 {
    margin-top: 0;
}

/***
    Navbar
**/

.container {
    margin-top: 1em;
}

.main-navbar {
    padding: 0 0 0 0;
    margin-bottom: 0px;
    z-index: 999;
}

.sparkline-container svg {
    margin: 10px 15px 8px;
    float: left;
}

.main-navbar .sparkline {
    display: none;
}

.navbar-collapse {
    padding-right: 4px;
}

.navbar-collapse.in {
    overflow: visible;
}

.navbar-collapse ul {
    margin: 0;
    float: right;
}

.navbar-collapse.in>ul>li>a,
.navbar-collapse.collapsing>ul>li>a {
    margin-top: 7px;
}

.navbar-collapse.in .dropdown-menu {
    position: absolute;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-left: -150px;
    margin-top: 4px;
}

.navbar-collapse.in .dropdown-menu a,
.navbar-collapse.in .dropdown-menu a:hover {
    color: black !important;
}

.navbar-collapse.in .dropdown-menu a.active-on-queue-finish {
    color: white !important;
}

.navbar-timeleft {
    font-weight: bold;
    min-width: 100px;
    background-color: #F5F5F5;
    border-left: 0;
}

.navbar-header img {
    margin-right: 1em;
    margin-left: 10px;
}

#navbar-logo-big {
    display: inline-block;
}

#navbar-logo-small {
    display: none;
}

li.dropdown {
    margin-right: 5px;
}

.navbar-speed {
    min-width: 120px;
    font-weight: bold;
}

.navbar-speed .glyphicon {
    opacity: 0.4;
    float: right;
    line-height: 18px;
}

.caret {
    border-top-color: black !important;
}

.max-speed-input-clear {
    position: absolute;
    top: 16px;
    text-align: center;
    right: 30px;
    z-index: 999;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: transparent !important;
    font-size: 1.1em;
}

.max-speed-input {
    padding: 10px 10px 5px 10px;
    margin-right: -20px;
    font-weight: bold;
    width: 190px;
    text-align: center;
}

.max-speed-input a {
    margin-bottom: 5px;
    display: block;
    text-decoration: underline;
    font-weight: normal;
}

.max-speed-slider {
    width: 95%;
    margin: 4px 5px 5px;
}

.ui-slider {
    position: relative;
    text-align: left;
    height: 10px;
    background-color: #E5E5E5;
    margin-top: 5px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.5em;
    height: 24px;
    top: -7px;
    cursor: default;
    background-color: #767676;
    border: 1px solid white;
    margin-left: -.25em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    background-color: #9DDB72;
    left: 0;
}

.active-on-queue-finish-menu,
.queue-error-info {
    color: red !important;
}

.menu-options {
    min-width: 200px;
    padding-bottom: 0;
}

.menu-options .form-control {
    border-width: 1px 0px 0px;
    padding-left: 15px;
}

.menu-options a[href="#modal_help"] span {
    top: 2px;
}

/***
    Main content
***/

.main-content {
    padding-top: 8px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 0;
    margin-bottom: 30px;
}

.main-filedrop {
    display: none;
}

.main-filedrop.in,
.main-restarting.in {
    text-align: center;
    opacity: 0.9;
    color: black;
    z-index: 2000;
    padding: 1em;
    padding-top: 15%;
}

.main-filedrop.in span {
    font-size: 20em;
}

.main-restarting.in {
    display: block;
    height: 100%;
    padding: 0;
}

.main-restarting.in div {
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.main-restarting.in strong {
    font-size: 5em;
    display: block;
}

.main-restarting.in span {
    top: 10px;
}

.main-restarting small {
    font-size: 2rem !important;
}

#feedback-slider {
    position: fixed;
    z-index: 2000;
    width: 400px;
    top: 40px;
    left: -370px;
    background: white;
    border: 1px solid rgba(0,0,0,.2);
    transition-duration: 0.3s;
    height: 115px;
    overflow: hidden;
    opacity: 0.6;
}

#feedback-slider>h4 {
    transform: rotate(-90deg);
    position: absolute;
    right: -30px;
    top: 35px;
    letter-spacing: 1px;
}

#feedback-slider>h4>a {
    display: none;
}

#feedback-slider:hover>h4 {
    right: -25px;
}

#feedback-slider:hover>h4>a {
    display: block;
    position: absolute;
    margin: -20px -25px;
}

#feedback-slider:hover {
	left: 0px;
    height: 340px;
    opacity: 1;
}

#feedback-slider-inner h4 {
    font-weight: bold;
    margin-top: 13px;
    margin-bottom: 5px;
}

#feedback-slider-inner {
    margin-right: 40px;
    padding: 20px;
    border-right: 1px solid #ccc;
}

#feedback-slider-inner a {
    text-decoration: underline;
    line-height: 1.6em
}

#feedback-slider-inner span {
    top: 2px;
    margin-right: 2px;
}

table {
    table-layout: fixed;
    background-color: #FDFDFD;
    border: 0;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table {
    margin-bottom: 10px;
}

thead {
    height: 0px;
}

tr th {
    border-bottom: none !important;
    visibility: hidden;
    padding: 0px !important;
    height: 0px;
}

tr td {
    border-top: 1px solid #F0F0F0 !important;
    vertical-align: middle !important;
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-active-sorting {
    border-collapse: separate;
    border-bottom: 1px solid #F0F0F0 !important;
}

tbody>tr:last-child td {
    border-bottom: 1px solid #F0F0F0 !important;
}

tbody>tr>td:first-child {
    border-left: 1px solid #F0F0F0 !important;
}

tbody>tr>td:last-child {
    border-right: 1px solid #F0F0F0 !important;
}

.row-wrap-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/***
    QUEUE Specific
***/

.queue {
    position: relative;
}

.queue h2 {
    float: left;
}

.hoverbutton {
    opacity: 0.3;
    text-decoration: none;
}

.hoverbutton:hover {
    opacity: 1;
    color: inherit;
}

.hoverbutton.glyphicon-play {
    opacity: 1;
    color: #474747;
}

.info-container {
    float: right;
    color: #888;
    font-size: 12px;
    margin-top: 1em;
    text-transform: capitalize;
}

.info-container-box {
    display: inline-block;
    margin-left: 8px;
    margin-right: 5px;
}

.info-container .glyphicon {
    margin-right: 2px;
}

.info-container .info-container-box-sorting {
    float: right;
}

.info-container .info-container-box-sorting a {
    padding-left: 12px;
}

.info-container .info-container-box-sorting .dropdown-menu {
    left: auto;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.info-container .info-container-box-sorting .dropdown-menu small {
    color: #AAA;
}

.queue-table td.name {
    padding-left: 0;
}

.queue-table td.name,
.queue-table td.progress-indicator,
.queue-table td.queue-extra-text {
    cursor: move;
}

.queue-table .table-header-progress {
    width: 40%;
}

.queue-table .table-header-extra {
    width: 0;
}

.queue-table .queue-extra-text {
    text-align: right;
    color: #888;
    padding-left: 0;
}

td.name .row-wrap-text {
    max-width: 98%;
    display: block;
    float: left;
    margin-right: 6px;
    height: 1.5em;
}

.queue-table td.name .name-options {
    display: none;
}

.queue-table td.name .name-options small {
    opacity: 0.5;
}

.queue-table td.name:hover .row-wrap-text {
    max-width: 80%;
 /* Change for each size! */
}

.queue-table td.name:hover .name-options {
    display: block;
}

.queue-table td.name:hover .glyphicon-folder-open {
    width: 1.5em;
    margin-left: 1px;
}

.queue-table td.name input {
    width: 100%;
    display: block;
    height: 22px;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #ccc;
}

td.name .name-ratings {
    display: inline;
    margin-left: 5px;
    color: black !important;
    text-decoration: none !important;
}

.queue-table td.name:hover .name-ratings {
    display: none;
}

td.name .name-ratings .glyphicon {
    margin-left: 2px;
}

tbody.nodownloads tr td {
    border: none;
    text-align: center;
    border-bottom: 1px solid #F0F0F0 !important;
}

tbody.nodownloads tr td a {
    line-height: 2em;
    font-size: 1.5em;
    display: block;
}

tbody.nodownloads tr td a span {
    top: 2px;
}

td.timeleft {
    text-align: right;
}

td.delete {
    overflow: visible !important;
    padding-left: 0 !important;
    text-align: right !important;
}

td.delete .dropdown {
    float: left;
}

td.delete .dropdown>a {
    display: inline-block;
    padding: 0px 10px;
}

td.delete input[type="checkbox"],
.add-nzb-inputbox-options input[type="checkbox"]{
    margin: 0;
    margin-bottom: -2px;
    display: block;
}

td.delete label,
 .multioperations-selector .add-nzb-inputbox-small label {
    margin: -5px;
    padding: 5px 12px 5px 10px;
    cursor: pointer;
}

tr.queueitem>td:first-child {
    padding: 0;
}

tr.queueitem>td:first-child>a {
    display: block;
    padding: 5px 10px;
}

.queueitem-settings {
    padding: 5px 10px 10px;
    left: -180px;
    width: 220px;
}

.queueitem-settings select {
    margin-top: 5px;
    width: 168px;
}

.queueitem-settings .glyphicon {
    float: left;
    margin-left: 4px;
    margin-top: 10px;
    margin-right: 10px;
}

.progress-indicator {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.progress {
    position: relative;
    height: 24px;
    line-height: 24px;
    overflow: visible;
    margin-bottom: 0;
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.3);
}

.progress>span,
.progress-bar>span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: right;
    font-size: 12px;
    width: 100%;
    color: #404040;
    padding-right: 10px;
}

.progress strong {
    font-size: 13px;
}

.progress strong,
 .progress i {
    color: black;
    margin-left: 10px;
    line-height: 24px;
}

.progress i {
    position: absolute;
    top: 0;
    left: 30px;
}

.progress-bar {
    z-index: 1;
    text-align: left;
}

.progress-bar-info {
    background-color: #9DDB72;
}

.multioperations-selector {
    padding-left: 10px;
    border: 1px solid #F0F0F0;
    margin: -7px 0px 10px;
    background-color: #f9f9f9;
    max-width: 700px;
    float: right;
    position: relative;
    z-index: 900;
}

.multioperations-selector .add-nzb-inputbox {
    width: 20%;
}

.multioperations-selector .add-nzb-inputbox-small {
    width: 60px;
    float: right;
    padding-left: 0;
    padding-top: 2px;
}

.multioperations-selector .add-nzb-inputbox-small span {
    margin-left: 0;
}

.multioperations-selector .add-nzb-inputbox-small input[type="radio"] {
    display: none;
}

.multioperations-selector .add-nzb-inputbox-small input[type="radio"]+span {
    opacity: 0.3;
}

.multioperations-selector .add-nzb-inputbox-small input[type="radio"]:checked+span {
    opacity: 1;
}

.multioperations-selector .add-nzb-inputbox-options {
    width: auto;
    padding-right: 6px;
}

.multioperations-selector .add-nzb-inputbox-small label[for="multiedit-pause"],
.multioperations-selector .add-nzb-inputbox-small label[for="multiedit-play"] {
    padding-left: 6px;
    padding-right: 6px;
}

/* WARNINGS */
.queue-messages {
    clear: both;
    width: 100%;
    overflow: auto;
    max-height: 180px;
    margin-bottom: 0px;
}

.table-messages {
    border-collapse: separate !important;
}

.table-messages .table-messages-hide {
    padding: 0 !important;
    border: 0 !important;
}

.table-messages .table-messages-remove {
    border-bottom: 1px solid #F0F0F0 !important;
    text-align: center;
    vertical-align: top !important;
    padding-top: 4px !important;
    cursor: pointer;
}

.table-messages .table-messages-remove a {
    display: block;
}

.table-messages .table-messages-remove:hover a {
    opacity: 1;
}


.table-messages .label {
    margin-right: 8px;
    min-width: 100px;
}

.table-messages td {
    padding: 2px !important;
}

.table-messages .label {
    display: inline-block;
    padding: 5px;
}

.table-messages .label-info {
    background-color: #58A9FA;
}

.table-messages .queue-message-text {
    word-break: break-all;
}

.table-messages .queue-update-sab {
    font-weight: bold;
}

.table-messages .glyphicon {
    top: 2px;
}

.table-messages .queue-update-sab:hover {
    text-decoration: underline;
}

.table-messages strong {
    display: inline-block;
    min-width: 150px;
}

/***
    History Specific
***/

.history {
    margin-top: 2px;
    position: relative;
}

.history h2 {
    clear: left;
}

.history-table {
    border-bottom: 1px solid #F0F0F0 !important;
}

.history-failed-download td.status {
    color: red !important;
}

.retrybutton,
.retrybutton-inactive {
    color: red !important;
}

.retrybuttontext {
    text-decoration: underline;
    color: red !important;
    font-weight: bold;
}

.history-failed-download:hover .retrybutton .glyphicon:before,
.retrybutton:hover .glyphicon:before {
    content: " \e030 ";
    color: red !important;
}

.history-table tr td {
    vertical-align: top !important;
    cursor: default;
}

.history-table tr td.status,
.history-table tr td.history-completedon {
    color: #888;
    font-size: 12px;
    padding-right: 0 !important;
    vertical-align: middle !important;
}

.history-table .status-header {
    width: 35%;
}

.history-table .delete .dropdown {
    position: inherit;
}

.history-table .delete .dropdown-menu {
    top: -100000px;
    left: auto;
    right: 20px;
    text-align: left;
    margin-top: 4px;
    padding: 10px;
    width: 700px;
}

.history-table .delete .open .dropdown-menu {
    top: auto;
}

.history-status-table .col-sm-2 {
    font-weight: bold;
    text-align: right;
    padding-right: 0;
}

.history-status-table .col-sm-10 {
    word-break: break-all;
}

.history-status-table a {
    font-weight: bold;
}

.history-table td.name .row-wrap-text {
    max-width: 97%;
}

.name-has-ratings .row-wrap-text {
    max-width: 70% !important;
}

.history-ratings {
    display: inline-block;
}

.history-ratings.open a {
    opacity: 1;
}

.history-ratings .name-ratings {
    float: none !important;
}

.history-ratings-menu {
    width: 300px;
    padding: 10px;
}

.history-ratings-menu .divider {
    background-color: black;
}

.history-ratings-menu label {
    margin-right: 12px;
    font-weight: normal;
}

.history-ratings-basic input[type="radio"] {
    display: none;
}

.history-ratings-basic input[type="radio"]+span {
    opacity: 0.6;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    top: 3px;
    margin-left: 3px;
}

.history-ratings-basic input[type="radio"]+span+span {
    opacity: 0.3;
}

.history-ratings-basic input[type="radio"]:checked+span,
.history-ratings-basic input[type="radio"]:checked+span+span {
    opacity: 1;
}

.history-ratings-basic .history-ratings-spacer {
    margin-left: 10px;
}

.history-ratings-basic select {
    margin-left: 3px;
    background-color: transparent;
    border: 1px solid #ccc;
}

.history-ratings-basic select:disabled {
    background-color: #F5F5F5;
}

.history-ratings-report label {
    width: 100%;
}

.history-ratings-report .ratings-report-hidden {
    display: none;
}

.history-ratings-report input[type="radio"]:checked+input,
.history-ratings-report input[type="radio"]:checked+select {
    display: block;
}

#history-options {
    margin-top: 0;
    margin-left: 10px;
    padding: 0;
    padding-left: 4px;
}

#history-options .hoverbutton {
    padding: 7px 8px 7px 8px;
    line-height: 1.428571429;
    display: inline-block;
}

#history-options .hoverbutton span {
    top: 2px;
}

.history-info {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.history-info>span {
    margin-left: 8px;
}

.history-info>span:nth-child(2) {
    margin-left: 2px;
}

.search-box {
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
}

.search-box input {
    width: 130px !important;
    transition: width 0.2s ease-out !important;
    border: 1px solid #dddddd;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.search-box input:focus,
.search-box input:valid {
    width: 250px !important;
    border-color: #ccc !important;
}

.search-box input::-ms-clear {
    display: none;
}

.search-box a {
    float: right;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 8px 10px 3px 0px;
    opacity: 0.7;
    z-index: 999;
}

.search-box a span {
    cursor: pointer;
}

.history-options-show-failed,
.search-box input:focus+span {
    opacity: 1;
}

.processing-download {
    width: 16px;
    height: 18px;
    text-align: center;
    font-size: 8px;
    margin-top: 1px;
}

.processing-download > div {
    background-color: #333;
    height: 100%;
    width: 2px;
    float: left;
    margin-right: 2px;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.processing-download .rect2 {
    animation-delay: -1.1s;
}

.processing-download .rect3 {
    animation-delay: -1.0s;
}

.processing-download .rect4 {
    animation-delay: -0.9s;
    margin-right: 0;
}

@-webkit-keyframes stretchdelay {
    0%,40%,100% {
        -webkit-transform: scaleY(0.4);
    }

    20% {
        -webkit-transform: scaleY(1.0);
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
    }
}

/***
    Modals
***/

/* OPTIONS MODAL */

#modal_options .tab-content {
    transition: all 0.3s !important;
    min-height: 200px;
}

#modal_options .form-group {
    margin-bottom: 5px;
}

#modal_options fieldset {
    margin-bottom: 1em;
}

#modal_options .options_switch {
    text-align: center;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 3px;
    margin-bottom: 13px;
}

#modal_options .form-group+.options_switch {
    margin-bottom: 13px;
    margin-top: 8px;
    clear: both;
}

#modal_options .options_switch label,
#modal_options #options_orphans .remove_all_orphaned {
    font-size: 1.4rem;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

#modal_options .options_switch a,
#modal_options #options_orphans .remove_all_orphaned,
#modal_options .options_switch input+span {
    opacity: 0.6;
}

#modal_options .options_switch label:hover span,
#modal_options #options_orphans .remove_all_orphaned:hover,
#modal_options .options_switch a:hover {
    opacity: 1;
}

#modal_options .options_switch input:checked+span {
    opacity: 1 !important;
}

#modal_options .options_switch input {
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}

#modal_options #options_orphans .remove_all_orphaned {
    margin-right: 8px;
    float: right;
}

#modal_options .modal-header a {
    float: right;
    color: white !important;
    margin-right: 1em;
    margin-top: 4px;
    opacity: 1;
    outline: 0;
}

#modal_options .modal-header a.rotate-refresh span {
    transition: all 1s;
    transform: rotate(360deg);
}

#modal_options .options-function-box .btn,
#modal_options .options-function-box select {
    width: auto;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    float: left;
    text-transform: capitalize;
}

#modal_options .options-server-box {
    margin-bottom: 10px;
    padding: 0px 5px 10px;
    border-bottom: 1px solid #F0F0F0;
}

#modal_options .options-server-box .btn {
    position: absolute;
    right: 10px;
    z-index:2000;
}

#modal_options .options-server-box:last-child {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#modal_options .col-sm-7,
#modal_options .col-sm-5 {
    padding-bottom: 3px;
}

#modal_options .col-sm-5 {
    text-align: right;
    font-weight: bold;
}

#modal_options .col-sm-7 {
    word-break: break-all;
}

#modal_options .options-bad-status {
    color: red;
    font-weight: bold;
}

#modal_options #options_status .glyphicon {
    top: 2px;
    margin-left: 3px;
}

#modal_options #options_status small {
    color: #9E9E9E;
    margin-left: 5px;
}

#modal_options .table-server-connections {
    margin-top: 5px;
}

#modal_options .table-server-connections thead {
    height: auto;
    visibility: visible;
    background-color: #f5f5f5;
}

#modal_options .table-server-connections td,
#modal_options .table-server-connections th {
    padding: 3px !important;
    height: auto;
    visibility: visible;
}

#modal_options .tab-content h4 {
    color: black;
    text-align: center;
}

#modal_options .form-checkbox input[type="checkbox"] {
    height: 14px;
    width: 14px;
    display: block;
    margin-top: 11px;
}

.dotOne, .dotTwo, .dotThree {
    opacity: 1;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.dotTwo {
    animation-delay: 0.2s;
}

.dotThree {
    animation-delay: 0.3s;
}

@keyframes dot {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* PURGE MODAL */

#modal_purge_history .modal-body .btn {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}

#modal_purge_history .modal-body .btn .glyphicon {
    float: right;
}

/* ADD-NZB MODAL */

#modal_add_nzb fieldset {
    margin-bottom: 5px;
}

.add-nzb-inputbox {
    float: left;
    width: 50%;
    margin: 5px 0px;
    padding-left: 20px;
}

.add-nzb-inputbox select {
    display: inline-block;
    width: 95%;
}

.add-nzb-inputbox span {
    display: inline-block;
    margin: 8px 2px 0px 5px;
    margin-left: -20px;
}

.btn-file {
    width: 100%;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.btn-file input[type=file] {
    display: none;
}

.btn-file em {
    display: inline-block;
    max-width: 100px;
}

/* HELP MODAL */

#modal_help {
    text-align: center;
}

#modal_help table {
    margin: 1em auto;
    text-align: left;
    border-collapse: collapse;
}

#modal_help table td {
    border: 0 !important;
    padding: 2px;
    background-color: white;
}

#modal_help table td:first-child {
    text-align: right;
    padding-right: 5px;
}

#modal_help table td a:hover {
    text-decoration: underline;
}

/* FILES MODAL */

#modal_item_files .form-group {
    width: 400px;
}

#modal_item_files .input-group input {
    width: auto;
    display: inline-block;
    margin-right: -4px;
}

#modal_item_files h4,
#history_script_log h4 {
    width: 90%;
    overflow: hidden;
    height: 1.3em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#modal_item_files hr {
    margin: 10px 0px;
}

#modal_item_files .multioperations-selector {
    clear: left;
    margin: 0;
    float: left;
    padding: 5px 8px;
    margin-bottom: 5px;
    margin-right: 10px;
    border: 1px solid #cccccc;
}

#modal_item_files .multioperations-selector a {
    margin-left: 10px;
}

#modal_item_files .item-files-table {
    margin-bottom: 5px;
}

#modal_item_files .item-files-table.table-active-sorting {
    border-collapse: collapse !important;
}

#modal_item_files .item-files-table .progress {
    overflow: hidden;
    box-shadow: none;
}

#modal_item_files .item-files-table .progress-bar {
    transition: none;
}

#modal_item_files .item-files-table .progress-bar>span {
    text-align: left;
    margin-left: 80px;
    margin-top: 2px;
}

#modal_item_files .item-files-table .progress small {
    color: #999;
}

#modal_item_files .item-files-table td {
    padding: 0 !important;
    border-bottom: 3px solid white;
}

#modal_item_files .item-files-table .files-sortable td {
    cursor: move;
}

#modal_item_files .item-files-table input[type="checkbox"] {
    margin-left: 8px;
}

/* RETRY JOB MODAL */
#modal_retry_job .form-group {
    margin-bottom: 3px;
}

#modal_retry_job fieldset {
    margin-bottom: 10px !important;
}

#modal_retry_job .input-group-addfile {
    width: 100%;
}

/* SCRIPT LOG MODAL */
#history_script_log .modal-dialog {
    width: auto !important;
    max-width: 800px !important;
}

#history_script_log form {
    display: none;
}

#history_script_log h3 {
    word-break: break-all;
    margin: 3px 0px 0px;
}

#history_script_log code {
    background: none;
}

#history_script_log pre,
#history_script_log code {
    padding: 0;
    background: 0;
    margin: 0;
    border: 0;
}

/***
    Dynamic sizing
***/
@media screen and (min-width: 1200px) {
    .queue-table .table-extra-header-visible {
        width: 10%;
    }
    
    .queue-table .table-header-progress-smaller {
        width: 35%;
    }
    
    #options_interface .label {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .queue-table td.name:hover .row-wrap-text {
        max-width: 77%;
    }
    
    td.name .name-ratings {
        margin-left: 0px;
        margin-right: -5px;
        display: block;
    }
    
    td.name .row-wrap-text {
        margin-right: 4px;
    }
}

@media screen and (max-width: 1000px) {
    .sparkline,
    .sparkline-container {
        display: none !important;
    }

    .queue-table td.name:hover .row-wrap-text {
        max-width: 80%;
    }
    
    .queue-table td.name .name-options small {
        display: none;
    }
    
    .history-info {
        float: none;
    }
}

@media screen and (min-width: 1000px) {
    .name-has-ratings .row-wrap-text {
        max-width: 80% !important;
    }
}

@media screen and (min-width: 768px) {
    .modal-small .modal-dialog {
        width: 350px;
    }

    .queue .multioperations-selector {
        min-width: 700px;
    }
}

@media screen and (min-height: 800px) {
    /* Only for AddNZB and AboutModals */
    #modal_add_nzb .modal-dialog,
    #modal_help .modal-dialog,
    #modal_purge_history .modal-dialog,
    #modal_options .modal-dialog,
    #modal_retry_job .modal-dialog {
        margin-top: 80px;
    }
    
    #history_script_log .modal-dialog {
        margin-top: 30px;
    }
}

/* Targetting Ipad */
@media only screen and (min-device-width:768px) and (max-device-width:1024px) {
    .main-navbar {
        margin-top: 0;
    }

    .container {
        width: 100%;
    }

    .sparkline-container {
        display: block !important;
    }

    .history-table .status-header {
        width: 25% !important;
    }
    
    #feedback-slider {
        display: none;
    }
}

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {
    .sparkline-container svg {
        width: 160px !important;
    }
}


/* For large and veryyy large screens */
@media screen and (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}

@media screen and (min-width: 2000px) {
    .container {
        width: 1700px;
    }
}

/***
    SPECIAL FOR FIREFOX
    It uses very high CPU for anything animated (Sep 2015)
    Disable animations on progress-bar and make the History-'processing' a block animation
    Can be removed if it's performance gets better in the future..
***/
@supports (-moz-transform: translate(0, 0)) {
    .progress-bar {
        transform: none !important;
        animation: none !important;
        transition: none !important;
    }
    
    @keyframes stretchdelay {
        0%, 60% {
            transform: scaleY(0.4);
        }
    
        61%, 100% {
            transform: scaleY(1.0);
        }
    }
    
    .processing-download > div {
        animation: stretchdelay 2s infinite linear;
    }
    
    .processing-download .rect2 {
        animation-delay: 0.2s;
    }
    
    .processing-download .rect3 {
        animation-delay: 0.4s;
    }
    
    .processing-download .rect4 {
        animation-delay: 0.6s;
    }
    
    .queue-table td.name input {
        margin-left: -2px;
    }
}

/***
    Bootstrap overwrites
***/

* {
    border-radius: 0 !important;
}

a,
a:active,
a:hover,
a:focus {
    color: black;
    text-decoration: none;
}

.glyphicon-volume-up,
.glyphicon-trash {
    top: 2px;
}

.collapsing {
    transition: none;
}

.navbar-inverse {
    background-color: black;
}

.nav>li {
    display: inline-block;
    float: left;
}

.nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
    outline: 0;
}

.collapsing li {
    overflow: hidden !important;
}

.dropdown-menu {
    margin-top: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    display: block;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    animation-fill-mode: forwards; 
    transform: scale(1, 0.8);
    transition: all 0.15s ease;
    -webkit-transform-origin: top;
    -webkit-animation-fill-mode: forwards; 
    -webkit-transform: scale(1, 0.8);
}

.open > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

.dropdown-menu .divider {
    margin: 3px 0px;
}

.ui-slider-handle,
.ui-slider-range {
    transition: all 0.2s ease;
}

.tooltip {
    z-index: 5000;
}

.tooltip-inner {
    max-width: 350px;
}

.pagination {
    margin: 0;
}

.pagination li {
    cursor: pointer;
}

legend {
    margin-bottom: 10px;
}

.nav-tabs>li>a {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1em;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.25);
}

.tab-content {
    padding-top: 10px;
}

.form-control,
.input-group-addon {
    padding: 4px 8px;
}

.pagination li.active a,
.pagination li.active span,
.pagination li.active a:hover,
.pagination li.active span:hover {
    background-color: #8F8F8F;
    border: 1px solid #8F8F8F;
}

.pagination>li>a, 
.pagination>li>span,
.pagination>li>span:hover {
    color: #333;
}

.progress-bar {
    box-shadow: none;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
}

.btn {
    box-shadow: 1px 1px 1px rgba(0,0,0,.1) !important;
}

.modal-content {
    box-shadow: none;
}

.modal-backdrop {
    background-color: white;
    
}

.modal-backdrop.in {
    opacity: 0.8;
}

.modal-dialog {
    padding: 3px;
}

.modal-header {
    background-color: #3C3C3C;
    color: white;
    border: 0;
    padding: 10px 12px;
}

.modal-header .close {
    margin: 0;
    opacity: 0.7;
    background: transparent;
    color: white;
    text-shadow: none !important;
    font-weight: normal !important;
    font-size: 28px;
}

.modal-header img {
    margin: -10px 0px;
}

.modal-header .close:hover {
    opacity: 1;
}

.modal-body {
    padding: 10px;
}

.modal-footer {
    margin-top: 0;
}

.modal-dialog {
    transform: scale(0.7) !important;
    -webkit-transform: scale(0.7) !important;
    opacity: 0 !important;
    transition: all 0.3s !important;
}

.modal.in .modal-dialog {
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    opacity: 1 !important;
}

button[data-dismiss="modal"] {
    background-color: #F0F0F0;
}

legend {
    border-color: #9E9E9E;
}

hr {
    border-color: #D6D6D6;
}