/**
    MAIN & NAVBAR
**/

.container {
    padding-left: 8px;
    padding-right: 8px;
}

.main-navbar {
    margin-top: 0;
    padding: 0;
}

.navbar-collapse {
    padding-left: 0;
}

.main-content {
    border: 0;
    margin-bottom: 0 !important;
}

#navbar-logo-big {
    display: none;
}

#navbar-logo-small {
    display: inline-block;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #e5e5e5;
}

h2 {
    font-size: 25px;
    margin-bottom: 5px;
}

.max-speed-input {
    margin-top: 1px !important;
    margin-left: 0 !important;
    width: 300px !important;
}

.max-speed-input .ui-slider {
    margin-bottom: 10px;
}

.main-restarting.in strong {
    font-size: 2em;
    font-weight: bold;
}

.main-restarting small {
    font-size: 0.7em;
}

.main-restarting.in span {
    top: 2px;
}

#feedback-slider {
    display: none;
}

/**
    QUEUE & HISTORY
**/
.info-container {
    margin-top: 0px;
    margin-bottom: 10px;
    float: none;
    clear: both;
    line-height: 2.3em;
}

.info-container-box {
    float: left;
}

.history-info {
    margin-top: 5px;
}

.info-container-break:after {
    content: "\A";
    white-space: pre;
}

.info-container .info-container-box-sorting {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 1em;
}

.queue-table .table-header-progress {
    width: 0%;
}

.queue-table tr td {
    vertical-align: top !important;
    height: 5em;
}

.queue-table .nodownloads tr td {
    height: 2em;
}

.queue-table .progress-indicator {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 2.8em;
    height: 2em;
    border: 0 !important;
    padding: 0 !important;
    background: transparent !important;
}

.queue-table .progress {
    margin: 0px 8px;
}

.queue-table td.name .row-wrap-text {
    max-width: 70% !important;
}

tr.queueitem>td:first-child>a {
    margin-top: 3px;
}

/* For Iphone 4/5 */
@media only screen and (max-width : 320px) {
    .queue-table td.name .row-wrap-text {
        max-width: 60% !important;
    }
}

.queue-table td.name .name-options {
    display: block;
}

.queue-table td.name .glyphicon-folder-open {
    width: 1.5em;
    margin-left: 1px;
}

.multioperations-selector .add-nzb-inputbox {
    width: 50%;
}

.multioperations-selector .add-nzb-inputbox-small {
    width: 52px;
}

.multioperations-selector .add-nzb-inputbox-clear {
    clear: both;
}

.table-messages strong {
    margin-right: 5px;
    min-width: 0px;
}

.history-table .history-ratings {
    display: none;
}

.name-has-ratings .row-wrap-text {
    max-width: 97% !important;
}

.history-table .delete .dropdown-menu {
    width: 96%;
    left: 2%;
    right: inherit;
    margin-bottom: 10px;
}

.history-table .status-header {
    width: 0;
}

.history-status-table .col-sm-2 {
    text-align: left;
}

.search-box input {
    width: 250px !important;
}

.search-box {
    margin-bottom: 5px;
}

/**
    MODALS
**/

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  transform: translate(0, 0);
}

.modal-header .close {
    font-size: 33px;
    line-height: 0.8em;
    opacity: 1 !important;
    margin-right: 4px !important;
}

#modal_options .modal-header a {
    opacity: 1;
    font-size: 1.3em;
    margin-top: 2px;
}

#modal_options .col-sm-5 {
    text-align: left;
}

#modal_options .form-checkbox input[type="checkbox"] {
    margin-top: 0;
}

#modal_item_files .input-group {
    clear: left;
}