<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>SABnzbd-$version - Uptime: $uptime</title>
    <link rel="stylesheet" type="text/css" href="../default.css"/>
</head>
<body>
<h1><span id="first">SAB</span><span id="second">nzbd</span><span id="catchfrase">The automatic usenet download tool</span></h1>
<span class="MainMenu">
<a href="../">Home</a> |
<a href="../queue">Queue</a> |
<a href="../history">History</a> |
<a href="../config">Config</a> |
<a class="current" href="./">Connections</a>
</span>
<span class="SubMenu">
<a href="./disconnect">Force Disconnect</a>
</span>
<h2>Connections</h2>
<!--#if $servers#-->
    <ul>
    <!--#for $server in $servers#-->
        <li>
            $server[0]:$server[1]: $server[2]
            <ul>
            <!--#for $thrd in $server[3]#-->
                <li>Thread #$thrd[0] -> $thrd[1] -> $thrd[2] -> $thrd[3]</li>
            <!--#end for#-->
            </ul>
        </li>
    <!--#end for#-->
    </ul>
<!--#end if#-->
<div class="footer">
<!--#if $shutdown then "<b>SHUTDOWN</b> - " else ""#--><b>Download Dir:</b> $diskspace1 GB - <b>Complete Dir:</b> $diskspace2 GB - <b>Download speed:</b> $kbpersec KB/s - <b>Queued:</b> $mbleft/$mb MB <!--#if $paused then "- <b>PAUSED</b>" else ""#--><br>
<!--#if int($cache_limit)#-->
<b>$cache_art</b> articles buffered in <b>$cache_size</b> bytes<br>
<!--#end if#-->
<!--#if $nzb_quota then "<b>NzbQuota:</b> %s<b>" %($nzb_quota) else ""#-->
</div>
</body>
</html>
