name: "Close and lock old issues"
on:
  schedule:
    - cron: "30 1 * * *"
  workflow_dispatch:

jobs:
  stale:
    name: "Close stale issues"
    if: github.repository_owner == 'sabnzbd'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          days-before-stale: 21
          days-before-close: 7
          stale-issue-label: "Stale"
          stale-issue-message: >
            This issue has been automatically marked as stale because it has not had
            recent activity. It will be closed if no further activity occurs. Thank you
            for your contributions.
          exempt-issue-labels: "Feature request, Work in progress, Bug"

  lock:
    name: "Lock old issues"
    if: github.repository_owner == 'sabnzbd'
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/lock-threads@v5
        with:
          log-output: true
          issue-inactive-days: 60
          pr-inactive-days: 60
