name: Update translatable texts

on:
  push:
    branches:
    - develop

jobs:
  translations:
    name: Update translatable texts
    runs-on: ubuntu-latest
    env:
      TX_TOKEN: ${{ secrets.TX_TOKEN }}
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.AUTOMATION_GITHUB_TOKEN }}
      - name: Generate translatable texts
        run: |
          python3 tools/extract_pot.py
      - name: Push/pull Transifex translations
        if: env.TX_TOKEN
        run: |
          curl -o- https://raw.githubusercontent.com/transifex/cli/master/install.sh | bash
          ./tx push --source
          ./tx pull --all --force
      - name: Compile translations to validate them
        run: |
          python3 tools/make_mo.py
      - name: Push translatable and translated texts back to repo
        uses: stefanzweifel/git-auto-commit-action@v4.15.4
        if: env.TX_TOKEN
        with:
          commit_message: | 
            Update translatable texts
            [skip ci]
          commit_user_name: SABnzbd Automation
          commit_user_email: bugs@sabnzbd.org
          commit_author: SABnzbd Automation <bugs@sabnzbd.org>
          file_pattern: "po/*.pot po/*.po"
          push_options: --force
